openapi: 3.2.0
info:
  title: Amcs Group Area Of Origin API
  version: '1.0'
  description: 'Operations tagged AreaOfOrigin across 2 of this provider''s published API definitions: amcs-group-erp-openapi-original.json, amcs-group-scale-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
- url: http://{env}-svc-core.amcsplatform.com/scale/api/
tags:
- name: AreaOfOrigin
paths:
  /lists/areaOfOrigins/{guid}:
    get:
      tags:
      - AreaOfOrigin
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the area of origin. |

        | Description | The description of the area of origin.|

        | CompanyOutletListItem | The GUID and description of the company outlet this area of origin is associated to.|

        | IsDeleted | Whether the area of origin is deleted. |'
      operationId: AreaOfOrigin_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorAreaOfOriginResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /lists/areaOfOrigins:
    get:
      tags:
      - AreaOfOrigin
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the area of origin. |

        | Description | The description of the area of origin.|

        | CompanyOutletListItem | The GUID and description of the company outlet this area of origin is associated to.|

        | IsDeleted | Whether the area of origin is deleted. |'
      operationId: AreaOfOrigin_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorAreaOfOriginResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /integrator/areaOfOrigins/{id}:
    get:
      tags:
      - AreaOfOrigin
      summary: Find with GUID
      description: '| Property | Description |

        | ----------------------------------------------------- | -------------------------------------------------------------- |

        | SubscriberGUID | The guid of the Subscriber |

        | AreaOfOrigin[].AreaOfOriginGUID | The guid of the AreaOfOrigin |

        | AreaOfOrigin[].AreaOfOrigin | The description of the AreaOfOrigin |

        | AreaOfOrigin[].AreaOfOriginShortCode | The shortcode of the AreaOfOrigin |'
      operationId: AreaOfOrigin_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: links
        in: query
        required: false
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: expand
        in: query
        required: false
        schema:
          type: string
      - name: udf
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiSubscriberAreaOfOriginResource'
    servers:
    - url: http://{env}-svc-core.amcsplatform.com/scale/api/
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorAreaOfOriginResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorAreaOfOriginResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAreaOfOriginResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorAreaOfOriginResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAreaOfOriginResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiSubscriberAreaOfOriginResource:
      type: object
      properties:
        SubscriberGUID:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        AreaOfOrigin:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberAreaOfOriginResource'
    ApiResourceResultEntity_ApiSubscriberAreaOfOriginResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiSubscriberAreaOfOriginResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    SubscriberAreaOfOriginResource:
      type: object
      properties:
        AreaOfOriginGUID:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        AreaOfOrigin:
          type: string
        AreaOfOriginShortCode:
          type: string
x-refined-from:
- amcs-group-erp-openapi-original.json
- amcs-group-scale-openapi-original.json
