openapi: 3.2.0
info:
  title: AMCS Platform REST Default Action API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: DefaultAction
paths:
  /lists/defaultActions/{guid}:
    get:
      tags:
      - DefaultAction
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated with the default action.|

        | ActionListItem| The GUID and description of the action associated with the default action.|

        | ServiceListItem| The GUID and description of the service associated with the default action.|

        | PricingBasisListItem| The GUID and description of the pricing basis associated with the default action.|

        | VATListItem| The GUID and description of the VAT associated with the default action.|

        | MaterialClassListItem| The GUID and description of the material class associated with the default action.|

        | TaxTemplateCollectionListItem | The GUID and description of the tax template collection associated with the default action.|

        | UnitOfMeasureListItem| The GUID and description of the unit of measure associated with the default action.|

        | AnalysisCode| The analysis code associated with the default action associated with the default action.|

        | SalesCode| The sales code associated with the default action.|

        | CostCode| The cost code associated with the default action.|

        | PurchaseCode| The purchase code associated with the default action.|

        | HandlingTime| The handling time (in seconds) associated with the default action.|

        | IsDeleted | Whether the default action is deleted |'
      operationId: DefaultAction_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorDefaultActionResource'
  /lists/defaultActions:
    get:
      tags:
      - DefaultAction
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated with the default action.|

        | ActionListItem| The GUID and description of the action associated with the default action.|

        | ServiceListItem| The GUID and description of the service associated with the default action.|

        | PricingBasisListItem| The GUID and description of the pricing basis associated with the default action.|

        | VATListItem| The GUID and description of the VAT associated with the default action.|

        | MaterialClassListItem| The GUID and description of the material class associated with the default action.|

        | TaxTemplateCollectionListItem | The GUID and description of the tax template collection associated with the default action.|

        | UnitOfMeasureListItem| The GUID and description of the unit of measure associated with the default action.|

        | AnalysisCode| The analysis code associated with the default action associated with the default action.|

        | SalesCode| The sales code associated with the default action.|

        | CostCode| The cost code associated with the default action.|

        | PurchaseCode| The purchase code associated with the default action.|

        | HandlingTime| The handling time (in seconds) associated with the default action.|

        | IsDeleted | Whether the default action is deleted |'
      operationId: DefaultAction_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorDefaultActionResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorDefaultActionResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorDefaultActionResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorDefaultActionResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorDefaultActionResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorDefaultActionResource:
      type: object
      properties:
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PricingBasisListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        VATListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialClassListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TaxTemplateCollectionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        UnitOfMeasureListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AnalysisCode:
          type: string
        SaleCode:
          type: string
        CostCode:
          type: string
        PurchaseCode:
          type: string
        IsDeleted:
          type: boolean
        HandlingTime:
          type: integer
          format: int32
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
