openapi: 3.2.0
info:
  title: AMCS Platform REST Municipal Event Detail API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: MunicipalEventDetail
paths:
  /municipal/municipalEventDetails:
    get:
      tags:
      - MunicipalEventDetail
      summary: Find with Filters
      operationId: MunicipalEventDetail_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMunicipalEventDetailResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorMunicipalCustomerSiteAreaResource:
      type: object
      properties:
        Description:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorMunicipalEventDetailResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMunicipalEventDetailResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorMunicipalEventDetailResource:
      type: object
      properties:
        MunicipalAccount:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Description:
          type: string
        StartDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        StartTime:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        EndDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        EndTime:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        Notes:
          type: string
        Material:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServicePoint:
          $ref: '#/components/schemas/ApiIntegratorMunicipalCustomerSiteAreaResource'
        MaterialGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
