openapi: 3.2.0
info:
  title: AMCS Platform REST Accounting Period API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: AccountingPeriod
paths:
  /lists/accountingPeriods/changes:
    get:
      tags:
      - AccountingPeriod
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the accounting period |

        | Description | The description of the accounting period |

        | Code | The code of the accounting period |

        | IsClosed| Whether the accounting period is closed |

        | StartDate | The Start Date associated to the accounting period |

        | EndDate | The End Date associated to the accounting period |'
      operationId: AccountingPeriod_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorAccountingPeriodResource'
  /lists/accountingPeriods/{guid}:
    get:
      tags:
      - AccountingPeriod
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the accounting period |

        | Description | The description of the accounting period |

        | Code | The code of the accounting period |

        | IsClosed| Whether the accounting period is closed |

        | StartDate | The Start Date associated to the accounting period |

        | EndDate | The End Date associated to the accounting period |'
      operationId: AccountingPeriod_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorAccountingPeriodResource'
  /lists/accountingPeriods:
    get:
      tags:
      - AccountingPeriod
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the accounting period |

        | Description | The description of the accounting period |

        | Code | The code of the accounting period |

        | IsClosed| Whether the accounting period is closed |

        | StartDate | The Start Date associated to the accounting period |

        | EndDate | The End Date associated to the accounting period |'
      operationId: AccountingPeriod_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorAccountingPeriodResource'
components:
  schemas:
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceChanges_ApiIntegratorAccountingPeriodResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountingPeriodResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorAccountingPeriodResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountingPeriodResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorAccountingPeriodResource:
      type: object
      properties:
        Description:
          type: string
        Code:
          type: string
        IsClosed:
          type: boolean
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorAccountingPeriodResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorAccountingPeriodResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
