openapi: 3.2.0
info:
  title: Amcs Group User API
  version: '1.0'
  description: 'Operations tagged User across 2 of this provider''s published API definitions: amcs-group-core-openapi-original.json, amcs-group-erp-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: User
paths:
  /services/api/user:
    get:
      tags:
      - User
      responses:
        '200':
          description: Success
      summary: Get services api user
      x-summary-source: derived
      operationId: getServicesApiUser
      x-operation-id-source: derived
  /directory/users/{guid}:
    get:
      tags:
      - User
      summary: Find with GUID
      description: '| Property | Description |

        | -------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the user. |

        | UserName | The username assigned to the user (usually what they use to log-in). |

        | Forename | The user''s first name. |

        | Surname | The user''s last name. |

        | Code | The users code. |

        | Email | The user''s email. |

        | MobileTelNo | The MobileTelNo associated to the user. |

        | IsOwnerDriver | Whether the user is Owner Driver. |

        | AccessRightEnumFilter | Used to filter users by access right. |

        | CompanyOutletListItem | The GUID and Description of the company outlet associated to the user. |

        | StaffTypeListItem | The GUID and Description of the staff type associated to the user. |'
      operationId: User_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorUserResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /directory/users:
    get:
      tags:
      - User
      summary: Find with Filters
      description: '| Property | Description |

        | -------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the user. |

        | UserName | The username assigned to the user (usually what they use to log-in). |

        | Forename | The user''s first name. |

        | Surname | The user''s last name. |

        | Code | The users code. |

        | Email | The user''s email. |

        | MobileTelNo | The MobileTelNo associated to the user. |

        | IsOwnerDriver | Whether the user is Owner Driver. |

        | AccessRightEnumFilter | Used to filter users by access right. |

        | CompanyOutletListItem | The GUID and Description of the company outlet associated to the user. |

        | StaffTypeListItem | The GUID and Description of the staff type associated to the user. |'
      operationId: User_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorUserResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorUserResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorUserResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorUserResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorUserResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorUserResource:
      type: object
      properties:
        UserName:
          type: string
        Forename:
          type: string
        Surname:
          type: string
        IsOwnerDriver:
          type: boolean
        Email:
          type: string
        Code:
          type: string
        AccessRightEnumFilter:
          type: integer
          format: int32
        MobileTelNo:
          type: string
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        StaffTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
x-refined-from:
- amcs-group-core-openapi-original.json
- amcs-group-erp-openapi-original.json
