openapi: 3.2.0
info:
  title: AMCS Platform REST Route Visit API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteVisit
paths:
  /transport/routeVisits/changes:
    get:
      tags:
      - RouteVisit
      summary: Retrieve changes
      description: '| Property| Description|

        | -------------------------------------------------| --------------------------------------------------------------------------------------------------------------------------------- |

        | Guid| The GUID associated to the route visit.|

        | RelatedSiteOrderGuid| Used to filter on the related siter order GUID.|

        | RelatedRouteGuid| Used to filter on the related route GUID.|

        | ActionListItem| The GUID and description of the action associated to the route visit.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the route visit.|

        | ExclusionTypeListItem| The GUID and description of the exclusion type associated to the route visit.|

        | RelatedSiteOrderRouteAssignmentGuid| Used to filter on the related site order route assignment GUID.|

        | TicketNo| Used to filter on the ticket no.|

        | ManualTicketNo| Used to filter on the manual ticket no.|

        | Position| The position associated to the route visit.|

        | IntendedPrice| The intended price associated to the route visit.|

        | IntendedVatListItem| The GUID and description of the intended VAT associated to the route visit.|

        | DriverNotes| The driver notes associated to the route visit.|

        | Notes| The notes associated to the route visit.'
      operationId: RouteVisit_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorRouteVisitResource'
  /transport/routeVisits/{guid}:
    get:
      tags:
      - RouteVisit
      summary: Find with GUID
      description: '| Property| Description|

        | -------------------------------------------------| --------------------------------------------------------------------------------------------------------------------------------- |

        | Guid| The GUID associated to the route visit.|

        | RelatedSiteOrderGuid| Used to filter on the related siter order GUID.|

        | RelatedRouteGuid| Used to filter on the related route GUID.|

        | ActionListItem| The GUID and description of the action associated to the route visit.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the route visit.|

        | ExclusionTypeListItem| The GUID and description of the exclusion type associated to the route visit.|

        | RelatedSiteOrderRouteAssignmentGuid| Used to filter on the related site order route assignment GUID.|

        | TicketNo| Used to filter on the ticket no.|

        | ManualTicketNo| Used to filter on the manual ticket no.|

        | Position| The position associated to the route visit.|

        | IntendedPrice| The intended price associated to the route visit.|

        | IntendedVatListItem| The GUID and description of the intended VAT associated to the route visit.|

        | DriverNotes| The driver notes associated to the route visit.|

        | Notes| The notes associated to the route visit.'
      operationId: RouteVisit_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteVisitResource'
    put:
      tags:
      - RouteVisit
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route visit job.| No |

        | ActionListItem| The GUID and description associated to the action type.| Yes |

        | ContainerTypeListItem| The GUID and description associated to the container type.| Yes |

        | ExclusionTypeListItem| The GUID and description associated to the exclusion type.| No |

        | IntendedVatListItem| The GUID and description associated to the intended vat.| No |

        | RejectedReasonListItem| The GUID and description associated to the rejected reason.| No |

        | VisitStatusListItem| The GUID and description associated to the visit status.'
      operationId: RouteVisit_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteVisitResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/routeVisits:
    get:
      tags:
      - RouteVisit
      summary: Find with Filters
      description: '| Property| Description|

        | -------------------------------------------------| --------------------------------------------------------------------------------------------------------------------------------- |

        | Guid| The GUID associated to the route visit.|

        | RelatedSiteOrderGuid| Used to filter on the related siter order GUID.|

        | RelatedRouteGuid| Used to filter on the related route GUID.|

        | ActionListItem| The GUID and description of the action associated to the route visit.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the route visit.|

        | ExclusionTypeListItem| The GUID and description of the exclusion type associated to the route visit.|

        | RelatedSiteOrderRouteAssignmentGuid| Used to filter on the related site order route assignment GUID.|

        | TicketNo| Used to filter on the ticket no.|

        | ManualTicketNo| Used to filter on the manual ticket no.|

        | Position| The position associated to the route visit.|

        | IntendedPrice| The intended price associated to the route visit.|

        | IntendedVatListItem| The GUID and description of the intended VAT associated to the route visit.|

        | DriverNotes| The driver notes associated to the route visit.|

        | Notes| The notes associated to the route visit.'
      operationId: RouteVisit_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteVisitResource'
    post:
      tags:
      - RouteVisit
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route visit job.| No |

        | ActionListItem| The GUID and description associated to the action type.| Yes |

        | ContainerTypeListItem| The GUID and description associated to the container type.| Yes |

        | ExclusionTypeListItem| The GUID and description associated to the exclusion type.| No |

        | IntendedVatListItem| The GUID and description associated to the intended vat.| No |

        | RejectedReasonListItem| The GUID and description associated to the rejected reason.| No |

        | VisitStatusListItem| The GUID and description associated to the visit status.'
      operationId: RouteVisit_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteVisitResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorRouteVisitResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorRouteVisitResource:
      type: object
      properties:
        RelatedSiteOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ExclusionTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedSiteOrderRouteAssignmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TicketNo:
          type: string
        ManualTicketNo:
          type: string
        Position:
          type: integer
          format: int32
        IntendedPrice:
          type: number
          format: double
        IntendedVatListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DriverNotes:
          type: string
        Notes:
          type: string
        Access:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessArrayResource'
        RejectedReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RejectReasonAdditionalNotes:
          type: string
        VisitStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsAcknowledgementRequired:
          type: boolean
        MaxLiftQuantity:
          type: integer
          format: int32
        MinLiftQuantity:
          type: integer
          format: int32
        IsQuantityRequired:
          type: boolean
        QuantityPlanned:
          type: number
          format: double
        QuantityOverride:
          type: number
          format: double
        Weight:
          type: number
          format: double
        QuantityNotPlannedReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        QuantityConfirmed:
          type: integer
          format: int32
        QuantityProblem:
          type: integer
          format: int32
        MinBillLevelShortfall:
          type: integer
          format: int32
        StartTimeActual:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        EndTimeActual:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        IsFinanciallyConfirmed:
          type: boolean
        RelatedUserFinanciallyConfirmedGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsFleetPlannerCompleted:
          type: boolean
        IsCancelled:
          type: boolean
        OnDeallocatedReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PONumber:
          type: string
        OriginalDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ReScheduledDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedPictureBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitPictureResource'
        DriverFeedback:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorRouteVisitPictureResource:
      type: object
      properties:
        Description:
          type: string
        Hash:
          type: string
        PictureTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PictureSourceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntity_ApiIntegratorRouteVisitResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteVisitResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAccessArrayResource:
      type: object
      properties:
        AccessNotes:
          type: string
        AccessContact:
          type: string
        StartTimeAccess:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        EndTimeAccess:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DayOfWeekId:
          type: integer
          format: int32
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorRouteVisitResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
