openapi: 3.2.0
info:
  title: AMCS Platform REST Access Pass History API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: AccessPassHistory
paths:
  /stosag/accessPassHistories:
    post:
      tags:
      - AccessPassHistory
      summary: Create or update
      description: '| Property| Description| Required |

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |----------|

        | AccessPassHistory[0].ContainerGuid| The GUID of the Container associated to the shared container.| Yes |

        | AccessPassHistory[0].ContainerTagId| The ContainerTagId of the municipal account associated to the shared container.| Yes |

        | AccessPassHistory[0].Timestamp| The timestamp of the access pass history recorded.| Yes |

        | AccessPassHistory[0].Volume| The Volume of the waste disposed by the acess pass.| No |

        | AccessPassHistory[0].Netweight| The netweight of the waste disposed by the acess pass.|No |

        | AccessPassHistory[0].NoOfDrops| The No of times waste disposed by the acess pass.|No |


        **Extra validations**


        | Condition| Error message|

        | ----------------------------------------------------------------------------------------------| ----------------------------------------------------------------------------------------------------------------------------- |

        | If AccessPassHistory[0].ContainerGuid not linked to shared container.| Container ({0}) Not found in shared container associated with timestamp.|

        | AccessPassHistory[0].ContainerTagId not linked to municipal account of the shared container.| Municipal Account Access ({0}) Pass is not associated with Shared Container.|

        | AccessPassHistory[0].ContainerTagId not linked to municipalities of the shared container.| Master Access Pass ({0}) is not associated with Municipalities of the Shared Container.|'
      operationId: AccessPassHistory_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAccessPassesHistoryResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorAccessPassHistoryResource:
      type: object
      properties:
        ContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTagId:
          type: string
        TimeStamp:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        Netweight:
          type: number
          format: double
        Volume:
          type: number
          format: double
        NoOfDrops:
          type: integer
          format: int32
        ContainerId:
          type: integer
          format: int32
        SharedContainerAccessPassId:
          type: integer
          format: int32
        ClusterAccountId:
          type: integer
          format: int32
        AccessPassHistoryId:
          type: integer
          format: int32
        MaterialId:
          type: integer
          format: int32
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAccessPassesHistoryResource:
      type: object
      properties:
        AccessPassHistory:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessPassHistoryResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
