openapi: 3.2.0
info:
  title: AMCS Platform REST Payment Type API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: PaymentType
paths:
  /lists/paymentTypes/{guid}:
    get:
      tags:
      - PaymentType
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the payment type |

        | Description | The description of the payment type |

        | IsDirectDebit | Whether the payment type is direct debit |

        | IsCash | Whether the payment type is cash |

        | IsAutoPay | Whether the payment type is auto pay |

        | IsCard | Whether the payment type is card |

        | IsElectronic | Whether the payment type is electronic |

        | IsCheque | Whether the payment type is cheque |

        | AcceptLowValue | Whether the payment type accepts a low value |

        | IsSystemPayment | Whether the payment type is a system payment |

        | CanMarkAsBad | Whether the payment type can be marked as bad |

        | IsNegative | Whether the payment type is negative |

        | IsForLodgement | Whether the payment type is for lodgement |

        | ShortCode | The payment type short code |

        | IsDeleted | Whether the payment type is deleted |'
      operationId: PaymentType_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorPaymentTypeResource'
  /lists/paymentTypes:
    get:
      tags:
      - PaymentType
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the payment type |

        | Description | The description of the payment type |

        | IsDirectDebit | Whether the payment type is direct debit |

        | IsCash | Whether the payment type is cash |

        | IsAutoPay | Whether the payment type is auto pay |

        | IsCard | Whether the payment type is card |

        | IsElectronic | Whether the payment type is electronic |

        | IsCheque | Whether the payment type is cheque |

        | AcceptLowValue | Whether the payment type accepts a low value |

        | IsSystemPayment | Whether the payment type is a system payment |

        | CanMarkAsBad | Whether the payment type can be marked as bad |

        | IsNegative | Whether the payment type is negative |

        | IsForLodgement | Whether the payment type is for lodgement |

        | ShortCode | The payment type short code |

        | IsDeleted | Whether the payment type is deleted |'
      operationId: PaymentType_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorPaymentTypeResource'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorPaymentTypeResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        IsDirectDebit:
          type: boolean
        IsCash:
          type: boolean
        IsAutoPay:
          type: boolean
        IsCard:
          type: boolean
        IsElectronic:
          type: boolean
        IsCheque:
          type: boolean
        AcceptLowValue:
          type: boolean
        IsSystemPayment:
          type: boolean
        CanMarkAsBad:
          type: boolean
        IsNegative:
          type: boolean
        IsForLodgement:
          type: boolean
        ShortCode:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorPaymentTypeResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorPaymentTypeResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultCollection_ApiIntegratorPaymentTypeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentTypeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
