openapi: 3.2.0
info:
  title: AMCS Platform REST Payment API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Payment
paths:
  /accounting/payments/changes:
    get:
      tags:
      - Payment
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the payment.'
      operationId: Payment_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorPaymentResource'
  /accounting/payments/{guid}:
    get:
      tags:
      - Payment
      summary: Find with GUID
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the payment.'
      operationId: Payment_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorPaymentResource'
    put:
      tags:
      - Payment
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the payment.'
      operationId: Payment_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorPaymentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/payments:
    get:
      tags:
      - Payment
      summary: Find with Filters
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the payment.'
      operationId: Payment_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorPaymentResource'
    post:
      tags:
      - Payment
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the payment.'
      operationId: Payment_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorPaymentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorPaymentResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorPaymentResource:
      type: object
      properties:
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Amount:
          type: number
          format: double
        Reference:
          type: string
        EndToEndReference:
          type: string
        Notes:
          type: string
        IsBad:
          type: boolean
        IsAutoAllocated:
          type: boolean
        PaymentPointListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateBad:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateBadExported:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateCleared:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateExported:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateProcessed:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateInput:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateReceived:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Allocations:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentAllocationResource'
        Deallocations:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentDeallocationResource'
        PaymentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentTransactionResource'
        RelatedJobGuids:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobPaymentResource'
        RelatedSysUserGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedInvoiceGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ReasonBadListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AccountingPeriodBadListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsRefund:
          type: boolean
        TransactionPaymentReferenceFilter:
          type: string
        TransactionReferenceFilter:
          type: string
        RelatedRemitLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        UnallocatedAmount:
          type: number
          format: double
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorPaymentAllocationResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Amount:
          type: number
          format: double
        DateInput:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedInvoiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceChanges_ApiIntegratorPaymentResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPaymentResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorPaymentDeallocationResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedInvoiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserDeallocatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Amount:
          type: number
          format: double
        DateInput:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DateDeallocated:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        AllocationAccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DeallocationAccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorPaymentTransactionResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        CardType:
          type: string
        MaskedCardNumber:
          type: string
        DateReceived:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TransactionStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContactGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        PaymentReference:
          type: string
        Reference:
          type: string
        PaymentProvider:
          type: string
        ResultMessage:
          type: string
        Notes:
          type: string
        ResponseCode:
          type: string
        CurrencyCode:
          type: string
        Amount:
          type: number
          format: double
        AmountRefundable:
          type: number
          format: double
        PaymentProviderListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentPointListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultEntity_ApiIntegratorPaymentResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorPaymentResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorJobPaymentResource:
      type: object
      properties:
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
