openapi: 3.2.0
info:
  title: AMCS Platform REST External Vehicle API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: ExternalVehicle
paths:
  /fleet/externalVehicles/{guid}:
    get:
      tags:
      - ExternalVehicle
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the external vehicle. |

        | Registration| The registration associated to the external vehicle. Filterable.|

        | Description| The description associated to the external vehicle.|

        | VolumeCapacity | The volume capacity associated to the external vehicle.|

        | MaxGrossWeight | The max gross weight associated to the external vehicle.|

        | RFID | The RFID associated to the external vehicle. Filterable.|

        | RelatedTransportSupplierSiteGuid| The related transport supplier site GUID associated to the external vehicle. Filterable.|

        | VehicleTypeListItem| The GUID and description associated to the vehicle type.|

        | CompanyOutletListItem| The GUID and description associated to the company outlet.|

        | UnitOfMeasurementListItem| The GUID and description associated to the unit of measurement.|

        | IsSystemUse| Whether the external vehicle is for system use.|

        | IsWeighOutRequired| Whether the weigh out is required for the external vehicle.|'
      operationId: ExternalVehicle_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorExternalVehicleResource'
    put:
      tags:
      - ExternalVehicle
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the external vehicle. | No |

        | Registration| The registration associated to the external vehicle.| Yes |

        | Description| The description associated to the external vehicle.| No |

        | VolumeCapacity | The volume capacity associated to the external vehicle.| No |

        | MaxGrossWeight | The max gross weight associated to the external vehicle.| No |

        | RFID | The RFID associated to the external vehicle.| No |

        | RelatedTransportSupplierSiteGuid| The related transport supplier site GUID associated to the external vehicle. | Yes |

        | VehicleTypeListItem| The GUID and description associated to the vehicle type.| No |

        | CompanyOutletListItem| The GUID and description associated to the company outlet.| Yes |

        | UnitOfMeasurementListItem| The GUID and description associated to the unit of measurement.| No |

        | IsSystemUse| Whether the external vehicle is for system use.| No |

        | IsWeighOutRequired| Whether the weigh out is required for the external vehicle.| No |'
      operationId: ExternalVehicle_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorExternalVehicleResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /fleet/externalVehicles:
    get:
      tags:
      - ExternalVehicle
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the external vehicle. |

        | Registration| The registration associated to the external vehicle. Filterable.|

        | Description| The description associated to the external vehicle.|

        | VolumeCapacity | The volume capacity associated to the external vehicle.|

        | MaxGrossWeight | The max gross weight associated to the external vehicle.|

        | RFID | The RFID associated to the external vehicle. Filterable.|

        | RelatedTransportSupplierSiteGuid| The related transport supplier site GUID associated to the external vehicle. Filterable.|

        | VehicleTypeListItem| The GUID and description associated to the vehicle type.|

        | CompanyOutletListItem| The GUID and description associated to the company outlet.|

        | UnitOfMeasurementListItem| The GUID and description associated to the unit of measurement.|

        | IsSystemUse| Whether the external vehicle is for system use.|

        | IsWeighOutRequired| Whether the weigh out is required for the external vehicle.|'
      operationId: ExternalVehicle_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorExternalVehicleResource'
    post:
      tags:
      - ExternalVehicle
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the external vehicle. | No |

        | Registration| The registration associated to the external vehicle.| Yes |

        | Description| The description associated to the external vehicle.| No |

        | VolumeCapacity | The volume capacity associated to the external vehicle.| No |

        | MaxGrossWeight | The max gross weight associated to the external vehicle.| No |

        | RFID | The RFID associated to the external vehicle.| No |

        | RelatedTransportSupplierSiteGuid| The related transport supplier site GUID associated to the external vehicle. | Yes |

        | VehicleTypeListItem| The GUID and description associated to the vehicle type.| No |

        | CompanyOutletListItem| The GUID and description associated to the company outlet.| Yes |

        | UnitOfMeasurementListItem| The GUID and description associated to the unit of measurement.| No |

        | IsSystemUse| Whether the external vehicle is for system use.| No |

        | IsWeighOutRequired| Whether the weigh out is required for the external vehicle.| No |'
      operationId: ExternalVehicle_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorExternalVehicleResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorExternalVehicleResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorExternalVehicleResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorExternalVehicleResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorExternalVehicleResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorExternalVehicleResource:
      type: object
      properties:
        Registration:
          type: string
        Description:
          type: string
        VehicleTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedTransportSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        VolumeCapacity:
          type: number
          format: double
        UnitOfMeasurementListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaxGrossWeight:
          type: number
          format: double
        RFID:
          type: string
        IsSystemUse:
          type: boolean
        IsWeighOutRequired:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
