openapi: 3.2.0
info:
  title: AMCS Platform REST Material API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Material
paths:
  /lists/materials/{guid}:
    get:
      tags:
      - Material
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the material |

        | Description | The description of the material |

        | Color| The color of the material |

        | AnalysisCode | The analysis code of the material |

        | ShortName | The short name of the material |

        | MaterialStateListItem | The The GUID and material state of the material (various values) |

        | MaterialClassListItem | The The GUID and material class of the material (various values) |

        | EWCCodeListItem| The GUID and EWC Code of the material (various values) |

        | IsDeleted | Whether the material is deleted |'
      operationId: Material_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorMaterialResource'
  /lists/materials:
    get:
      tags:
      - Material
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the material |

        | Description | The description of the material |

        | Color| The color of the material |

        | AnalysisCode | The analysis code of the material |

        | ShortName | The short name of the material |

        | MaterialStateListItem | The The GUID and material state of the material (various values) |

        | MaterialClassListItem | The The GUID and material class of the material (various values) |

        | EWCCodeListItem| The GUID and EWC Code of the material (various values) |

        | IsDeleted | Whether the material is deleted |'
      operationId: Material_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMaterialResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorMaterialResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorMaterialResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorMaterialResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMaterialResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorMaterialResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        Color:
          type: string
        AnalysisCode:
          type: string
        ShortName:
          type: string
        MaterialStateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialClassListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        EWCCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
