openapi: 3.2.0
info:
  title: AMCS Platform REST Vehicle Event Geo Summary API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: VehicleEventGeoSummary
paths:
  /fleet/vehicleEventGeoSummaries/changes:
    get:
      tags:
      - VehicleEventGeoSummary
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the VehicleEventGeoSummary.|

        | DemoRegion | The Demo Region associated to the VehicleEventGeoSummary. |

        | FromTimeStamp| The From Time Stamp associated to the VehicleEventGeoSummary.|

        | GeoJSON | The Geo JSON associated to the VehicleEventGeoSummary.|

        | NumberOfVehicleEvents | The Number Of Vehicle Events associated to the VehicleEventGeoSummary.|

        | ToTimeStamp | The To Time Stamp associated to the VehicleEventGeoSummary.|

        | RelatedVehicleGuid | The Related Vehicle Guid associated to the VehicleEventGeoSummary. Filterable.|

        | Version | The Version associated to the VehicleEventGeoSummary.|

        | IsDeleted | Is the VehicleEventGeoSummary Deleted. |'
      operationId: VehicleEventGeoSummary_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorVehicleEventGeoSummaryResource'
  /fleet/vehicleEventGeoSummaries/{guid}:
    get:
      tags:
      - VehicleEventGeoSummary
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the VehicleEventGeoSummary.|

        | DemoRegion | The Demo Region associated to the VehicleEventGeoSummary. |

        | FromTimeStamp| The From Time Stamp associated to the VehicleEventGeoSummary.|

        | GeoJSON | The Geo JSON associated to the VehicleEventGeoSummary.|

        | NumberOfVehicleEvents | The Number Of Vehicle Events associated to the VehicleEventGeoSummary.|

        | ToTimeStamp | The To Time Stamp associated to the VehicleEventGeoSummary.|

        | RelatedVehicleGuid | The Related Vehicle Guid associated to the VehicleEventGeoSummary. Filterable.|

        | Version | The Version associated to the VehicleEventGeoSummary.|

        | IsDeleted | Is the VehicleEventGeoSummary Deleted. |'
      operationId: VehicleEventGeoSummary_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorVehicleEventGeoSummaryResource'
    put:
      tags:
      - VehicleEventGeoSummary
      summary: Partial update
      description: '| Property | Description | Required |

        | --------------------- | ---------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the external vehicle. | No |

        | DemoRegion | The Demo Region associated to the VehicleEventGeoSummary. | No |

        | FromTimeStamp | The From Time Stamp associated to the VehicleEventGeoSummary. | No |

        | GeoJSON | The Geo JSON associated to the VehicleEventGeoSummary. | No |

        | NumberOfVehicleEvents | The Number Of Vehicle Events associated to the VehicleEventGeoSummary. | No |

        | ToTimeStamp | The To Time Stamp associated to the VehicleEventGeoSummary. | No |

        | RelatedVehicleGuid | The Related Vehicle Guid associated to the VehicleEventGeoSummary. | Yes |

        | Version | The Version associated to the VehicleEventGeoSummary. | No |

        | IsDeleted | Is the VehicleEventGeoSummary Deleted. | No |


        **Extra validations**


        | Condition | Error message |

        | ----------------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |

        | Invalid RelatedVehicleGuid | Failed to retrieve Vehicle with RelatedVehicleGuid of {Guid} |

        | RelatedVehicleGuid Is Null Or Not Provided | The mandatory property RelatedVehicleGuid has a null value. The request could not be processed. Supply a value for the RelatedVehicleGuid property of the submitted resource. |

        | RelatedVehicleGuid belongs to a deleted Vehicle | The provided RelatedVehicleGuid is deleted. Could not update the resource. Please check the relevant list end point for the available options. |'
      operationId: VehicleEventGeoSummary_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorVehicleEventGeoSummaryResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /fleet/vehicleEventGeoSummaries:
    get:
      tags:
      - VehicleEventGeoSummary
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the VehicleEventGeoSummary.|

        | DemoRegion | The Demo Region associated to the VehicleEventGeoSummary. |

        | FromTimeStamp| The From Time Stamp associated to the VehicleEventGeoSummary.|

        | GeoJSON | The Geo JSON associated to the VehicleEventGeoSummary.|

        | NumberOfVehicleEvents | The Number Of Vehicle Events associated to the VehicleEventGeoSummary.|

        | ToTimeStamp | The To Time Stamp associated to the VehicleEventGeoSummary.|

        | RelatedVehicleGuid | The Related Vehicle Guid associated to the VehicleEventGeoSummary. Filterable.|

        | Version | The Version associated to the VehicleEventGeoSummary.|

        | IsDeleted | Is the VehicleEventGeoSummary Deleted. |'
      operationId: VehicleEventGeoSummary_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorVehicleEventGeoSummaryResource'
    post:
      tags:
      - VehicleEventGeoSummary
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the external vehicle. | No |

        | DemoRegion | The Demo Region associated to the VehicleEventGeoSummary. | No |

        | FromTimeStamp| The From Time Stamp associated to the VehicleEventGeoSummary.| No |

        | GeoJSON | The Geo JSON associated to the VehicleEventGeoSummary.| No |

        | NumberOfVehicleEvents | The Number Of Vehicle Events associated to the VehicleEventGeoSummary.| No |

        | ToTimeStamp | The To Time Stamp associated to the VehicleEventGeoSummary.| No |

        | RelatedVehicleGuid | The Related Vehicle Guid associated to the VehicleEventGeoSummary. | Yes |

        | Version | The Version associated to the VehicleEventGeoSummary.| No |

        | IsDeleted | Is the VehicleEventGeoSummary Deleted. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Invalid RelatedVehicleGuid | Failed to retrieve Vehicle with RelatedVehicleGuid of {Guid} |

        | RelatedVehicleGuid Is Null Or Not Provided | The mandatory property RelatedVehicleGuid has a null value. The request could not be processed. Supply a value for the RelatedVehicleGuid property of the submitted resource.|

        | RelatedVehicleGuid belongs to a deleted Vehicle | The provided RelatedVehicleGuid is deleted. Could not update the resource. Please check the relevant list end point for the available options.|'
      operationId: VehicleEventGeoSummary_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorVehicleEventGeoSummaryResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorVehicleEventGeoSummaryResource:
      type: object
      properties:
        DemoRegion:
          type: string
        FromTimeStamp:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        GeoJSON:
          type: string
          format: byte
        NumberOfVehicleEvents:
          type: integer
          format: int32
        ToTimeStamp:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Version:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorVehicleEventGeoSummaryResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorVehicleEventGeoSummaryResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorVehicleEventGeoSummaryResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorVehicleEventGeoSummaryResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntity_ApiIntegratorVehicleEventGeoSummaryResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorVehicleEventGeoSummaryResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
