openapi: 3.2.0
info:
  title: AMCS Platform REST Account Customer API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: AccountCustomer
paths:
  /accounting/accountCustomers/changes:
    get:
      tags:
      - AccountCustomer
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the customer.'
      operationId: AccountCustomer_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorAccountCustomerResource'
  /accounting/accountCustomers/{guid}:
    get:
      tags:
      - AccountCustomer
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the customer.'
      operationId: AccountCustomer_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorAccountCustomerResource'
    put:
      tags:
      - AccountCustomer
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------- | -------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer.'
      operationId: AccountCustomer_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAccountCustomerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/accountCustomers:
    get:
      tags:
      - AccountCustomer
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the customer.'
      operationId: AccountCustomer_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorAccountCustomerResource'
    post:
      tags:
      - AccountCustomer
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------- | -------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer.'
      operationId: AccountCustomer_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAccountCustomerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorAccountCustomerTradingNamesResource:
      type: object
      properties:
        Description:
          type: string
        TradingNameTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDeleted:
          type: boolean
        IsForAllSites:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCustomerReportRelatedSiteResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAccountCustomerCreditCardsResource:
      type: object
      properties:
        Forename:
          type: string
        Surname:
          type: string
        Postcode:
          type: string
        Province:
          type: string
        DateCreated:
          type: string
          format: localDate
          example: '2000-01-01'
        MaskedCreditCardNumber:
          type: string
        Address1:
          type: string
        City:
          type: string
        RelatedContactGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Country:
          type: string
        CreditCardExpiryDate:
          type: string
          format: localDate
          example: '2000-01-01'
        Currency:
          type: string
        ExternalVaultCardReference:
          type: string
        ExternalVaultReference:
          type: string
        IsACH:
          type: boolean
        IsDeleted:
          type: boolean
        IsRequestWithImmediateResponse:
          type: boolean
        PayerReference:
          type: string
        PaymentPointListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentProviderListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentReference:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        PaymentTypeId:
          type: integer
          format: int32
    ApiIntegratorCustomerReportBlobHashesResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DocumentDescription:
          type: string
        DocumentName:
          type: string
        Hash:
          type: string
        IsForAllSites:
          type: boolean
        RelatedSites:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportRelatedSiteResource'
        RelatedExcludedSites:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportRelatedSiteResource'
    ApiIntegratorAccountCustomerExternalVehicleResource:
      type: object
      properties:
        RelatedExternalVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsForAllMaterials:
          type: boolean
        IsForAllSites:
          type: boolean
        ValidFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        ValidTo:
          type: string
          format: localDate
          example: '2000-01-01'
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultCollection_ApiIntegratorAccountCustomerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorCustomerBlobHashesResource:
      type: object
      properties:
        Hash:
          type: string
    ApiIntegratorAccountCustomerContractResource:
      type: object
      properties:
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        CreditLimit:
          type: number
          format: double
        BalanceMigrated:
          type: number
          format: double
        VATExemptNumber:
          type: string
        VATExemptionExpiryDate:
          type: string
          format: localDate
          example: '2000-01-01'
        VATRegistrationNumber:
          type: string
        ApprovedDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsInvoiceCollated:
          type: boolean
        RollUpInvoiceBySite:
          type: boolean
        RollUpInvoiceByService:
          type: boolean
        InvoiceCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DepartmentListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContractStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        InvoiceFrequencyTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        InvoiceDocumentDeliveryMethods:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorDocumentDeliveryMethodsResource'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorAccountCustomerBankDetailsResource:
      type: object
      properties:
        BankName:
          type: string
        AccountName:
          type: string
        AccountNo:
          type: string
        SortCode:
          type: string
        BIC:
          type: string
        IBAN:
          type: string
        NationalBankCode:
          type: string
        DirectDebitRunConfigListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DirectDebitAccountTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Address:
          $ref: '#/components/schemas/ApiIntegratorAccountCustomerBankDetailsAddressResource'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorDocumentDeliveryMethodsResource:
      type: object
      properties:
        DocumentDeliveryType:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorAccountCustomerBankDetailsAddressResource:
      type: object
      properties:
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorAccountCustomerPaymentProviderSettingsResource:
      type: object
      properties:
        Name:
          type: string
        PaymentProviderListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Value:
          type: string
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAccountCustomerResource:
      type: object
      properties:
        Name:
          type: string
        Reference:
          type: string
        FederalId:
          type: string
        IsInternal:
          type: boolean
        ARAccountCode:
          type: string
        APAccountCode:
          type: string
        Notes:
          type: string
        AMICENumber:
          type: string
        CoCNumber:
          type: string
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerStateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerStateChangeReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerCategoryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerGroupListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerTemplateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        BusinessTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        VisitStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        BankDetails:
          $ref: '#/components/schemas/ApiIntegratorAccountCustomerBankDetailsResource'
        Contract:
          $ref: '#/components/schemas/ApiIntegratorAccountCustomerContractResource'
        AutoArAccountCode:
          $ref: '#/components/schemas/ApiIntegratorAutoArAccountCodeResource'
        Balance:
          $ref: '#/components/schemas/ApiIntegratorAccountCustomerBalanceResource'
        RelatedUserSalesRepGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserCreditControllerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedMasterAccountGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedBillToCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationHQGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CombineChargesRebates:
          type: boolean
        HasRedLight:
          type: boolean
        ExternalVehicleValidation:
          type: boolean
        TicketsRequiredWithInvoice:
          type: boolean
        RctCustomer:
          type: boolean
        ProofOfServiceRequired:
          type: boolean
        ExcludeFromStatementRun:
          type: boolean
        ReceiveServiceUpdatesByEmail:
          type: boolean
        ReceiveServiceUpdatesByText:
          type: boolean
        ReceiveMarketingUpdatesByEmail:
          type: boolean
        ReceiveMarketingUpdatesByText:
          type: boolean
        TradingNames:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerTradingNamesResource'
        PaymentProviderSettings:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerPaymentProviderSettingsResource'
        CreditCards:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerCreditCardsResource'
        RelatedBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerBlobHashesResource'
        RelatedReportBlobs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportBlobHashesResource'
        RelatedExternalVehicles:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerExternalVehicleResource'
        RelatedCustomerStateChangeRequests:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerStateChangeRequestResource'
        RelatedCustomerStateChangeRequest:
          $ref: '#/components/schemas/ApiIntegratorCustomerStateChangeRequestResource'
        CustomerBusinessTypes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerBusinessTypeOptionResource'
        DefaultSicCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsTaxExempt:
          type: boolean
        TradingNameGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TradingNameFilter:
          type: string
        RelatedExternalVehicleGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceChanges_ApiIntegratorAccountCustomerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountCustomerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAccountCustomerBalanceResource:
      type: object
      properties:
        OutstandingAmount:
          type: number
          format: double
        UnallocatedAmount:
          type: number
          format: double
        UnconfirmedBalance:
          type: number
          format: double
        LedgerBalance:
          type: number
          format: double
    ApiIntegratorCustomerStateChangeRequestResource:
      type: object
      properties:
        EffectiveDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedCustomerStateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedChangeReasonGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAutoArAccountCodeResource:
      type: object
      properties:
        CompanyOutletGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorAccountCustomerResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorAccountCustomerResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAccountCustomerBusinessTypeOptionResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        BusinessTypeOptionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
