openapi: 3.2.0
info:
  title: AMCS Platform REST Route Template Assignment API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteTemplateAssignment
paths:
  /transport/routeTemplateAssignments/{guid}:
    put:
      tags:
      - RouteTemplateAssignment
      summary: Partial update
      operationId: RouteTemplateAssignment_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteTemplateAssignmentsResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorRouteTemplateAssignmentsResource:
      type: object
      properties:
        RouteAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteTemplateAssignmentItemResource'
        RouteAssignmentGroups:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteTemplateAssignmentGroupResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorRouteTemplateAssignmentItemResource:
      type: object
      properties:
        RouteAssignmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RouteAssignmentGroupGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsLastDayOccurenceInMonth:
          type: boolean
    ApiIntegratorRouteTemplateAssignmentGroupResource:
      type: object
      properties:
        RouteAssignmentGroupGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Description:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
