openapi: 3.2.0
info:
  title: AMCS Platform REST Container Status API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: ContainerStatus
paths:
  /lists/containerStatuses/{guid}:
    get:
      tags:
      - ContainerStatus
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ----------------------------------------------------------------- |

        | GUID | The GUID associated to the container status|

        | Description | The description of the container status|

        | IsDeleted | Whether the container status is deleted |

        | IsUnavailable| Whether the container status is unavailable |'
      operationId: ContainerStatus_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorContainerStatusResource'
  /lists/containerStatuses:
    get:
      tags:
      - ContainerStatus
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ----------------------------------------------------------------- |

        | GUID | The GUID associated to the container status|

        | Description | The description of the container status|

        | IsDeleted | Whether the container status is deleted |

        | IsUnavailable| Whether the container status is unavailable |'
      operationId: ContainerStatus_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorContainerStatusResource'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorContainerStatusResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContainerStatusResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorContainerStatusResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorContainerStatusResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorContainerStatusResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        IsUnavailable:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
