openapi: 3.2.0
info:
  title: AMCS Platform REST Bulky Waste Job Order Detail API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: BulkyWasteJobOrderDetail
paths:
  /municipal/bulkyWasteJobOrderDetails/{guid}:
    get:
      tags:
      - BulkyWasteJobOrderDetail
      summary: Find with GUID
      operationId: BulkyWasteJobOrderDetail_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorBulkyWasteJobOrderDetailResource'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorBulkyWasteJobOrderDetailResource:
      type: object
      properties:
        OrderNo:
          type: string
        ContainerTypeGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerType:
          type: string
        MaterialClassGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialClass:
          type: string
        ActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Action:
          type: string
        MaterialProfileGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialProfile:
          type: string
        ProcessingPrices:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorBulkyWasteProcessingPriceResource'
        ChargeAndCostList:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorBulkyWasteJobChargeAndCostResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorBulkyWasteJobOrderDetailResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorBulkyWasteJobOrderDetailResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorBulkyWasteJobChargeAndCostResource:
      type: object
      properties:
        PriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsSelected:
          type: boolean
        Type:
          type: string
        Service:
          type: string
        ContainerType:
          type: string
        Action:
          type: string
        Material:
          type: string
        PricingBasis:
          type: string
        Rate:
          type: number
          format: double
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorBulkyWasteProcessingPriceResource:
      type: object
      properties:
        PriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerType:
          type: string
        MaterialClass:
          type: string
        MaterialProfile:
          type: string
        PricingBasis:
          type: string
        NetPrice:
          type: number
          format: double
        GrossPrice:
          type: number
          format: double
        BreakdownQuantity:
          type: integer
          format: int32
