openapi: 3.2.0
info:
  title: AMCS Platform REST Applied Cost API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: AppliedCost
paths:
  /purchasing/appliedCosts/changes:
    get:
      tags:
      - AppliedCost
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the applied cost. |

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the applied cost. |

        | RelatedOrderGuid| The GUID associated to the order of the applied cost. |

        | RelatedSupplierBillGuid | The GUID of the supplier bill of the applied cost.|

        | RelatedApplicationJobGuid | The GUID of the job this applied cost is applied to. |

        | RelatedApplicationRouteVisitGuid | The GUID of the route visit this applied cost is applied to. |

        | RelatedApplicationRouteGuid | The GUID of the route this applied cost is applied to. |

        | RelatedApplicationCostAgreementRouteCostGuid | The GUID of the cost agreement route cost this applied cost is applied to. |

        | RelatedApplicationRentalActionGuid | The GUID of the rental action this applied cost is applied to. |

        | RelatedApplicationRentTermGuid | The GUID of the rent term this applied cost is applied to. |

        | RelatedApplicationWeighingInGuid | The GUID of the weighing in this applied cost is applied to. |

        | RelatedApplicationWeighingOutGuid | The GUID of the weighing out this applied cost is applied to. |

        | RelatedApplicationRouteVisitJobGuid | The GUID of the route visit job this applied cost is applied to. |

        | RelatedApplicationOneOffActionGuid | The GUID of the one off action this applied cost is applied to. |

        | RelatedApplicationJobDetailGuid | The GUID of the job detail this applied cost is applied to. |

        | RelatedApplicationVehicleFuelEventGuid | The GUID of the vehicle fuel event this applied cost is applied to. |

        | RelatedApplicationOneOffCostActionGuid | The GUID of the one off cost action this applied cost is applied to. |

        | RelatedApplicationRouteVisitMissedCollectionGuid | The GUID of the route visit missed collection this applied cost is applied to. |

        | RelatedApplicationDamageContainerIncidentCostGuid | The GUID of the damage container incident cost is applied to. |

        | RelatedApplicationRouteProRataCollectionCostGuid | The GUID of the route pro rata collection cost this applied cost is applied to. |

        | RelatedApplicationInternalPurchaseOrderCostGuid | The GUID of the internal purchase order cost this applied cost is applied to. |

        | RelatedCostAgreementCostGuid | The GUID associated to the cost of the applied cost. |

        | RelatedApplicationVATGuid | The GUID of the VAT of the applied cost. |

        | RelatedApplicationTaxTemplateCollectionGuid | The GUID of the tax template collection of the applied cost. |

        | VATListItem | The GUID and description of the VAT of the applied cost. |

        | TaxTemplateCollectionListItem | The GUID and description of the tax template collection of the applied cost. |

        | ActionListItem | The GUID and description of the action of the applied cost. |

        | ServiceListItem | The GUID and description of the service of the applied cost. |

        | PricingBasisListItem | The GUID and description of the pricing basis of the applied cost. |

        | ContainerListItem | The GUID and description of the container of the applied cost. |

        | Rate | The rate of the applied cost. |

        | CostExVat | The cost excluding VAT of the applied cost. |

        | CostIncVat | The cost including VAT of the applied cost. |

        | CostDate | The cost date of the applied cost in ISO format (YYYY-MM-DD). |

        | IsAdjustment | Is this applied cost an adjustment? |

        | IsApproved | Is this applied cost approved? |

        | IsDisputed | Is this applied cost disputed? |

        | IsSupplierBillConfirmed | Is the supplier bill of this applied cost confirmed? |

        | FilterAccountingPeriodListItem| Used to filter on the accounting period list item GUID.|'
      operationId: AppliedCost_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorAppliedCostResource'
  /purchasing/appliedCosts/{guid}:
    get:
      tags:
      - AppliedCost
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the applied cost. |

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the applied cost. |

        | RelatedOrderGuid| The GUID associated to the order of the applied cost. |

        | RelatedSupplierBillGuid | The GUID of the supplier bill of the applied cost.|

        | RelatedApplicationJobGuid | The GUID of the job this applied cost is applied to. |

        | RelatedApplicationRouteVisitGuid | The GUID of the route visit this applied cost is applied to. |

        | RelatedApplicationRouteGuid | The GUID of the route this applied cost is applied to. |

        | RelatedApplicationCostAgreementRouteCostGuid | The GUID of the cost agreement route cost this applied cost is applied to. |

        | RelatedApplicationRentalActionGuid | The GUID of the rental action this applied cost is applied to. |

        | RelatedApplicationRentTermGuid | The GUID of the rent term this applied cost is applied to. |

        | RelatedApplicationWeighingInGuid | The GUID of the weighing in this applied cost is applied to. |

        | RelatedApplicationWeighingOutGuid | The GUID of the weighing out this applied cost is applied to. |

        | RelatedApplicationRouteVisitJobGuid | The GUID of the route visit job this applied cost is applied to. |

        | RelatedApplicationOneOffActionGuid | The GUID of the one off action this applied cost is applied to. |

        | RelatedApplicationJobDetailGuid | The GUID of the job detail this applied cost is applied to. |

        | RelatedApplicationVehicleFuelEventGuid | The GUID of the vehicle fuel event this applied cost is applied to. |

        | RelatedApplicationOneOffCostActionGuid | The GUID of the one off cost action this applied cost is applied to. |

        | RelatedApplicationRouteVisitMissedCollectionGuid | The GUID of the route visit missed collection this applied cost is applied to. |

        | RelatedApplicationDamageContainerIncidentCostGuid | The GUID of the damage container incident cost is applied to. |

        | RelatedApplicationRouteProRataCollectionCostGuid | The GUID of the route pro rata collection cost this applied cost is applied to. |

        | RelatedApplicationInternalPurchaseOrderCostGuid | The GUID of the internal purchase order cost this applied cost is applied to. |

        | RelatedCostAgreementCostGuid | The GUID associated to the cost of the applied cost. |

        | RelatedApplicationVATGuid | The GUID of the VAT of the applied cost. |

        | RelatedApplicationTaxTemplateCollectionGuid | The GUID of the tax template collection of the applied cost. |

        | VATListItem | The GUID and description of the VAT of the applied cost. |

        | TaxTemplateCollectionListItem | The GUID and description of the tax template collection of the applied cost. |

        | ActionListItem | The GUID and description of the action of the applied cost. |

        | ServiceListItem | The GUID and description of the service of the applied cost. |

        | PricingBasisListItem | The GUID and description of the pricing basis of the applied cost. |

        | ContainerListItem | The GUID and description of the container of the applied cost. |

        | Rate | The rate of the applied cost. |

        | CostExVat | The cost excluding VAT of the applied cost. |

        | CostIncVat | The cost including VAT of the applied cost. |

        | CostDate | The cost date of the applied cost in ISO format (YYYY-MM-DD). |

        | IsAdjustment | Is this applied cost an adjustment? |

        | IsApproved | Is this applied cost approved? |

        | IsDisputed | Is this applied cost disputed? |

        | IsSupplierBillConfirmed | Is the supplier bill of this applied cost confirmed? |

        | FilterAccountingPeriodListItem| Used to filter on the accounting period list item GUID.|'
      operationId: AppliedCost_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorAppliedCostResource'
    put:
      tags:
      - AppliedCost
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------- | ------------------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the applied cost.'
      operationId: AppliedCost_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAppliedCostResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /purchasing/appliedCosts:
    get:
      tags:
      - AppliedCost
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the applied cost. |

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the applied cost. |

        | RelatedOrderGuid| The GUID associated to the order of the applied cost. |

        | RelatedSupplierBillGuid | The GUID of the supplier bill of the applied cost.|

        | RelatedApplicationJobGuid | The GUID of the job this applied cost is applied to. |

        | RelatedApplicationRouteVisitGuid | The GUID of the route visit this applied cost is applied to. |

        | RelatedApplicationRouteGuid | The GUID of the route this applied cost is applied to. |

        | RelatedApplicationCostAgreementRouteCostGuid | The GUID of the cost agreement route cost this applied cost is applied to. |

        | RelatedApplicationRentalActionGuid | The GUID of the rental action this applied cost is applied to. |

        | RelatedApplicationRentTermGuid | The GUID of the rent term this applied cost is applied to. |

        | RelatedApplicationWeighingInGuid | The GUID of the weighing in this applied cost is applied to. |

        | RelatedApplicationWeighingOutGuid | The GUID of the weighing out this applied cost is applied to. |

        | RelatedApplicationRouteVisitJobGuid | The GUID of the route visit job this applied cost is applied to. |

        | RelatedApplicationOneOffActionGuid | The GUID of the one off action this applied cost is applied to. |

        | RelatedApplicationJobDetailGuid | The GUID of the job detail this applied cost is applied to. |

        | RelatedApplicationVehicleFuelEventGuid | The GUID of the vehicle fuel event this applied cost is applied to. |

        | RelatedApplicationOneOffCostActionGuid | The GUID of the one off cost action this applied cost is applied to. |

        | RelatedApplicationRouteVisitMissedCollectionGuid | The GUID of the route visit missed collection this applied cost is applied to. |

        | RelatedApplicationDamageContainerIncidentCostGuid | The GUID of the damage container incident cost is applied to. |

        | RelatedApplicationRouteProRataCollectionCostGuid | The GUID of the route pro rata collection cost this applied cost is applied to. |

        | RelatedApplicationInternalPurchaseOrderCostGuid | The GUID of the internal purchase order cost this applied cost is applied to. |

        | RelatedCostAgreementCostGuid | The GUID associated to the cost of the applied cost. |

        | RelatedApplicationVATGuid | The GUID of the VAT of the applied cost. |

        | RelatedApplicationTaxTemplateCollectionGuid | The GUID of the tax template collection of the applied cost. |

        | VATListItem | The GUID and description of the VAT of the applied cost. |

        | TaxTemplateCollectionListItem | The GUID and description of the tax template collection of the applied cost. |

        | ActionListItem | The GUID and description of the action of the applied cost. |

        | ServiceListItem | The GUID and description of the service of the applied cost. |

        | PricingBasisListItem | The GUID and description of the pricing basis of the applied cost. |

        | ContainerListItem | The GUID and description of the container of the applied cost. |

        | Rate | The rate of the applied cost. |

        | CostExVat | The cost excluding VAT of the applied cost. |

        | CostIncVat | The cost including VAT of the applied cost. |

        | CostDate | The cost date of the applied cost in ISO format (YYYY-MM-DD). |

        | IsAdjustment | Is this applied cost an adjustment? |

        | IsApproved | Is this applied cost approved? |

        | IsDisputed | Is this applied cost disputed? |

        | IsSupplierBillConfirmed | Is the supplier bill of this applied cost confirmed? |

        | FilterAccountingPeriodListItem| Used to filter on the accounting period list item GUID.|'
      operationId: AppliedCost_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorAppliedCostResource'
    post:
      tags:
      - AppliedCost
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------- | ------------------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the applied cost.'
      operationId: AppliedCost_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAppliedCostResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorAppliedCostResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAppliedCostResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorAppliedCostResource:
      type: object
      properties:
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierBillGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationCostAgreementRouteCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRentalActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRentTermGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRouteVisitJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationOneOffActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationJobDetailGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationVehicleFuelEventGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationOneOffCostActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRouteVisitMissedCollectionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationDamageContainerIncidentCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationRouteProRataCollectionCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationInternalPurchaseOrderCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationVATGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedApplicationTaxTemplateCollectionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        VATListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TaxTemplateCollectionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PricingBasisListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        FilterAccountingPeriodListItemGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Rate:
          type: number
          format: double
        CostExVat:
          type: number
          format: double
        CostIncVat:
          type: number
          format: double
        CostDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsAdjustment:
          type: boolean
        IsApproved:
          type: boolean
        IsDisputed:
          type: boolean
        IsSupplierBillConfirmed:
          type: boolean
        RelatedCostAgreementCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultEntity_ApiIntegratorAppliedCostResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorAppliedCostResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollection_ApiIntegratorAppliedCostResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAppliedCostResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
