openapi: 3.2.0
info:
  title: AMCS Platform REST Route Visit Job API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteVisitJob
paths:
  /transport/routeVisitJobs/changes:
    get:
      tags:
      - RouteVisitJob
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route visit job.|

        | ActionListItem| The GUID and description associated to the action type.|

        | RelatedRouteVisitGuid| The GUID related to the route visit.|

        | MaterialListItem| The GUID and description associated to the material.|

        | Quantity| The Quantity associated to the route visit job.|

        | Weight| The Weight associated to the route visit job.|

        | JobTimeStamp| The JobTimeStamp associated to the route visit job.|

        | QuantityNotPlannedListItem| The GUID and description associated to the quantity not planned.|

        | QuantityPlanned| The quantity planned associated to the route visit job.|

        | DeferredRevenueAccountingPeriodListItem | The GUID and description associated to the deferred revenue accounting period.|'
      operationId: RouteVisitJob_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorRouteVisitJobResource'
  /transport/routeVisitJobs/{guid}:
    get:
      tags:
      - RouteVisitJob
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route visit job.|

        | ActionListItem| The GUID and description associated to the action type.|

        | RelatedRouteVisitGuid| The GUID related to the route visit.|

        | MaterialListItem| The GUID and description associated to the material.|

        | Quantity| The Quantity associated to the route visit job.|

        | Weight| The Weight associated to the route visit job.|

        | JobTimeStamp| The JobTimeStamp associated to the route visit job.|

        | QuantityNotPlannedListItem| The GUID and description associated to the quantity not planned.|

        | QuantityPlanned| The quantity planned associated to the route visit job.|

        | DeferredRevenueAccountingPeriodListItem | The GUID and description associated to the deferred revenue accounting period.|'
      operationId: RouteVisitJob_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteVisitJobResource'
    put:
      tags:
      - RouteVisitJob
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route visit job.| No |

        | RelatedRouteVisitGuid| The GUID related to the route visit.| Yes |

        | MaterialListItem| The GUID and description associated to the material.| No |

        | ContainerTypeListItem| The GUID and description associated to the container type.| No |

        | Quantity| The Quantity associated to the route visit job.| No |

        | Weight| The Weight associated to the route visit job.| No |

        | JobTimeStamp| The JobTimeStamp associated to the route visit job.| No |

        | QuantityNotPlannedListItem| The GUID and description associated to the quantity not planned.| No |

        | QuantityPlanned| The quantity planned associated to the route visit job.| No |

        | DeferredRevenueAccountingPeriodListItem | The GUID and description associated to the deferred revenue accounting period. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If the DeferredRevenueAccountingPeriodListItem.Guid belongs to a closed accounting period | Accounting period is closed for this RouteVisitJob |

        | If an update is made to a RouteVisitJob that is already exported | A record that is already included in GL export cannot be edited |'
      operationId: RouteVisitJob_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteVisitJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/routeVisitJobs:
    get:
      tags:
      - RouteVisitJob
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route visit job.|

        | ActionListItem| The GUID and description associated to the action type.|

        | RelatedRouteVisitGuid| The GUID related to the route visit.|

        | MaterialListItem| The GUID and description associated to the material.|

        | Quantity| The Quantity associated to the route visit job.|

        | Weight| The Weight associated to the route visit job.|

        | JobTimeStamp| The JobTimeStamp associated to the route visit job.|

        | QuantityNotPlannedListItem| The GUID and description associated to the quantity not planned.|

        | QuantityPlanned| The quantity planned associated to the route visit job.|

        | DeferredRevenueAccountingPeriodListItem | The GUID and description associated to the deferred revenue accounting period.|'
      operationId: RouteVisitJob_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteVisitJobResource'
    post:
      tags:
      - RouteVisitJob
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route visit job.| No |

        | RelatedRouteVisitGuid| The GUID related to the route visit.| Yes |

        | MaterialListItem| The GUID and description associated to the material.| No |

        | ContainerTypeListItem| The GUID and description associated to the container type.| No |

        | Quantity| The Quantity associated to the route visit job.| No |

        | Weight| The Weight associated to the route visit job.| No |

        | JobTimeStamp| The JobTimeStamp associated to the route visit job.| No |

        | QuantityNotPlannedListItem| The GUID and description associated to the quantity not planned.| No |

        | QuantityPlanned| The quantity planned associated to the route visit job.| No |

        | DeferredRevenueAccountingPeriodListItem | The GUID and description associated to the deferred revenue accounting period. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If the DeferredRevenueAccountingPeriodListItem.Guid belongs to a closed accounting period | Accounting period is closed for this RouteVisitJob |'
      operationId: RouteVisitJob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteVisitJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorRouteVisitJobResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitJobResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorRouteVisitJobResource:
      type: object
      properties:
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Quantity:
          type: number
          format: double
        Weight:
          type: number
          format: double
        JobTimeStamp:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        QuantityNotPlannedListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        QuantityPlanned:
          type: number
          format: double
        DeferredRevenueAccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceChanges_ApiIntegratorRouteVisitJobResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitJobResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorRouteVisitJobResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteVisitJobResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
