openapi: 3.2.0
info:
  title: AMCS Platform REST Route Template API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteTemplate
paths:
  /transport/routeTemplates/changes:
    get:
      tags:
      - RouteTemplate
      summary: Retrieve changes
      description: '| Property| Description|

        | --------------------------------------------- | ----------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | AcceptedMaterials| An array of accepted materials.|

        | AcceptedMaterials[0].Guid| The GUID of accepted material.|

        | AcceptedMaterials[0].IsDeleted| Whether accepted material is deleted.|

        | AcceptedMaterials[0].MaterialClassListItem| The GUID and Description of material class|

        | ArchiveMissedRouteVisitReasonListItem| The GUID and description of the archive missed route visit reason associated to the route template.'
      operationId: RouteTemplate_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorRouteTemplateResource'
  /transport/routeTemplates/{guid}:
    get:
      tags:
      - RouteTemplate
      summary: Find with GUID
      description: '| Property| Description|

        | --------------------------------------------- | ----------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | AcceptedMaterials| An array of accepted materials.|

        | AcceptedMaterials[0].Guid| The GUID of accepted material.|

        | AcceptedMaterials[0].IsDeleted| Whether accepted material is deleted.|

        | AcceptedMaterials[0].MaterialClassListItem| The GUID and Description of material class|

        | ArchiveMissedRouteVisitReasonListItem| The GUID and description of the archive missed route visit reason associated to the route template.'
      operationId: RouteTemplate_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteTemplateResource'
    put:
      tags:
      - RouteTemplate
      summary: Partial update
      description: '| Property| Description| Required |

        | --------------------------------------------- | ----------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route.| No |

        | AcceptedMaterials| An array of accepted materials.| No |

        | AcceptedMaterials.Guid| Guid of accepted material.| No |

        | AcceptedMaterials.IsDeleted| Whether the accepted material is deleted.| Yes |

        | AcceptedMaterials.MaterialClassItem| Guid and description of material class.| Yes |

        | ArchiveMissedRouteVisitReasonListItem| The GUID and description of the archive missed route visit reason associated to the route template.'
      operationId: RouteTemplate_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteTemplateResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/routeTemplates:
    get:
      tags:
      - RouteTemplate
      summary: Find with Filters
      description: '| Property| Description|

        | --------------------------------------------- | ----------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | AcceptedMaterials| An array of accepted materials.|

        | AcceptedMaterials[0].Guid| The GUID of accepted material.|

        | AcceptedMaterials[0].IsDeleted| Whether accepted material is deleted.|

        | AcceptedMaterials[0].MaterialClassListItem| The GUID and Description of material class|

        | ArchiveMissedRouteVisitReasonListItem| The GUID and description of the archive missed route visit reason associated to the route template.'
      operationId: RouteTemplate_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteTemplateResource'
    post:
      tags:
      - RouteTemplate
      summary: Create or update
      description: '| Property| Description| Required |

        | --------------------------------------------- | ----------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route.| No |

        | AcceptedMaterials| An array of accepted materials.| No |

        | AcceptedMaterials.Guid| Guid of accepted material.| No |

        | AcceptedMaterials.IsDeleted| Whether the accepted material is deleted.| Yes |

        | AcceptedMaterials.MaterialClassItem| Guid and description of material class.| Yes |

        | ArchiveMissedRouteVisitReasonListItem| The GUID and description of the archive missed route visit reason associated to the route template.'
      operationId: RouteTemplate_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteTemplateResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorRouteTemplateResource:
      type: object
      properties:
        AcceptedMaterials:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteTemplateAcceptedMaterialsResource'
        ArchiveMissedRouteVisitReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ArchiveRouteVisitDays:
          type: integer
          format: int32
        AreaOfOriginListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AuditDays:
          type: integer
          format: int32
        AuditStartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        AutoCompleteVisits:
          type: boolean
        AutoSend:
          type: boolean
        BuildDaysBeforeNextPlannedDate:
          type: integer
          format: int32
        BuildSimpleRouteInstance:
          type: boolean
        CanRunOnSchedule:
          type: boolean
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOccurrenceInMonthListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DaysBeforeExpiry:
          type: integer
          format: int32
        DefaultTipMaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Description:
          type: string
        DiffReasonRequired:
          type: boolean
        DoubleDumpTimeInSeconds:
          type: integer
          format: int32
        ExcludeMunicipalCustomerFromHandheld:
          type: boolean
        ExcludeMunicipalCustomerFromRouteConfirmation:
          type: boolean
        ExcludeMunicipalCustomerFromRouteWorksheet:
          type: boolean
        ForceWeightsOnRouteCompletion:
          type: boolean
        GPSMatchingEnabled:
          type: boolean
        GpsMatchingMaxRange:
          type: number
          format: float
        GpsmatchingMinProximity:
          type: number
          format: float
        GuidedNavigationPassword:
          type: string
        GuidedNavigationUsername:
          type: string
        GuideVersion:
          type: string
          format: localDate
          example: '2000-01-01'
        HideTipLocationMapMarkers:
          type: boolean
        IsAutoCompleteOnBuild:
          type: boolean
        IsDeleted:
          type: boolean
        IsNightRoute:
          type: boolean
        IsProximityOrderedVisits:
          type: boolean
        IsRouteNavigationEnabled:
          type: boolean
        IsRouteStatisticGenerationOn:
          type: boolean
        IsSubContracted:
          type: boolean
        MarketListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MissedReasonRequired:
          type: boolean
        MobileForceManualLiftMatching:
          type: boolean
        MobileSettingsProfileListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        NextPlannedDate:
          type: string
          format: localDate
          example: '2000-01-01'
        NoMatchAlertThreshold:
          type: integer
          format: int32
        NoTagStopEnabled:
          type: boolean
        Notes:
          type: string
        PickupIntervalListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PlannedEndTime:
          type: string
          format: localDate
          example: '2000-01-01'
        PlannedStartTime:
          type: string
          format: localDate
          example: '2000-01-01'
        PlannedEndTimeV2:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        PlannedStartTimeV2:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        PrintExceptionsOnly:
          type: boolean
        PromptForLiftsOnVisitCompletion:
          type: boolean
        RelatedCompanyOutletGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedMasterRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteGroupGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteTransportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleDefaultExternalGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleDefaultGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserDefaultDriverGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RFIDAlertThreshold:
          type: integer
          format: int32
        RouteManagementTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RouteNo:
          type: integer
          format: int32
        RouteVisitProximityRadius:
          type: integer
          format: int32
        StoplistPollingRate:
          type: integer
          format: int32
        SupplierEmailAddress:
          type: string
        UseOrderSupplierForCostGeneration:
          type: boolean
        UseSystemGPSMatchingSettings:
          type: boolean
        VehicleTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ZeroWeightAlertThreshold:
          type: integer
          format: int32
        TeamBoardListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsManagedExternally:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorRouteTemplateResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteTemplateResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorRouteTemplateAcceptedMaterialsResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        MaterialClassListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorRouteTemplateResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteTemplateResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorRouteTemplateResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteTemplateResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
