openapi: 3.2.0
info:
  title: AMCS Platform REST Action API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Action
paths:
  /lists/actions/{guid}:
    get:
      tags:
      - Action
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the action |

        | Description | The description of the action |

        | AnalysisCode | The analysis code of the action |

        | IsDeleted | Whether the action is deleted |

        | ShortAction | The short code of the action |

        | EquivalentHaul | The equivalent haul of the action |

        | ActionTypes| The array of ActionType properties associated to the action |

        | ActionTypes[0].Guid | The GUID associated to the ActionTypeAction |

        | ActionTypes[0].ActionTypeListItem | The GUID and description of the ActionType |'
      operationId: Action_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorActionResource'
  /lists/actions:
    get:
      tags:
      - Action
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the action |

        | Description | The description of the action |

        | AnalysisCode | The analysis code of the action |

        | IsDeleted | Whether the action is deleted |

        | ShortAction | The short code of the action |

        | EquivalentHaul | The equivalent haul of the action |

        | ActionTypes| The array of ActionType properties associated to the action |

        | ActionTypes[0].Guid | The GUID associated to the ActionTypeAction |

        | ActionTypes[0].ActionTypeListItem | The GUID and description of the ActionType |'
      operationId: Action_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorActionResource'
components:
  schemas:
    ApiResourceResultCollection_ApiIntegratorActionResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorActionResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorActionResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorActionResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorActionTypesResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorActionResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        AnalysisCode:
          type: string
        ShortAction:
          type: string
        EquivalentHaul:
          type: number
          format: double
        ActionTypes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorActionTypesResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
