openapi: 3.2.0
info:
  title: AMCS Platform REST GL Journal API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: GLJournal
paths:
  /accounting/glJournals/changes:
    get:
      tags:
      - GLJournal
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the GLJournalBatch.'
      operationId: GLJournal_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorGLJournalResource'
  /accounting/glJournals/{guid}:
    get:
      tags:
      - GLJournal
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the GLJournalBatch.'
      operationId: GLJournal_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorGLJournalResource'
  /accounting/glJournals:
    get:
      tags:
      - GLJournal
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the GLJournalBatch.'
      operationId: GLJournal_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorGLJournalResource'
    post:
      tags:
      - GLJournal
      summary: Create or update
      description: '| Property | Description | Required|

        | --------------------------------------------------------- | ----------------------------------------------------------------------------------------- | ----------------- |

        | GUID | The GUID associated to the GLJournalBatch.'
      operationId: GLJournal_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorGLJournalResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorGLJournalLineExchangeRateResource:
      type: object
      properties:
        RelatedExchangeRateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Rate:
          type: number
          format: double
        ExchangeDate:
          type: string
          format: localDate
          example: '2000-01-01'
        BaseCurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorGLJournalLineReferenceResource:
      type: object
      properties:
        Context:
          type: string
        Reference1:
          type: string
        Reference2:
          type: string
        Reference3:
          type: string
        Reference4:
          type: string
        Reference5:
          type: string
        Reference6:
          type: string
        Reference7:
          type: string
        Reference8:
          type: string
        Reference9:
          type: string
        Reference10:
          type: string
        Reference11:
          type: string
        Reference12:
          type: string
        Reference13:
          type: string
        Reference14:
          type: string
        Reference15:
          type: string
        Reference16:
          type: string
        Reference17:
          type: string
        Reference18:
          type: string
        Reference19:
          type: string
        Reference20:
          type: string
        Reference21:
          type: string
        Reference22:
          type: string
        Reference23:
          type: string
        OrderNo:
          type: string
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorGLJournalLineAnalysisCodesResource:
      type: object
      properties:
        Element1:
          type: string
        Element2:
          type: string
        Element3:
          type: string
        Element4:
          type: string
        Element5:
          type: string
        Element6:
          type: string
        Element7:
          type: string
        Element8:
          type: string
        Element9:
          type: string
        Element10:
          type: string
        Site:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorGLJournalLineTaxResource:
      type: object
      properties:
        Code:
          type: string
        Rate:
          type: number
          format: double
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultCollection_ApiIntegratorGLJournalResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLJournalResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorGLJournalResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorGLJournalResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorGLJournalHeaderResource:
      type: object
      properties:
        JournalHeaderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        HeaderName:
          type: string
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Source:
          type: string
        BaseCurrencyIntegrationCode:
          type: string
        CurrencyIntegrationCode:
          type: string
        TransactionDate:
          type: string
          format: localDate
          example: '2000-01-01'
        GLDate:
          type: string
          format: localDate
          example: '2000-01-01'
        JournalType:
          type: string
        JournalStatus:
          type: string
        TotalDr:
          type: number
          format: double
        TotalCr:
          type: number
          format: double
        RelatedTransactionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CreationDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        UpdatedDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorGLJournalLineResource:
      type: object
      properties:
        RelatedJournalHeaderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        JournalLineNo:
          type: integer
          format: int32
        TransactionFromDate:
          type: string
          format: localDate
          example: '2000-01-01'
        TransactionToDate:
          type: string
          format: localDate
          example: '2000-01-01'
        LineType:
          type: string
        LineDescription:
          type: string
        JnlDr:
          type: number
          format: double
        JnlCr:
          type: number
          format: double
        BaseDr:
          type: number
          format: double
        BaseCr:
          type: number
          format: double
        Category:
          type: string
        CreationDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        UpdatedDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        ExchangeRate:
          $ref: '#/components/schemas/ApiIntegratorGLJournalLineExchangeRateResource'
        Tax:
          $ref: '#/components/schemas/ApiIntegratorGLJournalLineTaxResource'
        AnalysisCodes:
          $ref: '#/components/schemas/ApiIntegratorGLJournalLineAnalysisCodesResource'
        Reference:
          $ref: '#/components/schemas/ApiIntegratorGLJournalLineReferenceResource'
        SummaryAccountCode:
          type: string
    ApiResourceChanges_ApiIntegratorGLJournalResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLJournalResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorGLJournalResource:
      type: object
      properties:
        BatchType:
          type: string
        BatchName:
          type: string
        BatchStatus:
          type: string
        BatchApprovalStatus:
          type: string
        PostingDate:
          type: string
          format: localDate
          example: '2000-01-01'
        PostedDate:
          type: string
          format: localDate
          example: '2000-01-01'
        AccountingPeriodCode:
          type: string
        AccountingPeriodGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedGLExportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedGeneralLedgerExportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserCreatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserUpdatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CreationDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        UpdatedDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        JournalHeaders:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLJournalHeaderResource'
        JournalLines:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLJournalLineResource'
        RelatedTransactionGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
