openapi: 3.2.0
info:
  title: AMCS Platform REST Container API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Container
paths:
  /directory/containers/changes:
    get:
      tags:
      - Container
      summary: Retrieve changes
      description: '| Property | Description |

        | ----------------------------------- | ---------------------------------------------------------------- |

        | GUID | The GUID associated to the container. |

        | IsDeleted | Whether the container is deleted |

        | IsCommercial | Is this container for commercial use? |

        | IsStoplisted | Is this container stop listed? |

        | TipLocationListItem | The GUID and description of the tip location this container is associated to. |

        | ContainerStatusListItem | The GUID and description of the container status this container is associated to. |

        | ContainerTypeListItem | The GUID and description of the container type this container is associated to. |

        | LastChangeReasonListItem | The GUID and description of the reason this container was last changed. |

        | CompanyOutletListItem | The GUID and name of the company outlet this container is associated to. |

        | Manufacture | The container''s manufacture information. |

        | Manufacture.DateOfDelivery | The container''s date of delivery in ISO format (YYYY-MM-DD). |

        | Manufacture.DateOfManufacture | The container''s manufacture date in ISO format (YYYY-MM-DD). |

        | Manufacture.WarrantyEndDate | The container''s warranty end date in ISO format (YYYY-MM-DD). |

        | Manufacture.RelatedSupplierSiteGuid | The GUID of the supplier site related to the manufacturer of the container.|

        | Manufacture.RelatedAppliedCostGuid | The GUID of the applied cost related to the purchase of the container.|

        | Geo | The geographical associated to the container. |

        | Geo.Latitude | The geographical latitude associated to the container. |

        | Geo.Longitude | The geographical longitude associated to the container. |

        | Note | The container''s note. |

        | SerialNo | The container''s serial number. |

        | Tag | The container''s tag. |'
      operationId: Container_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorContainerResource'
  /directory/containers/{guid}:
    get:
      tags:
      - Container
      summary: Find with GUID
      description: '| Property | Description |

        | ----------------------------------- | ---------------------------------------------------------------- |

        | GUID | The GUID associated to the container. |

        | IsDeleted | Whether the container is deleted |

        | IsCommercial | Is this container for commercial use? |

        | IsStoplisted | Is this container stop listed? |

        | TipLocationListItem | The GUID and description of the tip location this container is associated to. |

        | ContainerStatusListItem | The GUID and description of the container status this container is associated to. |

        | ContainerTypeListItem | The GUID and description of the container type this container is associated to. |

        | LastChangeReasonListItem | The GUID and description of the reason this container was last changed. |

        | CompanyOutletListItem | The GUID and name of the company outlet this container is associated to. |

        | Manufacture | The container''s manufacture information. |

        | Manufacture.DateOfDelivery | The container''s date of delivery in ISO format (YYYY-MM-DD). |

        | Manufacture.DateOfManufacture | The container''s manufacture date in ISO format (YYYY-MM-DD). |

        | Manufacture.WarrantyEndDate | The container''s warranty end date in ISO format (YYYY-MM-DD). |

        | Manufacture.RelatedSupplierSiteGuid | The GUID of the supplier site related to the manufacturer of the container.|

        | Manufacture.RelatedAppliedCostGuid | The GUID of the applied cost related to the purchase of the container.|

        | Geo | The geographical associated to the container. |

        | Geo.Latitude | The geographical latitude associated to the container. |

        | Geo.Longitude | The geographical longitude associated to the container. |

        | Note | The container''s note. |

        | SerialNo | The container''s serial number. |

        | Tag | The container''s tag. |'
      operationId: Container_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorContainerResource'
    put:
      tags:
      - Container
      summary: Partial update
      description: '| Property | Description | Required |

        | ----------------------------------- | ---------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the container. | No |

        | IsDeleted | Whether the container is deleted | Yes |

        | IsCommercial | Is this container for commercial use? | Yes |

        | IsStoplisted | Is this container stop listed? | Yes |

        | TipLocationListItem | The GUID and description of the tip location this container is associated to. | No |

        | ContainerStatusListItem | The GUID and description of the container status this container is associated to. | No |

        | ContainerTypeListItem | The GUID and description of the container type this container is associated to. | Yes |

        | LastChangeReasonListItem | The GUID and description of the reason this container was last changed. | No |

        | CompanyOutletListItem | The GUID and name of the company outlet this container is associated to. | No |

        | Manufacture | The container''s manufacture information. | No |

        | Manufacture.DateOfDelivery | The container''s date of delivery in ISO format (YYYY-MM-DD). | No |

        | Manufacture.DateOfManufacture | The container''s manufacture date in ISO format (YYYY-MM-DD). | No |

        | Manufacture.WarrantyEndDate | The container''s warranty end date in ISO format (YYYY-MM-DD). | No |

        | Manufacture.RelatedSupplierSiteGuid | The GUID of the supplier site related to the manufacturer of the container.| No |

        | Manufacture.RelatedAppliedCostGuid | The GUID of the applied cost related to the purchase of the container.| No |

        | Geo | The geographical associated to the container. | No |

        | Geo.Latitude | The geographical latitude associated to the container. | No |

        | Geo.Longitude | The geographical longitude associated to the container. | No |

        | Note | The container''s note. | No |

        | SerialNo | The container''s serial number. | No |

        | Tag | The container''s tag. | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Tag is not unique | The container must be unique per tag. |

        | If IsDeleted is true |IsDeleted is TRUE. Could not process the request. Containers can not be deleted via the REST API. |

        | If IsDeleted is null or not provided |The mandatory property IsDeleted has a null value. The request could not be processed. Supply a value for the IsDeleted property of the submitted resource. |

        | If the TipLocationListItem.Guid belongs to a deleted TipLocation | The provided TipLocationListItem is deleted. Could not update the resource. Please check the relevant list end point for the available options. |'
      operationId: Container_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContainerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/containers:
    get:
      tags:
      - Container
      summary: Find with Filters
      description: '| Property | Description |

        | ----------------------------------- | ---------------------------------------------------------------- |

        | GUID | The GUID associated to the container. |

        | IsDeleted | Whether the container is deleted |

        | IsCommercial | Is this container for commercial use? |

        | IsStoplisted | Is this container stop listed? |

        | TipLocationListItem | The GUID and description of the tip location this container is associated to. |

        | ContainerStatusListItem | The GUID and description of the container status this container is associated to. |

        | ContainerTypeListItem | The GUID and description of the container type this container is associated to. |

        | LastChangeReasonListItem | The GUID and description of the reason this container was last changed. |

        | CompanyOutletListItem | The GUID and name of the company outlet this container is associated to. |

        | Manufacture | The container''s manufacture information. |

        | Manufacture.DateOfDelivery | The container''s date of delivery in ISO format (YYYY-MM-DD). |

        | Manufacture.DateOfManufacture | The container''s manufacture date in ISO format (YYYY-MM-DD). |

        | Manufacture.WarrantyEndDate | The container''s warranty end date in ISO format (YYYY-MM-DD). |

        | Manufacture.RelatedSupplierSiteGuid | The GUID of the supplier site related to the manufacturer of the container.|

        | Manufacture.RelatedAppliedCostGuid | The GUID of the applied cost related to the purchase of the container.|

        | Geo | The geographical associated to the container. |

        | Geo.Latitude | The geographical latitude associated to the container. |

        | Geo.Longitude | The geographical longitude associated to the container. |

        | Note | The container''s note. |

        | SerialNo | The container''s serial number. |

        | Tag | The container''s tag. |'
      operationId: Container_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorContainerResource'
    post:
      tags:
      - Container
      summary: Create or update
      description: '| Property | Description | Required |

        | ----------------------------------- | ---------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the container. | No |

        | IsDeleted | Whether the container is deleted | Yes |

        | IsCommercial | Is this container for commercial use? | Yes |

        | IsStoplisted | Is this container stop listed? | Yes |

        | TipLocationListItem | The GUID and description of the tip location this container is associated to. | No |

        | ContainerStatusListItem | The GUID and description of the container status this container is associated to. | No |

        | ContainerTypeListItem | The GUID and description of the container type this container is associated to. | Yes |

        | LastChangeReasonListItem | The GUID and description of the reason this container was last changed. | No |

        | CompanyOutletListItem | The GUID and name of the company outlet this container is associated to. | No |

        | Manufacture | The container''s manufacture information. | No |

        | Manufacture.DateOfDelivery | The container''s date of delivery in ISO format (YYYY-MM-DD). | No |

        | Manufacture.DateOfManufacture | The container''s manufacture date in ISO format (YYYY-MM-DD). | No |

        | Manufacture.WarrantyEndDate | The container''s warranty end date in ISO format (YYYY-MM-DD). | No |

        | Manufacture.RelatedSupplierSiteGuid | The GUID of the supplier site related to the manufacturer of the container.| No |

        | Manufacture.RelatedAppliedCostGuid | The GUID of the applied cost related to the purchase of the container.| No |

        | Geo | The geographical associated to the container. | No |

        | Geo.Latitude | The geographical latitude associated to the container. | No |

        | Geo.Longitude | The geographical longitude associated to the container. | No |

        | Note | The container''s note. | No |

        | SerialNo | The container''s serial number. | No |

        | Tag | The container''s tag. | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Tag is not unique | The container must be unique per tag. |

        | If IsDeleted is true |IsDeleted is TRUE. Could not process the request. Containers can not be deleted via the REST API. |

        | If IsDeleted is null or not provided |The mandatory property IsDeleted has a null value. The request could not be processed. Supply a value for the IsDeleted property of the submitted resource. |

        | If the TipLocationListItem.Guid belongs to a deleted TipLocation | The provided TipLocationListItem is deleted. Could not update the resource. Please check the relevant list end point for the available options. |'
      operationId: Container_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContainerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorContainerGeoResource:
      type: object
      properties:
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorContainerManufactureResource:
      type: object
      properties:
        DateOfDelivery:
          type: string
          format: localDate
          example: '2000-01-01'
        DateOfManufacture:
          type: string
          format: localDate
          example: '2000-01-01'
        WarrantyEndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedAppliedCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorContainerResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorContainerResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorContainerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContainerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorContainerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContainerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorContainerResource:
      type: object
      properties:
        IsDeleted:
          type: boolean
        IsCommercial:
          type: boolean
        IsStoplisted:
          type: boolean
        TipLocationListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        LastChangeReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Manufacture:
          $ref: '#/components/schemas/ApiIntegratorContainerManufactureResource'
        Geo:
          $ref: '#/components/schemas/ApiIntegratorContainerGeoResource'
        Note:
          type: string
        SerialNo:
          type: string
        Tag:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
