openapi: 3.2.0
info:
  title: AMCS Platform REST Customer API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Customer
paths:
  /directory/customers/changes:
    get:
      tags:
      - Customer
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customer. |

        | Name | The customer''s name. |

        | Reference | An alternative name used for the customer. |

        | ARAccountCode | The account code used for Accounts Receivable. |

        | FederalId | The customer''s local authority / government /tax reference. |

        | IsInternal | Whether the customer is an internal customer. |

        | IsResidential | Whether the customer is a residential customer (as opposed to a commercial). |

        | ReceiveServiceUpdatesByEmail | Customer receives service updates by email. |

        | ReceiveServiceUpdatesByText | Customer receives service updates by text. |

        | ReceiveMarketingUpdatesByEmail | Customer receives marketing updates by email. |

        | ReceiveMarketingUpdatesByText | Customer receives marketing updates by text. |

        | CompanyListItem | The GUID and name of the company this customer is associated to. |

        | CustomerStateListItem | The GUID and status of the customer (eg. Active, Suspended, etc.) |

        | CustomerStateChangeReasonListItem | The GUID and reason of the latest state change . |

        | CustomerTypeListItem | The GUID and type of customer (eg. Residential, Commerical, Municipal). |

        | CustomerCategoryListItem | The GUID and category of the customer (various values). |

        | CustomerGroupListItem | The GUID and group of the customer (various values). |

        | CurrencyListItem | The GUID and currency of the customer (various values). |

        | RelatedCustomerStateChangeRequests| The array of related customer state change requests|

        | RelatedCustomerStateChangeRequests[0].EffectiveDate| The effective date associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedCustomerStateGuid| The related customer state guid associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedChangeReasonGuid| The related customer change reason guid associated to the customer state change request|

        | RelatedBlobHashes| The array of related external documents to the customer. |

        | RelatedBlobHashes[0].Hash| The hash of the external document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs| The array of related report documents to the account customer. |

        | RelatedReportBlobs[0].Guid| The Guid associated to the customer report.|

        | RelatedReportBlobs[0].Hash| The hash of the report document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs[0].DocumentDescription| The description associated to the customer report.|

        | RelatedReportBlobs[0].DocumentName| The document name associated to the customer report.|

        | RelatedReportBlobs[0].IsForAllSites| Whether the customer report is for all sites of related customer.|

        | RelatedReportBlobs[0].RelatedSites| The list of related customer report sites.|

        | RelatedReportBlobs[0].RelatedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites| The list of excluded related customer report sites.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedHQLocationGuid| The guid associated to the customer head quarter location. |'
      operationId: Customer_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorCustomerResource'
  /directory/customers/{guid}:
    get:
      tags:
      - Customer
      summary: Find with GUID
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customer. |

        | Name | The customer''s name. |

        | Reference | An alternative name used for the customer. |

        | ARAccountCode | The account code used for Accounts Receivable. |

        | FederalId | The customer''s local authority / government /tax reference. |

        | IsInternal | Whether the customer is an internal customer. |

        | IsResidential | Whether the customer is a residential customer (as opposed to a commercial). |

        | ReceiveServiceUpdatesByEmail | Customer receives service updates by email. |

        | ReceiveServiceUpdatesByText | Customer receives service updates by text. |

        | ReceiveMarketingUpdatesByEmail | Customer receives marketing updates by email. |

        | ReceiveMarketingUpdatesByText | Customer receives marketing updates by text. |

        | CompanyListItem | The GUID and name of the company this customer is associated to. |

        | CustomerStateListItem | The GUID and status of the customer (eg. Active, Suspended, etc.) |

        | CustomerStateChangeReasonListItem | The GUID and reason of the latest state change . |

        | CustomerTypeListItem | The GUID and type of customer (eg. Residential, Commerical, Municipal). |

        | CustomerCategoryListItem | The GUID and category of the customer (various values). |

        | CustomerGroupListItem | The GUID and group of the customer (various values). |

        | CurrencyListItem | The GUID and currency of the customer (various values). |

        | RelatedCustomerStateChangeRequests| The array of related customer state change requests|

        | RelatedCustomerStateChangeRequests[0].EffectiveDate| The effective date associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedCustomerStateGuid| The related customer state guid associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedChangeReasonGuid| The related customer change reason guid associated to the customer state change request|

        | RelatedBlobHashes| The array of related external documents to the customer. |

        | RelatedBlobHashes[0].Hash| The hash of the external document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs| The array of related report documents to the account customer. |

        | RelatedReportBlobs[0].Guid| The Guid associated to the customer report.|

        | RelatedReportBlobs[0].Hash| The hash of the report document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs[0].DocumentDescription| The description associated to the customer report.|

        | RelatedReportBlobs[0].DocumentName| The document name associated to the customer report.|

        | RelatedReportBlobs[0].IsForAllSites| Whether the customer report is for all sites of related customer.|

        | RelatedReportBlobs[0].RelatedSites| The list of related customer report sites.|

        | RelatedReportBlobs[0].RelatedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites| The list of excluded related customer report sites.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedHQLocationGuid| The guid associated to the customer head quarter location. |'
      operationId: Customer_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCustomerResource'
    put:
      tags:
      - Customer
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer.'
      operationId: Customer_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCustomerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/customers:
    get:
      tags:
      - Customer
      summary: Find with Filters
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customer. |

        | Name | The customer''s name. |

        | Reference | An alternative name used for the customer. |

        | ARAccountCode | The account code used for Accounts Receivable. |

        | FederalId | The customer''s local authority / government /tax reference. |

        | IsInternal | Whether the customer is an internal customer. |

        | IsResidential | Whether the customer is a residential customer (as opposed to a commercial). |

        | ReceiveServiceUpdatesByEmail | Customer receives service updates by email. |

        | ReceiveServiceUpdatesByText | Customer receives service updates by text. |

        | ReceiveMarketingUpdatesByEmail | Customer receives marketing updates by email. |

        | ReceiveMarketingUpdatesByText | Customer receives marketing updates by text. |

        | CompanyListItem | The GUID and name of the company this customer is associated to. |

        | CustomerStateListItem | The GUID and status of the customer (eg. Active, Suspended, etc.) |

        | CustomerStateChangeReasonListItem | The GUID and reason of the latest state change . |

        | CustomerTypeListItem | The GUID and type of customer (eg. Residential, Commerical, Municipal). |

        | CustomerCategoryListItem | The GUID and category of the customer (various values). |

        | CustomerGroupListItem | The GUID and group of the customer (various values). |

        | CurrencyListItem | The GUID and currency of the customer (various values). |

        | RelatedCustomerStateChangeRequests| The array of related customer state change requests|

        | RelatedCustomerStateChangeRequests[0].EffectiveDate| The effective date associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedCustomerStateGuid| The related customer state guid associated to the customer state change request|

        | RelatedCustomerStateChangeRequests[0].RelatedChangeReasonGuid| The related customer change reason guid associated to the customer state change request|

        | RelatedBlobHashes| The array of related external documents to the customer. |

        | RelatedBlobHashes[0].Hash| The hash of the external document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs| The array of related report documents to the account customer. |

        | RelatedReportBlobs[0].Guid| The Guid associated to the customer report.|

        | RelatedReportBlobs[0].Hash| The hash of the report document blob to be used against the /blob endpoint. Files are provided as an octet stream which will need to be converted. |

        | RelatedReportBlobs[0].DocumentDescription| The description associated to the customer report.|

        | RelatedReportBlobs[0].DocumentName| The document name associated to the customer report.|

        | RelatedReportBlobs[0].IsForAllSites| Whether the customer report is for all sites of related customer.|

        | RelatedReportBlobs[0].RelatedSites| The list of related customer report sites.|

        | RelatedReportBlobs[0].RelatedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites| The list of excluded related customer report sites.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].Guid| The guid associated to the customer report site.|

        | RelatedReportBlobs[0].RelatedExcludedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.|

        | RelatedHQLocationGuid| The guid associated to the customer head quarter location. |'
      operationId: Customer_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCustomerResource'
    post:
      tags:
      - Customer
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer.'
      operationId: Customer_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCustomerResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCustomerBlobHashesResource:
      type: object
      properties:
        Hash:
          type: string
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorCustomerReportRelatedSiteResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorCustomerResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCustomerResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorCustomerResource:
      type: object
      properties:
        Name:
          type: string
        Reference:
          type: string
        ARAccountCode:
          type: string
        FederalId:
          type: string
        IsInternal:
          type: boolean
        ReceiveServiceUpdatesByEmail:
          type: boolean
        ReceiveServiceUpdatesByText:
          type: boolean
        ReceiveMarketingUpdatesByEmail:
          type: boolean
        ReceiveMarketingUpdatesByText:
          type: boolean
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerStateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerStateChangeReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerCategoryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerGroupListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerBlobHashesResource'
        RelatedReportBlobs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportBlobHashesResource'
        RelatedCustomerStateChangeRequests:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerStateChangeRequestResource'
        RelatedCustomerStateChangeRequest:
          $ref: '#/components/schemas/ApiIntegratorCustomerStateChangeRequestResource'
        IsResidential:
          type: boolean
        AutoArAccountCode:
          $ref: '#/components/schemas/ApiIntegratorAutoArAccountCodeResource'
        HQLocation:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCustomerStateChangeRequestResource:
      type: object
      properties:
        EffectiveDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedCustomerStateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedChangeReasonGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAutoArAccountCodeResource:
      type: object
      properties:
        CompanyOutletGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCustomerReportBlobHashesResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DocumentDescription:
          type: string
        DocumentName:
          type: string
        Hash:
          type: string
        IsForAllSites:
          type: boolean
        RelatedSites:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportRelatedSiteResource'
        RelatedExcludedSites:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportRelatedSiteResource'
    ApiResourceResultCollection_ApiIntegratorCustomerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceChanges_ApiIntegratorCustomerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
