openapi: 3.2.0
info:
  title: AMCS Platform REST Location API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Location
paths:
  /directory/locations/changes:
    get:
      tags:
      - Location
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the location. |

        | Description | The description associated to the location. |

        | TimeZone | The TimeZone associated to the location. |

        | LegalName | The LegalName associated to the location. |

        | Directions | The Directions associated to the location. |

        | UniqueReference | The UniqueReference associated to the location. |

        | Acreage | The Acreage associated to the location. |

        | IsDeleted | Whether the location is deleted. |

        | Address | The Address object associated to the location. |

        | Address.HouseNumber | The HouseNumber associated address object of the location. |

        | Address.Address1 | The Address1 associated to the address object of the location. |

        | Address.Address2 | The Address2 associated to the address object of the location. |

        | Address.Address3 | The Address3 associated to the address object of the location. |

        | Address.Address4 | The Address4 associated to the address object of the location. |

        | Address.Address5 | The Address5 associated to the address object of the location. |

        | Address.Address6 | The Address6 associated to the address object of the location. |

        | Address.Address7 | The Address7 associated to the address object of the location. |

        | Address.Address8 | The Address8 associated to the address object of the location. |

        | Address.Address9 | The Address9 associated to the address object of the location. |

        | Address.Postcode | The Postcode associated to the address object of the location. |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location. |

        | Address.RegionCodeListItem | The GUID and region code associated to the address object of the location. |

        | Address.ContactMethods | The ContactMethods object associated to the address object of the location. |

        | Address.ContactMethods.TelNo | The telephone number object associated to the ContactMethods object of the address object of the location. |

        | Address.ContactMethods.FaxNo | The fax number object associated to the ContactMethods object of the address object of the location. |

        | Geo| The Geo object associated to the location. |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location. |

        | Geo.ParcelBoundaryListItem | The GUID and description of the parcel boundary associated to the Geo object of the location. |

        | Geo.Location| The location object associated to the Geo object of the location. |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location. |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location. |

        | Geo.Latitude| The latitude associated to the Geo object of the location. |

        | Geo.Longitude| The longitude associated to the Geo object of the location. |'
      operationId: Location_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorLocationResource'
  /directory/locations/{guid}:
    get:
      tags:
      - Location
      summary: Find with GUID
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the location. |

        | Description | The description associated to the location. |

        | TimeZone | The TimeZone associated to the location. |

        | LegalName | The LegalName associated to the location. |

        | Directions | The Directions associated to the location. |

        | UniqueReference | The UniqueReference associated to the location. |

        | Acreage | The Acreage associated to the location. |

        | IsDeleted | Whether the location is deleted. |

        | Address | The Address object associated to the location. |

        | Address.HouseNumber | The HouseNumber associated address object of the location. |

        | Address.Address1 | The Address1 associated to the address object of the location. |

        | Address.Address2 | The Address2 associated to the address object of the location. |

        | Address.Address3 | The Address3 associated to the address object of the location. |

        | Address.Address4 | The Address4 associated to the address object of the location. |

        | Address.Address5 | The Address5 associated to the address object of the location. |

        | Address.Address6 | The Address6 associated to the address object of the location. |

        | Address.Address7 | The Address7 associated to the address object of the location. |

        | Address.Address8 | The Address8 associated to the address object of the location. |

        | Address.Address9 | The Address9 associated to the address object of the location. |

        | Address.Postcode | The Postcode associated to the address object of the location. |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location. |

        | Address.RegionCodeListItem | The GUID and region code associated to the address object of the location. |

        | Address.ContactMethods | The ContactMethods object associated to the address object of the location. |

        | Address.ContactMethods.TelNo | The telephone number object associated to the ContactMethods object of the address object of the location. |

        | Address.ContactMethods.FaxNo | The fax number object associated to the ContactMethods object of the address object of the location. |

        | Geo| The Geo object associated to the location. |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location. |

        | Geo.ParcelBoundaryListItem | The GUID and description of the parcel boundary associated to the Geo object of the location. |

        | Geo.Location| The location object associated to the Geo object of the location. |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location. |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location. |

        | Geo.Latitude| The latitude associated to the Geo object of the location. |

        | Geo.Longitude| The longitude associated to the Geo object of the location. |'
      operationId: Location_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorLocationResource'
    put:
      tags:
      - Location
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer. | No |

        | Description | The description associated to the location. | Yes |

        | TimeZone | The TimeZone associated to the location. | No |

        | LegalName | The LegalName associated to the location. | No |

        | Directions | The Directions associated to the location. | No |

        | UniqueReference | The UniqueReference associated to the location. | No |

        | Acreage | The Acreage associated to the location. | No |

        | Address | The Address object associated to the location. | Yes |

        | Address.HouseNumber | The HouseNumber associated address object of the location. | No |

        | Address.Address1 | The Address1 associated to the address object of the location. | No |

        | Address.Address2 | The Address2 associated to the address object of the location. | No |

        | Address.Address3 | The Address3 associated to the address object of the location. | No |

        | Address.Address4 | The Address4 associated to the address object of the location. | No |

        | Address.Address5 | The Address5 associated to the address object of the location. | No |

        | Address.Address6 | The Address6 associated to the address object of the location. | No |

        | Address.Address7 | The Address7 associated to the address object of the location. | No |

        | Address.Address8 | The Address8 associated to the address object of the location. | No |

        | Address.Address9 | The Address9 associated to the address object of the location. | No |

        | Address.Postcode | The Postcode associated to the address object of the location. | No |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location. | No |

        | Address.RegionCodeListItem | The GUID and region code associated to the address object of the location. | No |

        | Address.ContactMethods | The ContactMethods object associated to the address object of the location. | No |

        | Address.ContactMethods.TelNo | The telephone number object associated to the ContactMethods object of the address object of the location. | No |

        | Address.ContactMethods.FaxNo | The fax number object associated to the ContactMethods object of the address object of the location. | No |

        | Geo| The Geo object associated to the location. | No |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location. | No |

        | Geo.ParcelBoundaryListItem | The GUID and description of the parcel boundary associated to the Geo object of the location. | No |

        | Geo.Location| The location object associated to the Geo object of the location. | No |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location. | No |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location. | No |

        | Geo.Latitude| The latitude associated to the Geo object of the location. | No |

        | Geo.Longitude| The longitude associated to the Geo object of the location. | No |

        | IsDeleted| Whether the location is deleted. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If TimeZone value has been changed | TimeZone is a read-only property |

        | If IsDeleted true | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | If we attempt to delete a Location | An attempt has been made to set IsDeleted. The request could not be processed. Ensure that IsDeleted has default value. |

        | If Geo.Location.Lat value has been changed | Geo.Location.Lat is a read-only property |

        | If Geo.Location.Long value has been changed | Geo.Location.Long is a read-only property |

        | Geo.Latitude value not in range between -90 and 90 or Geo.Longitude value not in range between -180 and 180 | Geo.Latitude value must be between -90 and 90. Geo.Longitude value must be between -180 and 180. |'
      operationId: Location_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorLocationResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/locations:
    get:
      tags:
      - Location
      summary: Find with Filters
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the location. |

        | Description | The description associated to the location. |

        | TimeZone | The TimeZone associated to the location. |

        | LegalName | The LegalName associated to the location. |

        | Directions | The Directions associated to the location. |

        | UniqueReference | The UniqueReference associated to the location. |

        | Acreage | The Acreage associated to the location. |

        | IsDeleted | Whether the location is deleted. |

        | Address | The Address object associated to the location. |

        | Address.HouseNumber | The HouseNumber associated address object of the location. |

        | Address.Address1 | The Address1 associated to the address object of the location. |

        | Address.Address2 | The Address2 associated to the address object of the location. |

        | Address.Address3 | The Address3 associated to the address object of the location. |

        | Address.Address4 | The Address4 associated to the address object of the location. |

        | Address.Address5 | The Address5 associated to the address object of the location. |

        | Address.Address6 | The Address6 associated to the address object of the location. |

        | Address.Address7 | The Address7 associated to the address object of the location. |

        | Address.Address8 | The Address8 associated to the address object of the location. |

        | Address.Address9 | The Address9 associated to the address object of the location. |

        | Address.Postcode | The Postcode associated to the address object of the location. |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location. |

        | Address.RegionCodeListItem | The GUID and region code associated to the address object of the location. |

        | Address.ContactMethods | The ContactMethods object associated to the address object of the location. |

        | Address.ContactMethods.TelNo | The telephone number object associated to the ContactMethods object of the address object of the location. |

        | Address.ContactMethods.FaxNo | The fax number object associated to the ContactMethods object of the address object of the location. |

        | Geo| The Geo object associated to the location. |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location. |

        | Geo.ParcelBoundaryListItem | The GUID and description of the parcel boundary associated to the Geo object of the location. |

        | Geo.Location| The location object associated to the Geo object of the location. |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location. |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location. |

        | Geo.Latitude| The latitude associated to the Geo object of the location. |

        | Geo.Longitude| The longitude associated to the Geo object of the location. |'
      operationId: Location_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorLocationResource'
    post:
      tags:
      - Location
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the customer. | No |

        | Description | The description associated to the location. | Yes |

        | TimeZone | The TimeZone associated to the location. | No |

        | LegalName | The LegalName associated to the location. | No |

        | Directions | The Directions associated to the location. | No |

        | UniqueReference | The UniqueReference associated to the location. | No |

        | Acreage | The Acreage associated to the location. | No |

        | Address | The Address object associated to the location. | Yes |

        | Address.HouseNumber | The HouseNumber associated address object of the location. | No |

        | Address.Address1 | The Address1 associated to the address object of the location. | No |

        | Address.Address2 | The Address2 associated to the address object of the location. | No |

        | Address.Address3 | The Address3 associated to the address object of the location. | No |

        | Address.Address4 | The Address4 associated to the address object of the location. | No |

        | Address.Address5 | The Address5 associated to the address object of the location. | No |

        | Address.Address6 | The Address6 associated to the address object of the location. | No |

        | Address.Address7 | The Address7 associated to the address object of the location. | No |

        | Address.Address8 | The Address8 associated to the address object of the location. | No |

        | Address.Address9 | The Address9 associated to the address object of the location. | No |

        | Address.Postcode | The Postcode associated to the address object of the location. | No |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location. | No |

        | Address.RegionCodeListItem | The GUID and region code associated to the address object of the location. | No |

        | Address.ContactMethods | The ContactMethods object associated to the address object of the location. | No |

        | Address.ContactMethods.TelNo | The telephone number object associated to the ContactMethods object of the address object of the location. | No |

        | Address.ContactMethods.FaxNo | The fax number object associated to the ContactMethods object of the address object of the location. | No |

        | Geo| The Geo object associated to the location. | No |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location. | No |

        | Geo.ParcelBoundaryListItem | The GUID and description of the parcel boundary associated to the Geo object of the location. | No |

        | Geo.Location| The location object associated to the Geo object of the location. | No |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location. | No |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location. | No |

        | Geo.Latitude| The latitude associated to the Geo object of the location. | No |

        | Geo.Longitude| The longitude associated to the Geo object of the location. | No |

        | IsDeleted| Whether the location is deleted. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | TimeZone has a value | TimeZone must be set to null. |

        | If IsDeleted true | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | If we attempt to delete a Location | An attempt has been made to set IsDeleted. The request could not be processed. Ensure that IsDeleted has default value. |

        | Geo.Location has a value | Geo.Location must be set to null. |

        | Geo.Latitude value not in range between -90 and 90 or Geo.Longitude value not in range between -180 and 180 | Geo.Latitude value must be between -90 and 90. Geo.Longitude value must be between -180 and 180. |'
      operationId: Location_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorLocationResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorLocationGeoLocationResource:
      type: object
      properties:
        Lat:
          type: number
          format: double
        Long:
          type: number
          format: double
    ApiIntegratorLocationGeoResource:
      type: object
      properties:
        ZoneListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ParcelBoundaryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Location:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoLocationResource'
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorLocationAddressContactMethodsResource:
      type: object
      properties:
        TelNo:
          type: string
        FaxNo:
          type: string
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorLocationResource:
      type: object
      properties:
        Description:
          type: string
        Address:
          $ref: '#/components/schemas/ApiIntegratorLocationAddressResource'
        TimeZone:
          type: string
        LegalName:
          type: string
        Directions:
          type: string
        Geo:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoResource'
        UniqueReference:
          type: string
        Acreage:
          type: number
          format: double
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultEntity_ApiIntegratorLocationResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorLocationResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorLocationResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLocationResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceChanges_ApiIntegratorLocationResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLocationResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorLocationAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Address6:
          type: string
        Address7:
          type: string
        Address8:
          type: string
        Address9:
          type: string
        Postcode:
          type: string
        ContactMethods:
          $ref: '#/components/schemas/ApiIntegratorLocationAddressContactMethodsResource'
        PostTownListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RegionCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
