openapi: 3.2.0
info:
  title: AMCS Platform REST Currency API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Currency
paths:
  /lists/currencies/changes:
    get:
      tags:
      - Currency
      summary: Retrieve changes
      description: '| Property| Description |

        | --------------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the currency |

        | Description| The description of the currency |

        | Symbol| The symbol of the currency |

        | IntegrationCode| The integration code of the currency |

        | IsDeleted| Whether the currency is deleted |

        | CurrencyRoundingTypeListItem | The GUID and description of the CurrencyRoundingType |'
      operationId: Currency_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorCurrencyResource'
  /lists/currencies/{guid}:
    get:
      tags:
      - Currency
      summary: Find with GUID
      description: '| Property| Description |

        | --------------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the currency |

        | Description| The description of the currency |

        | Symbol| The symbol of the currency |

        | IntegrationCode| The integration code of the currency |

        | IsDeleted| Whether the currency is deleted |

        | CurrencyRoundingTypeListItem | The GUID and description of the CurrencyRoundingType |'
      operationId: Currency_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCurrencyResource'
  /lists/currencies:
    get:
      tags:
      - Currency
      summary: Find with Filters
      description: '| Property| Description |

        | --------------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the currency |

        | Description| The description of the currency |

        | Symbol| The symbol of the currency |

        | IntegrationCode| The integration code of the currency |

        | IsDeleted| Whether the currency is deleted |

        | CurrencyRoundingTypeListItem | The GUID and description of the CurrencyRoundingType |'
      operationId: Currency_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCurrencyResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorCurrencyResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCurrencyResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorCurrencyResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCurrencyResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorCurrencyResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        Symbol:
          type: string
        IntegrationCode:
          type: string
        CurrencyRoundingTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorCurrencyResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCurrencyResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
