openapi: 3.2.0
info:
  title: AMCS Platform REST Site API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Site
paths:
  /directory/sites/changes:
    get:
      tags:
      - Site
      summary: Retrieve changes
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site.|

        | Name| The site''s name.|

        | Reference| An alternative name used for the site.'
      operationId: Site_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorSiteResource'
  /directory/sites/{guid}:
    get:
      tags:
      - Site
      summary: Find with GUID
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site.|

        | Name| The site''s name.|

        | Reference| An alternative name used for the site.'
      operationId: Site_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorSiteResource'
    put:
      tags:
      - Site
      summary: Partial update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the site.| No |

        | Name| The site''s name.| Yes |

        | Reference| An alternative name used for the site.| No |

        | FederalId| The site''s local authority / government / tax reference.| No |

        | AnalysisCode| The site''s analysis code.| No |

        | UniqueCustomerSiteCode| The unique code assigned to the site, this will be automatically set if system configuration "UniqueCustomerSiteCodeGeneration" is set to true when posting.'
      operationId: Site_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSiteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/sites:
    get:
      tags:
      - Site
      summary: Find with Filters
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site.|

        | Name| The site''s name.|

        | Reference| An alternative name used for the site.'
      operationId: Site_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSiteResource'
    post:
      tags:
      - Site
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the site.| No |

        | Name| The site''s name.| Yes |

        | Reference| An alternative name used for the site.| No |

        | FederalId| The site''s local authority / government / tax reference.| No |

        | AnalysisCode| The site''s analysis code.| No |

        | UniqueCustomerSiteCode| The unique code assigned to the site, this will be automatically set if system configuration "UniqueCustomerSiteCodeGeneration" is set to true when posting.'
      operationId: Site_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSiteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCustomerSiteHealthAndSafetyBlobHashesResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Hash:
          type: string
        DocumentName:
          type: string
        DocumentReference:
          type: string
        HealthAndSafetyDocumentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ValidFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        ValidUntil:
          type: string
          format: localDate
          example: '2000-01-01'
        IsHighRisk:
          type: boolean
        IsSentToVehicle:
          type: boolean
    ApiIntegratorSiteResource:
      type: object
      properties:
        Name:
          type: string
        Reference:
          type: string
        SiteTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        FederalId:
          type: string
        AnalysisCode:
          type: string
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        UniqueCustomerSiteCode:
          type: string
        IsNonServiceSite:
          type: boolean
        SICCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        SalesTerritoryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CustomerSiteStateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ZoneListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RebatePaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RebatePaymentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContactMethods:
          $ref: '#/components/schemas/ApiIntegratorSiteContactMethodsResource'
        PaymentHandlingCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReminderLetterPolicyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DocumentDeliveryMethods:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorDocumentDeliveryMethodsResource'
        RelatedLocationInvoiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationRemitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDocumentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationStatementGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationQuotationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedTaxJurisdictionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        NumberOfUnits:
          type: integer
          format: int32
        AccessTimes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSiteAccessTimeResource'
        RelatedTradingNames:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSiteTradingNameResource'
        RelatedHealthAndSafetyBlobs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerSiteHealthAndSafetyBlobHashesResource'
        RelatedTradingNameGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Areas:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSiteAreaResource'
        VisitStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        LocalAuthorityListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AreasGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AreasRelatedLocationGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        LocalAuthorityGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CoCNumber:
          type: string
        EPAId:
          type: string
        WasteCarrierLicenceNumber:
          type: string
        WasteExemptionExpiryDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        NVWANumber:
          type: string
        IsHeadQuarter:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorSiteTradingNameResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedTradingNameGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Description:
          type: string
    ApiResourceResultCollection_ApiIntegratorSiteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSiteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceChanges_ApiIntegratorSiteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSiteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSiteAreaResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Description:
          type: string
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorSiteResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorSiteResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSiteContactMethodsResource:
      type: object
      properties:
        Email:
          type: string
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorDocumentDeliveryMethodsResource:
      type: object
      properties:
        DocumentDeliveryType:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSiteAccessTimeResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccessContact:
          type: string
        AccessNotes:
          type: string
        AccessStartTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        AccessEndTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
