openapi: 3.2.0
info:
  title: AMCS Platform REST Delete Job API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: DeleteJob
paths:
  /transport/deleteJobs:
    post:
      tags:
      - DeleteJob
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | JobGuid | The JobGuid associated to the about to be deleted job.| Yes |

        | DeleteReasonGuid | Delete Reason GUID IDthat match to the job | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | JobGuid is null | JobGuid is required. |

        | DeleteReasonGuid is null | DeleteReasonGuid is required. |

        | DeleteReasonGuid does not apply to the job | The supplied Delete Reason does not apply to the job type of the job being deleted. |

        | DeleteReasonGuid cannot be found | This Delete Reason cannot be found. |

        | Job GUID cannot be found | This job cannot be found. |

        | Job is already allocated | The job must be unallocated before it can be deleted. |

        | Job GUID is not a scheduled job | This job type cannot be deleted. |'
      operationId: DeleteJob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorDeleteJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorDeleteJobResource:
      type: object
      properties:
        JobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DeleteReasonGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
