openapi: 3.2.0
info:
  title: AMCS Platform REST Route API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Route
paths:
  /transport/routes/changes:
    get:
      tags:
      - Route
      summary: Retrieve changes
      description: '| Property| Description |

        | --------------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | RouteManagementTypeListItem| The GUID and description of the RouteManagementType associated to the route.'
      operationId: Route_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorRouteResource'
  /transport/routes/{guid}:
    get:
      tags:
      - Route
      summary: Find with GUID
      description: '| Property| Description |

        | --------------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | RouteManagementTypeListItem| The GUID and description of the RouteManagementType associated to the route.'
      operationId: Route_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteResource'
    put:
      tags:
      - Route
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route.| No |

        | RouteManagementTypeListItem| The GUID and description of the RouteManagementType associated to the route.'
      operationId: Route_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/routes:
    get:
      tags:
      - Route
      summary: Find with Filters
      description: '| Property| Description |

        | --------------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the route.|

        | RouteManagementTypeListItem| The GUID and description of the RouteManagementType associated to the route.'
      operationId: Route_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteResource'
    post:
      tags:
      - Route
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route.| No |

        | RouteManagementTypeListItem| The GUID and description of the RouteManagementType associated to the route.'
      operationId: Route_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorRouteAcceptedMaterialsResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        MaterialClassListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorRouteVehicleCheckResource:
      type: object
      properties:
        StartMileage:
          type: number
          format: double
        EndMileage:
          type: number
          format: double
        Notes:
          type: string
        StartSafetyCheck:
          type: boolean
        StartDefectTicketNo:
          type: string
        RelatedUserStartDefectCheckGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StartNotes:
          type: string
        EndSafetyCheck:
          type: boolean
        EndDefectTicketNo:
          type: string
        RelatedUserEndDefectCheckGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        EndNotes:
          type: string
        StartHubometerDistance:
          type: number
          format: double
        EndHubometerDistance:
          type: number
          format: double
        StartHubometerTime:
          type: number
          format: double
        EndHubometerTime:
          type: number
          format: double
        CrewMembers:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVehicleCheckCrewMembersResource'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorRouteResource:
      type: object
      properties:
        Description:
          type: string
        RouteManagementTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDiffReasonRequired:
          type: boolean
        IsWeighingsComplete:
          type: boolean
        IsCompleted:
          type: boolean
        IsDeleted:
          type: boolean
        IsMissedReasonRequired:
          type: boolean
        IsPromptForLiftsOnVisitCompletion:
          type: boolean
        IsOrderSupplierUsedForCostGeneration:
          type: boolean
        RelatedRouteTemplateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedExternalVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedMasterRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteTransportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AreaOfOriginListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        VehicleTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DefaultTipMaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RouteDate:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        RouteNo:
          type: integer
          format: int32
        IsSubContracted:
          type: boolean
        StartLeaveYardTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        EndYardLeaveTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        StartPlannedTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        EndPlannedTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        StartRouteTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        EndRouteTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DistanceTravelled:
          type: number
          format: double
        FuelUsed:
          type: number
          format: double
        FuelCost:
          type: number
          format: double
        IsNoTagStopEnabled:
          type: boolean
        FleetPlannerTripNo:
          type: string
        AcceptedMaterials:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteAcceptedMaterialsResource'
        Driver:
          $ref: '#/components/schemas/ApiIntegratorRouteDriverResource'
        VehicleChecks:
          $ref: '#/components/schemas/ApiIntegratorRouteVehicleCheckResource'
        RelatedUserDriverGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserStartDefectCheckGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserEndDefectCheckGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Notes:
          type: string
        IsLiftsMatchingConfirmation:
          type: boolean
        RelatedSysUserGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsPromptForForceQuantityConfirmation:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorRouteResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultCollection_ApiIntegratorRouteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorRouteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorRouteVehicleCheckCrewMembersResource:
      type: object
      properties:
        RelatedSysUserGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorRouteDriverResource:
      type: object
      properties:
        RelatedUserDriverGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ClockOnTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        ClockOffTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        CrewNumber:
          type: integer
          format: int32
