openapi: 3.2.0
info:
  title: AMCS Platform REST Inventory Production Shift Material Out…
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: InventoryProductionShiftMaterialOut
paths:
  /mirror/imm/inventoryProductionShiftMaterialOuts:
    post:
      tags:
      - InventoryProductionShiftMaterialOut
      summary: Create or update
      operationId: InventoryProductionShiftMaterialOut_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorInventoryProductionShiftMaterialOutResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /mirror/imm/inventoryProductionShiftMaterialOuts/{guid}:
    put:
      tags:
      - InventoryProductionShiftMaterialOut
      summary: Partial update
      operationId: InventoryProductionShiftMaterialOut_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorInventoryProductionShiftMaterialOutResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorInventoryProductionShiftMaterialOutResource:
      type: object
      properties:
        InventoryProductionShiftGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialClassGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialFinishedStateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TipLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Percentage:
          type: number
          format: double
        Weight:
          type: number
          format: double
        UnitCost:
          type: number
          format: double
        CostRatio:
          type: number
          format: double
        TotalCost:
          type: number
          format: double
        Units:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
