openapi: 3.2.0
info:
  title: AMCS Platform REST Accounting Period Lock API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: AccountingPeriodLock
paths:
  /accounting/accountingPeriodLocks/{guid}:
    get:
      tags:
      - AccountingPeriodLock
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the accounting period lock. |

        | SourceModule | The SourceModule associated to the accounting period lock. |

        | Description | The Description associated to the accounting period lock. |

        | CompanyId | The Company associated to the accounting period lock. |

        | CompanyOutletId | The CompanyOutlet associated to the accounting period lock. |

        | SysUserName | The SysUserName associated to the accounting period lock. |

        | LockStatus | Whether the Accounting Period is open or locked. |'
      operationId: AccountingPeriodLock_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorAccountingPeriodLockResource'
    put:
      tags:
      - AccountingPeriodLock
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------- | -------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the accounting period lock. | No |

        | SourceModule | The SourceModule associated to the accounting period lock. | No |

        | Description | The Description associated to the accounting period lock. | Yes |

        | CompanyId | The Company associated to the accounting period lock. | No |

        | CompanyOutletId | The CompanyOutlet associated to the accounting period lock. | No |

        | SysUserName | The SysUserName associated to the accounting period lock. | No |

        | LockStatus | Whether the Accounting Period is open or locked. | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Description not found for the AccountingPeriodLock | The mandatory property Description has a null value. The request could not be processed. Supply a value for the Description property of the submitted resource. |

        | LockStatus not found for the AccountingPeriodLock | The mandatory property LockStatus has a null value. The request could not be processed. Supply a value for the LockStatus property of the submitted resource. |

        | Company and Company outlet not found for the AccountingPeriodLock | Either CompanyListItem or CompanyOutletListItem properties must be set. |'
      operationId: AccountingPeriodLock_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAccountingPeriodLockResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/accountingPeriodLocks:
    get:
      tags:
      - AccountingPeriodLock
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the accounting period lock. |

        | SourceModule | The SourceModule associated to the accounting period lock. |

        | Description | The Description associated to the accounting period lock. |

        | CompanyId | The Company associated to the accounting period lock. |

        | CompanyOutletId | The CompanyOutlet associated to the accounting period lock. |

        | SysUserName | The SysUserName associated to the accounting period lock. |

        | LockStatus | Whether the Accounting Period is open or locked. |'
      operationId: AccountingPeriodLock_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorAccountingPeriodLockResource'
    post:
      tags:
      - AccountingPeriodLock
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------- | -------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the accounting period lock. | No |

        | SourceModule | The SourceModule associated to the accounting period lock. | No |

        | Description | The Description associated to the accounting period lock. | Yes |

        | CompanyId | The Company associated to the accounting period lock. | No |

        | CompanyOutletId | The CompanyOutlet associated to the accounting period lock. | No |

        | SysUserName | The SysUserName associated to the accounting period lock. | No |

        | LockStatus | Whether the Accounting Period is open or locked. | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Description not found for the AccountingPeriodLock | The mandatory property Description has a null value. The request could not be processed. Supply a value for the Description property of the submitted resource. |

        | LockStatus not found for the AccountingPeriodLock | The mandatory property LockStatus has a null value. The request could not be processed. Supply a value for the LockStatus property of the submitted resource. |

        | Company and Company outlet not found for the AccountingPeriodLock | Either CompanyListItem or CompanyOutletListItem properties must be set. |'
      operationId: AccountingPeriodLock_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorAccountingPeriodLockResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAccountingPeriodLockResource:
      type: object
      properties:
        SourceModule:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Description:
          type: string
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        SysUserName:
          type: string
        LockStatus:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorAccountingPeriodLockResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccountingPeriodLockResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorAccountingPeriodLockResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorAccountingPeriodLockResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
