openapi: 3.2.0
info:
  title: AMCS Platform REST Pickup Interval API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: PickupInterval
paths:
  /lists/pickupIntervals/{guid}:
    get:
      tags:
      - PickupInterval
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the pickup interval |

        | Description | The description of the pickup interval |

        | NoOfDays| Total number of days of interval |

        | NoOfMonths | Total number of month of interval |

        | IsWeekly| Whether the pickup interval is weekly |

        | IsMonthly| Whether the pickup interval is monthly |'
      operationId: PickupInterval_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorPickupIntervalResource'
  /lists/pickupIntervals:
    get:
      tags:
      - PickupInterval
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the pickup interval |

        | Description | The description of the pickup interval |

        | NoOfDays| Total number of days of interval |

        | NoOfMonths | Total number of month of interval |

        | IsWeekly| Whether the pickup interval is weekly |

        | IsMonthly| Whether the pickup interval is monthly |'
      operationId: PickupInterval_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorPickupIntervalResource'
components:
  schemas:
    ApiResourceResultCollection_ApiIntegratorPickupIntervalResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorPickupIntervalResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorPickupIntervalResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorPickupIntervalResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorPickupIntervalResource:
      type: object
      properties:
        Description:
          type: string
        NoOfDays:
          type: integer
          format: int32
        NoOfMonths:
          type: integer
          format: int32
        IsWeekly:
          type: boolean
        IsMonthly:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
