openapi: 3.2.0
info:
  title: AMCS Platform REST One Off Action API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: OneOffAction
paths:
  /transport/oneOffActions/changes:
    get:
      tags:
      - OneOffAction
      summary: Retrieve changes
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the one-off action.|

        | RelatedOrderGuid| The GUID associated to the site order of the one-off action. Filterable.|

        | RelatedPriceGuid| The GUID associated to the price of the one-off action.|

        | RelatedPriceAdjustmentGuid| The GUID associated to the price adjustment of the one-off action. Filterable.|

        | RelatedUserFinanciallyConfirmedByGuid| The GUID associated to the financially confirmed sysuser of the one-off action. Filterable.|

        | RelatedJobGuid| The GUID associated to the job of the one-off action. Filterable.|

        | RelatedRouteVisitGuid| The GUID associated to the route visit of the one-off action.Filterable.|

        | RelatedPONumberGuid| The GUID associated to the PO number of the one-off action. Filterable.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the one-off action. Filterable.|

        | RelatedWeighingInGuid| The GUID associated to the weighing in of the one-off action.Filterable.|

        | RelatedWeighingOutGuid| The GUID associated to the weighing out of the one-off action. Filterable.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the one-off action.|

        | MaterialListItem| The GUID and description of the material associated to the one-off action.|

        | ReasonListItem| The GUID and description of the reason associated to the one-off action.|

        | ServiceListItem| The GUID and description of the service associated to the one-off action.|

        | ActionListItem| The GUID and description of the action associated to the one-off action.|

        | DateCreated| The created date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | DateRequired| The required date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | IsDiscount| Is discount in the one-off action?|

        | IsFinanciallyConfirmed| Is financially confirmed in the one-off action?|

        | IsQuantityAdjustment| Is quantity adjustment in the one-off action?|

        | IsRateAdjustment| Is rate adjustment in the one-off action?|

        | IsWeightAdjustment| Is weight adjustment in the one-off action?|

        | PriceOverride| Price override of the one-off action.|

        | AdjustedRate| Adjusted rate of the one-off action.|

        | AdjustedWeight| Adjusted weight of the one-off action.|

        | CustomerOrderNo| Customer order no of the one-off action.|

        | DateTo| The date to associated to the one-off action in ISO format (YYYY-MM-DD).|

        | HoursChargable| Chargable hours of the one-off action.|

        | Notes| Notes of the one-off action.|

        | PONumber| PONumber of the one-off action.|

        | Quantity| Quantity of the one-off action.|

        | ReferenceNo| ReferenceNo of the one-off action. Filterable.|'
      operationId: OneOffAction_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorOneOffActionResource'
  /transport/oneOffActions/{guid}:
    get:
      tags:
      - OneOffAction
      summary: Find with GUID
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the one-off action.|

        | RelatedOrderGuid| The GUID associated to the site order of the one-off action. Filterable.|

        | RelatedPriceGuid| The GUID associated to the price of the one-off action.|

        | RelatedPriceAdjustmentGuid| The GUID associated to the price adjustment of the one-off action. Filterable.|

        | RelatedUserFinanciallyConfirmedByGuid| The GUID associated to the financially confirmed sysuser of the one-off action. Filterable.|

        | RelatedJobGuid| The GUID associated to the job of the one-off action. Filterable.|

        | RelatedRouteVisitGuid| The GUID associated to the route visit of the one-off action.Filterable.|

        | RelatedPONumberGuid| The GUID associated to the PO number of the one-off action. Filterable.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the one-off action. Filterable.|

        | RelatedWeighingInGuid| The GUID associated to the weighing in of the one-off action.Filterable.|

        | RelatedWeighingOutGuid| The GUID associated to the weighing out of the one-off action. Filterable.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the one-off action.|

        | MaterialListItem| The GUID and description of the material associated to the one-off action.|

        | ReasonListItem| The GUID and description of the reason associated to the one-off action.|

        | ServiceListItem| The GUID and description of the service associated to the one-off action.|

        | ActionListItem| The GUID and description of the action associated to the one-off action.|

        | DateCreated| The created date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | DateRequired| The required date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | IsDiscount| Is discount in the one-off action?|

        | IsFinanciallyConfirmed| Is financially confirmed in the one-off action?|

        | IsQuantityAdjustment| Is quantity adjustment in the one-off action?|

        | IsRateAdjustment| Is rate adjustment in the one-off action?|

        | IsWeightAdjustment| Is weight adjustment in the one-off action?|

        | PriceOverride| Price override of the one-off action.|

        | AdjustedRate| Adjusted rate of the one-off action.|

        | AdjustedWeight| Adjusted weight of the one-off action.|

        | CustomerOrderNo| Customer order no of the one-off action.|

        | DateTo| The date to associated to the one-off action in ISO format (YYYY-MM-DD).|

        | HoursChargable| Chargable hours of the one-off action.|

        | Notes| Notes of the one-off action.|

        | PONumber| PONumber of the one-off action.|

        | Quantity| Quantity of the one-off action.|

        | ReferenceNo| ReferenceNo of the one-off action. Filterable.|'
      operationId: OneOffAction_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorOneOffActionResource'
    put:
      tags:
      - OneOffAction
      summary: Partial update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the one-off action.| No |

        | RelatedOrderGuid| The GUID associated to the site order of the one-off action.| Yes |

        | RelatedPriceGuid| The GUID associated to the price of the one-off action.| Yes |

        | RelatedPriceAdjustmentGuid| The GUID associated to the price adjustment of the one-off action.| No |

        | RelatedUserFinanciallyConfirmedByGuid| The GUID associated to the financially confirmed sysuser of the one-off action.| No |

        | RelatedJobGuid| The GUID associated to the job of the one-off action.| No |

        | RelatedRouteVisitGuid| The GUID associated to the route visit of the one-off action.| No |

        | RelatedPONumberGuid| The GUID associated to the PO number of the one-off action.| No |

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the one-off action.| No |

        | RelatedWeighingInGuid| The GUID associated to the weighing in of the one-off action.| No |

        | RelatedWeighingOutGuid| The GUID associated to the weighing out of the one-off action.| No |

        | ContainerTypeListItem| The GUID and description of the container type associated to the one-off action.| No |

        | MaterialListItem| The GUID and description of the material associated to the one-off action.| No |

        | ReasonListItem| The GUID and description of the reason associated to the one-off action.| No |

        | ServiceListItem| The GUID and description of the service associated to the one-off action.| No |

        | ActionListItem| The GUID and description of the action associated to the one-off action.| Yes |

        | DateCreated| The created date associated to the one-off action in ISO format (YYYY-MM-DD).| Yes |

        | DateRequired| The required date associated to the one-off action in ISO format (YYYY-MM-DD).| Yes |

        | IsDiscount| Is discount in the one-off action?| Yes |

        | IsFinanciallyConfirmed| Is financially confirmed in the one-off action?| Yes |

        | IsQuantityAdjustment| Is quantity adjustment in the one-off action?| Yes |

        | IsRateAdjustment| Is rate adjustment in the one-off action?| Yes |

        | IsWeightAdjustment| Is weight adjustment in the one-off action?| Yes |

        | PriceOverride| Price override of the one-off action.| No |

        | AdjustedRate| Adjusted rate of the one-off action.| No |

        | AdjustedWeight| Adjusted weight of the one-off action.| No |

        | CustomerOrderNo| Customer order no of the one-off action.| No |

        | DateTo| The date to associated to the one-off action in ISO format (YYYY-MM-DD).| No |

        | HoursChargable| Chargable hours of the one-off action.| No |

        | Notes| Notes of the one-off action.| No |

        | PONumber| PONumber of the one-off action.| No |

        | Quantity| Quantity of the one-off action.| No |

        | ReferenceNo| ReferenceNo of the one-off action.| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | When an existing one-off action IsFinancialyConfirmed is true | Attempted to update a financially confirmed one-off action.'
      operationId: OneOffAction_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorOneOffActionResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/oneOffActions:
    get:
      tags:
      - OneOffAction
      summary: Find with Filters
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the one-off action.|

        | RelatedOrderGuid| The GUID associated to the site order of the one-off action. Filterable.|

        | RelatedPriceGuid| The GUID associated to the price of the one-off action.|

        | RelatedPriceAdjustmentGuid| The GUID associated to the price adjustment of the one-off action. Filterable.|

        | RelatedUserFinanciallyConfirmedByGuid| The GUID associated to the financially confirmed sysuser of the one-off action. Filterable.|

        | RelatedJobGuid| The GUID associated to the job of the one-off action. Filterable.|

        | RelatedRouteVisitGuid| The GUID associated to the route visit of the one-off action.Filterable.|

        | RelatedPONumberGuid| The GUID associated to the PO number of the one-off action. Filterable.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the one-off action. Filterable.|

        | RelatedWeighingInGuid| The GUID associated to the weighing in of the one-off action.Filterable.|

        | RelatedWeighingOutGuid| The GUID associated to the weighing out of the one-off action. Filterable.|

        | ContainerTypeListItem| The GUID and description of the container type associated to the one-off action.|

        | MaterialListItem| The GUID and description of the material associated to the one-off action.|

        | ReasonListItem| The GUID and description of the reason associated to the one-off action.|

        | ServiceListItem| The GUID and description of the service associated to the one-off action.|

        | ActionListItem| The GUID and description of the action associated to the one-off action.|

        | DateCreated| The created date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | DateRequired| The required date associated to the one-off action in ISO format (YYYY-MM-DD).|

        | IsDiscount| Is discount in the one-off action?|

        | IsFinanciallyConfirmed| Is financially confirmed in the one-off action?|

        | IsQuantityAdjustment| Is quantity adjustment in the one-off action?|

        | IsRateAdjustment| Is rate adjustment in the one-off action?|

        | IsWeightAdjustment| Is weight adjustment in the one-off action?|

        | PriceOverride| Price override of the one-off action.|

        | AdjustedRate| Adjusted rate of the one-off action.|

        | AdjustedWeight| Adjusted weight of the one-off action.|

        | CustomerOrderNo| Customer order no of the one-off action.|

        | DateTo| The date to associated to the one-off action in ISO format (YYYY-MM-DD).|

        | HoursChargable| Chargable hours of the one-off action.|

        | Notes| Notes of the one-off action.|

        | PONumber| PONumber of the one-off action.|

        | Quantity| Quantity of the one-off action.|

        | ReferenceNo| ReferenceNo of the one-off action. Filterable.|'
      operationId: OneOffAction_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorOneOffActionResource'
    post:
      tags:
      - OneOffAction
      summary: Create or update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | --------------------------------------------------------------------------------------------------| -------- |

        | GUID| The GUID associated to the one-off action.| No |

        | RelatedOrderGuid| The GUID associated to the site order of the one-off action.| Yes |

        | RelatedPriceGuid| The GUID associated to the price of the one-off action.| Yes |

        | RelatedPriceAdjustmentGuid| The GUID associated to the price adjustment of the one-off action.| No |

        | RelatedUserFinanciallyConfirmedByGuid| The GUID associated to the financially confirmed sysuser of the one-off action.| No |

        | RelatedJobGuid| The GUID associated to the job of the one-off action.| No |

        | RelatedRouteVisitGuid| The GUID associated to the route visit of the one-off action.| No |

        | RelatedPONumberGuid| The GUID associated to the PO number of the one-off action.| No |

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the one-off action.| No |

        | RelatedWeighingInGuid| The GUID associated to the weighing in of the one-off action.| No |

        | RelatedWeighingOutGuid| The GUID associated to the weighing out of the one-off action.| No |

        | ContainerTypeListItem| The GUID and description of the container type associated to the one-off action.| No |

        | MaterialListItem| The GUID and description of the material associated to the one-off action.| No |

        | ReasonListItem| The GUID and description of the reason associated to the one-off action.| No |

        | ServiceListItem| The GUID and description of the service associated to the one-off action.| No |

        | ActionListItem| The GUID and description of the action associated to the one-off action.| Yes |

        | DateCreated| The created date associated to the one-off action in ISO format (YYYY-MM-DD).| No |

        | DateRequired| The required date associated to the one-off action in ISO format (YYYY-MM-DD).| Yes |

        | IsDiscount| Is discount in the one-off action?| Yes |

        | IsFinanciallyConfirmed| Is financially confirmed in the one-off action?| Yes |

        | IsQuantityAdjustment| Is quantity adjustment in the one-off action?| Yes |

        | IsRateAdjustment| Is rate adjustment in the one-off action?| Yes |

        | IsWeightAdjustment| Is weight adjustment in the one-off action?| Yes |

        | PriceOverride| Price override of the one-off action.| No |

        | AdjustedRate| Adjusted rate of the one-off action.| No |

        | AdjustedWeight| Adjusted weight of the one-off action.| No |

        | CustomerOrderNo| Customer order no of the one-off action.| No |

        | DateTo| The date to associated to the one-off action in ISO format (YYYY-MM-DD).| No |

        | HoursChargable| Chargable hours of the one-off action.| No |

        | Notes| Notes of the one-off action.| No |

        | PONumber| PONumber of the one-off action.| No |

        | Quantity| Quantity of the one-off action.| No |

        | ReferenceNo| ReferenceNo of the one-off action.| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If ReasonListItem is not in one of the following reason categories: One Off Charge.'
      operationId: OneOffAction_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorOneOffActionResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorOneOffActionResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorOneOffActionResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorOneOffActionResource:
      type: object
      properties:
        RelatedOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceAdjustmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserFinanciallyConfirmedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPONumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedServiceAgreementGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateCreated:
          type: string
          format: localDate
          example: '2000-01-01'
        DateRequired:
          type: string
          format: localDate
          example: '2000-01-01'
        IsDiscount:
          type: boolean
        IsFinanciallyConfirmed:
          type: boolean
        IsQuantityAdjustment:
          type: boolean
        IsRateAdjustment:
          type: boolean
        IsWeightAdjustment:
          type: boolean
        PriceOverride:
          type: number
          format: double
        AdjustedRate:
          type: number
          format: double
        AdjustedWeight:
          type: number
          format: double
        CustomerOrderNo:
          type: string
        DateTo:
          type: string
          format: localDate
          example: '2000-01-01'
        HoursChargable:
          type: number
          format: double
        Notes:
          type: string
        PONumber:
          type: string
        Quantity:
          type: integer
          format: int32
        ReferenceNo:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceChanges_ApiIntegratorOneOffActionResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOneOffActionResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollection_ApiIntegratorOneOffActionResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOneOffActionResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
