openapi: 3.2.0
info:
  title: AMCS Platform REST Order API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Order
paths:
  /transport/orders/changes:
    get:
      tags:
      - Order
      summary: Retrieve changes
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site order.|

        | RelatedSiteGuid| The GUID associated to the customer site of the site order.|

        | RelatedSiteAreaGuid| The GUID associated to the customer site area of the site order.|

        | RelatedSupplierSiteForServiceGuid| The GUID associated to the supplier site for service of the site order.|

        | RelatedSupplierSiteForTransportGuid| The GUID associated to the supplier site for transport of the site order.|

        | RelatedUserSalesRepGuid| The GUID associated to the sales rep of the site order.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the site order.|

        | RelatedPONumberChainGuid| The GUID associated to the purchase order number chain of the site order.|

        | OrderNumber| Used to filter the order number associated to the site order.|

        | CustomerOrderNumber| The customer order number associated to the site order.|

        | OrderedBy| The ordered by associated to the site order.|

        | ProcessFrom| The process from date associated to the site order in ISO format (YYYY-MM-DD).|

        | ValidUntil| The valid until date associated to the site order in ISO format (YYYY-MM-DD).|

        | Notes| The notes associated to the site order.|

        | DriverNotes| The driver notes associated to the site order.|

        | IsCustomerOwnedEquipment| Is the equipment used in the site order customer owned?|

        | CompanyOutletListItem| The GUID and description of the company outlet associated to the site order.|

        | ServiceListItem| The GUID and description of the service associated to the site order.|

        | MaterialListItem| The GUID and description of the material associated to the site order.|

        | DefaultContainerTypeListItem| The GUID and description of the container type associated to the site order.|

        | PriorityListItem| The GUID and description of the priority associated to the site order.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the site order.|

        | Containers[0]| The list of site order items associated to the site order.|

        | Containers[0].Guid| The GUID associated to the site order item.|

        | Containers[0].IsDeleted| Whether the site order item is deleted.|

        | Containers[0].Notes| The Notes associated to the site order item.|

        | Containers[0].IsContainerAssignedWithoutJob | Whether the container is assigned without job.|

        | Containers[0].IsFromIncreasedOrder | Whether the container is from increased order.|

        | Containers[0].IsContainerRemovedWithoutJob | Whether the container is removed without job.|

        | Containers[0].IsFixLocation | Whether the container has a fixed location.|

        | Containers[0].Geo | The Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Lat| The latitude of Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Long| The longitude of Geo Location associated to the site order item.|

        | Containers[0].StartDate | The StartDate associated to the site order item.|

        | Containers[0].EndDate| The EndDate associated to the site order item.|

        | Containers[0].DateLinked | The DateLinked associated to the site order item.|

        | Containers[0].RelatedContainerGuid| The GUID associated to the container of the site order item.|

        | Containers[0].ContainerTypeListItem| The GUID and description of the container type associated to site order item.|

        | Containers[0].ContainerStateListItem| The GUID and description of the site order item state associated to site order item.|

        | RelatedLocationDestinationGuid| Used to filter the related destination location guid associated to the site order.'
      operationId: Order_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorOrderResource'
  /transport/orders/{guid}:
    get:
      tags:
      - Order
      summary: Find with GUID
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site order.|

        | RelatedSiteGuid| The GUID associated to the customer site of the site order.|

        | RelatedSiteAreaGuid| The GUID associated to the customer site area of the site order.|

        | RelatedSupplierSiteForServiceGuid| The GUID associated to the supplier site for service of the site order.|

        | RelatedSupplierSiteForTransportGuid| The GUID associated to the supplier site for transport of the site order.|

        | RelatedUserSalesRepGuid| The GUID associated to the sales rep of the site order.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the site order.|

        | RelatedPONumberChainGuid| The GUID associated to the purchase order number chain of the site order.|

        | OrderNumber| Used to filter the order number associated to the site order.|

        | CustomerOrderNumber| The customer order number associated to the site order.|

        | OrderedBy| The ordered by associated to the site order.|

        | ProcessFrom| The process from date associated to the site order in ISO format (YYYY-MM-DD).|

        | ValidUntil| The valid until date associated to the site order in ISO format (YYYY-MM-DD).|

        | Notes| The notes associated to the site order.|

        | DriverNotes| The driver notes associated to the site order.|

        | IsCustomerOwnedEquipment| Is the equipment used in the site order customer owned?|

        | CompanyOutletListItem| The GUID and description of the company outlet associated to the site order.|

        | ServiceListItem| The GUID and description of the service associated to the site order.|

        | MaterialListItem| The GUID and description of the material associated to the site order.|

        | DefaultContainerTypeListItem| The GUID and description of the container type associated to the site order.|

        | PriorityListItem| The GUID and description of the priority associated to the site order.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the site order.|

        | Containers[0]| The list of site order items associated to the site order.|

        | Containers[0].Guid| The GUID associated to the site order item.|

        | Containers[0].IsDeleted| Whether the site order item is deleted.|

        | Containers[0].Notes| The Notes associated to the site order item.|

        | Containers[0].IsContainerAssignedWithoutJob | Whether the container is assigned without job.|

        | Containers[0].IsFromIncreasedOrder | Whether the container is from increased order.|

        | Containers[0].IsContainerRemovedWithoutJob | Whether the container is removed without job.|

        | Containers[0].IsFixLocation | Whether the container has a fixed location.|

        | Containers[0].Geo | The Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Lat| The latitude of Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Long| The longitude of Geo Location associated to the site order item.|

        | Containers[0].StartDate | The StartDate associated to the site order item.|

        | Containers[0].EndDate| The EndDate associated to the site order item.|

        | Containers[0].DateLinked | The DateLinked associated to the site order item.|

        | Containers[0].RelatedContainerGuid| The GUID associated to the container of the site order item.|

        | Containers[0].ContainerTypeListItem| The GUID and description of the container type associated to site order item.|

        | Containers[0].ContainerStateListItem| The GUID and description of the site order item state associated to site order item.|

        | RelatedLocationDestinationGuid| Used to filter the related destination location guid associated to the site order.'
      operationId: Order_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorOrderResource'
    put:
      tags:
      - Order
      summary: Partial update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the site order.| No |

        | RelatedSiteGuid| The GUID associated to the customer site of the site order.| Yes |

        | RelatedSiteAreaGuid| The GUID associated to the customer site area of the site order.| No |

        | RelatedSupplierSiteForServiceGuid| The GUID associated to the supplier site for service of the site order.| No |

        | RelatedSupplierSiteForTransportGuid| The GUID associated to the supplier site for transport of the site order.| No |

        | RelatedUserSalesRepGuid| The GUID associated to the sales rep of the site order.| No |

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the site order.| Yes |

        | RelatedPONumberChainGuid| The GUID associated to the purchase order number chain of the site order.| No |

        | OrderNumber| Used to filter the order number associated to the site order.| No |

        | CustomerOrderNumber| The customer order number associated to the site order.| No |

        | OrderedBy| The ordered by associated to the site order.| No |

        | ProcessFrom| The process from date associated to the site order in ISO format (YYYY-MM-DD).| Yes |

        | ValidUntil| The valid until date associated to the site order in ISO format (YYYY-MM-DD).| No |

        | Notes| The notes associated to the site order.| No |

        | DriverNotes| The driver notes associated to the site order.| No |

        | IsCustomerOwnedEquipment| Is the equipment used in the site order customer owned?| Yes |

        | CompanyOutletListItem| The GUID and description of the company outlet associated to the site order.| Yes |

        | ServiceListItem| The GUID and description of the service associated to the site order.| Yes |

        | MaterialListItem| The GUID and description of the material associated to the site order.| Yes |

        | DefaultContainerTypeListItem| The GUID and description of the container type associated to the site order.| No |

        | PriorityListItem| The GUID and description of the priority associated to the site order.| Yes |

        | PaymentTypeListItem| The GUID and description of the payment type associated to the site order.| No |

        | Containers[0]| The list of site order items associated to the site order.| No |

        | Containers[0].Guid| The GUID associated to the site order item.| Yes |

        | Containers[0].IsDeleted| Whether the site order item is deleted.| No |

        | Containers[0].Notes| The Notes associated to the site order item.| No |

        | Containers[0].IsContainerAssignedWithoutJob | Whether the container is assigned without job.| Yes |

        | Containers[0].IsFromIncreasedOrder | Whether the container is from increased order.| Yes |

        | Containers[0].IsContainerRemovedWithoutJob | Whether the container is removed without job.| Yes |

        | Containers[0].IsFixLocation | Whether the container has a fixed location.| No |

        | Containers[0].Geo | The Geo Location associated to the site order item.| No |

        | Containers[0].Geo.Location.Lat| The latitude of Geo Location associated to the site order item.| No |

        | Containers[0].Geo.Location.Long| The longitude of Geo Location associated to the site order item.| No |

        | Containers[0].StartDate | The StartDate associated to the site order item.| No |

        | Containers[0].EndDate| The EndDate associated to the site order item.| No |

        | Containers[0].DateLinked | The DateLinked associated to the site order item.| No |

        | Containers[0].RelatedContainerGuid| The GUID associated to the container of the site order item.| No |

        | Containers[0].ContainerTypeListItem| The GUID and description of the container type associated to site order item.| Yes |

        | Containers[0].ContainerStateListItem| The GUID and description of the site order item state associated to site order item.| Yes |

        | RelatedLocationDestinationGuid| The destination location associated to the site order.'
      operationId: Order_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorOrderResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/orders:
    get:
      tags:
      - Order
      summary: Find with Filters
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the site order.|

        | RelatedSiteGuid| The GUID associated to the customer site of the site order.|

        | RelatedSiteAreaGuid| The GUID associated to the customer site area of the site order.|

        | RelatedSupplierSiteForServiceGuid| The GUID associated to the supplier site for service of the site order.|

        | RelatedSupplierSiteForTransportGuid| The GUID associated to the supplier site for transport of the site order.|

        | RelatedUserSalesRepGuid| The GUID associated to the sales rep of the site order.|

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the site order.|

        | RelatedPONumberChainGuid| The GUID associated to the purchase order number chain of the site order.|

        | OrderNumber| Used to filter the order number associated to the site order.|

        | CustomerOrderNumber| The customer order number associated to the site order.|

        | OrderedBy| The ordered by associated to the site order.|

        | ProcessFrom| The process from date associated to the site order in ISO format (YYYY-MM-DD).|

        | ValidUntil| The valid until date associated to the site order in ISO format (YYYY-MM-DD).|

        | Notes| The notes associated to the site order.|

        | DriverNotes| The driver notes associated to the site order.|

        | IsCustomerOwnedEquipment| Is the equipment used in the site order customer owned?|

        | CompanyOutletListItem| The GUID and description of the company outlet associated to the site order.|

        | ServiceListItem| The GUID and description of the service associated to the site order.|

        | MaterialListItem| The GUID and description of the material associated to the site order.|

        | DefaultContainerTypeListItem| The GUID and description of the container type associated to the site order.|

        | PriorityListItem| The GUID and description of the priority associated to the site order.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the site order.|

        | Containers[0]| The list of site order items associated to the site order.|

        | Containers[0].Guid| The GUID associated to the site order item.|

        | Containers[0].IsDeleted| Whether the site order item is deleted.|

        | Containers[0].Notes| The Notes associated to the site order item.|

        | Containers[0].IsContainerAssignedWithoutJob | Whether the container is assigned without job.|

        | Containers[0].IsFromIncreasedOrder | Whether the container is from increased order.|

        | Containers[0].IsContainerRemovedWithoutJob | Whether the container is removed without job.|

        | Containers[0].IsFixLocation | Whether the container has a fixed location.|

        | Containers[0].Geo | The Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Lat| The latitude of Geo Location associated to the site order item.|

        | Containers[0].Geo.Location.Long| The longitude of Geo Location associated to the site order item.|

        | Containers[0].StartDate | The StartDate associated to the site order item.|

        | Containers[0].EndDate| The EndDate associated to the site order item.|

        | Containers[0].DateLinked | The DateLinked associated to the site order item.|

        | Containers[0].RelatedContainerGuid| The GUID associated to the container of the site order item.|

        | Containers[0].ContainerTypeListItem| The GUID and description of the container type associated to site order item.|

        | Containers[0].ContainerStateListItem| The GUID and description of the site order item state associated to site order item.|

        | RelatedLocationDestinationGuid| Used to filter the related destination location guid associated to the site order.'
      operationId: Order_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorOrderResource'
    post:
      tags:
      - Order
      summary: Create or update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | --------------------------------------------------------------------------------------------------| -------- |

        | GUID| The GUID associated to the site order.| No |

        | RelatedSiteGuid| The GUID associated to the customer site of the site order.| Yes |

        | RelatedSiteAreaGuid| The GUID associated to the customer site area of the site order.| No |

        | RelatedSupplierSiteForServiceGuid| The GUID associated to the supplier site for service of the site order.| No |

        | RelatedSupplierSiteForTransportGuid| The GUID associated to the supplier site for transport of the site order.| No |

        | RelatedUserSalesRepGuid| The GUID associated to the sales rep of the site order.| No |

        | RelatedServiceAgreementGuid| The GUID associated to the service agreement of the site order.| Yes |

        | RelatedPONumberChainGuid| The GUID associated to the purchase order number chain of the site order.| No |

        | OrderNumber| Used to filter the order number associated to the site order.| No |

        | CustomerOrderNumber| The customer order number associated to the site order.| No |

        | OrderedBy| The ordered by associated to the site order.| No |

        | ProcessFrom| The process from date associated to the site order in ISO format (YYYY-MM-DD).| Yes |

        | ValidUntil| The valid until date associated to the site order in ISO format (YYYY-MM-DD).| No |

        | Notes| The notes associated to the site order.| No |

        | DriverNotes| The driver notes associated to the site order.| No |

        | IsCustomerOwnedEquipment| Is the equipment used in the site order customer owned?| Yes |

        | CompanyOutletListItem| The GUID and description of the company outlet associated to the site order.| Yes |

        | ServiceListItem| The GUID and description of the service associated to the site order.| Yes |

        | MaterialListItem| The GUID and description of the material associated to the site order.| Yes |

        | DefaultContainerTypeListItem| The GUID and description of the container type associated to the site order.| No |

        | PriorityListItem| The GUID and description of the priority associated to the site order.| Yes |

        | PaymentTypeListItem| The GUID and description of the payment type associated to the site order.| No |

        | Containers[0]| The list of site order items associated to the site order.| No |

        | Containers[0].Guid| The GUID associated to the site order item.| No |

        | Containers[0].IsDeleted| Whether the site order item is deleted.| No |

        | Containers[0].Notes| The Notes associated to the site order item.| No |

        | Containers[0].IsContainerAssignedWithoutJob | Whether the container is assigned without job.| Yes |

        | Containers[0].IsFromIncreasedOrder | Whether the container is from increased order.| Yes |

        | Containers[0].IsContainerRemovedWithoutJob | Whether the container is removed without job.| Yes |

        | Containers[0].IsFixLocation | Whether the container has a fixed location.| No |

        | Containers[0].Geo | The Geo Location associated to the site order item.| No |

        | Containers[0].Geo.Location.Lat| The latitude of Geo Location associated to the site order item.| No |

        | Containers[0].Geo.Location.Long| The longitude of Geo Location associated to the site order item.| No |

        | Containers[0].StartDate | The StartDate associated to the site order item.| No |

        | Containers[0].EndDate| The EndDate associated to the site order item.| No |

        | Containers[0].DateLinked | The DateLinked associated to the site order item.| No |

        | Containers[0].RelatedContainerGuid| The GUID associated to the container of the site order item.| No |

        | Containers[0].ContainerTypeListItem| The GUID and description of the container type associated to site order item.| Yes |

        | Containers[0].ContainerStateListItem| The GUID and description of the site order item state associated to site order item.| Yes |

        | RelatedLocationDestinationGuid| The destination location associated to the site order.'
      operationId: Order_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorOrderResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorLocationGeoLocationResource:
      type: object
      properties:
        Lat:
          type: number
          format: double
        Long:
          type: number
          format: double
    ApiIntegratorOrderRouteAssignmentExclusionResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ExcludeFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        ExcludeTo:
          type: string
          format: localDate
          example: '2000-01-01'
        ExclusionTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Notes:
          type: string
    ApiResourceResultCollection_ApiIntegratorOrderResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorOrderRouteAssignmentResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PickupIntervalListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOfOccurrenceInMonthListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Position:
          type: integer
          format: int32
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RequestedBy:
          type: string
        Notes:
          type: string
        MaxLiftQuantity:
          type: integer
          format: int32
        MinLiftQuantity:
          type: integer
          format: int32
        RequiresQuantity:
          type: boolean
        IsGpsAutoMatchingDisabled:
          type: boolean
        IsNoPlannedDate:
          type: boolean
        IsNoBinOnSiteExcluded:
          type: boolean
        RelatedRouteTemplateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteAreaGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        Exclusions:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderRouteAssignmentExclusionResource'
    ApiIntegratorOrderItemRentalResource:
      type: object
      properties:
        RelatedPriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceModifierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedCostGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsStartOnStartOfCycle:
          type: boolean
        IsEndOnEndOfCycle:
          type: boolean
        Quantity:
          type: integer
          format: int32
        Notes:
          type: string
        IsArrears:
          type: boolean
        RentalQuantityAttributeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsBinOnSiteBasedOnQuantityNow:
          type: boolean
        IsDiscount:
          type: boolean
        IsDeleted:
          type: boolean
        DiscountOverridePrice:
          type: number
          format: double
        DiscountReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceChanges_ApiIntegratorOrderResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorOrderRouteCalloutRequestResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        OutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateRequired:
          type: string
          format: localDate
          example: '2000-01-01'
        Notes:
          type: string
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RequestedBy:
          type: string
        MaxLiftQuantity:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
    ApiIntegratorOrderContainerResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerStateListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Notes:
          type: string
        IsDeleted:
          type: boolean
        IsContainerAssignedWithoutJob:
          type: boolean
        IsFromIncreasedOrder:
          type: boolean
        IsContainerRemovedWithoutJob:
          type: boolean
        IsFixLocation:
          type: boolean
        Geo:
          $ref: '#/components/schemas/ApiIntegratorSiteOrderItemLocationGeoResource'
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        DateLinked:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorOrderResource:
      type: object
      properties:
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteAreaGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteForServiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteForTransportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserSalesRepGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedServiceAgreementGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        OrderNumber:
          type: string
        RelatedPONumberChainGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CustomerOrderNumber:
          type: string
        OrderedBy:
          type: string
        ProcessFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        ValidUntil:
          type: string
          format: localDate
          example: '2000-01-01'
        Notes:
          type: string
        DriverNotes:
          type: string
        IsCustomerOwnedEquipment:
          type: boolean
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DefaultContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PriorityListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Containers:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderContainerResource'
        AreaOfOriginListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ItemRentals:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderItemRentalResource'
        InspectionTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ItemTimeStamp:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        PermitRequired:
          type: boolean
        StandingJobs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderStandingJobResource'
        RouteAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderRouteAssignmentResource'
        RouteCalloutRequests:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorOrderRouteCalloutRequestResource'
        IsDeleted:
          type: boolean
        RelatedOrderCombinationGroupingGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceModifierGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedCostGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StandingJobsSiteAreaGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StandingJobsSysUserDriverGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StandingJobsVehicleGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        StandingJobsStartDateFilter:
          type: string
          format: localDate
          example: '2000-01-01'
        StandingJobsEndDateFilter:
          type: string
          format: localDate
          example: '2000-01-01'
        RouteAssignmentSiteAreaGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RouteAssignmentStartDateFilter:
          type: string
          format: localDate
          example: '2000-01-01'
        RouteAssignmentEndDateFilter:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedContainerGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainersGeoLocationLatFilter:
          type: number
          format: double
        ContainersGeoLocationLongFilter:
          type: number
          format: double
        RelatedRouteVisitGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RouteCalloutRequestGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorOrderResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorOrderResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorOrderStandingJobResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        EndOnJobCompletion:
          type: boolean
        ExcludeNoBinOnSite:
          type: boolean
        IsNoPlannedDay:
          type: boolean
        PickupIntervalListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedSiteAreaGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedSysUserDriverGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RequestedBy:
          type: string
        IsDeleted:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSiteOrderItemLocationGeoResource:
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoLocationResource'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
