openapi: 3.2.0
info:
  title: AMCS Platform REST GL Export API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: GLExport
paths:
  /accounting/glExports:
    post:
      tags:
      - GLExport
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------ | ------------------------------------------------------------ | -------- |

        | IsDeleted | Is the GLExport Deleted. | Yes |

        | GeneralLedgerExportTypeBitmask | The GeneralLedgerExportTypeBitmask of the GLExport. | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | GeneralLedgerExportTypeBitmask was set null | The mandatory property GeneralLedgerExportTypeBitmask has a null value. The request could not be processed. Supply a value for the GeneralLedgerExportTypeBitmask property of the submitted resource. |

        | IsDeleted was set null | The mandatory property IsDeleted has a null value. The request could not be processed. Supply a value for the IsDeleted property of the submitted resource. |

        | GLExport with Guid | GLExport has the property Guid with value of {0} that is not supported. The GLExport cannot be created with Guid. |

        | GLExport with IsDeleted true | IsDeleted is TRUE. Could not process the request. GLExports can not be deleted via the REST API. |

        | GeneralLedgerExportTypeBitmask with invalid bit mask | GLExport with GeneralLedgerExportTypeBitmask of {0} is not a valid general ledger export type bit mask. More than one transaction type is not allowed. |'
      operationId: GLExport_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorGLExportResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorGLExportResource:
      type: object
      properties:
        IsDeleted:
          type: boolean
        GeneralLedgerExportTypeBitmask:
          type: integer
          format: int32
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
