openapi: 3.2.0
info:
  title: AMCS Platform REST Cost Agreement API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: CostAgreement
paths:
  /productCatalogue/costAgreements/changes:
    get:
      tags:
      - CostAgreement
      summary: Retrieve changes
      description: '| Property| Description|

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the cost agreement.|

        | Description| The description associated to the cost agreement.|

        | IsDefault| Is default cost agreement.|

        | AgreementNumber| The agreement number associated to the cost agreement.|

        | CostCentreListItem| The GUID and description of the cost centre associated to the cost agreement.|

        | CompanyOutletListItems| The list of company outlets associated to the cost agreement.|

        | CompanyOutletListItems[0].CompanyOutletListItem| The GUID and description of the company outlet associated to the cost agreement.|

        | RelatedSupplierGuid| Used to filter on the related supplier GUID.|

        | RelatedSupplierSiteGuid| Used to filter on the related supplier site GUID.|

        | RelatedSupplierSiteGuids| The list of supplier site GUIDs associated to the cost agreement.|

        | RelatedLocationSourceGuid| Used to filter on the source location associated to the cost.|

        | RelatedLocationDestinationGuid| Used to filter on the destination location associated to the cost.|

        | RelatedCostGuidFilter| Used to filter on the related cost GUID.|

        | RelatedSupplierSiteGuids[0].RelatedSupplierSiteGuid| The GUID of the supplier site associated to the cost agreement.|

        | EndDate| The end date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | EndReasonListItem| The GUID and description of the end reason associated to the cost agreement.|

        | IsAutoRenewal| Is the cost agreement has auto renewal enabled.|

        | IsForAllSites| Is the cost agreement for all sites.|

        | PrimaryServiceListItem| The GUID and description of the end reason associated to the cost agreement.|

        | ReviewDate| The review date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | StartDate| The start date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | Costs| The list of costs associated to the cost agreement.|

        | Costs[0].GUID| The GUID associated to the cost.|

        | Costs[0].IsDeleted| Whether the cost is deleted.|

        | Costs[0].Description| The description associated to the cost.|

        | Costs[0].DefaultActionListItem| The GUID and description of the default action associated to the cost.|

        | Costs[0].ServiceFrequencyListItem| The GUID and description of the service frequency associated to the cost.|

        | Costs[0].ContainerTypeListItem| The GUID and description of the container type associated to the cost.|

        | Costs[0].RentTermListItem| The GUID and description of the rent term associated to the cost.|

        | Costs[0].MaterialListItem| The GUID and description of the material associated to the cost.|

        | Costs[0].RelatedLocationSourceGuid| The GUID related to the source location associated to the cost.|

        | Costs[0].RelatedLocationDestinationGuid| The GUID related to the destination location associated to the cost.|

        | Costs[0].EffectiveFrom| The date effective from date associated to the cost.|

        | Costs[0].Amount| The amount object associated to the cost.|

        | Costs[0].Amount.Cost| The cost value associated to the amount.|

        | Costs[0].Amount.MaximumCost| The maximum cost associated to the amount.|

        | Costs[0].Amount.MinimumCost| The minimum cost associated to the amount.|

        | Costs[0].Amount.Allowance| The allowance associated to the amount.|

        | Costs[0].Amount.VATListItem| The GUID and description of the VAT associated to the amount.|

        | Costs[0].Amount.TaxTemplateCollectionListItem| The GUID and description of the tax template collection associated to the amount.|

        | RelatedServiceAgreements| The list of service agreements related to the cost agreement.|

        | RelatedServiceAgreements[0].Guid| The Guid associated to the service agreement cost agreement.|

        | RelatedServiceAgreements[0].IsDeleted| Whether the service agreement cost agreement is deleted.|

        | RelatedServiceAgreements[0].RelatedServiceAgreementGuid| The Guid of the service agreement associated to the cost agreement.|

        |…'
      operationId: CostAgreement_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorCostAgreementResource'
  /productCatalogue/costAgreements/{guid}:
    get:
      tags:
      - CostAgreement
      summary: Find with GUID
      description: '| Property| Description|

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the cost agreement.|

        | Description| The description associated to the cost agreement.|

        | IsDefault| Is default cost agreement.|

        | AgreementNumber| The agreement number associated to the cost agreement.|

        | CostCentreListItem| The GUID and description of the cost centre associated to the cost agreement.|

        | CompanyOutletListItems| The list of company outlets associated to the cost agreement.|

        | CompanyOutletListItems[0].CompanyOutletListItem| The GUID and description of the company outlet associated to the cost agreement.|

        | RelatedSupplierGuid| Used to filter on the related supplier GUID.|

        | RelatedSupplierSiteGuid| Used to filter on the related supplier site GUID.|

        | RelatedSupplierSiteGuids| The list of supplier site GUIDs associated to the cost agreement.|

        | RelatedLocationSourceGuid| Used to filter on the source location associated to the cost.|

        | RelatedLocationDestinationGuid| Used to filter on the destination location associated to the cost.|

        | RelatedCostGuidFilter| Used to filter on the related cost GUID.|

        | RelatedSupplierSiteGuids[0].RelatedSupplierSiteGuid| The GUID of the supplier site associated to the cost agreement.|

        | EndDate| The end date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | EndReasonListItem| The GUID and description of the end reason associated to the cost agreement.|

        | IsAutoRenewal| Is the cost agreement has auto renewal enabled.|

        | IsForAllSites| Is the cost agreement for all sites.|

        | PrimaryServiceListItem| The GUID and description of the end reason associated to the cost agreement.|

        | ReviewDate| The review date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | StartDate| The start date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | Costs| The list of costs associated to the cost agreement.|

        | Costs[0].GUID| The GUID associated to the cost.|

        | Costs[0].IsDeleted| Whether the cost is deleted.|

        | Costs[0].Description| The description associated to the cost.|

        | Costs[0].DefaultActionListItem| The GUID and description of the default action associated to the cost.|

        | Costs[0].ServiceFrequencyListItem| The GUID and description of the service frequency associated to the cost.|

        | Costs[0].ContainerTypeListItem| The GUID and description of the container type associated to the cost.|

        | Costs[0].RentTermListItem| The GUID and description of the rent term associated to the cost.|

        | Costs[0].MaterialListItem| The GUID and description of the material associated to the cost.|

        | Costs[0].RelatedLocationSourceGuid| The GUID related to the source location associated to the cost.|

        | Costs[0].RelatedLocationDestinationGuid| The GUID related to the destination location associated to the cost.|

        | Costs[0].EffectiveFrom| The date effective from date associated to the cost.|

        | Costs[0].Amount| The amount object associated to the cost.|

        | Costs[0].Amount.Cost| The cost value associated to the amount.|

        | Costs[0].Amount.MaximumCost| The maximum cost associated to the amount.|

        | Costs[0].Amount.MinimumCost| The minimum cost associated to the amount.|

        | Costs[0].Amount.Allowance| The allowance associated to the amount.|

        | Costs[0].Amount.VATListItem| The GUID and description of the VAT associated to the amount.|

        | Costs[0].Amount.TaxTemplateCollectionListItem| The GUID and description of the tax template collection associated to the amount.|

        | RelatedServiceAgreements| The list of service agreements related to the cost agreement.|

        | RelatedServiceAgreements[0].Guid| The Guid associated to the service agreement cost agreement.|

        | RelatedServiceAgreements[0].IsDeleted| Whether the service agreement cost agreement is deleted.|

        | RelatedServiceAgreements[0].RelatedServiceAgreementGuid| The Guid of the service agreement associated to the cost agreement.|

        |…'
      operationId: CostAgreement_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCostAgreementResource'
    put:
      tags:
      - CostAgreement
      summary: Partial update
      description: '| Property| Description| Required |

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |----------|

        | GUID| The GUID associated to the cost agreement.| No |

        | Description| The description associated to the cost agreement.| Yes |

        | IsDefault| Is default cost agreement.| Yes |

        | AgreementNumber| The agreement number associated to the cost agreement.| Yes |

        | CostCentreListItem| The GUID and description of the cost centre associated to the cost agreement.| No |

        | CompanyOutletListItems| The list of company outlets associated to the cost agreement.| No |

        | CompanyOutletListItems[0].CompanyOutletListItem| The GUID and description of the company outlet associated to the cost agreement.| No |

        | RelatedSupplierGuid| The GUID and description of the supplier GUID associated to the cost agreement.| No |

        | RelatedSupplierSiteGuids| The list of supplier site GUIDs associated to the cost agreement.| Yes |

        | RelatedLocationSourceGuid| Used to filter on the source location associated to the cost.|No |

        | RelatedLocationDestinationGuid| Used to filter on the destination location associated to the cost.| No |

        | RelatedCostGuidFilter| Used to filter on the related cost GUID.| No |

        | RelatedSupplierSiteGuids[0].RelatedSupplierSiteGuid| The GUID of the supplier site associated to the cost agreement.| Yes |

        | EndDate| The end date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | EndReasonListItem| The GUID and description of the end reason associated to the cost agreement.| No |

        | IsAutoRenewal| Is the cost agreement has auto renewal enabled.| No |

        | IsForAllSites| Is the cost agreement for all sites.| No |

        | PrimaryServiceListItem| The GUID and description of the end reason associated to the cost agreement.| No |

        | ReviewDate| The review date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | StartDate| The start date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | Costs| The list of costs associated to the cost agreement.| No |

        | Costs[0].GUID| The GUID associated to the cost.| No |

        | Costs[0].IsDeleted| Whether the cost is deleted.|Yes |

        | Costs[0].Description| The description associated to the cost.| No |

        | Costs[0].DefaultActionListItem| The GUID and description of the default action associated to the cost.| No |

        | Costs[0].ServiceFrequencyListItem| The GUID and description of the service frequency associated to the cost.| No |

        | Costs[0].ContainerTypeListItem| The GUID and description of the container type associated to the cost.| No |

        | Costs[0].RentTermListItem| The GUID and description of the rent term associated to the cost.|No |

        | Costs[0].MaterialListItem| The GUID and description of the material associated to the cost.|No |

        | Costs[0].RelatedLocationSourceGuid| The GUID related to the source location associated to the cost.|No |

        | Costs[0].RelatedLocationDestinationGuid| The GUID related to the destination location associated to the cost.|No |

        | Costs[0].EffectiveFrom| The date effective from date associated to the cost.|No |

        | Costs[0].Amount| The amount object associated to the cost.|No |

        | Costs[0].Amount.Cost| The cost value associated to the amount.| No |

        | Costs[0].Amount.MaximumCost| The maximum cost associated to the amount.|No |

        | Costs[0].Amount.MinimumCost| The minimum cost associated to the amount.|No |

        | Costs[0].Amount.Allowance| The allowance associated to the amount.|No |

        | Costs[0].Amount.VATListItem| The GUID and description of the VAT associated to the amount.|No |

        | Costs[0].Amount.TaxTemplateCollectionListItem| The GUID and description of the tax template collection associated to the amount.|No |

        | RelatedServiceAgreements| The list of service agreements related to the cost agreement.|No |

        | RelatedServiceAgreements[0].Guid| The Guid associated to the service agreement cost agreement.|No |

        | RelatedServiceAgreements[0].IsDeleted| Whether the service agreement…'
      operationId: CostAgreement_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCostAgreementResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /productCatalogue/costAgreements:
    get:
      tags:
      - CostAgreement
      summary: Find with Filters
      description: '| Property| Description|

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the cost agreement.|

        | Description| The description associated to the cost agreement.|

        | IsDefault| Is default cost agreement.|

        | AgreementNumber| The agreement number associated to the cost agreement.|

        | CostCentreListItem| The GUID and description of the cost centre associated to the cost agreement.|

        | CompanyOutletListItems| The list of company outlets associated to the cost agreement.|

        | CompanyOutletListItems[0].CompanyOutletListItem| The GUID and description of the company outlet associated to the cost agreement.|

        | RelatedSupplierGuid| Used to filter on the related supplier GUID.|

        | RelatedSupplierSiteGuid| Used to filter on the related supplier site GUID.|

        | RelatedSupplierSiteGuids| The list of supplier site GUIDs associated to the cost agreement.|

        | RelatedLocationSourceGuid| Used to filter on the source location associated to the cost.|

        | RelatedLocationDestinationGuid| Used to filter on the destination location associated to the cost.|

        | RelatedCostGuidFilter| Used to filter on the related cost GUID.|

        | RelatedSupplierSiteGuids[0].RelatedSupplierSiteGuid| The GUID of the supplier site associated to the cost agreement.|

        | EndDate| The end date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | EndReasonListItem| The GUID and description of the end reason associated to the cost agreement.|

        | IsAutoRenewal| Is the cost agreement has auto renewal enabled.|

        | IsForAllSites| Is the cost agreement for all sites.|

        | PrimaryServiceListItem| The GUID and description of the end reason associated to the cost agreement.|

        | ReviewDate| The review date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | StartDate| The start date associated to the cost agreement in ISO format (YYYY-MM-DD).|

        | Costs| The list of costs associated to the cost agreement.|

        | Costs[0].GUID| The GUID associated to the cost.|

        | Costs[0].IsDeleted| Whether the cost is deleted.|

        | Costs[0].Description| The description associated to the cost.|

        | Costs[0].DefaultActionListItem| The GUID and description of the default action associated to the cost.|

        | Costs[0].ServiceFrequencyListItem| The GUID and description of the service frequency associated to the cost.|

        | Costs[0].ContainerTypeListItem| The GUID and description of the container type associated to the cost.|

        | Costs[0].RentTermListItem| The GUID and description of the rent term associated to the cost.|

        | Costs[0].MaterialListItem| The GUID and description of the material associated to the cost.|

        | Costs[0].RelatedLocationSourceGuid| The GUID related to the source location associated to the cost.|

        | Costs[0].RelatedLocationDestinationGuid| The GUID related to the destination location associated to the cost.|

        | Costs[0].EffectiveFrom| The date effective from date associated to the cost.|

        | Costs[0].Amount| The amount object associated to the cost.|

        | Costs[0].Amount.Cost| The cost value associated to the amount.|

        | Costs[0].Amount.MaximumCost| The maximum cost associated to the amount.|

        | Costs[0].Amount.MinimumCost| The minimum cost associated to the amount.|

        | Costs[0].Amount.Allowance| The allowance associated to the amount.|

        | Costs[0].Amount.VATListItem| The GUID and description of the VAT associated to the amount.|

        | Costs[0].Amount.TaxTemplateCollectionListItem| The GUID and description of the tax template collection associated to the amount.|

        | RelatedServiceAgreements| The list of service agreements related to the cost agreement.|

        | RelatedServiceAgreements[0].Guid| The Guid associated to the service agreement cost agreement.|

        | RelatedServiceAgreements[0].IsDeleted| Whether the service agreement cost agreement is deleted.|

        | RelatedServiceAgreements[0].RelatedServiceAgreementGuid| The Guid of the service agreement associated to the cost agreement.|

        |…'
      operationId: CostAgreement_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCostAgreementResource'
    post:
      tags:
      - CostAgreement
      summary: Create or update
      description: '| Property| Description| Required |

        | ----------------------------------------------------------|-------------------------------------------------------------------------------------- |----------|

        | GUID| The GUID associated to the cost agreement.| No |

        | Description| The description associated to the cost agreement.| Yes |

        | IsDefault| Is default cost agreement.| Yes |

        | AgreementNumber| The agreement number associated to the cost agreement.| Yes |

        | CostCentreListItem| The GUID and description of the cost centre associated to the cost agreement.| No |

        | CompanyOutletListItems| The list of company outlets associated to the cost agreement.| No |

        | CompanyOutletListItems[0].CompanyOutletListItem| The GUID and description of the company outlet associated to the cost agreement.| No |

        | RelatedSupplierGuid| The GUID and description of the supplier GUID associated to the cost agreement.| No |

        | RelatedSupplierSiteGuids| The list of supplier site GUIDs associated to the cost agreement.| Yes |

        | RelatedLocationSourceGuid| Used to filter on the source location associated to the cost.|No |

        | RelatedLocationDestinationGuid| Used to filter on the destination location associated to the cost.| No |

        | RelatedCostGuidFilter| Used to filter on the related cost GUID.| No |

        | RelatedSupplierSiteGuids[0].RelatedSupplierSiteGuid| The GUID of the supplier site associated to the cost agreement.| Yes |

        | EndDate| The end date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | EndReasonListItem| The GUID and description of the end reason associated to the cost agreement.| No |

        | IsAutoRenewal| Is the cost agreement has auto renewal enabled.| No |

        | IsForAllSites| Is the cost agreement for all sites.| No |

        | PrimaryServiceListItem| The GUID and description of the end reason associated to the cost agreement.| No |

        | ReviewDate| The review date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | StartDate| The start date associated to the cost agreement in ISO format (YYYY-MM-DD).| No |

        | Costs| The list of costs associated to the cost agreement.| No |

        | Costs[0].GUID| The GUID associated to the cost.| No |

        | Costs[0].IsDeleted| Whether the cost is deleted.|Yes |

        | Costs[0].Description| The description associated to the cost.| No |

        | Costs[0].DefaultActionListItem| The GUID and description of the default action associated to the cost.| No |

        | Costs[0].ServiceFrequencyListItem| The GUID and description of the service frequency associated to the cost.| No |

        | Costs[0].ContainerTypeListItem| The GUID and description of the container type associated to the cost.| No |

        | Costs[0].RentTermListItem| The GUID and description of the rent term associated to the cost.|No |

        | Costs[0].MaterialListItem| The GUID and description of the material associated to the cost.|No |

        | Costs[0].RelatedLocationSourceGuid| The GUID related to the source location associated to the cost.|No |

        | Costs[0].RelatedLocationDestinationGuid| The GUID related to the destination location associated to the cost.|No |

        | Costs[0].EffectiveFrom| The date effective from date associated to the cost.|No |

        | Costs[0].Amount| The amount object associated to the cost.|No |

        | Costs[0].Amount.Cost| The cost value associated to the amount.| No |

        | Costs[0].Amount.MaximumCost| The maximum cost associated to the amount.|No |

        | Costs[0].Amount.MinimumCost| The minimum cost associated to the amount.|No |

        | Costs[0].Amount.Allowance| The allowance associated to the amount.|No |

        | Costs[0].Amount.VATListItem| The GUID and description of the VAT associated to the amount.|No |

        | Costs[0].Amount.TaxTemplateCollectionListItem| The GUID and description of the tax template collection associated to the amount.|No |

        | RelatedServiceAgreements| The list of service agreements related to the cost agreement.|No |

        | RelatedServiceAgreements[0].Guid| The Guid associated to the service agreement cost agreement.|No |

        | RelatedServiceAgreements[0].IsDeleted| Whether the service agreement…'
      operationId: CostAgreement_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCostAgreementResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCostAgreementCompanyOutletResource:
      type: object
      properties:
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorCostAgreementRelatedSupplierSiteResource:
      type: object
      properties:
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorCostAgreementResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorCostAgreementResource:
      type: object
      properties:
        Description:
          type: string
        IsDefault:
          type: boolean
        AgreementNumber:
          type: string
        CostCentreListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedSupplierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsAutoRenewal:
          type: boolean
        IsForAllSites:
          type: boolean
        PrimaryServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReviewDate:
          type: string
          format: localDate
          example: '2000-01-01'
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        CompanyOutletListItems:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementCompanyOutletResource'
        RelatedSupplierSiteGuids:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementRelatedSupplierSiteResource'
        RelatedServiceAgreements:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementServiceAgreementResource'
        Costs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementCostResource'
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationSourceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedCostGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedServiceAgreementGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCostAgreementCostResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        DefaultActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceFrequencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedLocationSourceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        EffectiveFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        Amount:
          $ref: '#/components/schemas/ApiIntegratorCostAgreementAmountResource'
    ApiResourceResultEntity_ApiIntegratorCostAgreementResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCostAgreementResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorCostAgreementResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCostAgreementResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorCostAgreementServiceAgreementResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        RelatedServiceAgreementGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorCostAgreementAmountResource:
      type: object
      properties:
        Cost:
          type: number
          format: double
        MaximumCost:
          type: number
          format: double
        MinimumCost:
          type: number
          format: double
        Allowance:
          type: number
          format: double
        VATListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TaxTemplateCollectionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
