openapi: 3.2.0
info:
  title: AMCS Platform REST Schedule API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Schedule
paths:
  /transport/schedules/changes:
    get:
      tags:
      - Schedule
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the schedule. |

        | ScheduledDate| The date associated to the schedule.|

        | Description| The description associated to the schedule.|

        | IsContainerSchedule| Is the schedule a container.|

        | Notes| The notes associated to the schedule.Filterable.|

        | LeaveYardTime| The leave yard time associated to the schedule.|

        | ReturnYardTime| The return yard time associated to the schedule.|

        | Driver.RelatedUserDriverGuid| The GUID associated to the related user driver.|

        | Driver.ClockOffDateTime| The clock off time associated to the driver.|

        | Driver.ClockOnDateTime| The clock on time associated to the driver.|

        | VehicleChecks.StartMileage| The start mileage associated to the vehicle.|

        | VehicleChecks.EndMileage| The end mileage associated to the vehicle.|

        | VehicleChecks.IsStartSafetyChecked| Is the start safety checked associated to the vehicle.|

        | VehicleChecks.StartNotes| The start notes associated to the vehicle.|

        | VehicleChecks.IsEndSafetyChecked| Is the end safety checked associated to the vehicle.|

        | VehicleChecks.EndNotes| The end notes associated to the vehicle.|

        | VehicleChecks.StartDefectTicketNo| The start defect ticket number associated to the vehicle.|

        | VehicleChecks.EndDefectTicketNo| The end defect ticket number for the vehicle.|

        | VehicleChecks.StartDefectCheckBySysUserId| The start defect check of the vehicle by user id.|

        | VehicleChecks.EndDefectCheckBySysUserId| The end defect check associated to the vehicle by user id.|

        | CompanyOutletListItem| The GUID and the description associated to the company outlet.|

        | IsCompleted| Is the schedule completed.|

        | IsForVehicle| Is the schedule for the vehicle.|

        | IsManifestCompleted| Is the manifest associated to the schedule completed.|

        | IsManifestExported| Is the manifest associated to the schedule exported.|

        | IsManifestExportedFailed| Is the manifest export associated to the schedule failed.|

        | IsManifestRequired| Is the manifest associated to the schedule required.|

        | IsThirdPartySchedule| Is the schedule a third party.|

        | FuelUsed| The fuel used associated to the schedule.|

        | FuelCost| The fuel cost associated to the schedule.|

        | Position| The position associated to the schedule.|

        | RelatedVehicleGuid| The GUID associated to the related vehicle. Filterable.|

        | RelatedUserDriverGuid| The GUID associated to the related user driver. Filterable.|

        | RelatedUserStartCheckByGuid| The GUID associated to the related user for start check. Filterable.|

        | RelatedUserEndCheckByGuid| The GUID associated to the related user for end check. Filterable.|'
      operationId: Schedule_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorScheduleResource'
  /transport/schedules/{guid}:
    get:
      tags:
      - Schedule
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the schedule. |

        | ScheduledDate| The date associated to the schedule.|

        | Description| The description associated to the schedule.|

        | IsContainerSchedule| Is the schedule a container.|

        | Notes| The notes associated to the schedule.Filterable.|

        | LeaveYardTime| The leave yard time associated to the schedule.|

        | ReturnYardTime| The return yard time associated to the schedule.|

        | Driver.RelatedUserDriverGuid| The GUID associated to the related user driver.|

        | Driver.ClockOffDateTime| The clock off time associated to the driver.|

        | Driver.ClockOnDateTime| The clock on time associated to the driver.|

        | VehicleChecks.StartMileage| The start mileage associated to the vehicle.|

        | VehicleChecks.EndMileage| The end mileage associated to the vehicle.|

        | VehicleChecks.IsStartSafetyChecked| Is the start safety checked associated to the vehicle.|

        | VehicleChecks.StartNotes| The start notes associated to the vehicle.|

        | VehicleChecks.IsEndSafetyChecked| Is the end safety checked associated to the vehicle.|

        | VehicleChecks.EndNotes| The end notes associated to the vehicle.|

        | VehicleChecks.StartDefectTicketNo| The start defect ticket number associated to the vehicle.|

        | VehicleChecks.EndDefectTicketNo| The end defect ticket number for the vehicle.|

        | VehicleChecks.StartDefectCheckBySysUserId| The start defect check of the vehicle by user id.|

        | VehicleChecks.EndDefectCheckBySysUserId| The end defect check associated to the vehicle by user id.|

        | CompanyOutletListItem| The GUID and the description associated to the company outlet.|

        | IsCompleted| Is the schedule completed.|

        | IsForVehicle| Is the schedule for the vehicle.|

        | IsManifestCompleted| Is the manifest associated to the schedule completed.|

        | IsManifestExported| Is the manifest associated to the schedule exported.|

        | IsManifestExportedFailed| Is the manifest export associated to the schedule failed.|

        | IsManifestRequired| Is the manifest associated to the schedule required.|

        | IsThirdPartySchedule| Is the schedule a third party.|

        | FuelUsed| The fuel used associated to the schedule.|

        | FuelCost| The fuel cost associated to the schedule.|

        | Position| The position associated to the schedule.|

        | RelatedVehicleGuid| The GUID associated to the related vehicle. Filterable.|

        | RelatedUserDriverGuid| The GUID associated to the related user driver. Filterable.|

        | RelatedUserStartCheckByGuid| The GUID associated to the related user for start check. Filterable.|

        | RelatedUserEndCheckByGuid| The GUID associated to the related user for end check. Filterable.|'
      operationId: Schedule_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorScheduleResource'
    put:
      tags:
      - Schedule
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the schedule.'
      operationId: Schedule_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorScheduleResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/schedules:
    get:
      tags:
      - Schedule
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID| The GUID associated to the schedule. |

        | ScheduledDate| The date associated to the schedule.|

        | Description| The description associated to the schedule.|

        | IsContainerSchedule| Is the schedule a container.|

        | Notes| The notes associated to the schedule.Filterable.|

        | LeaveYardTime| The leave yard time associated to the schedule.|

        | ReturnYardTime| The return yard time associated to the schedule.|

        | Driver.RelatedUserDriverGuid| The GUID associated to the related user driver.|

        | Driver.ClockOffDateTime| The clock off time associated to the driver.|

        | Driver.ClockOnDateTime| The clock on time associated to the driver.|

        | VehicleChecks.StartMileage| The start mileage associated to the vehicle.|

        | VehicleChecks.EndMileage| The end mileage associated to the vehicle.|

        | VehicleChecks.IsStartSafetyChecked| Is the start safety checked associated to the vehicle.|

        | VehicleChecks.StartNotes| The start notes associated to the vehicle.|

        | VehicleChecks.IsEndSafetyChecked| Is the end safety checked associated to the vehicle.|

        | VehicleChecks.EndNotes| The end notes associated to the vehicle.|

        | VehicleChecks.StartDefectTicketNo| The start defect ticket number associated to the vehicle.|

        | VehicleChecks.EndDefectTicketNo| The end defect ticket number for the vehicle.|

        | VehicleChecks.StartDefectCheckBySysUserId| The start defect check of the vehicle by user id.|

        | VehicleChecks.EndDefectCheckBySysUserId| The end defect check associated to the vehicle by user id.|

        | CompanyOutletListItem| The GUID and the description associated to the company outlet.|

        | IsCompleted| Is the schedule completed.|

        | IsForVehicle| Is the schedule for the vehicle.|

        | IsManifestCompleted| Is the manifest associated to the schedule completed.|

        | IsManifestExported| Is the manifest associated to the schedule exported.|

        | IsManifestExportedFailed| Is the manifest export associated to the schedule failed.|

        | IsManifestRequired| Is the manifest associated to the schedule required.|

        | IsThirdPartySchedule| Is the schedule a third party.|

        | FuelUsed| The fuel used associated to the schedule.|

        | FuelCost| The fuel cost associated to the schedule.|

        | Position| The position associated to the schedule.|

        | RelatedVehicleGuid| The GUID associated to the related vehicle. Filterable.|

        | RelatedUserDriverGuid| The GUID associated to the related user driver. Filterable.|

        | RelatedUserStartCheckByGuid| The GUID associated to the related user for start check. Filterable.|

        | RelatedUserEndCheckByGuid| The GUID associated to the related user for end check. Filterable.|'
      operationId: Schedule_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorScheduleResource'
    post:
      tags:
      - Schedule
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the schedule.'
      operationId: Schedule_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorScheduleResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorScheduleResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorScheduleResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorScheduleResource:
      type: object
      properties:
        ScheduledDate:
          type: string
          format: localDate
          example: '2000-01-01'
        Description:
          type: string
        IsContainerSchedule:
          type: boolean
        Notes:
          type: string
        LeaveYardTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        ReturnYardTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        Driver:
          $ref: '#/components/schemas/ApiIntegratorScheduleDriverResource'
        VehicleChecks:
          $ref: '#/components/schemas/ApiIntegratorScheduleVehicleCheckResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsCompleted:
          type: boolean
        IsForVehicle:
          type: boolean
        IsManifestCompleted:
          type: boolean
        IsManifestExported:
          type: boolean
        IsManifestExportedFailed:
          type: boolean
        IsManifestRequired:
          type: boolean
        IsThirdPartySchedule:
          type: boolean
        FuelUsed:
          type: number
          format: double
        FuelCost:
          type: number
          format: double
        Position:
          type: integer
          format: int32
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserDriverGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserStartCheckByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserEndCheckByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorScheduleDriverResource:
      type: object
      properties:
        RelatedUserDriverGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ClockOffDateTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        ClockOnDateTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
    ApiResourceChanges_ApiIntegratorScheduleResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorScheduleResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorScheduleVehicleCheckResource:
      type: object
      properties:
        StartMileage:
          type: number
          format: double
        EndMileage:
          type: number
          format: double
        IsStartSafetyChecked:
          type: boolean
        StartNotes:
          type: string
        IsEndSafetyChecked:
          type: boolean
        EndNotes:
          type: string
        StartDefectTicketNo:
          type: string
        EndDefectTicketNo:
          type: string
        RelatedUserStartCheckByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserEndCheckByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorScheduleResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorScheduleResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
