openapi: 3.2.0
info:
  title: AMCS Platform REST Invoice API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Invoice
paths:
  /accounting/invoices/changes:
    get:
      tags:
      - Invoice
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the invoice.'
      operationId: Invoice_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorInvoiceResource'
  /accounting/invoices/{guid}:
    get:
      tags:
      - Invoice
      summary: Find with GUID
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the invoice.'
      operationId: Invoice_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorInvoiceResource'
  /accounting/invoices:
    get:
      tags:
      - Invoice
      summary: Find with Filters
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the invoice.'
      operationId: Invoice_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorInvoiceResource'
components:
  schemas:
    ApiIntegratorInvoiceDeallocationResource:
      type: object
      properties:
        Amount:
          type: number
          format: double
        RelatedInvoiceAllocatedToGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DateDeallocated:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        DateInput:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        RelatedUserDeallocatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsExported:
          type: boolean
        IsInvoiceBillDeallocationExported:
          type: boolean
        IsInvoiceBillExported:
          type: boolean
        IsDeleted:
          type: boolean
        AllocationAccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateExported:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        DateInvoiceBillDeallocationExported:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        DateInvoiceBillExported:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        DeallocationAccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorInvoiceAmountExchangeRateResource:
      type: object
      properties:
        Rate:
          type: number
          format: double
        ExchangeDate:
          type: string
          format: localDate
          example: '2000-01-01'
        BaseCurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ExchangeCurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorInvoiceOutputResource:
      type: object
      properties:
        Hash:
          type: string
    ApiIntegratorInvoiceAmountResource:
      type: object
      properties:
        Amount:
          type: number
          format: double
        BaseAmount:
          type: number
          format: double
        ExchangeRate:
          $ref: '#/components/schemas/ApiIntegratorInvoiceAmountExchangeRateResource'
    ApiIntegratorRemitAddressResource:
      type: object
      properties:
        SiteName:
          type: string
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorInvoiceResource:
      type: object
      properties:
        InvoiceNumber:
          type: string
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CustomerInvoiceNumber:
          type: string
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        InvoiceCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RebateInvoiceCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        VATExemptNumber:
          type: string
        OutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DepartmentListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsCash:
          type: boolean
        IsAccepted:
          type: boolean
        IsDebit:
          type: boolean
        IsRebilled:
          type: boolean
        IsTaxAdjustment:
          type: boolean
        IsRequestForPayment:
          type: boolean
        InputDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        InvoiceDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        DueDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        WriteOffReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Amount:
          $ref: '#/components/schemas/ApiIntegratorInvoiceAmountResource'
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        PrintAddress:
          $ref: '#/components/schemas/ApiIntegratorPrintAddressResource'
        RemitAddress:
          $ref: '#/components/schemas/ApiIntegratorRemitAddressResource'
        Notes:
          type: string
        Details:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceDetailResource'
        Batch:
          $ref: '#/components/schemas/ApiIntegratorInvoiceBatchResource'
        Deallocations:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceDeallocationResource'
        Allocations:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceAllocationResource'
        RelatedOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedBatchGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserGeneratedGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserAcceptedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPONumberGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedInvoiceAllocatedToGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserDeallocatedByGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ReferenceFilter:
          type: string
        BatchGeneratedTimestampUtcFilter:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        BatchAcceptedTimestampUtcFilter:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        RelatedBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceOutputResource'
        UnallocatedAmount:
          type: number
          format: double
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceResultEntity_ApiIntegratorInvoiceResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorInvoiceResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorInvoiceAllocationResource:
      type: object
      properties:
        Amount:
          type: number
          format: double
        RelatedInvoiceAllocatedToGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        DateInput:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        IsExported:
          type: boolean
        IsDeleted:
          type: boolean
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateExported:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorInvoiceBatchResource:
      type: object
      properties:
        GeneratedTimestamp:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        AcceptedTimestamp:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        InvoiceDate:
          type: string
          format: localDate
          example: '2000-01-01'
        InvoiceUntil:
          type: string
          format: localDate
          example: '2000-01-01'
        IsAcceptanceInProgress:
          type: boolean
        IsGenerationInProgress:
          type: boolean
        IsExported:
          type: boolean
        RelatedUserGeneratedGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserAcceptedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AnalysisCode:
          type: string
        Notes:
          type: string
        InvoiceBatchStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDeleted:
          type: boolean
        BatchGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorInvoiceDetailRentResource:
      type: object
      properties:
        RentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        From:
          type: string
          format: localDate
          example: '2000-01-01'
        To:
          type: string
          format: localDate
          example: '2000-01-01'
    ApiIntegratorInvoiceDetailResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ItemDate:
          type: string
          format: localDate
          example: '2000-01-01'
        OrderNo:
          type: string
        CustomerOrderNo:
          type: string
        CustomerLoadReference:
          type: string
        PoNumber:
          type: string
        ReleaseNumber:
          type: string
        DepartmentListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceDescriptionOverride:
          type: string
        ActionDescriptionOverride:
          type: string
        UnitOfMeasurementListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        SiteAddress:
          $ref: '#/components/schemas/ApiIntegratorInvoiceDetailSiteAddressResource'
        Reason:
          type: string
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceFrequencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DefaultActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Rent:
          $ref: '#/components/schemas/ApiIntegratorInvoiceDetailRentResource'
        Amount:
          $ref: '#/components/schemas/ApiIntegratorInvoiceDetailAmountResource'
        NotDueAmount:
          type: number
          format: double
        RelatedOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPONumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        VATListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Reference:
          type: string
        Notes:
          type: string
        TaxTemplateCollection:
          $ref: '#/components/schemas/ApiIntegratorInvoiceDetailTaxTemplateCollectionResource'
        PriceFactor:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorInvoiceResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorInvoiceDetailAmountResource:
      type: object
      properties:
        Rate:
          type: number
          format: double
        IsRebilled:
          type: boolean
        Quantity:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Weight:
          type: number
          format: double
        Price:
          type: number
          format: double
        PriceIncVat:
          type: number
          format: double
        ChargeableHours:
          type: number
          format: double
        MinimumCharge:
          type: number
          format: double
        MaximumCharge:
          type: number
          format: double
        Allowance:
          type: number
          format: double
        RebillQuantity:
          type: number
          format: double
        RebillVolume:
          type: number
          format: double
        RebillWeight:
          type: number
          format: double
        RebilledPrice:
          type: number
          format: double
        RebilledPriceIncVat:
          type: number
          format: double
        RebilledChargeableHours:
          type: number
          format: double
        RebilledMinimumCharge:
          type: number
          format: double
        RebilledMaximumCharge:
          type: number
          format: double
        RebilledAllowance:
          type: number
          format: double
    ApiIntegratorInvoiceDetailSiteAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
        ContactMethods:
          $ref: '#/components/schemas/ApiIntegratorInvoiceDetailSiteAddressContactMethodsResource'
    ApiIntegratorInvoiceDetailTaxTemplateCollectionResource:
      type: object
      properties:
        Description:
          type: string
        Code:
          type: string
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollection_ApiIntegratorInvoiceResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorInvoiceResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorInvoiceDetailSiteAddressContactMethodsResource:
      type: object
      properties:
        TelNo:
          type: string
        FaxNo:
          type: string
    ApiIntegratorPrintAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
