openapi: 3.2.0
info:
  title: AMCS Platform REST Shared Container API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: SharedContainer
paths:
  /stosag/sharedContainers:
    get:
      tags:
      - SharedContainer
      summary: Find with Filters
      description: '| Property| Description|

        | ----------------------------------------------------------------------|---------------------------------------------------------------------------------------------------|

        | MunicipalityGuids| The GUID associated to the local authority. Filterable|

        | SharedContainerGuid| The GUID associated to the shared container.|

        | ClusterAccountId| The id associated to the shared container.|

        | SharedContainer| The NAME associated to the shared container.|

        | Containers[0].ContainerGuid| The GUID of the container associated to the shared container.|

        | Container[0].Tag| The Tag of the container associated to the shared container.|

        | Container[0].SerialNo| The SerialNo of the container associated to the shared container.|

        | Container[0].AccessPassRequired| The AccessPassRequired of the container associated to the shared container.|

        | MasterAccessPasses[0].AccessPassTagId| The AccessPassTagId of the local authority associated to the shared container.|

        | MasterAccessPasses[0].MasterAccessPassGuid| The GUID of the access pass associated to the shared container.|

        | Accounts[0].ClusterAccountId| The id associated to the shared container.|

        | Accounts[0].CustomerId| The id of the customer associated to the shared container.|

        | Accounts[0].CustomerGuid| The GUID of municipal account associated to the shared container.|

        | Accounts[0].MunicipalAccountAccessPasses[0].MunicipalAccessPassGuid| The GUID of the access pass of municipal account associated to the shared container.|

        | Accounts[0].MunicipalAccountAccessPasses[0].AccessPassTagId| The AccessPassTagId of the access pass of municipal account associated to the shared container.|'
      operationId: SharedContainer_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSharedContainerResource'
components:
  schemas:
    ApiIntegratorAccessClusterMunicipalAccessPassResource:
      type: object
      properties:
        MunicipalAccessPassGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccessPassTagId:
          type: string
    ApiIntegratorAccessClusterContainerResource:
      type: object
      properties:
        ContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Tag:
          type: string
        SerialNo:
          type: string
        AccessPassRequired:
          type: boolean
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorSharedContainerResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSharedContainerResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSharedContainerResource:
      type: object
      properties:
        MunicipalityGuids:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        SharedContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ClusterAccountId:
          type: integer
          format: int32
        SharedContainer:
          type: string
        Containers:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessClusterContainerResource'
        MasterAccessPasses:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessClusterMasterAccessPassResource'
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessClusterMunicipalAccountResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAccessClusterMasterAccessPassResource:
      type: object
      properties:
        MasterAccessPassGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccessPassTagId:
          type: string
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorAccessClusterMunicipalAccountResource:
      type: object
      properties:
        ClusterAccountId:
          type: integer
          format: int32
        CustomerId:
          type: integer
          format: int32
        CustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MunicipalAccountAccessPasses:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAccessClusterMunicipalAccessPassResource'
