openapi: 3.2.0
info:
  title: AMCS Platform REST Supplier Bill API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: SupplierBill
paths:
  /purchasing/supplierBills/changes:
    get:
      tags:
      - SupplierBill
      summary: Retrieve changes
      description: '| Property | Description|

        | -------------------- | -------------------------------------------------------------------------- |

        | RelatedSupplierGuid | The GUID associated to the supplier of the supplier bill.|

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the supplier bill.|

        | Reference | The reference associated to the supplier bill.|

        | Description | The description associated to the supplier bill.|

        | Amount | The amount associated to the supplier bill.|

        | AmountExVat | The amount excluding VAT associated to the supplier bill.|

        | IsFinalised | Is this supplier bill finalised?|

        | IsMatched | Is this supplier bill matched?|

        | Date | The date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | DueDate | The due date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | Number | The number associated to the supplier bill. |

        | BillNo | The bill number associated to the supplier bill. |

        | RelatedGeneralLedgerExportGuid | The GUID of general ledger export associated to the supplier bill |'
      operationId: SupplierBill_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorSupplierBillResource'
  /purchasing/supplierBills/{guid}:
    get:
      tags:
      - SupplierBill
      summary: Find with GUID
      description: '| Property | Description|

        | -------------------- | -------------------------------------------------------------------------- |

        | RelatedSupplierGuid | The GUID associated to the supplier of the supplier bill.|

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the supplier bill.|

        | Reference | The reference associated to the supplier bill.|

        | Description | The description associated to the supplier bill.|

        | Amount | The amount associated to the supplier bill.|

        | AmountExVat | The amount excluding VAT associated to the supplier bill.|

        | IsFinalised | Is this supplier bill finalised?|

        | IsMatched | Is this supplier bill matched?|

        | Date | The date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | DueDate | The due date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | Number | The number associated to the supplier bill. |

        | BillNo | The bill number associated to the supplier bill. |

        | RelatedGeneralLedgerExportGuid | The GUID of general ledger export associated to the supplier bill |'
      operationId: SupplierBill_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorSupplierBillResource'
    put:
      tags:
      - SupplierBill
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | RelatedSupplierGuid | The GUID associated to the supplier of the supplier bill. | Yes |

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the supplier bill.| No |

        | Reference | The reference associated to the supplier bill.| No |

        | Description | The description associated to the supplier bill.| Yes |

        | Amount | The amount associated to the supplier bill.| Yes |

        | AmountExVat | The amount excluding VAT associated to the supplier bill.| Yes |

        | IsFinalised | Is this supplier bill finalised? | Yes |

        | IsMatched | Is this supplier bill matched?| Yes |

        | Date | The date associated to the supplier bill in ISO format (YYYY-MM-DD).| Yes |

        | DueDate | The due date associated to the supplier bill in ISO format (YYYY-MM-DD).| Yes |

        | Number | The number associated to the supplier bill | Yes |

        | BillNo | The bill number associated to the supplier bill. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | IsFinalised is true | Can only create applied costs if bill is not finalised |

        | SupplierSite not found with value RelatedSupplierSiteGuid | Failed to retrieve SupplierSite with RelatedSupplierSiteGuid of {value of RelatedSupplierSiteGuid} |

        | Supplier not found with value RelatedSupplierGuid | Failed to retrieve Supplier with RelatedSupplierGuid of {value of RelatedSupplierGuid} |

        | Description is more than 60 characters long | Description must be no more than 60 characters long. |

        | Number is more than 60 characters long | Number must be no more than 60 characters long. |

        | Number already exists for the current supplier | The bill number must be unique per supplier |

        | IsMatched is true | Can only create applied costs if bill is unmatched |

        | IsFinalised is true | Can only create applied costs if bill is not finalised |

        | IsProForma is true | IsProForma must be false |

        | BillNo is not null | BillNo is a read-only property. |'
      operationId: SupplierBill_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierBillResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /purchasing/supplierBills:
    get:
      tags:
      - SupplierBill
      summary: Find with Filters
      description: '| Property | Description|

        | -------------------- | -------------------------------------------------------------------------- |

        | RelatedSupplierGuid | The GUID associated to the supplier of the supplier bill.|

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the supplier bill.|

        | Reference | The reference associated to the supplier bill.|

        | Description | The description associated to the supplier bill.|

        | Amount | The amount associated to the supplier bill.|

        | AmountExVat | The amount excluding VAT associated to the supplier bill.|

        | IsFinalised | Is this supplier bill finalised?|

        | IsMatched | Is this supplier bill matched?|

        | Date | The date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | DueDate | The due date associated to the supplier bill in ISO format (YYYY-MM-DD).|

        | Number | The number associated to the supplier bill. |

        | BillNo | The bill number associated to the supplier bill. |

        | RelatedGeneralLedgerExportGuid | The GUID of general ledger export associated to the supplier bill |'
      operationId: SupplierBill_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSupplierBillResource'
    post:
      tags:
      - SupplierBill
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | RelatedSupplierGuid | The GUID associated to the supplier of the supplier bill. | Yes |

        | RelatedSupplierSiteGuid | The GUID associated to the supplier site of the supplier bill.| No |

        | Reference | The reference associated to the supplier bill.| No |

        | Description | The description associated to the supplier bill.| Yes |

        | Amount | The amount associated to the supplier bill.| Yes |

        | AmountExVat | The amount excluding VAT associated to the supplier bill.| Yes |

        | IsFinalised | Is this supplier bill finalised? | Yes |

        | IsMatched | Is this supplier bill matched?| Yes |

        | Date | The date associated to the supplier bill in ISO format (YYYY-MM-DD).| Yes |

        | DueDate | The due date associated to the supplier bill in ISO format (YYYY-MM-DD).| Yes |

        | Number | The number associated to the supplier bill | Yes |

        | BillNo | The bill number associated to the supplier bill. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | IsFinalised is true | Can only create applied costs if bill is not finalised |

        | SupplierSite not found with value RelatedSupplierSiteGuid | Failed to retrieve SupplierSite with RelatedSupplierSiteGuid of {value of RelatedSupplierSiteGuid} |

        | Supplier not found with value RelatedSupplierGuid | Failed to retrieve Supplier with RelatedSupplierGuid of {value of RelatedSupplierGuid} |

        | Description is more than 60 characters long | Description must be no more than 60 characters long. |

        | Number is more than 60 characters long | Number must be no more than 60 characters long. |

        | Number already exists for the current supplier | The bill number must be unique per supplier |

        | IsMatched is true | Can only create applied costs if bill is unmatched |

        | IsFinalised is true | Can only create applied costs if bill is not finalised |

        | IsProForma is true | IsProForma must be false |

        | BillNo is not null | BillNo is a read-only property. |'
      operationId: SupplierBill_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierBillResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceResultEntity_ApiIntegratorSupplierBillResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorSupplierBillResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorSupplierBillResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierBillResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorSupplierBillResource:
      type: object
      properties:
        RelatedSupplierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Reference:
          type: string
        Description:
          type: string
        Amount:
          type: number
          format: double
        AmountExVat:
          type: number
          format: double
        IsFinalised:
          type: boolean
        IsMatched:
          type: boolean
        RelatedGeneralLedgerExportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Date:
          type: string
          format: localDate
          example: '2000-01-01'
        DueDate:
          type: string
          format: localDate
          example: '2000-01-01'
        Number:
          type: string
        BillNo:
          type: integer
          format: int32
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorSupplierBillResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierBillResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
