openapi: 3.2.0
info:
  title: AMCS Platform REST Charge API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Charge
paths:
  /accounting/charges/changes:
    get:
      tags:
      - Charge
      summary: Retrieve changes
      description: '| Property| Description |

        | --------------------------------- |-------------------------------------------------------------------------------- |

        | GUID| The Guid associated to the contact. Filterable |

        | RelatedSiteOrderGuid| The related site order Guid. Filterable |

        | RelatedJobGuid| The related Job Guid. Filterable |

        | RelatedLiftEventGuid| The related Lift event Guid. Filterable |

        | RelatedPriceGuid| The related Price Guid. Filterable |

        | RelatedRouteVisitGuid| The related Route visit Guid. Filterable |

        | RelatedRouteVisitJobGuid| The related Route visit job Guid. Filterable |

        | RelatedWeighingInGuid| The related Weighing In Guid. Filterable |

        | RelatedWeighingOutGuid| The related Weighing Out Guid. Filterable |

        | RelatedPONumberGuid| The related PO Number Guid. Filterable |

        | RelatedPriceModifierGuid| The related Price modifier Guid.Filterable |

        | RelatedInvoiceGuid| The related Invoice Guid.Filterable |

        | RelatedDepartmentGuid| The related Department Guid.Filterable |

        | RelatedServiceGuid| The related Service Guid.Filterable |

        | PONumber| The related PO Number. |

        | Amount.IsEstimate | Is the Amount an Estimation. |

        | Amount.Price| The price of the Amount. |

        | Amount.PriceExVat | The Price not including the Vat. |

        | Amount.Rate| The Rate of the Amount. |

        | DoNotInvoice| If the charge has not been invoiced or not. |

        | DoNotInvoiceReasonListItem | The Guid and Description associated to the Reason. |

        | ActionListItem | The Guid and Description associated to the Action. |

        | ActionGuidFilter | Used to filter the action guid associated to the charge. |

        | ChargeDateTime | The date and time when the charge happened |

        | ChargeStartDateFilter | Used to filter by the Start of ChargeDateTime |

        | ChargeEndDateFilter | Used to filter by the End of ChargeDateTime |'
      operationId: Charge_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorChargeResource'
  /accounting/charges/{guid}:
    get:
      tags:
      - Charge
      summary: Find with GUID
      description: '| Property| Description |

        | --------------------------------- |-------------------------------------------------------------------------------- |

        | GUID| The Guid associated to the contact. Filterable |

        | RelatedSiteOrderGuid| The related site order Guid. Filterable |

        | RelatedJobGuid| The related Job Guid. Filterable |

        | RelatedLiftEventGuid| The related Lift event Guid. Filterable |

        | RelatedPriceGuid| The related Price Guid. Filterable |

        | RelatedRouteVisitGuid| The related Route visit Guid. Filterable |

        | RelatedRouteVisitJobGuid| The related Route visit job Guid. Filterable |

        | RelatedWeighingInGuid| The related Weighing In Guid. Filterable |

        | RelatedWeighingOutGuid| The related Weighing Out Guid. Filterable |

        | RelatedPONumberGuid| The related PO Number Guid. Filterable |

        | RelatedPriceModifierGuid| The related Price modifier Guid.Filterable |

        | RelatedInvoiceGuid| The related Invoice Guid.Filterable |

        | RelatedDepartmentGuid| The related Department Guid.Filterable |

        | RelatedServiceGuid| The related Service Guid.Filterable |

        | PONumber| The related PO Number. |

        | Amount.IsEstimate | Is the Amount an Estimation. |

        | Amount.Price| The price of the Amount. |

        | Amount.PriceExVat | The Price not including the Vat. |

        | Amount.Rate| The Rate of the Amount. |

        | DoNotInvoice| If the charge has not been invoiced or not. |

        | DoNotInvoiceReasonListItem | The Guid and Description associated to the Reason. |

        | ActionListItem | The Guid and Description associated to the Action. |

        | ActionGuidFilter | Used to filter the action guid associated to the charge. |

        | ChargeDateTime | The date and time when the charge happened |

        | ChargeStartDateFilter | Used to filter by the Start of ChargeDateTime |

        | ChargeEndDateFilter | Used to filter by the End of ChargeDateTime |'
      operationId: Charge_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorChargeResource'
    put:
      tags:
      - Charge
      summary: Partial update
      description: '| Property| Description | Required |

        | --------------------------------- |--------------------------------------------------------------------- | -------- |

        | GUID| The Guid associated to the contact.'
      operationId: Charge_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorChargeResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/charges:
    get:
      tags:
      - Charge
      summary: Find with Filters
      description: '| Property| Description |

        | --------------------------------- |-------------------------------------------------------------------------------- |

        | GUID| The Guid associated to the contact. Filterable |

        | RelatedSiteOrderGuid| The related site order Guid. Filterable |

        | RelatedJobGuid| The related Job Guid. Filterable |

        | RelatedLiftEventGuid| The related Lift event Guid. Filterable |

        | RelatedPriceGuid| The related Price Guid. Filterable |

        | RelatedRouteVisitGuid| The related Route visit Guid. Filterable |

        | RelatedRouteVisitJobGuid| The related Route visit job Guid. Filterable |

        | RelatedWeighingInGuid| The related Weighing In Guid. Filterable |

        | RelatedWeighingOutGuid| The related Weighing Out Guid. Filterable |

        | RelatedPONumberGuid| The related PO Number Guid. Filterable |

        | RelatedPriceModifierGuid| The related Price modifier Guid.Filterable |

        | RelatedInvoiceGuid| The related Invoice Guid.Filterable |

        | RelatedDepartmentGuid| The related Department Guid.Filterable |

        | RelatedServiceGuid| The related Service Guid.Filterable |

        | PONumber| The related PO Number. |

        | Amount.IsEstimate | Is the Amount an Estimation. |

        | Amount.Price| The price of the Amount. |

        | Amount.PriceExVat | The Price not including the Vat. |

        | Amount.Rate| The Rate of the Amount. |

        | DoNotInvoice| If the charge has not been invoiced or not. |

        | DoNotInvoiceReasonListItem | The Guid and Description associated to the Reason. |

        | ActionListItem | The Guid and Description associated to the Action. |

        | ActionGuidFilter | Used to filter the action guid associated to the charge. |

        | ChargeDateTime | The date and time when the charge happened |

        | ChargeStartDateFilter | Used to filter by the Start of ChargeDateTime |

        | ChargeEndDateFilter | Used to filter by the End of ChargeDateTime |'
      operationId: Charge_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorChargeResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceResultCollection_ApiIntegratorChargeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorChargeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorChargeAmountResource:
      type: object
      properties:
        IsEstimate:
          type: boolean
        Price:
          type: number
          format: double
        PriceExVat:
          type: number
          format: double
        Rate:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorChargeResource:
      type: object
      properties:
        RelatedSiteOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLiftEventGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPONumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceModifierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedInvoiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedDepartmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedServiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PONumber:
          type: string
        Amount:
          $ref: '#/components/schemas/ApiIntegratorChargeAmountResource'
        DoNotInvoice:
          type: boolean
        DoNotInvoiceReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ActionGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ChargeDateTime:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        ChargeStartDateFilter:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        ChargeEndDateFilter:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        RelatedOneOffActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedDefaultActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorChargeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorChargeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultEntity_ApiIntegratorChargeResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorChargeResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
