openapi: 3.2.0
info:
  title: AMCS Platform REST Municipal Account Service Package API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: MunicipalAccountServicePackage
paths:
  /municipal/municipalAccountServicePackages:
    get:
      tags:
      - MunicipalAccountServicePackage
      summary: Find with Filters
      operationId: MunicipalAccountServicePackage_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMunicipalAccountServicePackageResource'
components:
  schemas:
    ApiIntegratorMunicipalAccountServicePackageResource:
      type: object
      properties:
        AccountGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        FunctionalIdFilter:
          type: string
        ServicePackages:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMunicipalAccountServicePackageDetailResource'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorMunicipalAccountServicePackageDetailResource:
      type: object
      properties:
        Description:
          type: string
        Services:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMunicipalAccountServicePackageDetailServiceResource'
    ApiResourceResultCollection_ApiIntegratorMunicipalAccountServicePackageResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMunicipalAccountServicePackageResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorMunicipalAccountServicePackageDetailServiceResource:
      type: object
      properties:
        ServiceType:
          type: string
        ServiceDescription:
          type: string
        ServiceLineDescription:
          type: string
        Material:
          type: string
        WorkOrderStatus:
          type: string
        OrderNumber:
          type: string
        OrderNumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
