openapi: 3.2.0
info:
  title: AMCS Platform REST Supplier API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Supplier
paths:
  /directory/suppliers/changes:
    get:
      tags:
      - Supplier
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the supplier. |

        | ApAccountCode | The account code used for accounts payable associated to the supplier. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.AccountName | The account name associated to the bank details. |

        | BankDetails.AccountNo | The account number associated to the bank details. |

        | BankDetails.Address.Address1 | The address1 associated to the bank details. |

        | BankDetails.Address.Address2 | The address2 associated to the bank details. |

        | BankDetails.Address.Address3 | The address3 associated to the bank details. |

        | BankDetails.Address.Address4 | The address4 associated to the bank details. |

        | BankDetails.Address.Address5 | The address5 associated to the bank details. |

        | BankDetails.Address.Postcode | The postcode associated to the bank details. |

        | BankDetails.BankName | The bank name associated to the bank details. |

        | BankDetails.BIC | The Bank Identifier Code associated to the bank details. |

        | BankDetails.IBAN | The International Bank Account Number associated to the bank details. |

        | BankDetails.SortCode | The sort code associated to the bank details. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and name of the direct debit run config associated to the bank details. |

        | CompanyOutletListItem | The GUID and name of the company outlet associated to the supplier. |

        | CurrencyListItem | The GUID and name of the currency associated to the supplier. |

        | Description | The description associated to the supplier. |

        | IsTransportSupplier | Is this a transport supplier? |

        | PaymentTermListItem | The GUID and name of the payment term associated to the supplier. |

        | PaymentTypeListItem | The GUID and name of the payment type associated to the supplier. |'
      operationId: Supplier_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorSupplierAccountResource'
  /directory/suppliers/{guid}:
    get:
      tags:
      - Supplier
      summary: Find with GUID
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the supplier. |

        | ApAccountCode | The account code used for accounts payable associated to the supplier. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.AccountName | The account name associated to the bank details. |

        | BankDetails.AccountNo | The account number associated to the bank details. |

        | BankDetails.Address.Address1 | The address1 associated to the bank details. |

        | BankDetails.Address.Address2 | The address2 associated to the bank details. |

        | BankDetails.Address.Address3 | The address3 associated to the bank details. |

        | BankDetails.Address.Address4 | The address4 associated to the bank details. |

        | BankDetails.Address.Address5 | The address5 associated to the bank details. |

        | BankDetails.Address.Postcode | The postcode associated to the bank details. |

        | BankDetails.BankName | The bank name associated to the bank details. |

        | BankDetails.BIC | The Bank Identifier Code associated to the bank details. |

        | BankDetails.IBAN | The International Bank Account Number associated to the bank details. |

        | BankDetails.SortCode | The sort code associated to the bank details. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and name of the direct debit run config associated to the bank details. |

        | CompanyOutletListItem | The GUID and name of the company outlet associated to the supplier. |

        | CurrencyListItem | The GUID and name of the currency associated to the supplier. |

        | Description | The description associated to the supplier. |

        | IsTransportSupplier | Is this a transport supplier? |

        | PaymentTermListItem | The GUID and name of the payment term associated to the supplier. |

        | PaymentTypeListItem | The GUID and name of the payment type associated to the supplier. |'
      operationId: Supplier_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorSupplierAccountResource'
    put:
      tags:
      - Supplier
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the supplier. | No |

        | ApAccountCode | The account code used for accounts payable associated to the supplier. | Yes |

        | BankDetails | The object where bank details are specified. | No |

        | BankDetails.AccountName | The account name associated to the bank details. | Yes |

        | BankDetails.AccountNo | The account number associated to the bank details. | Yes |

        | BankDetails.Address.Address1 | The address1 associated to the bank details. | No |

        | BankDetails.Address.Address2 | The address2 associated to the bank details. | No |

        | BankDetails.Address.Address3 | The address3 associated to the bank details. | No |

        | BankDetails.Address.Address4 | The address4 associated to the bank details. | No |

        | BankDetails.Address.Address5 | The address5 associated to the bank details. | No |

        | BankDetails.Address.Postcode | The postcode associated to the bank details. | No |

        | BankDetails.BankName | The bank name associated to the bank details. | Yes |

        | BankDetails.BIC | The Bank Identifier Code associated to the bank details. | No |

        | BankDetails.IBAN | The International Bank Account Number associated to the bank details. | No |

        | BankDetails.SortCode | The sort code associated to the bank details. | No |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and name of the direct debit run config associated to the bank details. | Yes |

        | CompanyOutletListItem | The GUID and name of the company outlet associated to the supplier. | No |

        | CurrencyListItem | The GUID and name of the currency associated to the supplier. | Yes |

        | Description | The description associated to the supplier. | Yes |

        | IsTransportSupplier | Is this a transport supplier? | No |

        | PaymentTermListItem | The GUID and name of the payment term associated to the supplier. | No |

        | PaymentTypeListItem | The GUID and name of the payment type associated to the supplier. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | CompanyOutlet not found with value CompanyOutletListItem.Guid | Failed to retrieve CompanyOutlet with GUID of {value of CompanyOutletListItem.Guid} |

        | PaymentType not found with value PaymentTypeListItem.Guid | Failed to retrieve PaymentType with GUID of {value of PaymentTypeListItem.Guid} |

        | PaymentTerm not found with value PaymentTermListItem.Guid | Failed to retrieve PaymentTerm with GUID of {value of PaymentTermListItem.Guid} |

        | Currency not found with value CurrencyListItem.Guid | Failed to retrieve Currency with GUID of {value of CurrencyListItem.Guid} |

        | DirectDebitRunConfig not found with value BankDetails.DirectDebitRunConfigListItem.Guid | Failed to retrieve DirectDebitRunConfig with GUID of {value of BankDetails.DirectDebitRunConfigListItem.Guid} |

        | When APAccountCode is not unique | The ApAccountCode must be unique per supplier |

        | Description not unique per supplier | The description must be unique per supplier |

        | When Description is null/empty/more than 60 chars | Supplier/Haulier Description: Must have a value. Must be no more than 100 characters long |

        | When APAccountCode is null/empty/more than 20 chars | APAccountCode: Must have a value. Must be no more than 20 characters long |'
      operationId: SupplierAccount_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierAccountResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/suppliers:
    get:
      tags:
      - Supplier
      summary: Find with Filters
      description: '| Property | Description |

        | -------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the supplier. |

        | ApAccountCode | The account code used for accounts payable associated to the supplier. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.AccountName | The account name associated to the bank details. |

        | BankDetails.AccountNo | The account number associated to the bank details. |

        | BankDetails.Address.Address1 | The address1 associated to the bank details. |

        | BankDetails.Address.Address2 | The address2 associated to the bank details. |

        | BankDetails.Address.Address3 | The address3 associated to the bank details. |

        | BankDetails.Address.Address4 | The address4 associated to the bank details. |

        | BankDetails.Address.Address5 | The address5 associated to the bank details. |

        | BankDetails.Address.Postcode | The postcode associated to the bank details. |

        | BankDetails.BankName | The bank name associated to the bank details. |

        | BankDetails.BIC | The Bank Identifier Code associated to the bank details. |

        | BankDetails.IBAN | The International Bank Account Number associated to the bank details. |

        | BankDetails.SortCode | The sort code associated to the bank details. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and name of the direct debit run config associated to the bank details. |

        | CompanyOutletListItem | The GUID and name of the company outlet associated to the supplier. |

        | CurrencyListItem | The GUID and name of the currency associated to the supplier. |

        | Description | The description associated to the supplier. |

        | IsTransportSupplier | Is this a transport supplier? |

        | PaymentTermListItem | The GUID and name of the payment term associated to the supplier. |

        | PaymentTypeListItem | The GUID and name of the payment type associated to the supplier. |'
      operationId: Supplier_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSupplierAccountResource'
    post:
      tags:
      - Supplier
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the supplier. | No |

        | ApAccountCode | The account code used for accounts payable associated to the supplier. | Yes |

        | BankDetails | The object where bank details are specified. | No |

        | BankDetails.AccountName | The account name associated to the bank details. | Yes |

        | BankDetails.AccountNo | The account number associated to the bank details. | Yes |

        | BankDetails.Address.Address1 | The address1 associated to the bank details. | No |

        | BankDetails.Address.Address2 | The address2 associated to the bank details. | No |

        | BankDetails.Address.Address3 | The address3 associated to the bank details. | No |

        | BankDetails.Address.Address4 | The address4 associated to the bank details. | No |

        | BankDetails.Address.Address5 | The address5 associated to the bank details. | No |

        | BankDetails.Address.Postcode | The postcode associated to the bank details. | No |

        | BankDetails.BankName | The bank name associated to the bank details. | Yes |

        | BankDetails.BIC | The Bank Identifier Code associated to the bank details. | No |

        | BankDetails.IBAN | The International Bank Account Number associated to the bank details. | No |

        | BankDetails.SortCode | The sort code associated to the bank details. | No |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and name of the direct debit run config associated to the bank details. | Yes |

        | CompanyOutletListItem | The GUID and name of the company outlet associated to the supplier. | No |

        | CurrencyListItem | The GUID and name of the currency associated to the supplier. | Yes |

        | Description | The description associated to the supplier. | Yes |

        | IsTransportSupplier | Is this a transport supplier? | No |

        | PaymentTermListItem | The GUID and name of the payment term associated to the supplier. | No |

        | PaymentTypeListItem | The GUID and name of the payment type associated to the supplier. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | CompanyOutlet not found with value CompanyOutletListItem.Guid | Failed to retrieve CompanyOutlet with GUID of {value of CompanyOutletListItem.Guid} |

        | PaymentType not found with value PaymentTypeListItem.Guid | Failed to retrieve PaymentType with GUID of {value of PaymentTypeListItem.Guid} |

        | PaymentTerm not found with value PaymentTermListItem.Guid | Failed to retrieve PaymentTerm with GUID of {value of PaymentTermListItem.Guid} |

        | Currency not found with value CurrencyListItem.Guid | Failed to retrieve Currency with GUID of {value of CurrencyListItem.Guid} |

        | DirectDebitRunConfig not found with value BankDetails.DirectDebitRunConfigListItem.Guid | Failed to retrieve DirectDebitRunConfig with GUID of {value of BankDetails.DirectDebitRunConfigListItem.Guid} |

        | When APAccountCode is not unique | The ApAccountCode must be unique per supplier |

        | When Description is null/empty/more than 60 chars | Supplier/Haulier Description: Must have a value. Must be no more than 100 characters long |

        | When APAccountCode is null/empty/more than 20 chars | APAccountCode: Must have a value. Must be no more than 20 characters long |'
      operationId: SupplierAccount_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierAccountResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorSupplierAccountResource:
      type: object
      properties:
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ApAccountCode:
          type: string
        Description:
          type: string
        IsTransportSupplier:
          type: boolean
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        BankDetails:
          $ref: '#/components/schemas/ApiIntegratorSupplierAccountBankDetailsResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorSupplierAccountResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierAccountResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceResultEntity_ApiIntegratorSupplierAccountResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorSupplierAccountResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorSupplierAccountResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierAccountResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSupplierAccountBankDetailsResource:
      type: object
      properties:
        BankName:
          type: string
        AccountName:
          type: string
        AccountNo:
          type: string
        SortCode:
          type: string
        BIC:
          type: string
        IBAN:
          type: string
        Address:
          $ref: '#/components/schemas/ApiIntegratorSupplierAccountBankDetailsAddressResource'
        DirectDebitRunConfigListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorSupplierAccountBankDetailsAddressResource:
      type: object
      properties:
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
