openapi: 3.2.0
info:
  title: AMCS Platform REST Bulky Waste Job API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: BulkyWasteJob
paths:
  /municipal/bulkyWasteJobs:
    post:
      tags:
      - BulkyWasteJob
      summary: Create or update
      operationId: BulkyWasteJob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorBulkyWasteJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorBulkyWasteJobResource:
      type: object
      properties:
        OrderNumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialProfileGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Date:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        ProcessingPrices:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorBulkyWasteProcessingPriceResource'
        ChargeAndCostList:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorBulkyWasteJobChargeAndCostResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorBulkyWasteJobChargeAndCostResource:
      type: object
      properties:
        PriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsSelected:
          type: boolean
        Type:
          type: string
        Service:
          type: string
        ContainerType:
          type: string
        Action:
          type: string
        Material:
          type: string
        PricingBasis:
          type: string
        Rate:
          type: number
          format: double
    ApiIntegratorBulkyWasteProcessingPriceResource:
      type: object
      properties:
        PriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerType:
          type: string
        MaterialClass:
          type: string
        MaterialProfile:
          type: string
        PricingBasis:
          type: string
        NetPrice:
          type: number
          format: double
        GrossPrice:
          type: number
          format: double
        BreakdownQuantity:
          type: integer
          format: int32
