openapi: 3.2.0
info:
  title: AMCS Platform REST Country API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Country
paths:
  /lists/countries/{guid}:
    get:
      tags:
      - Country
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the country |

        | Description | The description of the country |

        | Abbreviation | The abbreviation of the country |

        | ISO3166Numeric | The 3166 numeric iso of the country |

        | ISOThreeChar | The three character iso of the country |

        | ISOTwoChar | The two character iso of the country |

        | IsDefault| Whether the country is default |

        | IsDeleted| Whether the country is deleted|'
      operationId: Country_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCountryResource'
  /lists/countries:
    get:
      tags:
      - Country
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the country |

        | Description | The description of the country |

        | Abbreviation | The abbreviation of the country |

        | ISO3166Numeric | The 3166 numeric iso of the country |

        | ISOThreeChar | The three character iso of the country |

        | ISOTwoChar | The two character iso of the country |

        | IsDefault| Whether the country is default |

        | IsDeleted| Whether the country is deleted|'
      operationId: Country_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCountryResource'
components:
  schemas:
    ApiResourceResultCollection_ApiIntegratorCountryResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCountryResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorCountryResource:
      type: object
      properties:
        Description:
          type: string
        Abbreviation:
          type: string
        ISO3166Numeric:
          type: string
        ISOThreeChar:
          type: string
        ISOTwoChar:
          type: string
        IsDefault:
          type: boolean
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultEntity_ApiIntegratorCountryResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCountryResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
