openapi: 3.2.0
info:
  title: AMCS Platform REST Customer Blob API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: CustomerBlob
paths:
  /blobs/customerBlobs:
    post:
      tags:
      - CustomerBlob
      summary: Create or update
      description: '| ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | MediaContentBase64 | The Image/PDF converted to base 64| Yes |

        | DocumentName | The Document Name| Yes |

        | DocumentReference | The Document Reference | Yes |

        | RelatedInvoiceGuid | The Related Invoice Guid| No |

        | RelatedCustomerGuid | The Related Customer Guid| Yes |

        | CustomerExternalDocumentCategoryListItem | The GUID and description of the document category related to the external document | Yes |

        | IsAvailableOnPortal | The flag used to decide availability of document in portal| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | DocumentName is Null or not provided | The mandatory property DocumentName has a null value. The request could not be processed. Supply a value for the DocumentName property of the submitted resource. |

        | DocumentName has less than 5 characters or more than 510 characters | CustomerExternalDocument has the property DocumentName with value of {DocumentName} that is not supported. DocumentName should be at least 1 character and at most 506 characters, excluding the extension |

        | DocumentName does not have any of pdf/png/jpg/gif extension | CustomerExternalDocument has the property DocumentName with value of {DocumentName} that is not supported. DocumentName should have any of pdf/png/jpg/gif extension |

        | DocumentReference is Null or not provided | The mandatory property DocumentReference has a null value. The request could not be processed. Supply a value for the DocumentReference property of the submitted resource. |

        | RelatedCustomerGuid is Null or not provided | The mandatory property RelatedCustomerGuid has a null value. The request could not be processed. Supply a value for the RelatedCustomerGuid property of the submitted resource. |

        | Invalid RelatedCustomerGuid | Failed to retrieve Customer with RelatedCustomerGuid of {Guid} |

        | CustomerExternalDocumentCategoryListItem.Guid is Null or not provided | The mandatory property CustomerExternalDocumentCategoryListItem.Guid has a null value. The request could not be processed. Supply a value for the CustomerExternalDocumentCategoryListItem.Guid property of the submitted resource. |

        | Invalid CustomerExternalDocumentCategoryListItem.Guid | Failed to retrieve CustomerExternalDocumentCategory with CustomerExternalDocumentCategory.Guid of {Guid} |

        | MediaContentBase64 is Null or not provided | The mandatory property MediaContentBase64 has a null value. The request could not be processed. Supply a value for the MediaContentBase64 property of the submitted resource. |

        | MediaContentBase64 is not a valid base64 string | Failed to save/update CustomerExternalDocument because MediaContentBase64 has Invalid length for a Base-64 char array or string |


        ## Information

        | Information |

        | ----------- |

        | Currently we are only validating for a valid base64 string, we are not validating the string against the file extension |'
      operationId: CustomerBlob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCustomerExternalDocumentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorCustomerExternalDocumentResource:
      type: object
      properties:
        MediaContentBase64:
          type: string
        DocumentName:
          type: string
        DocumentReference:
          type: string
        CustomerExternalDocumentCategoryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedInvoiceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsAvailableOnPortal:
          type: boolean
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
