openapi: 3.2.0
info:
  title: AMCS Platform REST Service API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Service
paths:
  /lists/services/{guid}:
    get:
      tags:
      - Service
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the service |

        | Description | The description of the service |

        | ExternalDescription | The external description of the service |

        | ShortName | The short name description of the service |

        | AnalysisCode | The analysis code of the service |

        | IsDeleted | Whether the service is deleted |

        | AllowBarcodeScanningOnQuantityBasedBreakdown | Is barcode scanning on quantity based breakdown are allowable for this service? |

        | AllowBulkMovements | Is bulk movements allowable for this service?|

        | AllowDriverResequence | Is driver resequence allowable for this service?|

        | AllowManualBarcodeEntry| Is manual barcode entry allowable for this service?|

        | AllowQuantityBasedBreakdown | Is quantity based breakdown allowable for this service?|

        | AllowRecordBreakdownNotCollected | Is record breakdown not collected allowable for this service?|

        | AllowWasteTransferFormatSignatures | Is waste transfer format signatures allowable for this service?|

        | AllowZeroWeightsOnMobile| Is zero weight on mobile allowable for this service?|

        | CaptureFillLevelOnQuantityBasedBreakdown | The capture fill level on quantity based breakdown of this service |

        | CreditAccountRequired| Is credit account required for this service?|

        | DynamicOptimisationEnabled | Is dynamic optimisation enabled for this service?|

        | EnableChargeExcessWeightPerBin | Is charge excess weight per bin enabled for this service?|

        | ExcludeAssetTracking| Is asset tracking excluded for this service?- Deprecated|

        | AssetTrackingUsingSerialOrTag| Is asset tracking using serial number or tag for this service|

        | FilterOrderActionsbyMaterialProfile | The Filter order actions by material profile of the service|

        | IsAccountsPayable| Is accounts payable for this service?|

        | IsBookable| Is this service bookable?|

        | IsBrokerageOnly| Is this service brokerage only?|

        | IsCollection| Is this service collection?|

        | IsDirectMovement| Is this service direct movement?|

        | IsDisposalMaterialChangeEnabled | Is disposal material change enabled for this service?|

        | IsExport| Is this service export?|

        | IsIncludedWhereDOCRequired | Is included where DOC Required for this service?|

        | IsManagement| Is this service management?|

        | IsManifest| Is this service manifest?|

        | IsMaterialOut| Is material out for this service?|

        | IsQuantityBased| Is this service quantity based?|

        | IsRouteWeighing| Is this service route weighing?|

        | IsScheduled| Is this service scheduled?|

        | IsScheduledBag| Is scheduled bag for this service?|

        | IsStandingOrder| Is standing order for this service?|

        | IsSupplierConfirmationRequired | Is supplier confirmation required for this service?|

        | IsTipper| Is this service tripper?|

        | IsTransferOut| Is this service transfer out?|

        | IsUnScheduledMaterial| Is this service unscheduled material?|

        | IsWeighingSignatureRequired | Is weighing signature required for this service?|

        | IsWorkOrder| Is work order for this service?|

        | OneInvoicePerJobDefault| The one invoice per job default of the service|

        | RecordSummaryQuantity| The record summary quantity of the service|

        | RequiresPeriodicDoC| The requires periodic DoC of the service|

        | ShowJobPaymentDetailsOnMobile | The show job payment details on mobile of the service|

        | ShowOrderDefaultsOnBaleCollection | The show order default on bale collection|

        | WarnOnOutOfCycle| The warn on out of cycle of the service|

        | JobStatusTrackingLevel| The job status tracking level of teh service|

        | PremiumHireDayThreshold| The premium hire day threshold of the service|

        | BusinessTypeListItem| The GUID and description of the business type of the service|

        | ServiceCategoryListItem| The GUID and description of the service category of the service|'
      operationId: Service_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorServiceResource'
  /lists/services:
    get:
      tags:
      - Service
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the service |

        | Description | The description of the service |

        | ExternalDescription | The external description of the service |

        | ShortName | The short name description of the service |

        | AnalysisCode | The analysis code of the service |

        | IsDeleted | Whether the service is deleted |

        | AllowBarcodeScanningOnQuantityBasedBreakdown | Is barcode scanning on quantity based breakdown are allowable for this service? |

        | AllowBulkMovements | Is bulk movements allowable for this service?|

        | AllowDriverResequence | Is driver resequence allowable for this service?|

        | AllowManualBarcodeEntry| Is manual barcode entry allowable for this service?|

        | AllowQuantityBasedBreakdown | Is quantity based breakdown allowable for this service?|

        | AllowRecordBreakdownNotCollected | Is record breakdown not collected allowable for this service?|

        | AllowWasteTransferFormatSignatures | Is waste transfer format signatures allowable for this service?|

        | AllowZeroWeightsOnMobile| Is zero weight on mobile allowable for this service?|

        | CaptureFillLevelOnQuantityBasedBreakdown | The capture fill level on quantity based breakdown of this service |

        | CreditAccountRequired| Is credit account required for this service?|

        | DynamicOptimisationEnabled | Is dynamic optimisation enabled for this service?|

        | EnableChargeExcessWeightPerBin | Is charge excess weight per bin enabled for this service?|

        | ExcludeAssetTracking| Is asset tracking excluded for this service?- Deprecated|

        | AssetTrackingUsingSerialOrTag| Is asset tracking using serial number or tag for this service|

        | FilterOrderActionsbyMaterialProfile | The Filter order actions by material profile of the service|

        | IsAccountsPayable| Is accounts payable for this service?|

        | IsBookable| Is this service bookable?|

        | IsBrokerageOnly| Is this service brokerage only?|

        | IsCollection| Is this service collection?|

        | IsDirectMovement| Is this service direct movement?|

        | IsDisposalMaterialChangeEnabled | Is disposal material change enabled for this service?|

        | IsExport| Is this service export?|

        | IsIncludedWhereDOCRequired | Is included where DOC Required for this service?|

        | IsManagement| Is this service management?|

        | IsManifest| Is this service manifest?|

        | IsMaterialOut| Is material out for this service?|

        | IsQuantityBased| Is this service quantity based?|

        | IsRouteWeighing| Is this service route weighing?|

        | IsScheduled| Is this service scheduled?|

        | IsScheduledBag| Is scheduled bag for this service?|

        | IsStandingOrder| Is standing order for this service?|

        | IsSupplierConfirmationRequired | Is supplier confirmation required for this service?|

        | IsTipper| Is this service tripper?|

        | IsTransferOut| Is this service transfer out?|

        | IsUnScheduledMaterial| Is this service unscheduled material?|

        | IsWeighingSignatureRequired | Is weighing signature required for this service?|

        | IsWorkOrder| Is work order for this service?|

        | OneInvoicePerJobDefault| The one invoice per job default of the service|

        | RecordSummaryQuantity| The record summary quantity of the service|

        | RequiresPeriodicDoC| The requires periodic DoC of the service|

        | ShowJobPaymentDetailsOnMobile | The show job payment details on mobile of the service|

        | ShowOrderDefaultsOnBaleCollection | The show order default on bale collection|

        | WarnOnOutOfCycle| The warn on out of cycle of the service|

        | JobStatusTrackingLevel| The job status tracking level of teh service|

        | PremiumHireDayThreshold| The premium hire day threshold of the service|

        | BusinessTypeListItem| The GUID and description of the business type of the service|

        | ServiceCategoryListItem| The GUID and description of the service category of the service|'
      operationId: Service_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorServiceResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorServiceResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorServiceResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorServiceResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        ExternalDescription:
          type: string
        ShortName:
          type: string
        AnalysisCode:
          type: string
        AllowBarcodeScanningOnQuantityBasedBreakdown:
          type: boolean
        AllowBulkMovements:
          type: boolean
        AllowDriverResequence:
          type: boolean
        AllowManualBarcodeEntry:
          type: boolean
        AllowQuantityBasedBreakdown:
          type: boolean
        AllowRecordBreakdownNotCollected:
          type: boolean
        AllowWasteTransferFormatSignatures:
          type: boolean
        AllowZeroWeightsOnMobile:
          type: boolean
        CaptureFillLevelOnQuantityBasedBreakdown:
          type: boolean
        CreditAccountRequired:
          type: boolean
        DynamicOptimisationEnabled:
          type: boolean
        EnableChargeExcessWeightPerBin:
          type: boolean
        ExcludeAssetTracking:
          type: boolean
        AssetTrackingUsingSerialOrTag:
          type: boolean
        FilterOrderActionsbyMaterialProfile:
          type: boolean
        IsAccountsPayable:
          type: boolean
        IsBookable:
          type: boolean
        IsBrokerageOnly:
          type: boolean
        IsCollection:
          type: boolean
        IsDirectMovement:
          type: boolean
        IsDisposalMaterialChangeEnabled:
          type: boolean
        IsExport:
          type: boolean
        IsIncludedWhereDOCRequired:
          type: boolean
        IsManagement:
          type: boolean
        IsManifest:
          type: boolean
        IsMaterialOut:
          type: boolean
        IsQuantityBased:
          type: boolean
        IsRouteWeighing:
          type: boolean
        IsScheduled:
          type: boolean
        IsScheduledBag:
          type: boolean
        IsStandingOrder:
          type: boolean
        IsSupplierConfirmationRequired:
          type: boolean
        IsTipper:
          type: boolean
        IsTransferOut:
          type: boolean
        IsUnScheduledMaterial:
          type: boolean
        IsWeighingSignatureRequired:
          type: boolean
        IsWorkOrder:
          type: boolean
        OneInvoicePerJobDefault:
          type: boolean
        RecordSummaryQuantity:
          type: boolean
        RequiresPeriodicDoC:
          type: boolean
        ShowJobPaymentDetailsOnMobile:
          type: boolean
        ShowOrderDefaultsOnBaleCollection:
          type: boolean
        WarnOnOutOfCycle:
          type: boolean
        JobStatusTrackingLevel:
          type: integer
          format: int32
        PremiumHireDayThreshold:
          type: integer
          format: int32
        ServiceCategoryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        BusinessTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollection_ApiIntegratorServiceResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorServiceResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
