openapi: 3.2.0
info:
  title: AMCS Platform REST Weighing API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Weighing
paths:
  /scale/weighings/changes:
    get:
      tags:
      - Weighing
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID | The GUID associated to the weighing.'
      operationId: Weighing_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorWeighingResource'
  /scale/weighings/{guid}:
    get:
      tags:
      - Weighing
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID | The GUID associated to the weighing.'
      operationId: Weighing_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorWeighingResource'
    put:
      tags:
      - Weighing
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the weighing.'
      operationId: Weighing_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorWeighingResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /scale/weighings:
    get:
      tags:
      - Weighing
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | GUID | The GUID associated to the weighing.'
      operationId: Weighing_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorWeighingResource'
    post:
      tags:
      - Weighing
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the weighing.'
      operationId: Weighing_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorWeighingResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorWeighingInDetailResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Barcode:
          type: string
        Weight:
          type: number
          format: double
        RelatedJobOverrideBreakdownGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDeleted:
          type: boolean
    ApiIntegratorWeighingResource:
      type: object
      properties:
        RelatedScheduleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedExternalVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedMaterialGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedAreaOfOriginGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierThirdPartyCarrierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedTransferDestinationWeighingGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TicketNo:
          type: string
        ExternalTicketNo:
          type: string
        DestinationTicketNo:
          type: string
        CustomerLoadReference:
          type: string
        CustomerInvoiceReference:
          type: string
        Notes:
          type: string
        WeighingTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        HaulierName:
          type: string
        Driver:
          $ref: '#/components/schemas/ApiIntegratorWeighingDriverResource'
        IsComplete:
          type: boolean
        IsDestinationConfirmed:
          type: boolean
        IsExternalVehicle:
          type: boolean
        IsEstimatedWeight:
          type: boolean
        IsGradingConfirmed:
          type: boolean
        IsIncContainer:
          type: boolean
        IsInspectionConfirmed:
          type: boolean
        IsOutboundWeighingComplete:
          type: boolean
        IsPassThrough:
          type: boolean
        IsPrinted:
          type: boolean
        StartedFromANPR:
          type: boolean
        CashCollected:
          type: number
          format: double
        WeighingDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        Weights:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightsWeightResource'
        DestinationWeight:
          $ref: '#/components/schemas/ApiIntegratorWeighingDestinationWeightResource'
        WeighingIns:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingInResource'
        WeighingOuts:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingOutResource'
        ContainerIdentifier:
          type: string
        SealIdentifier:
          type: string
        ContainerTare:
          type: number
          format: double
        VerifiedGrossMaximum:
          type: number
          format: double
        ContainerNotes:
          type: string
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedWeighingOutGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingPictureResource'
        RelatedTrailerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedBlobWeighingDocketPdfHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingDocketPdfResource'
        RelatedWeighingInDetailGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobOverrideBreakdownGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TimeInWeighing:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        TimeOutWeighing:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        CustomerRound:
          type: string
        GrossManualWeightReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TareManualWeightReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        WeighingOutsRelatedWeighingInGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorWeighingResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorWeighingWeightsWeightResource:
      type: object
      properties:
        BridgeName:
          type: string
        GrossWeight:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightDetailResource'
        TareWeight:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightDetailResource'
        Quantity:
          type: number
          format: double
        Volume:
          type: number
          format: double
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorWeighingDriverResource:
      type: object
      properties:
        LicenceNumber:
          type: string
        Name:
          type: string
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorWeighingPictureResource:
      type: object
      properties:
        Description:
          type: string
        Hash:
          type: string
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorWeighingOutResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TicketNo:
          type: string
        IsAutomatic:
          type: boolean
        GrossTallyNo:
          type: string
        RelatedTreatmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedWeighingInGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Weights:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightsResource'
    ApiIntegratorWeighingWeightsResource:
      type: object
      properties:
        GrossWeight:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightResource'
        TareWeight:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightResource'
        Quantity:
          type: number
          format: double
        Volume:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorWeighingWeightDetailResource:
      type: object
      properties:
        TallyNo:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Weight:
          type: number
          format: double
        Timestamp:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        WeightTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorWeighingInResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        TicketNo:
          type: string
        IsAutomatic:
          type: boolean
        TareTallyNo:
          type: string
        RelatedTreatmentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Weights:
          $ref: '#/components/schemas/ApiIntegratorWeighingWeightsResource'
        Details:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingInDetailResource'
    ApiIntegratorWeighingWeightResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Weight:
          type: number
          format: double
        Timestamp:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        WeightTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultEntity_ApiIntegratorWeighingResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorWeighingResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceChanges_ApiIntegratorWeighingResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorWeighingDocketPdfResource:
      type: object
      properties:
        Hash:
          type: string
    ApiIntegratorWeighingDestinationWeightResource:
      type: object
      properties:
        GrossWeight:
          type: number
          format: double
        TareWeight:
          type: number
          format: double
        Quantity:
          type: number
          format: double
        Volume:
          type: number
          format: double
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
