openapi: 3.2.0
info:
  title: AMCS Platform REST GL Batch API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: GLBatch
paths:
  /accounting/glBatches/changes:
    get:
      tags:
      - GLBatch
      summary: Retrieve changes
      description: '| Property| Description |

        | ------------------------------------- | ------------------------------------------------------------------------------- |

        | GUID| The guid associated to the glbatch. |

        | BatchType| The batch type of the glbatch. |

        | BatchName| The batch name of the glbatch. Filterable |

        | BatchStatus| The batch status of the glbatch. Filterable |

        | BatchApprovalStatus| The batch approval status of the glbatch. Filterable |

        | PostedDate| The posted date of the glbatch. |

        | AccountingPeriodListItem| The guid and description associated to the accounting period |

        | CompanyListItem| The guid and description associated to the company. |

        | TransactionCount| The transaction count of the glbatch. |

        | LineCount| The line count of the glbatch. |

        | IsDeleted| Whether the glbatch is deleted. |

        | RelatedUserCreatedByGuid| The GUID of the user who created the glbatch. Filterable |

        | RelatedUserUpdatedByGuid| The GUID of the user who updated the glbatch. Filterable |

        | CreationDateTime| The date of the glbatch creation. |

        | UpdatedDateTime| The date of the glbatch last update. |

        | FilterAccountingPeriodListItemGuid | Filter by the accounting period guid. |

        | RelatedGeneralLedgerExportGuid| The GUID of general ledger export associated to the glbatch |'
      operationId: GLBatch_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorGLBatchResource'
  /accounting/glBatches/{guid}:
    get:
      tags:
      - GLBatch
      summary: Find with GUID
      description: '| Property| Description |

        | ------------------------------------- | ------------------------------------------------------------------------------- |

        | GUID| The guid associated to the glbatch. |

        | BatchType| The batch type of the glbatch. |

        | BatchName| The batch name of the glbatch. Filterable |

        | BatchStatus| The batch status of the glbatch. Filterable |

        | BatchApprovalStatus| The batch approval status of the glbatch. Filterable |

        | PostedDate| The posted date of the glbatch. |

        | AccountingPeriodListItem| The guid and description associated to the accounting period |

        | CompanyListItem| The guid and description associated to the company. |

        | TransactionCount| The transaction count of the glbatch. |

        | LineCount| The line count of the glbatch. |

        | IsDeleted| Whether the glbatch is deleted. |

        | RelatedUserCreatedByGuid| The GUID of the user who created the glbatch. Filterable |

        | RelatedUserUpdatedByGuid| The GUID of the user who updated the glbatch. Filterable |

        | CreationDateTime| The date of the glbatch creation. |

        | UpdatedDateTime| The date of the glbatch last update. |

        | FilterAccountingPeriodListItemGuid | Filter by the accounting period guid. |

        | RelatedGeneralLedgerExportGuid| The GUID of general ledger export associated to the glbatch |'
      operationId: GLBatch_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorGLBatchResource'
    put:
      tags:
      - GLBatch
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The guid associated to the glbatch. | Yes |

        | BatchType| The batch type of the glbatch. | Yes |

        | BatchName| The batch name of the glbatch. | Yes |

        | BatchStatus| The batch status of the glbatch. | Yes |

        | BatchApprovalStatus| The batch approval status of the glbatch. | Yes |

        | PostedDate| The posted date of the glbatch. | No |

        | AccountingPeriodListItem| The guid and description associated to the accounting period. | Yes |

        | CompanyListItem| The guid and description associated to the company. | Yes |

        | TransactionCount| The transaction count of the glbatch. | Yes |

        | LineCount| The line count of the glbatch. | Yes |

        | IsDeleted| Whether the glbatch is deleted. | Yes |

        | RelatedUserCreatedByGuid| The GUID of the user who created the glbatch. | Yes |

        | RelatedUserUpdatedByGuid| The GUID of the user who updated the glbatch. | Yes |

        | CreationDateTime| The date of the glbatch creation. | Yes |

        | UpdatedDateTime| The date of the glbatch last update. | Yes |

        | FilterAccountingPeriodListItemGuid | Filter by the accounting period guid | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | BatchType is being edited | BatchType is a read-only property. |

        | BatchName is being edited | BatchName is a read-only property. |

        | TransactionCount is being edited | TransactionCount is a read-only property. |

        | LineCount is being edited | LineCount is a read-only property. |

        | AccountingPeriodListItem.Guid is being edited | AccountingPeriodListItem.Guid is a read-only property. |

        | CompanyListItem.Guid is being edited | CompanyListItem.Guid is a read-only property. |

        | If we attempt to delete a GLBatch | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | RelatedUserUpdatedByGuid is being edited | RelatedUserUpdatedByGuid is a read-only property. |

        | CreationDateTime is being edited | CreationDateTime is a read-only property. |

        | UpdatedDateTime is being edited | UpdatedDateTime is a read-only property. |'
      operationId: GLBatch_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorGLBatchResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/glBatches:
    get:
      tags:
      - GLBatch
      summary: Find with Filters
      description: '| Property| Description |

        | ------------------------------------- | ------------------------------------------------------------------------------- |

        | GUID| The guid associated to the glbatch. |

        | BatchType| The batch type of the glbatch. |

        | BatchName| The batch name of the glbatch. Filterable |

        | BatchStatus| The batch status of the glbatch. Filterable |

        | BatchApprovalStatus| The batch approval status of the glbatch. Filterable |

        | PostedDate| The posted date of the glbatch. |

        | AccountingPeriodListItem| The guid and description associated to the accounting period |

        | CompanyListItem| The guid and description associated to the company. |

        | TransactionCount| The transaction count of the glbatch. |

        | LineCount| The line count of the glbatch. |

        | IsDeleted| Whether the glbatch is deleted. |

        | RelatedUserCreatedByGuid| The GUID of the user who created the glbatch. Filterable |

        | RelatedUserUpdatedByGuid| The GUID of the user who updated the glbatch. Filterable |

        | CreationDateTime| The date of the glbatch creation. |

        | UpdatedDateTime| The date of the glbatch last update. |

        | FilterAccountingPeriodListItemGuid | Filter by the accounting period guid. |

        | RelatedGeneralLedgerExportGuid| The GUID of general ledger export associated to the glbatch |'
      operationId: GLBatch_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorGLBatchResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorGLBatchResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLBatchResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorGLBatchResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorGLBatchResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorGLBatchResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorGLBatchResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorGLBatchResource:
      type: object
      properties:
        BatchType:
          type: string
        BatchName:
          type: string
        BatchStatus:
          type: string
        BatchApprovalStatus:
          type: string
        PostedDate:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        TransactionCount:
          type: integer
          format: int32
        LineCount:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
        RelatedUserCreatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedUserUpdatedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedGeneralLedgerExportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        CreationDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        UpdatedDateTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        FilterAccountingPeriodListItemGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
