openapi: 3.2.0
info:
  title: Amcs Group Weighing Type API
  version: '1.0'
  description: 'Operations tagged WeighingType across 2 of this provider''s published API definitions: amcs-group-erp-openapi-original.json, amcs-group-scale-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
- url: http://{env}-svc-core.amcsplatform.com/scale/api/
tags:
- name: WeighingType
paths:
  /lists/weighingTypes/{guid}:
    get:
      tags:
      - WeighingType
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the weighing type |

        | Description | The description of the weighing type |'
      operationId: WeighingType_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorWeighingTypeResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /lists/weighingTypes:
    get:
      tags:
      - WeighingType
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the weighing type |

        | Description | The description of the weighing type |'
      operationId: WeighingType_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorWeighingTypeResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /integrator/lists/weighingTypes/{id}:
    get:
      tags:
      - WeighingType
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ----------------------------------------------------- |

        | GUID | The GUID associated to the weighing type |

        | Description | The description of the weighing type |'
      operationId: WeighingType_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: links
        in: query
        required: false
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: expand
        in: query
        required: false
        schema:
          type: string
      - name: udf
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiWeighingTypeResource'
    servers:
    - url: http://{env}-svc-core.amcsplatform.com/scale/api/
  /integrator/lists/weighingTypes:
    get:
      tags:
      - WeighingType
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ----------------------------------------------------- |

        | GUID | The GUID associated to the weighing type |

        | Description | The description of the weighing type |'
      operationId: WeighingType_GetCollection
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: order
        in: query
        required: false
        schema:
          type: string
      - name: max
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        required: false
        schema:
          type: boolean
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
      - name: links
        in: query
        required: false
        schema:
          type: string
      - name: udf
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiWeighingTypeResource'
    servers:
    - url: http://{env}-svc-core.amcsplatform.com/scale/api/
components:
  schemas:
    ApiResourceResultEntity_ApiIntegratorWeighingTypeResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorWeighingTypeResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorWeighingTypeResource:
      type: object
      properties:
        Description:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorWeighingTypeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorWeighingTypeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultEntity_ApiWeighingTypeResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiWeighingTypeResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiWeighingTypeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiWeighingTypeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiWeighingTypeResource:
      type: object
      properties:
        Description:
          type: string
        GUID:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
x-refined-from:
- amcs-group-erp-openapi-original.json
- amcs-group-scale-openapi-original.json
