openapi: 3.2.0
info:
  title: AMCS Platform REST Customer Report Blob API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: CustomerReportBlob
paths:
  /blobs/customerReportBlobs:
    post:
      tags:
      - CustomerReportBlob
      summary: Create or update
      description: '| --------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | DocumentDescription| The description associated to the customer report.| Yes |

        | DocumentName| The document name associated to the customer report.| Yes |

        | IsForAllSites| Whether the customer report is for all sites of related customer.| No |

        | MediaContentBase64| The file converted to base 64.| Yes |

        | RelatedCustomerGuid| The related customer guid associated to the customer report.| Yes |

        | RelatedSites| The list of related customer site.| No |

        | RelatedSites[0].Guid| The guid associated to the customer report site.| No |

        | RelatedSites[0].RelatedSiteGuid| The related customer siteguid associated to the customer report site.| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | DocumentDescription is Null or not provided | The mandatory property DocumentDescription has a null value. The request could not be processed. Supply a value for the DocumentDescription property of the submitted resource. |

        | DocumentName is Null or not provided | The mandatory property DocumentName has a null value. The request could not be processed. Supply a value for the DocumentName property of the submitted resource. |

        | DocumentName has less than 5 characters or more than 510 characters | CustomerReport has the property DocumentName with value of {DocumentName} that is not supported. DocumentName should be at least 1 character and at most 506 characters, excluding the extension |

        | DocumentName does not have any of pdf/png/jpg/gif extension | CustomerReport has the property DocumentName with value of {DocumentName} that is not supported. DocumentName should have any of pdf/png/jpg/gif extension |

        | MediaContentBase64 is Null or not provided | The mandatory property MediaContentBase64 has a null value. The request could not be processed. Supply a value for the MediaContentBase64 property of the submitted resource. |

        | MediaContentBase64 is not a valid base64 string | Failed to save/update CustomerReport because MediaContentBase64 has Invalid length for a Base-64 char array or string |

        | RelatedCustomerGuid is Null or not provided | The mandatory property RelatedCustomerGuid has a null value. The request could not be processed. Supply a value for the RelatedCustomerGuid property of the submitted resource. |

        | RelatedSites is empty and IsForAllSites is false | Failed to save/update CustomerReport because if IsForAllSites = false, at least one site must be present in RelatedSites array. |

        | RelatedSites has all sites and IsForAllSites is true | Failed to save/update CustomerReport because if IsForAllSites = true, at least one site must not be present in RelatedSites array. |

        | RelatedSites has duplicate RelatedSiteGuid | Failed to save/update CustomerReport because duplicate RelatedSiteGuid listed in the RelatedSites array. |

        | RelatedSiteGuid is not related RelatedCustomerGuid | Failed to save. CustomerSite with RelatedSiteGuid of {RelatedSiteGuid} does not belong to Customer |

        | RelatedSites.Guid is not null | Failed to save/update CustomerReport because Guid is not permitted on creation. |


        ## Information

        | Information |

        | ----------- |

        | Currently we are only validating for a valid base64 string, we are not validating the string against the file extension |'
      operationId: CustomerReportBlob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorCustomerReportResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorCustomerReportRelatedSiteResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorCustomerReportResource:
      type: object
      properties:
        DocumentDescription:
          type: string
        DocumentName:
          type: string
        IsForAllSites:
          type: boolean
        MediaContentBase64:
          type: string
        RelatedSites:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerReportRelatedSiteResource'
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
