openapi: 3.2.0
info:
  title: AMCS Platform REST Contact API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Contact
paths:
  /directory/contacts/changes:
    get:
      tags:
      - Contact
      summary: Retrieve changes
      description: '| Property| Description |

        | --------------------------------- |------------------------------------------------------------------------ |

        | GUID| The GUID associated to the contact. |

        | Salutation | The contact''s Salutation. |

        | Forename| The contact''s Forename. |

        | Surname| The contact''s Surname. |

        | JobTitle| The contact''s Job Title. |

        | ActivationCode| The contact''s Activation code. |

        | ContactRegistrationStatusListItem | The Guid and Description associated to the contract registration status. |

        | AccessGroupListItem| The Guid and Description associated to the access group. |

        | PinCode| The Pin code of the contact. |

        | ContactPassword| The password of the contact |

        | ConfirmContactPassword| The password confirmation of the contact. |

        | ContactMethods| The contact''s contact methods. |

        | ContactMethods.TelNo| The contact''s telephone number. |

        | ContactMethods.OtherTelNo| The contact''s other telephone number. |

        | ContactMethods Email| The contact''s email address. |

        | RelatedCustomerGuid| The GUID associated to the customer of the contact. |

        | ContactTypeListItems| The list of contact types associated to the contact. |

        | ContactTypeListItems[0].ContactTypeListItem | The GUID and description of contact types associated to the contact.|

        | RelatedLocationGuids| The list of related location guid associated to the contact.|

        | RelatedLocationGuids[0].RelatedLocationGuid| The GUID associated to the location of the contact.|

        | RelatedLocationGuids[0].IsPrimary| The IsPrimary associated to the location contact of the contact.|

        | RelatedLocationGuids[0].GUID| The GUID associated to the location contact of the contact.|

        | IsDeleted| Whether the contact is deleted.|

        | RelatedLocationGuidFilter | Used to filter the related location guid linked to the contact |'
      operationId: Contact_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorContactResource'
  /directory/contacts/{guid}:
    get:
      tags:
      - Contact
      summary: Find with GUID
      description: '| Property| Description |

        | --------------------------------- |------------------------------------------------------------------------ |

        | GUID| The GUID associated to the contact. |

        | Salutation | The contact''s Salutation. |

        | Forename| The contact''s Forename. |

        | Surname| The contact''s Surname. |

        | JobTitle| The contact''s Job Title. |

        | ActivationCode| The contact''s Activation code. |

        | ContactRegistrationStatusListItem | The Guid and Description associated to the contract registration status. |

        | AccessGroupListItem| The Guid and Description associated to the access group. |

        | PinCode| The Pin code of the contact. |

        | ContactPassword| The password of the contact |

        | ConfirmContactPassword| The password confirmation of the contact. |

        | ContactMethods| The contact''s contact methods. |

        | ContactMethods.TelNo| The contact''s telephone number. |

        | ContactMethods.OtherTelNo| The contact''s other telephone number. |

        | ContactMethods Email| The contact''s email address. |

        | RelatedCustomerGuid| The GUID associated to the customer of the contact. |

        | ContactTypeListItems| The list of contact types associated to the contact. |

        | ContactTypeListItems[0].ContactTypeListItem | The GUID and description of contact types associated to the contact.|

        | RelatedLocationGuids| The list of related location guid associated to the contact.|

        | RelatedLocationGuids[0].RelatedLocationGuid| The GUID associated to the location of the contact.|

        | RelatedLocationGuids[0].IsPrimary| The IsPrimary associated to the location contact of the contact.|

        | RelatedLocationGuids[0].GUID| The GUID associated to the location contact of the contact.|

        | IsDeleted| Whether the contact is deleted.|

        | RelatedLocationGuidFilter | Used to filter the related location guid linked to the contact |'
      operationId: Contact_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorContactResource'
    put:
      tags:
      - Contact
      summary: Partial update
      description: '| Property| Description | Required |

        | --------------------------------- |------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the contact. | No |

        | Salutation | The contact''s Salutation. | No |

        | Forename| The contact''s Forename. | No |

        | Surname| The contact''s Surname. | Yes |

        | JobTitle| The contact''s Job Title. | No |

        | ActivationCode| The contact''s Activation code. | No |

        | ContactRegistrationStatusListItem | The Guid and Description associated to the contract registration status. | Yes |

        | AccessGroupListItem| The Guid and Description associated to the access group. | Yes |

        | PinCode| The contact''s Pin code. | Yes |

        | ContactPassword| The contact''s password. | Yes |

        | ConfirmContactPassword| The contact''s password confirmation. | Yes |

        | ContactMethods| The contact''s contact methods. | No |

        | ContactMethods.TelNo| The contact''s telephone number. | No |

        | ContactMethods.OtherTelNo| The contact''s other telephone number. | No |

        | ContactMethods.Email| The contact''s email address. | No |

        | RelatedCustomerGuid| The GUID associated to the customer of the contact. | Yes |

        | ContactTypeListItems| The list of contact types associated to the contact. | No |

        | ContactTypeListItems[0].ContactTypeListItem | The GUID and description of contact types associated to the contact.| No |

        | RelatedLocationGuids| The list of related location guid associated to the contact.| No |

        | RelatedLocationGuids[0].RelatedLocationGuid| The GUID associated to the location of the contact.| Yes |

        | RelatedLocationGuids[0].IsPrimary| The IsPrimary associated to the location contact of the contact.| No |

        | RelatedLocationGuids[0].GUID| The GUID associated to the location contact of the contact.| No |

        | IsDeleted| Whether the contact is deleted.| No |

        | RelatedLocationGuidFilter | Used to filter the related location guid linked to the contact | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If invalid telephone number | Tel No: Must match a valid telephone number format. |

        | If activationCode is provided | ContactRegistrationStatusListItem, AccessGroupListItem, PinCode, ContactMethods.Email, ContactMethods.TelNo, ContactPassword & ConfirmContactPassword are required |

        | If contact is a portal contact the Activation code cannot be set to null | "Activation Code: Must have a value for portal contacts and be no more than 16 characters long". |

        | If ContactTypeListItems[0].ContactTypeListItem.GUID is duplicated on another ContactTypeListItem | Failed to save. ContactTypeListItems already exists with Guid of xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx |

        | RelatedLocationGuids replace existing | All existing RelatedLocationGuids are deleted and replaced when the resource is updated. |

        | If same Location Guid is provided to a contact| LocationContact already exists with RelatedLocationGuids.RelatedLocationGuid of {value of RelatedLocationGuid}. |

        | If trying to update the deleted resource | Attempt to update a deleted Contact. Could not process the request. |

        | If activation code is Duplicated | Failed to save. Entity already exists with ActivationCode of {value of ActivationCode}. |'
      operationId: Contact_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContactResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/contacts:
    get:
      tags:
      - Contact
      summary: Find with Filters
      description: '| Property| Description |

        | --------------------------------- |------------------------------------------------------------------------ |

        | GUID| The GUID associated to the contact. |

        | Salutation | The contact''s Salutation. |

        | Forename| The contact''s Forename. |

        | Surname| The contact''s Surname. |

        | JobTitle| The contact''s Job Title. |

        | ActivationCode| The contact''s Activation code. |

        | ContactRegistrationStatusListItem | The Guid and Description associated to the contract registration status. |

        | AccessGroupListItem| The Guid and Description associated to the access group. |

        | PinCode| The Pin code of the contact. |

        | ContactPassword| The password of the contact |

        | ConfirmContactPassword| The password confirmation of the contact. |

        | ContactMethods| The contact''s contact methods. |

        | ContactMethods.TelNo| The contact''s telephone number. |

        | ContactMethods.OtherTelNo| The contact''s other telephone number. |

        | ContactMethods Email| The contact''s email address. |

        | RelatedCustomerGuid| The GUID associated to the customer of the contact. |

        | ContactTypeListItems| The list of contact types associated to the contact. |

        | ContactTypeListItems[0].ContactTypeListItem | The GUID and description of contact types associated to the contact.|

        | RelatedLocationGuids| The list of related location guid associated to the contact.|

        | RelatedLocationGuids[0].RelatedLocationGuid| The GUID associated to the location of the contact.|

        | RelatedLocationGuids[0].IsPrimary| The IsPrimary associated to the location contact of the contact.|

        | RelatedLocationGuids[0].GUID| The GUID associated to the location contact of the contact.|

        | IsDeleted| Whether the contact is deleted.|

        | RelatedLocationGuidFilter | Used to filter the related location guid linked to the contact |'
      operationId: Contact_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorContactResource'
    post:
      tags:
      - Contact
      summary: Create or update
      description: '| Property| Description | Required |

        | --------------------------------- |------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the contact. | No |

        | Salutation | The contact''s Salutation. | No |

        | Forename| The contact''s Forename. | No |

        | Surname| The contact''s Surname. | Yes |

        | JobTitle| The contact''s Job Title. | No |

        | ActivationCode| The contact''s Activation code. | No |

        | ContactRegistrationStatusListItem | The Guid and Description associated to the contract registration status. | Yes |

        | AccessGroupListItem| The Guid and Description associated to the access group. | Yes |

        | PinCode| The contact''s Pin code. | Yes |

        | ContactPassword| The contact''s password. | Yes |

        | ConfirmContactPassword| The contact''s password confirmation. | Yes |

        | ContactMethods| The contact''s contact methods. | No |

        | ContactMethods.TelNo| The contact''s telephone number. | No |

        | ContactMethods.OtherTelNo| The contact''s other telephone number. | No |

        | ContactMethods.Email| The contact''s email address. | No |

        | RelatedCustomerGuid| The GUID associated to the customer of the contact. | Yes |

        | ContactTypeListItems| The list of contact types associated to the contact. | No |

        | ContactTypeListItems[0].ContactTypeListItem | The GUID and description of contact types associated to the contact.| No |

        | RelatedLocationGuids| The list of related location guid associated to the contact.| No |

        | RelatedLocationGuids[0].RelatedLocationGuid| The GUID associated to the location of the contact.| Yes |

        | RelatedLocationGuids[0].IsPrimary| The IsPrimary associated to the location contact of the contact.| No |

        | RelatedLocationGuids[0].GUID| The GUID associated to the location contact of the contact.| No |

        | IsDeleted| Whether the contact is deleted.| No |

        | RelatedLocationGuidFilter | Used to filter the related location guid linked to the contact | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If invalid telephone number | Tel No: Must match a valid telephone number format. |

        | If activationCode is provided | ContactRegistrationStatusListItem, AccessGroupListItem, PinCode, ContactMethods.Email, ContactMethods.TelNo, ContactPassword & ConfirmContactPassword are required |

        | If contact is a portal contact the Activation code cannot be set to null | "Activation Code: Must have a value for portal contacts and be no more than 16 characters long". |

        | If ContactTypeListItems[0].ContactTypeListItem.GUID is duplicated on another ContactTypeListItem | Failed to save. ContactTypeListItems already exists with Guid of xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx |

        | RelatedLocationGuids replace existing | All existing RelatedLocationGuids are deleted and replaced when the resource is updated. |

        | If same Location Guid is provided to a contact| LocationContact already exists with RelatedLocationGuids.RelatedLocationGuid of {value of RelatedLocationGuid}. |

        | If isDeleted true | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | If activation code is Duplicated | Failed to save. Entity already exists with ActivationCode of {value of ActivationCode}. |'
      operationId: Contact_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContactResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorLocationContactResource:
      type: object
      properties:
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsPrimary:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorContactResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContactResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorContactContactTypeResource:
      type: object
      properties:
        ContactTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorContactResource:
      type: object
      properties:
        Salutation:
          type: string
        Forename:
          type: string
        Surname:
          type: string
        JobTitle:
          type: string
        ActivationCode:
          type: string
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationGuids:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLocationContactResource'
        ContactMethods:
          $ref: '#/components/schemas/ApiIntegratorContactMethodsResource'
        ContactRegistrationStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AccessGroupListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PinCode:
          type: string
        ContactPassword:
          type: string
        ConfirmContactPassword:
          type: string
        ContactTypeListItems:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContactContactTypeResource'
        RelatedLocationGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorContactResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorContactResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceChanges_ApiIntegratorContactResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContactResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorContactMethodsResource:
      type: object
      properties:
        TelNo:
          type: string
        OtherTelNo:
          type: string
        Email:
          type: string
