openapi: 3.2.0
info:
  title: AMCS Platform REST Municipal Account Building Type API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: MunicipalAccountBuildingType
paths:
  /lists/municipalAccountBuildingTypes:
    get:
      tags:
      - MunicipalAccountBuildingType
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | --------------------------------------------------------------------------- |

        | GUID | The GUID associated to the municipal account building type |

        | Description | The description of the municipal account building type |

        | IsDeleted | Whether the municipal account building type is deleted |'
      operationId: MunicipalAccountBuildingType_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMunicipalAccountBuildingTypeResource'
components:
  schemas:
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorMunicipalAccountBuildingTypeResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorMunicipalAccountBuildingTypeResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMunicipalAccountBuildingTypeResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
