openapi: 3.2.0
info:
  title: AMCS Platform REST Save Location API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: SaveLocation
paths:
  /directory/saveLocations:
    post:
      tags:
      - SaveLocation
      summary: Create or update
      description: '| Property| Description| Required |

        | ----------------------------- | ------------------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the customer.| No |

        | Description| The description associated to the location.| Yes |

        | TimeZone| The TimeZone associated to the location.| No |

        | LegalName| The LegalName associated to the location.| No |

        | Directions| The Directions associated to the location.| No |

        | UniqueReference| The UniqueReference associated to the location.| No |

        | Acreage| The Acreage associated to the location.| No |

        | Address| The Address object associated to the location.| Yes |

        | Address.HouseNumber| The HouseNumber associated address object of the location.| No |

        | Address.Address1| The Address1 associated to the address object of the location.| No |

        | Address.Address2| The Address2 associated to the address object of the location.| No |

        | Address.Address3| The Address3 associated to the address object of the location.| No |

        | Address.Address4| The Address4 associated to the address object of the location.| No |

        | Address.Address5| The Address5 associated to the address object of the location.| No |

        | Address.Address6| The Address6 associated to the address object of the location.| No |

        | Address.Address7| The Address7 associated to the address object of the location.| No |

        | Address.Address8| The Address8 associated to the address object of the location.| No |

        | Address.Address9| The Address9 associated to the address object of the location.| No |

        | Address.Postcode| The Postcode associated to the address object of the location.| No |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location.| No |

        | Address.RegionCodeListItem| The GUID and region code associated to the address object of the location.| No |

        | Address.ContactMethods| The ContactMethods object associated to the address object of the location.| No |

        | Address.ContactMethods.TelNo| The telephone number object associated to the ContactMethods object of the address object of the location.| No |

        | Address.ContactMethods.FaxNo| The fax number object associated to the ContactMethods object of the address object of the location.| No |

        | Geo| The Geo object associated to the location.| No |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location.| No |

        | Geo.ParcelBoundaryListItem| The GUID and description of the parcel boundary associated to the Geo object of the location.| No |

        | Geo.Location| The location object associated to the Geo object of the location.| No |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location.| No |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location.| No |

        | Geo.Latitude| The latitude associated to the Geo object of the location.| No |

        | Geo.Longitude| The longitude associated to the Geo object of the location.| No |

        | IsDeleted| Whether the location is deleted.| No |


        **Extra validations**


        | Condition| Error message |

        | ------------------------------------------------------------------------------------------------------------- | ------------- |

        | TimeZone has a value| TimeZone must be set to null. |

        | If IsDeleted true| IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | If we attempt to delete a Location| An attempt has been made to set IsDeleted. The request could not be processed. Ensure that IsDeleted has default value. |

        | Geo.Location has a value| Geo.Location must be set to null. |

        | Geo.Latitude value not in range between -90 and 90 or Geo.Longitude value not in range between -180 and 180| Geo.Latitude value must be between -90 and 90. Geo.Longitude value must be between -180 and 180. |'
      operationId: SaveLocation_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSaveLocationResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/saveLocations/{guid}:
    put:
      tags:
      - SaveLocation
      summary: Partial update
      description: '| Property| Description| Required |

        | ----------------------------- | ------------------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the customer.| No |

        | Description| The description associated to the location.| Yes |

        | TimeZone| The TimeZone associated to the location.| No |

        | LegalName| The LegalName associated to the location.| No |

        | Directions| The Directions associated to the location.| No |

        | UniqueReference| The UniqueReference associated to the location.| No |

        | Acreage| The Acreage associated to the location.| No |

        | Address| The Address object associated to the location.| Yes |

        | Address.HouseNumber| The HouseNumber associated address object of the location.| No |

        | Address.Address1| The Address1 associated to the address object of the location.| No |

        | Address.Address2| The Address2 associated to the address object of the location.| No |

        | Address.Address3| The Address3 associated to the address object of the location.| No |

        | Address.Address4| The Address4 associated to the address object of the location.| No |

        | Address.Address5| The Address5 associated to the address object of the location.| No |

        | Address.Address6| The Address6 associated to the address object of the location.| No |

        | Address.Address7| The Address7 associated to the address object of the location.| No |

        | Address.Address8| The Address8 associated to the address object of the location.| No |

        | Address.Address9| The Address9 associated to the address object of the location.| No |

        | Address.Postcode| The Postcode associated to the address object of the location.| No |

        | Address.PostTownListItem| The GUID and post town associated to the address object of the location.| No |

        | Address.RegionCodeListItem| The GUID and region code associated to the address object of the location.| No |

        | Address.ContactMethods| The ContactMethods object associated to the address object of the location.| No |

        | Address.ContactMethods.TelNo| The telephone number object associated to the ContactMethods object of the address object of the location.| No |

        | Address.ContactMethods.FaxNo| The fax number object associated to the ContactMethods object of the address object of the location.| No |

        | Geo| The Geo object associated to the location.| No |

        | Geo.ZoneListItem| The GUID and description of the zone associated to the Geo object of the location.| No |

        | Geo.ParcelBoundaryListItem| The GUID and description of the parcel boundary associated to the Geo object of the location.| No |

        | Geo.Location| The location object associated to the Geo object of the location.| No |

        | Geo.Location.Lat| The latitude associated to the location object associated to the Geo object of the location.| No |

        | Geo.Location.Long| The longitude associated to the location object associated to the Geo object of the location.| No |

        | Geo.Latitude| The latitude associated to the Geo object of the location.| No |

        | Geo.Longitude| The longitude associated to the Geo object of the location.| No |

        | IsDeleted| Whether the location is deleted.| No |


        **Extra validations**


        | Condition| Error message |

        | ------------------------------------------------------------------------------------------------------------- | ------------- |

        | If TimeZone value has been changed| TimeZone is a read-only property |

        | If IsDeleted true| IsDeleted is TRUE.'
      operationId: SaveLocation_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSaveLocationResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorLocationGeoLocationResource:
      type: object
      properties:
        Lat:
          type: number
          format: double
        Long:
          type: number
          format: double
    ApiIntegratorLocationGeoResource:
      type: object
      properties:
        ZoneListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ParcelBoundaryListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Location:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoLocationResource'
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorLocationAddressContactMethodsResource:
      type: object
      properties:
        TelNo:
          type: string
        FaxNo:
          type: string
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorSaveLocationResource:
      type: object
      properties:
        Description:
          type: string
        Address:
          $ref: '#/components/schemas/ApiIntegratorLocationAddressResource'
        TimeZone:
          type: string
        LegalName:
          type: string
        Directions:
          type: string
        Geo:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoResource'
        UniqueReference:
          type: string
        Acreage:
          type: number
          format: double
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorLocationAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Address6:
          type: string
        Address7:
          type: string
        Address8:
          type: string
        Address9:
          type: string
        Postcode:
          type: string
        ContactMethods:
          $ref: '#/components/schemas/ApiIntegratorLocationAddressContactMethodsResource'
        PostTownListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RegionCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
