openapi: 3.2.0
info:
  title: Amcs Group Job API
  version: '1.0'
  description: 'Operations tagged Job across 2 of this provider''s published API definitions: amcs-group-core-openapi-original.json, amcs-group-erp-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Job
paths:
  /jobsystem/jobs/changes:
    get:
      tags:
      - Job
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      - name: links
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiJobResource'
      summary: Get jobsystem jobs changes
      x-summary-source: derived
      operationId: getJobsystemJobsChanges
      x-operation-id-source: derived
  /jobsystem/jobs/template:
    get:
      tags:
      - Job
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResult_ApiJobResource'
      summary: Get jobsystem jobs template
      x-summary-source: derived
      operationId: getJobsystemJobsTemplate
      x-operation-id-source: derived
  /jobsystem/jobs/{id}:
    get:
      tags:
      - Job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: links
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      - name: expand
        in: query
        schema:
          type: string
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiJobResource'
      summary: Get jobsystem jobs by id
      x-summary-source: derived
      operationId: getJobsystemJobsById
      x-operation-id-source: derived
    put:
      tags:
      - Job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiResourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
      summary: Replace jobsystem jobs by id
      x-summary-source: derived
      operationId: putJobsystemJobsById
      x-operation-id-source: derived
    delete:
      tags:
      - Job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResource'
      summary: Delete jobsystem jobs by id
      x-summary-source: derived
      operationId: deleteJobsystemJobsById
      x-operation-id-source: derived
  /jobsystem/jobs/{id}/blob/{blobMemberName}:
    get:
      tags:
      - Job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: blobMemberName
        in: path
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        schema:
          type: string
      - name: contentType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
      summary: Get jobsystem jobs by id blob by blob member name
      x-summary-source: derived
      operationId: getJobsystemJobsByIdBlobByBlobMemberName
      x-operation-id-source: derived
  /jobsystem/jobs:
    get:
      tags:
      - Job
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: search
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: includeCount
        in: query
        schema:
          type: string
      - name: includeDeleted
        in: query
        schema:
          type: string
      - name: links
        in: query
        schema:
          type: string
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiJobResource'
      summary: Get jobsystem jobs
      x-summary-source: derived
      operationId: getJobsystemJobs
      x-operation-id-source: derived
    post:
      tags:
      - Job
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiResourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
      summary: Create jobsystem jobs
      x-summary-source: derived
      operationId: postJobsystemJobs
      x-operation-id-source: derived
  /transport/jobs/changes:
    get:
      tags:
      - Job
      summary: Retrieve changes
      description: '| Property| Description|

        | ---------------------------------------------------------| -------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the job.|

        | DeleteRouteAssignmentsOnCompletion| Whether to delete route assignments on completion of the job.|

        | InProgress| Is the job in progress?|

        | IsAdhoc| Is the job ad hoc?|

        | IsCompleted| Is the job completed?Filterable.|

        | CompletedDate| The completed date of the job|

        | IsConfirmed| Is the job confirmed?|

        | IsExternalTransport| Is the job using external transport?|

        | IsFinanciallyConfirmed| Is the job financially confirmed?|

        | IsHazardousPaperworkComplete| Is the hazardous paperwork complete?|

        | IsScheduledTransfer| Is the job a scheduled transfer?|

        | IsWarranty| Is the job a warranty?|

        | IsDeleted| Whether to delete the job|

        | DeleteReasonGuid| The GUID of delete reason|

        | RelatedPONumberGuid| The GUID of related PONumber associated to the job.'
      operationId: Job_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorJobResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /transport/jobs/{guid}:
    get:
      tags:
      - Job
      summary: Find with GUID
      description: '| Property| Description|

        | ---------------------------------------------------------| -------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the job.|

        | DeleteRouteAssignmentsOnCompletion| Whether to delete route assignments on completion of the job.|

        | InProgress| Is the job in progress?|

        | IsAdhoc| Is the job ad hoc?|

        | IsCompleted| Is the job completed?Filterable.|

        | CompletedDate| The completed date of the job|

        | IsConfirmed| Is the job confirmed?|

        | IsExternalTransport| Is the job using external transport?|

        | IsFinanciallyConfirmed| Is the job financially confirmed?|

        | IsHazardousPaperworkComplete| Is the hazardous paperwork complete?|

        | IsScheduledTransfer| Is the job a scheduled transfer?|

        | IsWarranty| Is the job a warranty?|

        | IsDeleted| Whether to delete the job|

        | DeleteReasonGuid| The GUID of delete reason|

        | RelatedPONumberGuid| The GUID of related PONumber associated to the job.'
      operationId: Job_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorJobResource'
    put:
      tags:
      - Job
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the job.| Yes |

        | DeleteRouteAssignmentsOnCompletion| Whether to delete route assignments on completion of the job.| Yes |

        | InProgress| Is the job in progress?| Yes |

        | IsAdhoc| Is the job ad hoc?| Yes |

        | IsCompleted| Is the job completed?| Yes |

        | CompletedDate| The completed date of the job| No |

        | IsConfirmed| Is the job confirmed?| Yes |

        | IsExternalTransport| Is the job using external transport?| Yes |

        | IsFinanciallyConfirmed| Is the job financially confirmed?| Yes |

        | IsHazardousPaperworkComplete| Is the hazardous paperwork complete?| Yes |

        | IsScheduledTransfer| Is the job a scheduled transfer?| Yes |

        | IsWarranty| Is the job a warranty?| Yes |

        | IsDeleted| Whether to delete the job| No |

        | DeleteReasonGuid| The GUID of delete reason| No (Required only if IsDeleted=true) |

        | RelatedPONumberGuid| The GUID of related PONumber associated to the job.'
      operationId: Job_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId_2'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /transport/jobs:
    get:
      tags:
      - Job
      summary: Find with Filters
      description: '| Property| Description|

        | ---------------------------------------------------------| -------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the job.|

        | DeleteRouteAssignmentsOnCompletion| Whether to delete route assignments on completion of the job.|

        | InProgress| Is the job in progress?|

        | IsAdhoc| Is the job ad hoc?|

        | IsCompleted| Is the job completed?Filterable.|

        | CompletedDate| The completed date of the job|

        | IsConfirmed| Is the job confirmed?|

        | IsExternalTransport| Is the job using external transport?|

        | IsFinanciallyConfirmed| Is the job financially confirmed?|

        | IsHazardousPaperworkComplete| Is the hazardous paperwork complete?|

        | IsScheduledTransfer| Is the job a scheduled transfer?|

        | IsWarranty| Is the job a warranty?|

        | IsDeleted| Whether to delete the job|

        | DeleteReasonGuid| The GUID of delete reason|

        | RelatedPONumberGuid| The GUID of related PONumber associated to the job.'
      operationId: Job_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorJobResource'
    post:
      tags:
      - Job
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the job.| No |

        | DeleteRouteAssignmentsOnCompletion| Whether to delete route assignments on completion of the job.| Yes |

        | InProgress| Is the job in progress?| Yes |

        | IsAdhoc| Is the job ad hoc?| Yes |

        | IsCompleted| Is the job completed?| Yes |

        | CompletedDate| The completed date of the job| No |

        | IsConfirmed| Is the job confirmed?| Yes |

        | IsExternalTransport| Is the job using external transport?| Yes |

        | IsFinanciallyConfirmed| Is the job financially confirmed?| Yes |

        | IsHazardousPaperworkComplete| Is the hazardous paperwork complete?| Yes |

        | IsScheduledTransfer| Is the job a scheduled transfer?| Yes |

        | IsWarranty| Is the job a warranty?| Yes |

        | IsDeleted| Whether to delete the job| No |

        | DeleteReasonGuid| The GUID of delete reason| No (Required only if IsDeleted=true) |

        | RelatedPONumberGuid| The GUID of related PONumber associated to the job.'
      operationId: Job_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorJobResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId_2'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
components:
  schemas:
    ApiResourceResultEntity_ApiJobResource:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
        resource:
          $ref: '#/components/schemas/AMCS.Core.Entity.Api.JobSystem.ApiJob'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
      additionalProperties: false
    AMCS.Core.Entity.Api.JobSystem.ApiJob:
      type: object
      properties:
        isValid:
          type: boolean
          readOnly: true
        id:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        id32:
          type: integer
          format: int32
          readOnly: true
        guid:
          type:
          - string
          - 'null'
          format: uuid
        lastChangeReasonId:
          type:
          - integer
          - 'null'
          format: int32
        tempIdentifier:
          type:
          - string
          - 'null'
        jobId:
          type:
          - integer
          - 'null'
          format: int32
        userId:
          type:
          - string
          - 'null'
        friendlyName:
          type:
          - string
          - 'null'
        handler:
          type:
          - string
          - 'null'
        queue:
          type:
          - string
          - 'null'
        parameters:
          type:
          - string
          - 'null'
        deadline:
          type:
          - string
          - 'null'
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        duplicateMode:
          type: integer
          format: int32
        created:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        updated:
          type: string
          format: dateTimeOffset
          example: '2000-01-01T00:00:00.0000000+01:00'
        status:
          type: integer
          format: int32
        result:
          type:
          - string
          - 'null'
        error:
          type:
          - string
          - 'null'
        log:
          type:
          - string
          - 'null'
        checkpoint:
          type:
          - string
          - 'null'
        runtime:
          type:
          - integer
          - 'null'
          format: int32
        scheduledJobId:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ApiResourceChanges_ApiJobResource:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
        resource:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AMCS.Core.Entity.Api.JobSystem.ApiJob'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
      additionalProperties: false
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type:
          - string
          - 'null'
        cursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiResourceStatus:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        isSuccess:
          type: boolean
      additionalProperties: false
    ApiResourceId:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
        resource:
          type: integer
          format: int32
      additionalProperties: false
    ApiResourceResultCollection_ApiJobResource:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
        resource:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AMCS.Core.Entity.Api.JobSystem.ApiJob'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
      additionalProperties: false
    ApiResourceResult_ApiJobResource:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
        resource:
          $ref: '#/components/schemas/AMCS.Core.Entity.Api.JobSystem.ApiJob'
      additionalProperties: false
    ApiResource:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
      additionalProperties: false
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
            additionalProperties: {}
        include:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: {}
      additionalProperties: false
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
        associations:
          type:
          - array
          - 'null'
          items:
            type: string
        expand:
          type:
          - array
          - 'null'
          items:
            type: string
        operations:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    ApiIntegratorJobResource:
      type: object
      properties:
        DeleteRouteAssignmentsOnCompletion:
          type: boolean
        InProgress:
          type: boolean
        IsAdhoc:
          type: boolean
        IsCompleted:
          type: boolean
        CompletedDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsConfirmed:
          type: boolean
        IsExternalTransport:
          type: boolean
        IsFinanciallyConfirmed:
          type: boolean
        IsHazardousPaperworkComplete:
          type: boolean
        IsScheduledTransfer:
          type: boolean
        IsWarranty:
          type: boolean
        IsDeleted:
          type: boolean
        DeleteReasonGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedExternalVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPONumberGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedScheduleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteOrderItemGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSupplierSiteTransportGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CancelledReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DepartmentListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RepairReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Access:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobAccessTimeResource'
        ContainerDetails:
          $ref: '#/components/schemas/ApiIntegratorJobContainerDetailsResource'
        VisitDetails:
          $ref: '#/components/schemas/ApiIntegratorJobVisitDetailsResource'
        CustomerOrderNo:
          type: string
        DateRequired:
          type: string
          format: localDate
          example: '2000-01-01'
        HazardousLoadReference:
          type: string
        ManualTicketNo:
          type: string
        MaterialSaleSlots:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobMaterialSaleSlotResource'
        Notes:
          type: string
        PONumber:
          type: string
        Quantity:
          type: number
          format: double
        ReleaseNumber:
          type: string
        TicketNo:
          type: string
        RejectedReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedLocationDestinationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPictureBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobPictureResource'
        RelatedBlobJobDocketPdfHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobDocketPdfResource'
        RelatedWTNBlobHashes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobWasteTransferNoteResource'
        PriceOverrides:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobPriceResource'
        RelatedPriceGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RequiredStartTime:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        RequiredEndTime:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        VATIntendedListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ServiceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        LastChangeReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedCreatedByUserGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Position:
          type: integer
          format: int32
        PriorityListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        LinkedJobs:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLinkedJobResource'
        DriverFeedback:
          type: string
        LinkedJobGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialSaleSlotSlotNumberFilter:
          type: string
        MaterialSaleSlotGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialSaleSlotRelatedBookingSlotGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        MaterialSaleSlotRelatedCustomerGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorJobDocketPdfResource:
      type: object
      properties:
        Hash:
          type: string
    ApiResourceResultEntityLinks_2:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiResourceResultEntity_ApiIntegratorJobResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorJobResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks_2'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra_2'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors_2'
        status:
          $ref: '#/components/schemas/ApiResourceStatus_2'
    ApiIntegratorJobMaterialSaleSlotResource:
      type: object
      properties:
        SlotNumber:
          type: string
        SlotDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        SlotTime:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        SlotEndTime:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedBookingSlotGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedCustomerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Notes:
          type: string
        IsSchedule:
          type: boolean
        IsManuallyAssigned:
          type: boolean
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra_2:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorJobContainerDetailsResource:
      type: object
      properties:
        Delivered:
          $ref: '#/components/schemas/ApiIntegratorJobContainerDetailsDeliveredResource'
        Removed:
          $ref: '#/components/schemas/ApiIntegratorJobContainerDetailsRemovedResource'
    ApiIntegratorLinkedJobResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorJobContainerDetailsRemovedResource:
      type: object
      properties:
        RelatedContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Notes:
          type: string
        SerialNo:
          type: string
        Tag:
          type: string
    ApiIntegratorJobWasteTransferNoteResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Hash:
          type: string
    ApiResourceResultEntityExtra_2:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorJobContainerDetailsDeliveredResource:
      type: object
      properties:
        RelatedContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Notes:
          type: string
        SerialNo:
          type: string
        Tag:
          type: string
    ApiIntegratorJobPriceBreakdownResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        FillLevel:
          type: number
          format: double
        Quantity:
          type: integer
          format: int32
        IsReceived:
          type: boolean
        Barcode:
          type: string
        JobPriceBreakdownTypeEnum:
          type: string
    ApiResourceChanges_ApiIntegratorJobResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra_2'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors_2'
        status:
          $ref: '#/components/schemas/ApiResourceStatus_2'
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorJobResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra_2'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors_2'
        status:
          $ref: '#/components/schemas/ApiResourceStatus_2'
    ApiIntegratorJobVisitDetailsResource:
      type: object
      properties:
        DriverNotes:
          type: string
        TimeInCustomerSite:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        TimeOutCustomerSite:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        HoursChargeable:
          type: number
          format: double
        HoursNotChargeable:
          type: number
          format: double
    ApiResourceStatus_2:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorJobAccessTimeResource:
      type: object
      properties:
        Contact:
          type: string
        StartTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        EndTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        Notes:
          type: string
        DayOfWeekId:
          type: integer
          format: int32
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors_2:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorJobPriceResource:
      type: object
      properties:
        RelatedPriceGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        OverrideRate:
          type: number
          format: double
        IsSelected:
          type: boolean
        Breakdowns:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorJobPriceBreakdownResource'
    ApiResourceId_2:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors_2'
        status:
          $ref: '#/components/schemas/ApiResourceStatus_2'
    ApiResourceResultCollectionExtra_2:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiIntegratorJobPictureResource:
      type: object
      properties:
        Description:
          type: string
        Hash:
          type: string
        PictureTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PictureSourceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
x-refined-from:
- amcs-group-core-openapi-original.json
- amcs-group-erp-openapi-original.json
