openapi: 3.2.0
info:
  title: AMCS Platform REST Customer Home Cache API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: CustomerHomeCache
paths:
  /accounting/customerHomeCaches/changes:
    get:
      tags:
      - CustomerHomeCache
      summary: Retrieve changes
      description: '| Property | Description |

        | -------------------------------| --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customerhomecache |

        | CustomerId | Value associated to the customer id |

        | CustomerSites | Number of sites associated to the customer |

        | ServiceAgreements | Number of Service aggreements associated to the customer |

        | InvoiceableWork | Amount of invoiceable works |

        | Rentals | Number of rentals |

        | AgedDebt0To30 | Aged debt associated to the customer between 0 to 30 days |

        | AgedDebt30To60 | Aged debt associated to the customer between 30 to 60 days |

        | AgedDebt60To90 | Aged debt associated to the customer between 60 to 90 days |

        | AgedDebt90Plus | Aged debt associated to the customer above 90 days |

        | OutstandingAmount | Outstanding amount associated to the customer |

        | UnallocatedAmount | Unallocated amount associated to the customer |

        | Balance | Balance amount available |

        | UnconfirmedBalance | Unconfirmed balance amount associated to the customer |

        | APInvoice | Amount in APInvoice |

        | POInvoice | Amount in POInvoice |

        | PONumbers | Number of PO''s |

        | Communications | Number of communications |

        | CommunicationsWithDocuments | Number of communications with documents |

        | PortalReportsCount | Count of reports |

        | CreditLimit | Credit limit amount |

        | CacheDate | Data cached date |

        | AdvanceDeposit | Amount of deposit done in advance |

        | PrePayment | Amount of prepayment done |

        | RemainingCredit | Total amount of remaining credit |'
      operationId: CustomerHomeCache_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorCustomerHomeCacheResource'
  /accounting/customerHomeCaches/{guid}:
    get:
      tags:
      - CustomerHomeCache
      summary: Find with GUID
      description: '| Property | Description |

        | -------------------------------| --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customerhomecache |

        | CustomerId | Value associated to the customer id |

        | CustomerSites | Number of sites associated to the customer |

        | ServiceAgreements | Number of Service aggreements associated to the customer |

        | InvoiceableWork | Amount of invoiceable works |

        | Rentals | Number of rentals |

        | AgedDebt0To30 | Aged debt associated to the customer between 0 to 30 days |

        | AgedDebt30To60 | Aged debt associated to the customer between 30 to 60 days |

        | AgedDebt60To90 | Aged debt associated to the customer between 60 to 90 days |

        | AgedDebt90Plus | Aged debt associated to the customer above 90 days |

        | OutstandingAmount | Outstanding amount associated to the customer |

        | UnallocatedAmount | Unallocated amount associated to the customer |

        | Balance | Balance amount available |

        | UnconfirmedBalance | Unconfirmed balance amount associated to the customer |

        | APInvoice | Amount in APInvoice |

        | POInvoice | Amount in POInvoice |

        | PONumbers | Number of PO''s |

        | Communications | Number of communications |

        | CommunicationsWithDocuments | Number of communications with documents |

        | PortalReportsCount | Count of reports |

        | CreditLimit | Credit limit amount |

        | CacheDate | Data cached date |

        | AdvanceDeposit | Amount of deposit done in advance |

        | PrePayment | Amount of prepayment done |

        | RemainingCredit | Total amount of remaining credit |'
      operationId: CustomerHomeCache_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCustomerHomeCacheResource'
  /accounting/customerHomeCaches:
    get:
      tags:
      - CustomerHomeCache
      summary: Find with Filters
      description: '| Property | Description |

        | -------------------------------| --------------------------------------------------------------------- |

        | GUID | The GUID associated to the customerhomecache |

        | CustomerId | Value associated to the customer id |

        | CustomerSites | Number of sites associated to the customer |

        | ServiceAgreements | Number of Service aggreements associated to the customer |

        | InvoiceableWork | Amount of invoiceable works |

        | Rentals | Number of rentals |

        | AgedDebt0To30 | Aged debt associated to the customer between 0 to 30 days |

        | AgedDebt30To60 | Aged debt associated to the customer between 30 to 60 days |

        | AgedDebt60To90 | Aged debt associated to the customer between 60 to 90 days |

        | AgedDebt90Plus | Aged debt associated to the customer above 90 days |

        | OutstandingAmount | Outstanding amount associated to the customer |

        | UnallocatedAmount | Unallocated amount associated to the customer |

        | Balance | Balance amount available |

        | UnconfirmedBalance | Unconfirmed balance amount associated to the customer |

        | APInvoice | Amount in APInvoice |

        | POInvoice | Amount in POInvoice |

        | PONumbers | Number of PO''s |

        | Communications | Number of communications |

        | CommunicationsWithDocuments | Number of communications with documents |

        | PortalReportsCount | Count of reports |

        | CreditLimit | Credit limit amount |

        | CacheDate | Data cached date |

        | AdvanceDeposit | Amount of deposit done in advance |

        | PrePayment | Amount of prepayment done |

        | RemainingCredit | Total amount of remaining credit |'
      operationId: CustomerHomeCache_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCustomerHomeCacheResource'
components:
  schemas:
    ApiIntegratorCustomerHomeCacheResource:
      type: object
      properties:
        CustomerId:
          type: integer
          format: int32
        CustomerSites:
          type: integer
          format: int32
        ServiceAgreements:
          type: integer
          format: int32
        InvoiceableWork:
          type: number
          format: double
        RemainingCredit:
          type: number
          format: double
        Rentals:
          type: integer
          format: int32
        AgedDebt0To30:
          type: number
          format: double
        AgedDebt30To60:
          type: number
          format: double
        AgedDebt60To90:
          type: number
          format: double
        AgedDebt90Plus:
          type: number
          format: double
        OutstandingAmount:
          type: number
          format: double
        UnallocatedAmount:
          type: number
          format: double
        Balance:
          type: number
          format: double
        UnconfirmedBalance:
          type: number
          format: double
        APInvoice:
          type: number
          format: double
        POInvoice:
          type: number
          format: double
        PONumbers:
          type: integer
          format: int32
        Communications:
          type: integer
          format: int32
        CommunicationsWithDocuments:
          type: integer
          format: int32
        PortalReportsCount:
          type: integer
          format: int32
        CreditLimit:
          type: number
          format: double
        CacheDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        AdvanceDeposit:
          type: number
          format: double
        PrePayment:
          type: number
          format: double
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorCustomerHomeCacheResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerHomeCacheResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorCustomerHomeCacheResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCustomerHomeCacheResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorCustomerHomeCacheResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCustomerHomeCacheResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
