openapi: 3.2.0
info:
  title: AMCS Platform REST Material Class API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: MaterialClass
paths:
  /lists/materialClasses/changes:
    get:
      tags:
      - MaterialClass
      summary: Retrieve changes
      description: '| Property| Description|

        | ----------------------------- | ------------------------------------------------------------------------- |

        | GUID| The GUID associated to the material class|

        | Description| The description of the material class|

        | AnalysisCode| The analysis code of the material class|

        | MaterialClassGroupListItem| The GUID and material class group of the material class (various values)|

        | IsDeleted| Whether the material class is deleted |'
      operationId: MaterialClass_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorMaterialClassResource'
  /lists/materialClasses/{guid}:
    get:
      tags:
      - MaterialClass
      summary: Find with GUID
      description: '| Property| Description|

        | ----------------------------- | ------------------------------------------------------------------------- |

        | GUID| The GUID associated to the material class|

        | Description| The description of the material class|

        | AnalysisCode| The analysis code of the material class|

        | MaterialClassGroupListItem| The GUID and material class group of the material class (various values)|

        | IsDeleted| Whether the material class is deleted |'
      operationId: MaterialClass_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorMaterialClassResource'
  /lists/materialClasses:
    get:
      tags:
      - MaterialClass
      summary: Find with Filters
      description: '| Property| Description|

        | ----------------------------- | ------------------------------------------------------------------------- |

        | GUID| The GUID associated to the material class|

        | Description| The description of the material class|

        | AnalysisCode| The analysis code of the material class|

        | MaterialClassGroupListItem| The GUID and material class group of the material class (various values)|

        | IsDeleted| Whether the material class is deleted |'
      operationId: MaterialClass_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMaterialClassResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorMaterialClassResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        AnalysisCode:
          type: string
        MaterialClassGroupListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorMaterialClassResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMaterialClassResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorMaterialClassResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMaterialClassResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorMaterialClassResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorMaterialClassResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
