openapi: 3.2.0
info:
  title: AMCS Platform REST Driver API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Driver
paths:
  /directory/drivers/{guid}:
    get:
      tags:
      - Driver
      summary: Find with GUID
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the driver. |

        | CompanyOutletListItem | The GUID and description of the company outlet. |

        | StaffTypeListItem | The GUID and description of the staff type. |

        | Username | The username of the driver. |

        | Lastname | The last name of the driver. |

        | Forename | The forename of the driver. |

        | IsDeleted | Whether or not the driver is deleted. |

        | UniqueIdentifier | The unique identifier of the driver. |

        | LocaleListItem | The GUID and description of the locale. |

        | PayrollNo | The payroll number of the driver. |

        | Mobile | The mobile number of the driver. |

        | Email | The email address of the driver. |

        | OwnerDriver | Indicates if the driver is an owner. |

        | ForcePasswordChangeAtNextLogin | Indicates if driver needs to change password on next login. |'
      operationId: Driver_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorDriverResource'
    put:
      tags:
      - Driver
      summary: Partial update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the driver. | No |

        | CompanyOutletListItem | The GUID and description of the company outlet. | Yes |

        | StaffTypeListItem | The GUID and description of the staff type. | Yes |

        | Username | The username of the driver. | Yes |

        | Lastname | The last name of the driver. | Yes |

        | Forename | The forename of the driver. | Yes |

        | IsDeleted | Whether or not the driver is deleted. | Yes |

        | UniqueIdentifier | The unique identifier of the driver. | No |

        | LocaleListItem | The GUID and description of the locale. | No |

        | PayrollNo | The payroll number of the driver. | Yes |

        | Mobile | The mobile number of the driver. | No |

        | Email | The email address of the driver. | Yes |

        | OwnerDriver | Indicates if the driver is an owner. | No |

        | Password | The password of the driver | No |

        | ForcePasswordChangeAtNextLogin | Indicates if driver needs to change password on next login. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If Forename is more than 50 characters long | Forename must be no more than 50 characters long.|

        | If Lastname is more than 50 characters long | Lastname must be no more than 50 characters long.|

        | If Username is more than 510 characters long | Username must be no more than 510 characters long.|

        | If PayrollNo is more than 15 characters long | PayrollNo must be no more than 15 characters long.|

        | If Mobile is more than 30 characters long | Mobile must be no more than 30 characters long.|

        | If Email is more than 50 characters long | Email must be no more than 50 characters long.|

        | If Password is more than 50 characters long | Password must be no more than 50 characters long.|

        | If StaffTypeListItem is not Driver | StaffTypeListItem is a read-only property|'
      operationId: Driver_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorDriverResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/drivers:
    get:
      tags:
      - Driver
      summary: Find with Filters
      description: '| Property | Description |

        | -------------------- | --------------------------------------------------------------------- |

        | GUID | The GUID associated to the driver. |

        | CompanyOutletListItem | The GUID and description of the company outlet. |

        | StaffTypeListItem | The GUID and description of the staff type. |

        | Username | The username of the driver. |

        | Lastname | The last name of the driver. |

        | Forename | The forename of the driver. |

        | IsDeleted | Whether or not the driver is deleted. |

        | UniqueIdentifier | The unique identifier of the driver. |

        | LocaleListItem | The GUID and description of the locale. |

        | PayrollNo | The payroll number of the driver. |

        | Mobile | The mobile number of the driver. |

        | Email | The email address of the driver. |

        | OwnerDriver | Indicates if the driver is an owner. |

        | ForcePasswordChangeAtNextLogin | Indicates if driver needs to change password on next login. |'
      operationId: Driver_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorDriverResource'
    post:
      tags:
      - Driver
      summary: Create or update
      description: '| Property | Description | Required |

        | -------------------- | --------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the driver. | No |

        | CompanyOutletListItem | The GUID and description of the company outlet. | Yes |

        | StaffTypeListItem | The GUID and description of the staff type. | No |

        | Username | The username of the driver. | Yes |

        | Lastname | The last name of the driver. | Yes |

        | Forename | The forename of the driver. | Yes |

        | IsDeleted | Whether or not the driver is deleted. | Yes |

        | UniqueIdentifier | The unique identifier of the driver. | No |

        | LocaleListItem | The GUID and description of the locale. | No |

        | PayrollNo | The payroll number of the driver. | Yes |

        | Mobile | The mobile number of the driver. | No |

        | Email | The email address of the driver. | Yes |

        | OwnerDriver | Indicates if the driver is an owner. | No |

        | Password | The password of the driver | Yes |

        | ForcePasswordChangeAtNextLogin | Indicates if driver needs to change password on next login. | No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | If Forename is more than 50 characters long | Forename must be no more than 50 characters long.|

        | If Lastname is more than 50 characters long | Lastname must be no more than 50 characters long.|

        | If Username is more than 510 characters long | Username must be no more than 510 characters long.|

        | If PayrollNo is more than 15 characters long | PayrollNo must be no more than 15 characters long.|

        | If Mobile is more than 30 characters long | Mobile must be no more than 30 characters long.|

        | If Email is more than 50 characters long | Email must be no more than 50 characters long.|

        | If Password is more than 50 characters long | Password must be no more than 50 characters long.|

        | If StaffTypeListItem is supplied | StaffTypeListItem is not supported|'
      operationId: Driver_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorDriverResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorDriverResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorDriverResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollection_ApiIntegratorDriverResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorDriverResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorDriverResource:
      type: object
      properties:
        Forename:
          type: string
        Lastname:
          type: string
        IsDeleted:
          type: boolean
        UniqueIdentifier:
          type: string
        Username:
          type: string
        StaffTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        CompanyOutletListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        LocaleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PayrollNo:
          type: string
        Mobile:
          type: string
        Email:
          type: string
        OwnerDriver:
          type: boolean
        ForcePasswordChangeAtNextLogin:
          type: boolean
        Password:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
