openapi: 3.2.0
info:
  title: AMCS Platform REST Material Class Group API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: MaterialClassGroup
paths:
  /lists/materialClassGroups/changes:
    get:
      tags:
      - MaterialClassGroup
      summary: Retrieve changes
      description: '| Property | Description|

        | ------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the material class group|

        | Description | The description of the material class group|

        | IsDeleted | Whether the material class group is deleted |'
      operationId: MaterialClassGroup_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorMaterialClassGroupResource'
  /lists/materialClassGroups/{guid}:
    get:
      tags:
      - MaterialClassGroup
      summary: Find with GUID
      description: '| Property | Description|

        | ------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the material class group|

        | Description | The description of the material class group|

        | IsDeleted | Whether the material class group is deleted |'
      operationId: MaterialClassGroup_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorMaterialClassGroupResource'
  /lists/materialClassGroups:
    get:
      tags:
      - MaterialClassGroup
      summary: Find with Filters
      description: '| Property | Description|

        | ------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the material class group|

        | Description | The description of the material class group|

        | IsDeleted | Whether the material class group is deleted |'
      operationId: MaterialClassGroup_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorMaterialClassGroupResource'
components:
  schemas:
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorMaterialClassGroupResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorMaterialClassGroupResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorMaterialClassGroupResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMaterialClassGroupResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceChanges_ApiIntegratorMaterialClassGroupResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorMaterialClassGroupResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorMaterialClassGroupResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
