openapi: 3.2.0
info:
  title: AMCS Platform REST Contract API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Contract
paths:
  /accounting/contracts/{guid}:
    get:
      tags:
      - Contract
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the contract. |

        | StartDate | The start date of the contract in ISO format (YYYY-MM-DD). |

        | CreditLimit | The maximum credit limit stipulated on this contract. |

        | BalanceMigrated | The balance which has been migrated from another system - RM to confirm. |

        | InvoiceCycleListItem | The GUID and description of the invoice cycle this contract will be invoiced under (there may be cycles done monthly, daily, weekly, etc.) |

        | VATExemptNumber | If the contract is exempt from VAT, this is the associated confirmation number. |

        | VATExemptionExpiryDate | If the contract is exempt from VAT this is date this status is no longer valid in ISO format (YYYY-MM-DD). |

        | VATRegistrationNumber | If the contract is registered with VAT, this is the relevant number. |

        | DepartmentListItem | The GUID and name of the department this contract is associated to. |

        | ContractStatusListItem | The GUID and status of the contract (eg. Approved, Pending, Un-Approved). |

        | PaymentTermListItem | The GUID and description of the payment terms invoices under the contract are to the paid to (eg. Immediately, 30 Days Net, etc.). |

        | PaymentTypeListItem | The GUID and description of how payments for invoices under the contract will be paid (eg. Cash, Credit Card, etc.). |

        | InvoiceFrequencyTermListItem | The GUID and description of the invoice frequency this contract will be invoiced under (frequency can be monthly, daily, weekly, etc.) |'
      operationId: Contract_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorContractResource'
    put:
      tags:
      - Contract
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the contract. | No |

        | StartDate | The start date of the contract in ISO format (YYYY-MM-DD). | No |

        | CreditLimit | The maximum credit limit stipulated on this contract. | Yes |

        | BalanceMigrated | The balance which has been migrated from another system - RM to confirm. | No |

        | InvoiceCycleListItem | The GUID and description of the invoice cycle this contract will be invoiced under (there may be cycles done monthly, daily, weekly, etc.) | Yes |

        | VATExemptNumber | If the contract is exempt from VAT, this is the associated confirmation number. | No |

        | VATExemptionExpiryDate | If the contract is exempt from VAT this is date this status is no longer valid in ISO format (YYYY-MM-DD). | No |

        | VATRegistrationNumber | If the contract is registered with VAT, this is the relevant number. | No |

        | DepartmentListItem | The GUID and name of the department this contract is associated to. | No |

        | ContractStatusListItem | The GUID and status of the contract (eg. Approved, Pending, Un-Approved). | No |

        | PaymentTermListItem | The GUID and description of the payment terms invoices under the contract are to the paid to (eg. Immediately, 30 Days Net, etc.). | Yes |

        | PaymentTypeListItem | The GUID and description of how payments for invoices under the contract will be paid (eg. Cash, Credit Card, etc.). | Yes |

        | InvoiceFrequencyTermListItem | The GUID and description of the invoice frequency this contract will be invoiced under (frequency can be monthly, daily, weekly, etc.) | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | None | |'
      operationId: Contract_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContractResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/contracts:
    get:
      tags:
      - Contract
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------ |

        | GUID | The GUID associated to the contract. |

        | StartDate | The start date of the contract in ISO format (YYYY-MM-DD). |

        | CreditLimit | The maximum credit limit stipulated on this contract. |

        | BalanceMigrated | The balance which has been migrated from another system - RM to confirm. |

        | InvoiceCycleListItem | The GUID and description of the invoice cycle this contract will be invoiced under (there may be cycles done monthly, daily, weekly, etc.) |

        | VATExemptNumber | If the contract is exempt from VAT, this is the associated confirmation number. |

        | VATExemptionExpiryDate | If the contract is exempt from VAT this is date this status is no longer valid in ISO format (YYYY-MM-DD). |

        | VATRegistrationNumber | If the contract is registered with VAT, this is the relevant number. |

        | DepartmentListItem | The GUID and name of the department this contract is associated to. |

        | ContractStatusListItem | The GUID and status of the contract (eg. Approved, Pending, Un-Approved). |

        | PaymentTermListItem | The GUID and description of the payment terms invoices under the contract are to the paid to (eg. Immediately, 30 Days Net, etc.). |

        | PaymentTypeListItem | The GUID and description of how payments for invoices under the contract will be paid (eg. Cash, Credit Card, etc.). |

        | InvoiceFrequencyTermListItem | The GUID and description of the invoice frequency this contract will be invoiced under (frequency can be monthly, daily, weekly, etc.) |'
      operationId: Contract_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorContractResource'
    post:
      tags:
      - Contract
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------- | ------------------------------------------------------------ | -------- |

        | GUID | The GUID associated to the contract. | No |

        | StartDate | The start date of the contract in ISO format (YYYY-MM-DD). | No |

        | CreditLimit | The maximum credit limit stipulated on this contract. | Yes |

        | BalanceMigrated | The balance which has been migrated from another system - RM to confirm. | No |

        | InvoiceCycleListItem | The GUID and description of the invoice cycle this contract will be invoiced under (there may be cycles done monthly, daily, weekly, etc.) | Yes |

        | VATExemptNumber | If the contract is exempt from VAT, this is the associated confirmation number. | No |

        | VATExemptionExpiryDate | If the contract is exempt from VAT this is date this status is no longer valid in ISO format (YYYY-MM-DD). | No |

        | VATRegistrationNumber | If the contract is registered with VAT, this is the relevant number. | No |

        | DepartmentListItem | The GUID and name of the department this contract is associated to. | No |

        | ContractStatusListItem | The GUID and status of the contract (eg. Approved, Pending, Un-Approved). | No |

        | PaymentTermListItem | The GUID and description of the payment terms invoices under the contract are to the paid to (eg. Immediately, 30 Days Net, etc.). | Yes |

        | PaymentTypeListItem | The GUID and description of how payments for invoices under the contract will be paid (eg. Cash, Credit Card, etc.). | Yes |

        | InvoiceFrequencyTermListItem | The GUID and description of the invoice frequency this contract will be invoiced under (frequency can be monthly, daily, weekly, etc.) | Yes |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | None | |'
      operationId: Contract_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorContractResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorContractResource:
      type: object
      properties:
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        CreditLimit:
          type: number
          format: double
        BalanceMigrated:
          type: number
          format: double
        VATExemptNumber:
          type: string
        VATExemptionExpiryDate:
          type: string
          format: localDate
          example: '2000-01-01'
        VATRegistrationNumber:
          type: string
        InvoiceCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DepartmentListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContractStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        InvoiceFrequencyTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RebateInvoiceFrequencyTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorContractResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorContractResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorContractResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorContractResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
