openapi: 3.2.0
info:
  title: AMCS Platform REST Supplier Site API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: SupplierSite
paths:
  /directory/supplierSites/changes:
    get:
      tags:
      - SupplierSite
      summary: Retrieve changes
      description: '| Property | Description |

        | ----------------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the supplier site. |

        | Name | The supplier site''s name. |

        | RelatedSupplierGuid | The GUID associated to the supplier of this site. |

        | RelatedLocationPaymentGuid | Used to filter the related payment location guid associated to the payment location of this site. |

        | RelatedLocationGuid | Used to filter the related location guid associated to the location of the supplier site. |

        | UniqueReference | Used to filter on the the unique reference of the supplier site. |

        | PaymentTermListItem | The GUID and description of the PaymentTerm associated to the supplier site. |

        | PaymentTypeListItem | The GUID and description of the PaymentType associated to the supplier site. |

        | SICCodeListItem | The GUID and description of the Standard Industrial Classification code associated to the supplier site. |

        | SupplierTypeListItem | The GUID and description of the Supplier type associated to the supplier site. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.BankName | The bank name of the direct debit. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and description of the direct debit run configuration |

        | BankDetails.Address.Address1 till 5 | The 5 address lines of the bank. |

        | BankDetails.Address.Postcode | The Postcode of the bank. |

        | BankDetails.AccountName | The account name of the direct debit. |

        | BankDetails.AccountNo | The account number of the direct debit. |

        | BankDetails.SortCode | The sort code of the direct debit. |

        | BankDetails.BIC | The Bank Identifier Code of the direct debit. |

        | BankDetails.IBAN | The International Bank Account Number of the direct debit. |

        | PaymentHandlingCodeListItem | The GUID and description of the payment handling code associated to the supplier site. |

        | FacilityTypeListItem | The GUID and description of the facility type associated to the supplier site. |

        | SupplierTypesListItems[] | The array of supplier types associated to the supplier site. |

        | SupplierSiteTreatmentListItems[] | The array of supplier treatment associated to the supplier site. |

        | SupplierTypesListItems[0].SupplierTypeListItem | The GUID and description of the supplier type associated to the SupplierTypesListItems. |

        | WasteCarrierLicenceNumber | The waste carrier licence number. |

        | WasteCarrierLicenceExpiryDate | The waste carrier licence expiry date. |

        | WasteManagementLicenceNumber | The waste management licence number. |

        | RelatedAreaOfOriginGuid | The GUID associated to the area of origin of the supplier site. Filterable. |

        | ABPRegistrationNumber | The ABP registration number. |'
      operationId: SupplierSite_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorSupplierSiteResource'
  /directory/supplierSites/{guid}:
    get:
      tags:
      - SupplierSite
      summary: Find with GUID
      description: '| Property | Description |

        | ----------------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the supplier site. |

        | Name | The supplier site''s name. |

        | RelatedSupplierGuid | The GUID associated to the supplier of this site. |

        | RelatedLocationPaymentGuid | Used to filter the related payment location guid associated to the payment location of this site. |

        | RelatedLocationGuid | Used to filter the related location guid associated to the location of the supplier site. |

        | UniqueReference | Used to filter on the the unique reference of the supplier site. |

        | PaymentTermListItem | The GUID and description of the PaymentTerm associated to the supplier site. |

        | PaymentTypeListItem | The GUID and description of the PaymentType associated to the supplier site. |

        | SICCodeListItem | The GUID and description of the Standard Industrial Classification code associated to the supplier site. |

        | SupplierTypeListItem | The GUID and description of the Supplier type associated to the supplier site. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.BankName | The bank name of the direct debit. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and description of the direct debit run configuration |

        | BankDetails.Address.Address1 till 5 | The 5 address lines of the bank. |

        | BankDetails.Address.Postcode | The Postcode of the bank. |

        | BankDetails.AccountName | The account name of the direct debit. |

        | BankDetails.AccountNo | The account number of the direct debit. |

        | BankDetails.SortCode | The sort code of the direct debit. |

        | BankDetails.BIC | The Bank Identifier Code of the direct debit. |

        | BankDetails.IBAN | The International Bank Account Number of the direct debit. |

        | PaymentHandlingCodeListItem | The GUID and description of the payment handling code associated to the supplier site. |

        | FacilityTypeListItem | The GUID and description of the facility type associated to the supplier site. |

        | SupplierTypesListItems[] | The array of supplier types associated to the supplier site. |

        | SupplierSiteTreatmentListItems[] | The array of supplier treatment associated to the supplier site. |

        | SupplierTypesListItems[0].SupplierTypeListItem | The GUID and description of the supplier type associated to the SupplierTypesListItems. |

        | WasteCarrierLicenceNumber | The waste carrier licence number. |

        | WasteCarrierLicenceExpiryDate | The waste carrier licence expiry date. |

        | WasteManagementLicenceNumber | The waste management licence number. |

        | RelatedAreaOfOriginGuid | The GUID associated to the area of origin of the supplier site. Filterable. |

        | ABPRegistrationNumber | The ABP registration number. |'
      operationId: SupplierSite_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorSupplierSiteResource'
    put:
      tags:
      - SupplierSite
      summary: Partial update
      description: '| Property | Description | Required |

        | ----------------------------------- | ------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the supplier site. | No |

        | Name | The supplier site''s name. | Yes |

        | RelatedSupplierGuid | The GUID associated to the supplier of this site. | Yes |

        | RelatedLocationPaymentGuid | The GUID associated to the payment location of this site. | Yes |

        | RelatedLocationGuid | The GUID associated to the location of the supplier site. | Yes |

        | PaymentTermListItem | The GUID and description of the PaymentTerm associated to the supplier site. | No |

        | PaymentTypeListItem | The GUID and description of the PaymentType associated to the supplier site. | No |

        | SICCodeListItem | The GUID and description of the Standard Industrial Classification code associated to the supplier site. | No |

        | SupplierTypeListItem | The GUID and description of the Supplier type associated to the supplier site. | No |

        | BankDetails | The object where bank details are specified. | No |

        | BankDetails.BankName | The bank name of the direct debit. | No |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and description of the direct debit run configuration. | Yes if BankDetails is not null |

        | BankDetails.Address.Address1 till 5 | The 5 address lines of the bank. | No |

        | BankDetails.Address.Postcode | The Postcode of the bank. | No |

        | BankDetails.AccountName | The account name of the direct debit. | No |

        | BankDetails.AccountNo | The account number of the direct debit. | No |

        | BankDetails.SortCode | The sort code of the direct debit. | No |

        | BankDetails.BIC | The Bank Identifier Code of the direct debit. | No |

        | BankDetails.IBAN | The International Bank Account Number of the direct debit. | No |

        | PaymentHandlingCodeListItem | The GUID and description of the payment handling code associated to the supplier site. | No |

        | FacilityTypeListItem | The GUID and description of the facility type associated to the supplier site. | No |

        | SupplierTypesListItems[] | The array of supplier types associated to the supplier site. | No |

        | SupplierTypesListItems[0].SupplierTypeListItem | The GUID and description of the supplier type associated to the SupplierTypesListItems. | No |

        | WasteCarrierLicenceNumber | The waste carrier licence number.| No |

        | WasteCarrierLicenceExpiryDate | The waste carrier licence expiry date.| Yes if WasteCarrierLicenceNumber not null |

        | WasteManagementLicenceNumber | The waste management licence number.| No |

        | RelatedAreaOfOriginGuid| The GUID associated to the area of origin of the supplier site. | No |

        | ABPRegistrationNumber| The ABP registration number.| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | BankDetails is not null and DirectDebitRunConfig not found with value BankDetails.DirectDebitRunConfigListItem.Guid | Failed to retrieve DirectDebitRunConfig with BankDetails.DirectDebitRunConfigListItem.Guid of {value of BankDetails.DirectDebitRunConfigListItem.Guid} |

        | The SupplierTypesListItems[0].SupplierTypeListItem.Guid is already present in the SupplierTypesListItems array | Failed to save. SupplierTypeListItem already exists with Guid of 8ef6ebc3-9d3b-eb11-8d0c-24418c4ab67b |

        | If WasteCarrierLicenceNumber is more than 20 characters long | Failed to save/update SupplierSite because WasteCarrierLicenceNumber must be no more than 20 characters long. |

        | If WasteCarrierLicenceNumber has a value and WasteCarrierLicenceExpiryDate is null or empty | Failed to save/update SupplierSite because WasteCarrierLicenceNumber property has been set, therefore WasteCarrierLicenceExpiryDate property must be set. |

        | If WasteManagementLicenceNumber is more than 20 characters long | Failed to save/update SupplierSite because WasteManagementLicenceNumber must be no more than 20 characters long. |'
      operationId: SupplierSite_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierSiteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /directory/supplierSites:
    get:
      tags:
      - SupplierSite
      summary: Find with Filters
      description: '| Property | Description |

        | ----------------------------------- | ------------------------------------------------------------------------- |

        | GUID | The GUID associated to the supplier site. |

        | Name | The supplier site''s name. |

        | RelatedSupplierGuid | The GUID associated to the supplier of this site. |

        | RelatedLocationPaymentGuid | Used to filter the related payment location guid associated to the payment location of this site. |

        | RelatedLocationGuid | Used to filter the related location guid associated to the location of the supplier site. |

        | UniqueReference | Used to filter on the the unique reference of the supplier site. |

        | PaymentTermListItem | The GUID and description of the PaymentTerm associated to the supplier site. |

        | PaymentTypeListItem | The GUID and description of the PaymentType associated to the supplier site. |

        | SICCodeListItem | The GUID and description of the Standard Industrial Classification code associated to the supplier site. |

        | SupplierTypeListItem | The GUID and description of the Supplier type associated to the supplier site. |

        | BankDetails | The object where bank details are specified. |

        | BankDetails.BankName | The bank name of the direct debit. |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and description of the direct debit run configuration |

        | BankDetails.Address.Address1 till 5 | The 5 address lines of the bank. |

        | BankDetails.Address.Postcode | The Postcode of the bank. |

        | BankDetails.AccountName | The account name of the direct debit. |

        | BankDetails.AccountNo | The account number of the direct debit. |

        | BankDetails.SortCode | The sort code of the direct debit. |

        | BankDetails.BIC | The Bank Identifier Code of the direct debit. |

        | BankDetails.IBAN | The International Bank Account Number of the direct debit. |

        | PaymentHandlingCodeListItem | The GUID and description of the payment handling code associated to the supplier site. |

        | FacilityTypeListItem | The GUID and description of the facility type associated to the supplier site. |

        | SupplierTypesListItems[] | The array of supplier types associated to the supplier site. |

        | SupplierSiteTreatmentListItems[] | The array of supplier treatment associated to the supplier site. |

        | SupplierTypesListItems[0].SupplierTypeListItem | The GUID and description of the supplier type associated to the SupplierTypesListItems. |

        | WasteCarrierLicenceNumber | The waste carrier licence number. |

        | WasteCarrierLicenceExpiryDate | The waste carrier licence expiry date. |

        | WasteManagementLicenceNumber | The waste management licence number. |

        | RelatedAreaOfOriginGuid | The GUID associated to the area of origin of the supplier site. Filterable. |

        | ABPRegistrationNumber | The ABP registration number. |'
      operationId: SupplierSite_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSupplierSiteResource'
    post:
      tags:
      - SupplierSite
      summary: Create or update
      description: '| Property | Description | Required |

        | ----------------------------------- | ------------------------------------------------------------------------- | -------- |

        | GUID | The GUID associated to the supplier site. | No |

        | Name | The supplier site''s name. | Yes |

        | RelatedSupplierGuid | The GUID associated to the supplier of this site. | Yes |

        | RelatedLocationPaymentGuid | The GUID associated to the payment location of this site. | Yes |

        | RelatedLocationGuid | The GUID associated to the location of the supplier site. | Yes |

        | PaymentTermListItem | The GUID and description of the PaymentTerm associated to the supplier site. | No |

        | PaymentTypeListItem | The GUID and description of the PaymentType associated to the supplier site. | No |

        | SICCodeListItem | The GUID and description of the Standard Industrial Classification code associated to the supplier site. | No |

        | SupplierTypeListItem | The GUID and description of the Supplier type associated to the supplier site. | No |

        | BankDetails | The object where bank details are specified. | No |

        | BankDetails.BankName | The bank name of the direct debit. | No |

        | BankDetails.DirectDebitRunConfigListItem | The GUID and description of the direct debit run configuration. | Yes if BankDetails is not null |

        | BankDetails.Address.Address1 till 5 | The 5 address lines of the bank. | No |

        | BankDetails.Address.Postcode | The Postcode of the bank. | No |

        | BankDetails.AccountName | The account name of the direct debit. | No |

        | BankDetails.AccountNo | The account number of the direct debit. | No |

        | BankDetails.SortCode | The sort code of the direct debit. | No |

        | BankDetails.BIC | The Bank Identifier Code of the direct debit. | No |

        | BankDetails.IBAN | The International Bank Account Number of the direct debit. | No |

        | PaymentHandlingCodeListItem | The GUID and description of the payment handling code associated to the supplier site. | No |

        | FacilityTypeListItem | The GUID and description of the facility type associated to the supplier site. | No |

        | SupplierTypesListItems[] | The array of supplier types associated to the supplier site. | No |

        | SupplierTypesListItems[0].SupplierTypeListItem | The GUID and description of the supplier type associated to the SupplierTypesListItems. | No |

        | WasteCarrierLicenceNumber | The waste carrier licence number.| No |

        | WasteCarrierLicenceExpiryDate | The waste carrier licence expiry date.| Yes if WasteCarrierLicenceNumber not null |

        | WasteManagementLicenceNumber | The waste management licence number.| No |

        | RelatedAreaOfOriginGuid| The GUID associated to the area of origin of the supplier site. | No |

        | ABPRegistrationNumber| The ABP registration number.| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | BankDetails is not null and DirectDebitRunConfig not found with value BankDetails.DirectDebitRunConfigListItem.Guid | Failed to retrieve DirectDebitRunConfig with BankDetails.DirectDebitRunConfigListItem.Guid of {value of BankDetails.DirectDebitRunConfigListItem.Guid} |

        | The SupplierTypesListItems[0].SupplierTypeListItem.Guid is already present in the SupplierTypesListItems array | Failed to save. SupplierTypeListItem already exists with Guid of 8ef6ebc3-9d3b-eb11-8d0c-24418c4ab67b |

        | If WasteCarrierLicenceNumber is more than 20 characters long | Failed to save/update SupplierSite because WasteCarrierLicenceNumber must be no more than 20 characters long. |

        | If WasteCarrierLicenceNumber has a value and WasteCarrierLicenceExpiryDate is null or empty | Failed to save/update SupplierSite because WasteCarrierLicenceNumber property has been set, therefore WasteCarrierLicenceExpiryDate property must be set. |

        | If WasteManagementLicenceNumber is more than 20 characters long | Failed to save/update SupplierSite because WasteManagementLicenceNumber must be no more than 20 characters long. |'
      operationId: SupplierSite_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierSiteResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiIntegratorSupplierSiteBankDetailsResource:
      type: object
      properties:
        BankName:
          type: string
        AccountName:
          type: string
        AccountNo:
          type: string
        SortCode:
          type: string
        BIC:
          type: string
        IBAN:
          type: string
        DirectDebitRunConfigListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Address:
          $ref: '#/components/schemas/ApiIntegratorSupplierSiteBankDetailsAddressResource'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorSupplierSiteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierSiteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSupplierSiteSiteTypeResource:
      type: object
      properties:
        SupplierTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiIntegratorSupplierSiteTreatmentResource:
      type: object
      properties:
        TreatmentCode:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialClass:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Material:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        EWCCode:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDefault:
          type: boolean
        Guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorSupplierSiteResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorSupplierSiteResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSupplierSiteBankDetailsAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollection_ApiIntegratorSupplierSiteResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierSiteResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorSupplierSiteResource:
      type: object
      properties:
        Name:
          type: string
        RelatedSupplierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedLocationPaymentGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentTermListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        SICCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PayableCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        BankDetails:
          $ref: '#/components/schemas/ApiIntegratorSupplierSiteBankDetailsResource'
        PaymentHandlingCodeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        FacilityTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        SupplierTypesListItems:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierSiteSiteTypeResource'
        SupplierSiteTreatmentListItems:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierSiteTreatmentResource'
        WasteCarrierLicenceNumber:
          type: string
        WasteCarrierLicenceExpiryDate:
          type: string
          format: dateTime
          example: '2000-01-01 00:00:00.000'
        WasteManagementLicenceNumber:
          type: string
        RelatedAreaOfOriginGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ABPRegistrationNumber:
          type: string
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
