openapi: 3.2.0
info:
  title: AMCS Platform REST Vehicle Event API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: VehicleEvent
paths:
  /fleet/vehicleEvents/changes:
    get:
      tags:
      - VehicleEvent
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the vehicle event.|

        | AdditionalInformation| The additional information associated to the vehicle event.|

        | BinVisitedCount| The bin visited count associated to the vehicle event.|

        | CurrentWeight | The current weight associated to the vehicle event.|

        | Distance | The distance associated to the vehicle event.|

        | EventDate | The event date associated to the vehicle event.|

        | FlexibleData| The flexible data associated to the vehicle event.|

        | IsAcknowledged| Whether the vehicle event is acknowledged.|

        | IsGeoCompressed| Whether the vehicle event is geo compressed.|

        | Location| The location associated to the vehicle event.|

        | NumberOfPictures| The number of pictures associated to the vehicle event.|

        | Speed| The speed associated to the vehicle event.|

        | SpeedLimit| The speed limit associated to the vehicle event.|

        | SysUserName| The system user name associated to the vehicle event.|

        | TimeStamp| The time stamp associated to the vehicle event.|

        | TotalDistance| The total distance associated to the vehicle event.|

        | VehicleCode| The vehicle code associated to the vehicle event.|

        | VehicleEventXML| The vehicle event XML associated to the vehicle event.|

        | VehicleEventTypeListItem| The GUID and description associated to the vehicle event.|

        | RelatedJobGuid| The related job GUID associated to the vehicle event. Filterable|

        | RelatedRouteGuid| The related route GUID associated to the vehicle event. Filterable|

        | RelatedRouteVisitGroupGuid| The related route visit group GUID associated to the vehicle event. Filterable|

        | RelatedScheduleGuid| The related schedule GUID associated to the vehicle event. Filterable|

        | RelatedVehicleGuid| The related vehicle GUID associated to the vehicle event.|

        | IsDeleted| Whether the vehicle event is deleted|'
      operationId: VehicleEvent_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorVehicleEventResource'
  /fleet/vehicleEvents/{guid}:
    get:
      tags:
      - VehicleEvent
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the vehicle event.|

        | AdditionalInformation| The additional information associated to the vehicle event.|

        | BinVisitedCount| The bin visited count associated to the vehicle event.|

        | CurrentWeight | The current weight associated to the vehicle event.|

        | Distance | The distance associated to the vehicle event.|

        | EventDate | The event date associated to the vehicle event.|

        | FlexibleData| The flexible data associated to the vehicle event.|

        | IsAcknowledged| Whether the vehicle event is acknowledged.|

        | IsGeoCompressed| Whether the vehicle event is geo compressed.|

        | Location| The location associated to the vehicle event.|

        | NumberOfPictures| The number of pictures associated to the vehicle event.|

        | Speed| The speed associated to the vehicle event.|

        | SpeedLimit| The speed limit associated to the vehicle event.|

        | SysUserName| The system user name associated to the vehicle event.|

        | TimeStamp| The time stamp associated to the vehicle event.|

        | TotalDistance| The total distance associated to the vehicle event.|

        | VehicleCode| The vehicle code associated to the vehicle event.|

        | VehicleEventXML| The vehicle event XML associated to the vehicle event.|

        | VehicleEventTypeListItem| The GUID and description associated to the vehicle event.|

        | RelatedJobGuid| The related job GUID associated to the vehicle event. Filterable|

        | RelatedRouteGuid| The related route GUID associated to the vehicle event. Filterable|

        | RelatedRouteVisitGroupGuid| The related route visit group GUID associated to the vehicle event. Filterable|

        | RelatedScheduleGuid| The related schedule GUID associated to the vehicle event. Filterable|

        | RelatedVehicleGuid| The related vehicle GUID associated to the vehicle event.|

        | IsDeleted| Whether the vehicle event is deleted|'
      operationId: VehicleEvent_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorVehicleEventResource'
    put:
      tags:
      - VehicleEvent
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the vehicle event.| No |

        | AdditionalInformation| The additional information associated to the vehicle event.| No |

        | BinVisitedCount| The bin visited count associated to the vehicle event.| No |

        | CurrentWeight | The current weight associated to the vehicle event.| No |

        | Distance | The distance associated to the vehicle event.| No |

        | EventDate | The event date associated to the vehicle event.| No |

        | FlexibleData| The flexible data associated to the vehicle event.| No |

        | IsAcknowledged| Whether the vehicle event is acknowledged.| Yes |

        | IsGeoCompressed| Whether the vehicle event is geo compressed.| Yes |

        | Location| The location associated to the vehicle event.| No |

        | NumberOfPictures| The number of pictures associated to the vehicle event.| No |

        | Speed| The speed associated to the vehicle event.| No |

        | SpeedLimit| The speed limit associated to the vehicle event.| No |

        | SysUserName| The system user name associated to the vehicle event.| No |

        | TimeStamp| The time stamp associated to the vehicle event.| No |

        | TotalDistance| The total distance associated to the vehicle event.| No |

        | VehicleCode| The vehicle code associated to the vehicle event.| Yes |

        | VehicleEventXML| The vehicle event XML associated to the vehicle event.| No |

        | VehicleEventTypeListItem| The GUID and description associated to the vehicle event.| No |

        | RelatedJobGuid| The related job GUID associated to the vehicle event.| No |

        | RelatedRouteGuid| The related route GUID associated to the vehicle event.| No |

        | RelatedRouteVisitGroupGuid| The related route visit group GUID associated to the vehicle event.| No |

        | RelatedScheduleGuid| The related schedule GUID associated to the vehicle event.| No |

        | RelatedVehicleGuid| The related vehicle GUID associated to the vehicle event.| Yes |

        | IsDeleted| Whether the vehicle event is deleted| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Invalid RelatedJobGuid | Failed to retrieve Job with RelatedJobGuid of {Guid} |

        | Invalid RelatedRouteGuid | Failed to retrieve Route with RelatedRouteGuid of {Guid} |

        | Invalid RelatedScheduleGuid | Failed to retrieve Schedule with RelatedScheduleGuid of {Guid} |

        | Invalid RelatedVehicleGuid | Failed to retrieve Vehicle with RelatedVehicleGuid of {Guid} |

        | VehicleEventType not found with value VehicleEventTypeListItem.Guid | Failed to retrieve VehicleEventType with GUID of {value of VehicleEventTypeListItem.Guid} |

        | If IsDeleted is set as true on the payload | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | Location.Lat value not in range between -90 and 90 or Location.Long value not in range between -180 and 180 | Location.Lat value must be between -90 and 90. Location.Long value must be between -180 and 180. |'
      operationId: VehicleEvent_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorVehicleEventResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /fleet/vehicleEvents:
    get:
      tags:
      - VehicleEvent
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the vehicle event.|

        | AdditionalInformation| The additional information associated to the vehicle event.|

        | BinVisitedCount| The bin visited count associated to the vehicle event.|

        | CurrentWeight | The current weight associated to the vehicle event.|

        | Distance | The distance associated to the vehicle event.|

        | EventDate | The event date associated to the vehicle event.|

        | FlexibleData| The flexible data associated to the vehicle event.|

        | IsAcknowledged| Whether the vehicle event is acknowledged.|

        | IsGeoCompressed| Whether the vehicle event is geo compressed.|

        | Location| The location associated to the vehicle event.|

        | NumberOfPictures| The number of pictures associated to the vehicle event.|

        | Speed| The speed associated to the vehicle event.|

        | SpeedLimit| The speed limit associated to the vehicle event.|

        | SysUserName| The system user name associated to the vehicle event.|

        | TimeStamp| The time stamp associated to the vehicle event.|

        | TotalDistance| The total distance associated to the vehicle event.|

        | VehicleCode| The vehicle code associated to the vehicle event.|

        | VehicleEventXML| The vehicle event XML associated to the vehicle event.|

        | VehicleEventTypeListItem| The GUID and description associated to the vehicle event.|

        | RelatedJobGuid| The related job GUID associated to the vehicle event. Filterable|

        | RelatedRouteGuid| The related route GUID associated to the vehicle event. Filterable|

        | RelatedRouteVisitGroupGuid| The related route visit group GUID associated to the vehicle event. Filterable|

        | RelatedScheduleGuid| The related schedule GUID associated to the vehicle event. Filterable|

        | RelatedVehicleGuid| The related vehicle GUID associated to the vehicle event.|

        | IsDeleted| Whether the vehicle event is deleted|'
      operationId: VehicleEvent_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorVehicleEventResource'
    post:
      tags:
      - VehicleEvent
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the vehicle event.| No |

        | AdditionalInformation| The additional information associated to the vehicle event.| No |

        | BinVisitedCount| The bin visited count associated to the vehicle event.| No |

        | CurrentWeight | The current weight associated to the vehicle event.| No |

        | Distance | The distance associated to the vehicle event.| No |

        | EventDate | The event date associated to the vehicle event.| No |

        | FlexibleData| The flexible data associated to the vehicle event.| No |

        | IsAcknowledged| Whether the vehicle event is acknowledged.| Yes |

        | IsGeoCompressed| Whether the vehicle event is geo compressed.| Yes |

        | Location| The location associated to the vehicle event.| No |

        | NumberOfPictures| The number of pictures associated to the vehicle event.| No |

        | Speed| The speed associated to the vehicle event.| No |

        | SpeedLimit| The speed limit associated to the vehicle event.| No |

        | SysUserName| The system user name associated to the vehicle event.| No |

        | TimeStamp| The time stamp associated to the vehicle event.| No |

        | TotalDistance| The total distance associated to the vehicle event.| No |

        | VehicleCode| The vehicle code associated to the vehicle event.| Yes |

        | VehicleEventXML| The vehicle event XML associated to the vehicle event.| No |

        | VehicleEventTypeListItem| The GUID and description associated to the vehicle event.| No |

        | RelatedJobGuid| The related job GUID associated to the vehicle event.| No |

        | RelatedRouteGuid| The related route GUID associated to the vehicle event.| No |

        | RelatedRouteVisitGroupGuid| The related route visit group GUID associated to the vehicle event.| No |

        | RelatedScheduleGuid| The related schedule GUID associated to the vehicle event.| No |

        | RelatedVehicleGuid| The related vehicle GUID associated to the vehicle event.| Yes |

        | IsDeleted| Whether the vehicle event is deleted| No |


        **Extra validations**


        | Condition | Error message |

        | --------- | ------------- |

        | Invalid RelatedJobGuid | Failed to retrieve Job with RelatedJobGuid of {Guid} |

        | Invalid RelatedRouteGuid | Failed to retrieve Route with RelatedRouteGuid of {Guid} |

        | Invalid RelatedScheduleGuid | Failed to retrieve Schedule with RelatedScheduleGuid of {Guid} |

        | Invalid RelatedVehicleGuid | Failed to retrieve Vehicle with RelatedVehicleGuid of {Guid} |

        | VehicleEventType not found with value VehicleEventTypeListItem.Guid | Failed to retrieve VehicleEventType with GUID of {value of VehicleEventTypeListItem.Guid} |

        | If IsDeleted is set as true on the payload | IsDeleted is TRUE. Could not process the request. Resources can not be deleted via the REST API. |

        | Location.Lat value not in range between -90 and 90 or Location.Long value not in range between -180 and 180 | Location.Lat value must be between -90 and 90. Location.Long value must be between -180 and 180. |'
      operationId: VehicleEvent_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorVehicleEventResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorLocationGeoLocationResource:
      type: object
      properties:
        Lat:
          type: number
          format: double
        Long:
          type: number
          format: double
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorVehicleEventResource:
      type: object
      properties:
        AdditionalInformation:
          type: string
        BinVisitedCount:
          type: integer
          format: int32
        CurrentWeight:
          type: number
          format: double
        Distance:
          type: number
          format: double
        FlexibleData:
          type: string
        IsGeoCompressed:
          type: boolean
        Location:
          $ref: '#/components/schemas/ApiIntegratorLocationGeoLocationResource'
        NumberOfPictures:
          type: integer
          format: int32
        TimeStamp:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        TotalDistance:
          type: number
          format: double
        VehicleCode:
          type: string
        VehicleEventXML:
          type: string
        VehicleEventTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedScheduleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedJobGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGroupGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        EventDate:
          type: string
          format: localDate
          example: '2000-01-01'
        IsAcknowledged:
          type: boolean
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorVehicleEventResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorVehicleEventResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorVehicleEventResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorVehicleEventResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollection_ApiIntegratorVehicleEventResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorVehicleEventResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
