openapi: 3.2.0
info:
  title: AMCS Platform REST Currency Rate API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: CurrencyRate
paths:
  /lists/currencyRates/changes:
    get:
      tags:
      - CurrencyRate
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the currency rate|

        | FromCurrencyListItem | The GUID and description of the FromCurrency associated to the currency rate|

        | ToCurrencylistitem| The GUID and description of the ToCurrency associated to the currency rate|

        | EffectiveFrom | The effective from date of currency rate |

        | ExchangeRateDivider | The exchange rate divider of currency rate |

        | ExchangeRateMultiplier | The exchange rate multiplier of currency rate |

        | ExchangeRate | The exchange rate of currency rate |

        | ExchangeRateInverse | The exchange rate inverse of currency rate |

        | ExchangeRateDisplay | The exchange rate display of currency rate |

        | IsDeleted | Whether the currency rateis deleted |'
      operationId: CurrencyRate_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorCurrencyRateResource'
  /lists/currencyRates/{guid}:
    get:
      tags:
      - CurrencyRate
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the currency rate|

        | FromCurrencyListItem | The GUID and description of the FromCurrency associated to the currency rate|

        | ToCurrencylistitem| The GUID and description of the ToCurrency associated to the currency rate|

        | EffectiveFrom | The effective from date of currency rate |

        | ExchangeRateDivider | The exchange rate divider of currency rate |

        | ExchangeRateMultiplier | The exchange rate multiplier of currency rate |

        | ExchangeRate | The exchange rate of currency rate |

        | ExchangeRateInverse | The exchange rate inverse of currency rate |

        | ExchangeRateDisplay | The exchange rate display of currency rate |

        | IsDeleted | Whether the currency rateis deleted |'
      operationId: CurrencyRate_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCurrencyRateResource'
  /lists/currencyRates:
    get:
      tags:
      - CurrencyRate
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID | The GUID associated to the currency rate|

        | FromCurrencyListItem | The GUID and description of the FromCurrency associated to the currency rate|

        | ToCurrencylistitem| The GUID and description of the ToCurrency associated to the currency rate|

        | EffectiveFrom | The effective from date of currency rate |

        | ExchangeRateDivider | The exchange rate divider of currency rate |

        | ExchangeRateMultiplier | The exchange rate multiplier of currency rate |

        | ExchangeRate | The exchange rate of currency rate |

        | ExchangeRateInverse | The exchange rate inverse of currency rate |

        | ExchangeRateDisplay | The exchange rate display of currency rate |

        | IsDeleted | Whether the currency rateis deleted |'
      operationId: CurrencyRate_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCurrencyRateResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCurrencyRateResource:
      type: object
      properties:
        FromCurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ToCurrencyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        EffectiveFrom:
          type: string
          format: localDate
          example: '2000-01-01'
        ExchangeRateDivider:
          type: number
          format: double
        ExchangeRateMultiplier:
          type: number
          format: double
        ExchangeRate:
          type: number
          format: double
        ExchangeRateInverse:
          type: number
          format: double
        ExchangeRateDisplay:
          type: number
          format: double
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceChanges_ApiIntegratorCurrencyRateResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCurrencyRateResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorCurrencyRateResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCurrencyRateResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorCurrencyRateResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCurrencyRateResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
