openapi: 3.2.0
info:
  title: AMCS Platform REST Lift Event API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: LiftEvent
paths:
  /transport/liftEvents/changes:
    get:
      tags:
      - LiftEvent
      summary: Retrieve changes
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the lift event.|

        | IsAutoGPSMatching| Is AutoGPSMatching in the lift event?|

        | IsAutoGPSMatchingResult| Is AutoGPSMatchingResult in the lift event?|

        | IsBilled| Is Billed in the lift event?|

        | IsCollected| Is Collected in the lift event?|

        | IsContaminated| Is Contaminated in the lift event?|

        | IsDriverGPSMatching| Is DriverGPSMatching in the lift event?|

        | IsDriverGPSMatchingResult| Is DriverGPSMatchingResult in the lift event?|

        | IsDumped| Is Dumped in the lift event?|

        | IsAdHoc| Is AdHoc in the lift event?|

        | IsCombinedLift| Is CombinedLift in the lift event?|

        | IsGeoCompressed| Is GeoCompressed in the lift event?|

        | IsManual| Is Manual in the lift event?|

        | IsOnHold| Is OnHold in the lift event?|

        | IsOverridden| Is Overridden in the lift event?|

        | IsStopListed| Is StopListed in the lift event?|

        | BaseWeight| Base weight of the lift event.|

        | ChargeWeight| Charge weight of the lift event.|

        | GrossWeight| Gross weight of the lift event.|

        | NetWeight| Net weight of the lift event.|

        | TareWeight| Tare weight of the lift event.|

        | Weight| Weight of the lift event.|

        | DoubleDumps| Double dumps of the lift event.|

        | ErrorCodeWeight| Error code weight of the lift event.|

        | ErrorCodeTag| Error code tag of the lift event.|

        | LifterSide| Lifter side of the lift event.|

        | NumberOfPictures| Number of pictures of the lift event.|

        | QuantityCollected| Quantity collected of the lift event.|

        | RouteInstanceOrderNumber| Route instance order number of the lift event.|

        | RouteVersion| Route version of the lift event.|

        | GPSMatchingSourceListItem| The GUID and description of the GPS matching source associated to the lift event.|

        | ReasonLastChangeListItem| The GUID and description of the reason for last change associated to the lift event.|

        | ReasonLiftInformationListItem| The GUID and description of the reason for lift information associated to the lift event.|

        | ReasonLiftProblemListItem| The GUID and description of the reason for lift problem associated to the lift event.|

        | ContainerTypeNewOfficeListItem| The GUID and description of the container type associated to the lift event.|

        | MaterialTypeNewOfficeListItem| The GUID and description of the material associated to the lift event.|

        | UnitOfMeasurementListItem| The GUID and description of the unit of measurement associated to the lift event.|

        | WeightChangeReasonListItem| The GUID and description of the reason for weight change associated to the lift event.|

        | Location| The latitude and longitude of the location associated to the lift event.|

        | VehicleCode| The vehicle code associated to the lift event.'
      operationId: LiftEvent_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorLiftEventResource'
  /transport/liftEvents/{guid}:
    get:
      tags:
      - LiftEvent
      summary: Find with GUID
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the lift event.|

        | IsAutoGPSMatching| Is AutoGPSMatching in the lift event?|

        | IsAutoGPSMatchingResult| Is AutoGPSMatchingResult in the lift event?|

        | IsBilled| Is Billed in the lift event?|

        | IsCollected| Is Collected in the lift event?|

        | IsContaminated| Is Contaminated in the lift event?|

        | IsDriverGPSMatching| Is DriverGPSMatching in the lift event?|

        | IsDriverGPSMatchingResult| Is DriverGPSMatchingResult in the lift event?|

        | IsDumped| Is Dumped in the lift event?|

        | IsAdHoc| Is AdHoc in the lift event?|

        | IsCombinedLift| Is CombinedLift in the lift event?|

        | IsGeoCompressed| Is GeoCompressed in the lift event?|

        | IsManual| Is Manual in the lift event?|

        | IsOnHold| Is OnHold in the lift event?|

        | IsOverridden| Is Overridden in the lift event?|

        | IsStopListed| Is StopListed in the lift event?|

        | BaseWeight| Base weight of the lift event.|

        | ChargeWeight| Charge weight of the lift event.|

        | GrossWeight| Gross weight of the lift event.|

        | NetWeight| Net weight of the lift event.|

        | TareWeight| Tare weight of the lift event.|

        | Weight| Weight of the lift event.|

        | DoubleDumps| Double dumps of the lift event.|

        | ErrorCodeWeight| Error code weight of the lift event.|

        | ErrorCodeTag| Error code tag of the lift event.|

        | LifterSide| Lifter side of the lift event.|

        | NumberOfPictures| Number of pictures of the lift event.|

        | QuantityCollected| Quantity collected of the lift event.|

        | RouteInstanceOrderNumber| Route instance order number of the lift event.|

        | RouteVersion| Route version of the lift event.|

        | GPSMatchingSourceListItem| The GUID and description of the GPS matching source associated to the lift event.|

        | ReasonLastChangeListItem| The GUID and description of the reason for last change associated to the lift event.|

        | ReasonLiftInformationListItem| The GUID and description of the reason for lift information associated to the lift event.|

        | ReasonLiftProblemListItem| The GUID and description of the reason for lift problem associated to the lift event.|

        | ContainerTypeNewOfficeListItem| The GUID and description of the container type associated to the lift event.|

        | MaterialTypeNewOfficeListItem| The GUID and description of the material associated to the lift event.|

        | UnitOfMeasurementListItem| The GUID and description of the unit of measurement associated to the lift event.|

        | WeightChangeReasonListItem| The GUID and description of the reason for weight change associated to the lift event.|

        | Location| The latitude and longitude of the location associated to the lift event.|

        | VehicleCode| The vehicle code associated to the lift event.'
      operationId: LiftEvent_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorLiftEventResource'
    put:
      tags:
      - LiftEvent
      summary: Partial update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the lift event.| No |

        | IsAutoGPSMatching| Is AutoGPSMatching in the lift event?| Yes |

        | IsAutoGPSMatchingResult| Is AutoGPSMatchingResult in the lift event?| Yes |

        | IsBilled| Is Billed in the lift event?| Yes |

        | IsCollected| Is Collected in the lift event?| Yes |

        | IsContaminated| Is Contaminated in the lift event?| Yes |

        | IsDriverGPSMatching| Is DriverGPSMatching in the lift event?| Yes |

        | IsDriverGPSMatchingResult| Is DriverGPSMatchingResult in the lift event?| Yes |

        | IsDumped| Is Dumped in the lift event?| Yes |

        | IsAdHoc| Is AdHoc in the lift event?| Yes |

        | IsCombinedLift| Is CombinedLift in the lift event?| Yes |

        | IsGeoCompressed| Is GeoCompressed in the lift event?| Yes |

        | IsManual| Is Manual in the lift event?| Yes |

        | IsOnHold| Is OnHold in the lift event?| Yes |

        | IsOverridden| Is Overridden in the lift event?| Yes |

        | IsStopListed| Is StopListed in the lift event?| Yes |

        | BaseWeight| Base weight of the lift event.| No |

        | ChargeWeight| Charge weight of the lift event.| No |

        | GrossWeight| Gross weight of the lift event.| No |

        | NetWeight| Net weight of the lift event.| No |

        | TareWeight| Tare weight of the lift event.| No |

        | Weight| Weight of the lift event.| No |

        | DoubleDumps| Double dumps of the lift event.| No |

        | ErrorCodeWeight| Error code weight of the lift event.| No |

        | ErrorCodeTag| Error code tag of the lift event.| No |

        | LifterSide| Lifter side of the lift event.| No |

        | NumberOfPictures| Number of pictures of the lift event.| No |

        | QuantityCollected| Quantity collected of the lift event.| No |

        | RouteInstanceOrderNumber| Route instance order number of the lift event.| No |

        | RouteVersion| Route version of the lift event.| No |

        | GPSMatchingSourceListItem| The GUID and description of the GPS matching source associated to the lift event.| No |

        | ReasonLastChangeListItem| The GUID and description of the reason for last change associated to the lift event.| No |

        | ReasonLiftInformationListItem| The GUID and description of the reason for lift information associated to the lift event.| No |

        | ReasonLiftProblemListItem| The GUID and description of the reason for lift problem associated to the lift event.| No |

        | ContainerTypeNewOfficeListItem| The GUID and description of the container type associated to the lift event.| No |

        | MaterialTypeNewOfficeListItem| The GUID and description of the material associated to the lift event.| No |

        | UnitOfMeasurementListItem| The GUID and description of the unit of measurement associated to the lift event.| No |

        | WeightChangeReasonListItem| The GUID and description of the reason for weight change associated to the lift event.| No |

        | Location| The latitude and longitude of the location associated to the lift event.| No |

        | VehicleCode| The vehicle code associated to the lift event.| Yes |

        | InformationText| The information text associated to the lift event.| No |

        | LiftDataXml| The lift data xml associated to the lift event.| No |

        | LiftText| The lift text associated to the lift event.| No |

        | ProblemText| The problem text associated to the lift event.| No |

        | Tag| The tag associated to the lift event.| No |

        | CollectionDate| The collection date associated to the lift event.| No |

        | CollectionTimeStamp| The collection timestamp associated to the lift event.| No |

        | ImportTimeStamp| The import timestamp associated to the lift event.| No |

        | InstrumentTimeStamp| The instrument timestamp associated to the lift event.| No |

        | RouteInstanceStartTime| The route instance start time associated to the lift event.| No |

        | RelatedUserRecordedByGuid| The GUID associated to the user of the lift event.| No |

        | RelatedRouteGuid| The GUID associated to the route of the lift event.| No |

        | RelatedRouteVisitGuid| The GUID associated to the route…'
      operationId: LiftEvent_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorLiftEventResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/liftEvents:
    get:
      tags:
      - LiftEvent
      summary: Find with Filters
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- |

        | GUID| The GUID associated to the lift event.|

        | IsAutoGPSMatching| Is AutoGPSMatching in the lift event?|

        | IsAutoGPSMatchingResult| Is AutoGPSMatchingResult in the lift event?|

        | IsBilled| Is Billed in the lift event?|

        | IsCollected| Is Collected in the lift event?|

        | IsContaminated| Is Contaminated in the lift event?|

        | IsDriverGPSMatching| Is DriverGPSMatching in the lift event?|

        | IsDriverGPSMatchingResult| Is DriverGPSMatchingResult in the lift event?|

        | IsDumped| Is Dumped in the lift event?|

        | IsAdHoc| Is AdHoc in the lift event?|

        | IsCombinedLift| Is CombinedLift in the lift event?|

        | IsGeoCompressed| Is GeoCompressed in the lift event?|

        | IsManual| Is Manual in the lift event?|

        | IsOnHold| Is OnHold in the lift event?|

        | IsOverridden| Is Overridden in the lift event?|

        | IsStopListed| Is StopListed in the lift event?|

        | BaseWeight| Base weight of the lift event.|

        | ChargeWeight| Charge weight of the lift event.|

        | GrossWeight| Gross weight of the lift event.|

        | NetWeight| Net weight of the lift event.|

        | TareWeight| Tare weight of the lift event.|

        | Weight| Weight of the lift event.|

        | DoubleDumps| Double dumps of the lift event.|

        | ErrorCodeWeight| Error code weight of the lift event.|

        | ErrorCodeTag| Error code tag of the lift event.|

        | LifterSide| Lifter side of the lift event.|

        | NumberOfPictures| Number of pictures of the lift event.|

        | QuantityCollected| Quantity collected of the lift event.|

        | RouteInstanceOrderNumber| Route instance order number of the lift event.|

        | RouteVersion| Route version of the lift event.|

        | GPSMatchingSourceListItem| The GUID and description of the GPS matching source associated to the lift event.|

        | ReasonLastChangeListItem| The GUID and description of the reason for last change associated to the lift event.|

        | ReasonLiftInformationListItem| The GUID and description of the reason for lift information associated to the lift event.|

        | ReasonLiftProblemListItem| The GUID and description of the reason for lift problem associated to the lift event.|

        | ContainerTypeNewOfficeListItem| The GUID and description of the container type associated to the lift event.|

        | MaterialTypeNewOfficeListItem| The GUID and description of the material associated to the lift event.|

        | UnitOfMeasurementListItem| The GUID and description of the unit of measurement associated to the lift event.|

        | WeightChangeReasonListItem| The GUID and description of the reason for weight change associated to the lift event.|

        | Location| The latitude and longitude of the location associated to the lift event.|

        | VehicleCode| The vehicle code associated to the lift event.'
      operationId: LiftEvent_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorLiftEventResource'
    post:
      tags:
      - LiftEvent
      summary: Create or update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the lift event.| No |

        | IsAutoGPSMatching| Is AutoGPSMatching in the lift event?| Yes |

        | IsAutoGPSMatchingResult| Is AutoGPSMatchingResult in the lift event?| Yes |

        | IsBilled| Is Billed in the lift event?| Yes |

        | IsCollected| Is Collected in the lift event?| Yes |

        | IsContaminated| Is Contaminated in the lift event?| Yes |

        | IsDriverGPSMatching| Is DriverGPSMatching in the lift event?| Yes |

        | IsDriverGPSMatchingResult| Is DriverGPSMatchingResult in the lift event?| Yes |

        | IsDumped| Is Dumped in the lift event?| Yes |

        | IsAdHoc| Is AdHoc in the lift event?| Yes |

        | IsCombinedLift| Is CombinedLift in the lift event?| Yes |

        | IsGeoCompressed| Is GeoCompressed in the lift event?| Yes |

        | IsManual| Is Manual in the lift event?| Yes |

        | IsOnHold| Is OnHold in the lift event?| Yes |

        | IsOverridden| Is Overridden in the lift event?| Yes |

        | IsStopListed| Is StopListed in the lift event?| Yes |

        | BaseWeight| Base weight of the lift event.| No |

        | ChargeWeight| Charge weight of the lift event.| No |

        | GrossWeight| Gross weight of the lift event.| No |

        | NetWeight| Net weight of the lift event.| No |

        | TareWeight| Tare weight of the lift event.| No |

        | Weight| Weight of the lift event.| No |

        | DoubleDumps| Double dumps of the lift event.| No |

        | ErrorCodeWeight| Error code weight of the lift event.| No |

        | ErrorCodeTag| Error code tag of the lift event.| No |

        | LifterSide| Lifter side of the lift event.| No |

        | NumberOfPictures| Number of pictures of the lift event.| No |

        | QuantityCollected| Quantity collected of the lift event.| No |

        | RouteInstanceOrderNumber| Route instance order number of the lift event.| No |

        | RouteVersion| Route version of the lift event.| No |

        | GPSMatchingSourceListItem| The GUID and description of the GPS matching source associated to the lift event.| No |

        | ReasonLastChangeListItem| The GUID and description of the reason for last change associated to the lift event.| No |

        | ReasonLiftInformationListItem| The GUID and description of the reason for lift information associated to the lift event.| No |

        | ReasonLiftProblemListItem| The GUID and description of the reason for lift problem associated to the lift event.| No |

        | ContainerTypeNewOfficeListItem| The GUID and description of the container type associated to the lift event.| No |

        | MaterialTypeNewOfficeListItem| The GUID and description of the material associated to the lift event.| No |

        | UnitOfMeasurementListItem| The GUID and description of the unit of measurement associated to the lift event.| No |

        | WeightChangeReasonListItem| The GUID and description of the reason for weight change associated to the lift event.| No |

        | Location| The latitude and longitude of the location associated to the lift event.| No |

        | VehicleCode| The vehicle code associated to the lift event.| Yes |

        | InformationText| The information text associated to the lift event.| No |

        | LiftDataXml| The lift data xml associated to the lift event.| No |

        | LiftText| The lift text associated to the lift event.| No |

        | ProblemText| The problem text associated to the lift event.| No |

        | Tag| The tag associated to the lift event.| No |

        | CollectionDate| The collection date associated to the lift event.| No |

        | CollectionTimeStamp| The collection timestamp associated to the lift event.| No |

        | ImportTimeStamp| The import timestamp associated to the lift event.| No |

        | InstrumentTimeStamp| The instrument timestamp associated to the lift event.| No |

        | RouteInstanceStartTime| The route instance start time associated to the lift event.| No |

        | RelatedUserRecordedByGuid| The GUID associated to the user of the lift event.| No |

        | RelatedRouteGuid| The GUID associated to the route of the lift event.| No |

        | RelatedRouteVisitGuid| The GUID associated to the route…'
      operationId: LiftEvent_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorLiftEventResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceChanges_ApiIntegratorLiftEventResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLiftEventResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceResultEntity_ApiIntegratorLiftEventResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorLiftEventResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorLiftEventResource:
      type: object
      properties:
        IsAutoGPSMatching:
          type: boolean
        IsAutoGPSMatchingResult:
          type: boolean
        IsBilled:
          type: boolean
        IsCollected:
          type: boolean
        IsContaminated:
          type: boolean
        IsDriverGPSMatching:
          type: boolean
        IsDriverGPSMatchingResult:
          type: boolean
        IsDumped:
          type: boolean
        IsAdHoc:
          type: boolean
        IsCombinedLift:
          type: boolean
        IsGeoCompressed:
          type: boolean
        IsManual:
          type: boolean
        IsOnHold:
          type: boolean
        IsOverridden:
          type: boolean
        IsStopListed:
          type: boolean
        BaseWeight:
          type: number
          format: double
        ChargeWeight:
          type: number
          format: double
        GrossWeight:
          type: number
          format: double
        NetWeight:
          type: number
          format: double
        TareWeight:
          type: number
          format: double
        Weight:
          type: number
          format: double
        DoubleDumps:
          type: integer
          format: int32
        ErrorCodeWeight:
          type: integer
          format: int32
        ErrorCodeTag:
          type: integer
          format: int32
        LifterSide:
          type: integer
          format: int32
        NumberOfPictures:
          type: integer
          format: int32
        QuantityCollected:
          type: integer
          format: int32
        RouteInstanceOrderNumber:
          type: integer
          format: int32
        RouteVersion:
          type: integer
          format: int32
        GPSMatchingSourceListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonLastChangeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonLiftInformationListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ReasonLiftProblemListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeNewOfficeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        MaterialTypeNewOfficeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        UnitOfMeasurementListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        WeightChangeReasonListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Location:
          $ref: '#/components/schemas/ApiIntegratorLiftEventLocationResource'
        VehicleCode:
          type: string
        InformationText:
          type: string
        LiftDataXml:
          type: string
        LiftText:
          type: string
        ProblemText:
          type: string
        Tag:
          type: string
        CollectionDate:
          type: string
          format: localDate
          example: '2000-01-01'
        CollectionTimeStamp:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        ImportTimeStamp:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        InstrumentTimeStamp:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        RouteInstanceStartTime:
          type: string
          format: offsetDateTime
          example: '2000-01-01T00:00:00+01:00'
        RelatedUserRecordedByGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRouteVisitGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedSiteOrderContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedVehicleGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedRejectedReasonGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollection_ApiIntegratorLiftEventResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLiftEventResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorLiftEventLocationResource:
      type: object
      properties:
        Lat:
          type: number
          format: double
        Long:
          type: number
          format: double
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
