openapi: 3.2.0
info:
  title: Amcs Group Outlet API
  version: '1.0'
  description: 'Operations tagged Outlet across 3 of this provider''s published API definitions: amcs-group-erp-openapi-original.json, amcs-group-scale-openapi-original.json, amcs-group-visionai-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
- url: http://{env}-svc-core.amcsplatform.com/scale/api/
- url: https://o1-dev-svc-core.amcsplatform.com/
  description: AMCS VisionAI Developer Environment
tags:
- name: Outlet
paths:
  /lists/outlets/{guid}:
    get:
      tags:
      - Outlet
      summary: Find with GUID
      description: '| Property | Description|

        | ------------------------- | ----------------------------------------------------------------------------- |

        | GUID | The GUID associated to the outlet|

        | Description | The description of the outlet|

        | IsDeleted | Whether the outlet is deleted |

        | AbbreviatedDescription | The abbreviated description of the outlet|

        | AnalysisCode | The analysis code of the outlet|

        | CompanyListItem | The GUID and description of the company|

        | OutletTypeListItem | The GUID and description of the outlet type (various values)|

        | Address | The address object of the outlet|

        | Address.HouseNumber | The house number of the address object of the outlet|

        | Address.Address1 | The Address1 of the address object of the outlet|

        | Address.Address2 | The Address2 of the address object of the outlet|

        | Address.Address3 | The Address3 of the address object of the outlet|

        | Address.Address4 | The Address4 of the address object of the outlet|

        | Address.Address5 | The Address5 of the address object of the outlet|

        | Address.Postcode | The Postcode of the address object of the outlet|

        | DepartmentListItems| The GUID and description of departments associated to the outlet|

        | VATRegistrationNumber | The VAT Registration Number of the outlet|

        | RelatedLocationGuid | The RelatedLocationGuid of the outlet. Filterable|

        | AcceptedMaterials[]| The materials accepted of the outlet|

        | AcceptedMaterials[].MaterialListItem| The materialListItem of the materials accepted for the outlet|

        | AcceptedMaterials[].WarnOnMinimumLoad| The WarnOnMinimumLoad of the materials accepted for the outlet|

        | AcceptedMaterials[].MinimumLoadWeight| The MinimumLoadWeight of the materials accepted for the outlet|

        | AcceptedMaterials[].IsDeleted | Whether the materials accepted for the outlet is deleted|

        | AcceptedMaterials[].GUID | The GUID of the materials accepted for the outlet|

        | AnalysisCodes| The list of company outlet analysis codes associated to the outlet.|

        | AnalysisCodes[0].Guid| The guid associated to the company outlet analysis code.|

        | AnalysisCodes[0].Description| The Description of the company outlet analysis code.|

        | AnalysisCodes[0].IsDeleted| Whether the company outlet analysis code is deleted.|'
      operationId: Outlet_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorCompanyOutletResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /lists/outlets:
    get:
      tags:
      - Outlet
      summary: Find with Filters
      description: '| Property | Description|

        | ------------------------- | ----------------------------------------------------------------------------- |

        | GUID | The GUID associated to the outlet|

        | Description | The description of the outlet|

        | IsDeleted | Whether the outlet is deleted |

        | AbbreviatedDescription | The abbreviated description of the outlet|

        | AnalysisCode | The analysis code of the outlet|

        | CompanyListItem | The GUID and description of the company|

        | OutletTypeListItem | The GUID and description of the outlet type (various values)|

        | Address | The address object of the outlet|

        | Address.HouseNumber | The house number of the address object of the outlet|

        | Address.Address1 | The Address1 of the address object of the outlet|

        | Address.Address2 | The Address2 of the address object of the outlet|

        | Address.Address3 | The Address3 of the address object of the outlet|

        | Address.Address4 | The Address4 of the address object of the outlet|

        | Address.Address5 | The Address5 of the address object of the outlet|

        | Address.Postcode | The Postcode of the address object of the outlet|

        | DepartmentListItems| The GUID and description of departments associated to the outlet|

        | VATRegistrationNumber | The VAT Registration Number of the outlet|

        | RelatedLocationGuid | The RelatedLocationGuid of the outlet. Filterable|

        | AcceptedMaterials[]| The materials accepted of the outlet|

        | AcceptedMaterials[].MaterialListItem| The materialListItem of the materials accepted for the outlet|

        | AcceptedMaterials[].WarnOnMinimumLoad| The WarnOnMinimumLoad of the materials accepted for the outlet|

        | AcceptedMaterials[].MinimumLoadWeight| The MinimumLoadWeight of the materials accepted for the outlet|

        | AcceptedMaterials[].IsDeleted | Whether the materials accepted for the outlet is deleted|

        | AcceptedMaterials[].GUID | The GUID of the materials accepted for the outlet|

        | AnalysisCodes| The list of company outlet analysis codes associated to the outlet.|

        | AnalysisCodes[0].Guid| The guid associated to the company outlet analysis code.|

        | AnalysisCodes[0].Description| The Description of the company outlet analysis code.|

        | AnalysisCodes[0].IsDeleted| Whether the company outlet analysis code is deleted.|'
      operationId: Outlet_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorCompanyOutletResource'
    servers:
    - url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
  /integrator/lists/outlets/{id}:
    get:
      tags:
      - Outlet
      summary: Find with GUID
      description: '| Property | Description |

        | ---------------------------------------------------- | ---------------------------------------------------------------------------------- |

        | GUID | The GUID associated to the outlet |

        | Description | The description of the outlet |

        | IsDeleted | Whether the outlet is deleted |

        | AbbreviatedDescription | The abbreviated description of the outlet |

        | AnalysisCode | The analysis code of the outlet |

        | Location | The description of the weighing type |

        | Address | The address object of the outlet |

        | Address.HouseNumber | The house number of the address object of the outlet |

        | Address.Address1 | The Address1 of the address object of the outlet |

        | Address.Address2 | The Address2 of the address object of the outlet |

        | Address.Address3 | The Address3 of the address object of the outlet |

        | Address.Address4 | The Address4 of the address object of the outlet |

        | Address.Address5 | The Address5 of the address object of the outlet |

        | Address.Postcode | The Postcode of the address object of the outlet |

        | CompanyOutletMaterial[] | The materials accepted of the outlet |

        | CompanyOutletMaterial[].MaterialListItem | The materialListItem of the materials accepted for the outlet |

        | CompanyOutletMaterial[].MaterialListItem.Description | The materialListItem material description of the materials accepted for the outlet |

        | CompanyOutletMaterial[].MaterialListItem.GUID | The materialListItem material GUID of the materials accepted for the outlet |

        | CompanyOutletMaterial[].Guid | The company outlet accepted material GUID |

        | OutletSupplierSite[] | The outlet Supplier Site Object |

        | OutletSupplierSite[].Address | The outlet Supplier Site Address Object |

        | OutletSupplierSite[].Address.Location | The Location of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.HouseNumber | The House Number of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address1 | Address1 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address2 | Address2 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address3 | Address3 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address4 | Address4 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address5 | Address5 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Postcode | The outlet Supplier Site Postcode |

        | OutletSupplierSite[].SupplierName | The outlet Supplier Name |

        | OutletSupplierSite[].RelatedSupplierSiteGUID | The Related Supplier Site GUID of the outlet |

        | OutletSupplierSite[].GUID | The GUID of the Company Outlet Supplier Site |

        | VATRegistrationNumber | The VAT Registration Number of the outlet |

        | Company | The Company that the outlet is associated with |

        | NominalPrefix | The Nominal Prefix of the outlet |

        | TelNo | The Telephone number of the outlet |

        | ContactEmail | The Contact Email of the outlet |

        | PremisesRegNo | The Premises Registration Number of the outlet |

        | WasteCarrierLicenceNumber | The Waste Carrier Licence Number of the outlet |

        | WasteCarrierLicenceIssuedBy | Who the Waste Carrier Licence was issued by to the outlet |

        | IsDriversLicenceRequired | Whether Drivers Licence is required |

        | IsCashDepositRequired | Whether Cash Deposit is required |

        | IsValidWasteCarrierLicenceRequired | Whether a Valid Waste Carrier Licence is required |

        | DepositValueRequired | Whether a Deposit Value is Required |

        | WasteManagementLicenceNumber | The Waste Management Licence Number |

        | WasteManagementIssuedBy | Who the Waste Management is issued by |

        | IsAutoLoadVehicleStoredTares | Whether Auto Load Vehicle Stored Tares |

        | ShowANPRReads | Whether to Show ANPR Reads |

        | EPAId | The EPAId of the outlet |

        | AmiceNumber | The Amice Number of the outlet |

        | ReportToExternalAuthorities | Whether to Report to External Authorities |

        | LegislationType | The Legislation Type of the outlet |

        | WeightUnitOfMeasurement | The Weight Unit of Measurement of the…'
      operationId: Outlet_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: links
        in: query
        required: false
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: expand
        in: query
        required: false
        schema:
          type: string
      - name: udf
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiCompanyOutletResource'
    servers:
    - url: http://{env}-svc-core.amcsplatform.com/scale/api/
  /integrator/lists/outlets:
    get:
      tags:
      - Outlet
      summary: Find with Filters
      description: '| Property | Description |

        | ---------------------------------------------------- | ---------------------------------------------------------------------------------- |

        | GUID | The GUID associated to the outlet |

        | Description | The description of the outlet |

        | IsDeleted | Whether the outlet is deleted |

        | AbbreviatedDescription | The abbreviated description of the outlet |

        | AnalysisCode | The analysis code of the outlet |

        | Location | The description of the weighing type |

        | Address | The address object of the outlet |

        | Address.HouseNumber | The house number of the address object of the outlet |

        | Address.Address1 | The Address1 of the address object of the outlet |

        | Address.Address2 | The Address2 of the address object of the outlet |

        | Address.Address3 | The Address3 of the address object of the outlet |

        | Address.Address4 | The Address4 of the address object of the outlet |

        | Address.Address5 | The Address5 of the address object of the outlet |

        | Address.Postcode | The Postcode of the address object of the outlet |

        | CompanyOutletMaterial[] | The materials accepted of the outlet |

        | CompanyOutletMaterial[].MaterialListItem | The materialListItem of the materials accepted for the outlet |

        | CompanyOutletMaterial[].MaterialListItem.Description | The materialListItem material description of the materials accepted for the outlet |

        | CompanyOutletMaterial[].MaterialListItem.GUID | The materialListItem material GUID of the materials accepted for the outlet |

        | CompanyOutletMaterial[].Guid | The company outlet accepted material GUID |

        | OutletSupplierSite[] | The outlet Supplier Site Object |

        | OutletSupplierSite[].Address | The outlet Supplier Site Address Object |

        | OutletSupplierSite[].Address.Location | The Location of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.HouseNumber | The House Number of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address1 | Address1 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address2 | Address2 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address3 | Address3 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address4 | Address4 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Address5 | Address5 of the outlet Supplier Site address |

        | OutletSupplierSite[].Address.Postcode | The outlet Supplier Site Postcode |

        | OutletSupplierSite[].SupplierName | The outlet Supplier Name |

        | OutletSupplierSite[].RelatedSupplierSiteGUID | The Related Supplier Site GUID of the outlet |

        | OutletSupplierSite[].GUID | The GUID of the Company Outlet Supplier Site |

        | VATRegistrationNumber | The VAT Registration Number of the outlet |

        | Company | The Company that the outlet is associated with |

        | NominalPrefix | The Nominal Prefix of the outlet |

        | TelNo | The Telephone number of the outlet |

        | ContactEmail | The Contact Email of the outlet |

        | PremisesRegNo | The Premises Registration Number of the outlet |

        | WasteCarrierLicenceNumber | The Waste Carrier Licence Number of the outlet |

        | WasteCarrierLicenceIssuedBy | Who the Waste Carrier Licence was issued by to the outlet |

        | IsDriversLicenceRequired | Whether Drivers Licence is required |

        | IsCashDepositRequired | Whether Cash Deposit is required |

        | IsValidWasteCarrierLicenceRequired | Whether a Valid Waste Carrier Licence is required |

        | DepositValueRequired | Whether a Deposit Value is Required |

        | WasteManagementLicenceNumber | The Waste Management Licence Number |

        | WasteManagementIssuedBy | Who the Waste Management is issued by |

        | IsAutoLoadVehicleStoredTares | Whether Auto Load Vehicle Stored Tares |

        | ShowANPRReads | Whether to Show ANPR Reads |

        | EPAId | The EPAId of the outlet |

        | AmiceNumber | The Amice Number of the outlet |

        | ReportToExternalAuthorities | Whether to Report to External Authorities |

        | LegislationType | The Legislation Type of the outlet |

        | WeightUnitOfMeasurement | The Weight Unit of Measurement of the…'
      operationId: Outlet_GetCollection
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: order
        in: query
        required: false
        schema:
          type: string
      - name: max
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        required: false
        schema:
          type: boolean
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
      - name: links
        in: query
        required: false
        schema:
          type: string
      - name: udf
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiCompanyOutletResource'
    servers:
    - url: http://{env}-svc-core.amcsplatform.com/scale/api/
  /visionai/api/integrator/outlets:
    post:
      tags:
      - Outlet
      summary: Create or Update an Outlet
      description: '# Create or Update an Outlet


        | Parameter | Type | Description |

        |-------------|--------|----------------------------------|

        | OutletId | GUID | ID of the Outlet |

        | OutletName | string | Display name |

        | IsDeleted | bool | Outlet is no longer in use |


        ## Sample API Requests


        ```

        {

        "OutletId": "B3E43C4D-BC76-4E59-9E2E-25BC33EA2EC4",

        "OutletName": "Primary Company Outlet",

        "IsDeleted": false

        }

        ```'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AMCS.IoT.Contamination.Api.Integrator.Outlet.ApiOutlet'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Unauthorized
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
      - cookieAuth: []
      operationId: postVisionaiApiIntegratorOutlets
      x-operation-id-source: derived
    servers:
    - url: https://o1-dev-svc-core.amcsplatform.com/
      description: AMCS VisionAI Developer Environment
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiIntegratorCompanyOutletAnalysisCodesResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorCompanyOutletAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiIntegratorCompanyOutletAcceptedMaterialResource:
      type: object
      properties:
        WarnOnMinimumLoad:
          type: boolean
        MinimumLoadWeight:
          type: number
          format: double
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        IsDeleted:
          type: boolean
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiIntegratorCompanyOutletResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorCompanyOutletResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollection_ApiIntegratorCompanyOutletResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCompanyOutletResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiIntegratorCompanyOutletResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        AbbreviatedDescription:
          type: string
        AnalysisCode:
          type: string
        CompanyListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        OutletTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Address:
          $ref: '#/components/schemas/ApiIntegratorCompanyOutletAddressResource'
        DepartmentListItems:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorListItemResource'
        AcceptedMaterials:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCompanyOutletAcceptedMaterialResource'
        AnalysisCodes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorCompanyOutletAnalysisCodesResource'
        VATRegistrationNumber:
          type: string
        RelatedLocationGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorListItemResource_2:
      type: object
      properties:
        Description:
          type: string
        AbbreviatedDescription:
          type: string
        Guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiOutletSupplierSiteResource:
      type: object
      properties:
        Address:
          $ref: '#/components/schemas/ApiOutletSupplierSiteAddressResource'
        SupplierName:
          type: string
        RelatedSupplierSiteGuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiCompanyOutletResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiCompanyOutletResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiCompanyOutletAcceptedMaterialResource:
      type: object
      properties:
        MaterialListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource_2'
        Guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiCompanyOutletResource:
      type: object
      properties:
        Description:
          type: string
        IsDeleted:
          type: boolean
        AbbreviatedDescription:
          type: string
        AnalysisCode:
          type: string
        Location:
          type: string
        Address:
          $ref: '#/components/schemas/ApiCompanyOutletAddressResource'
        CompanyOutletMaterial:
          type: array
          items:
            $ref: '#/components/schemas/ApiCompanyOutletAcceptedMaterialResource'
        OutletSupplierSite:
          type: array
          items:
            $ref: '#/components/schemas/ApiOutletSupplierSiteResource'
        VATRegistrationNumber:
          type: string
        Company:
          type: string
        NominalPrefix:
          type: string
        TelNo:
          type: string
        ContactEmail:
          type: string
        PremisesRegNo:
          type: string
        WasteCarrierLicenceNumber:
          type: string
        WasteCarrierLicenceIssuedBy:
          type: string
        IsDriversLicenceRequired:
          type: boolean
        IsCashDepositRequired:
          type: boolean
        IsValidWasteCarrierLicenceRequired:
          type: boolean
        DepositValueRequired:
          format: int32
          type: integer
        WasteManagementLicenceNumber:
          type: string
        WasteManagementIssuedBy:
          type: string
        IsAutoLoadVehicleStoredTares:
          type: boolean
        ShowANPRReads:
          type: boolean
        EPAId:
          type: string
        AmiceNumber:
          type: string
        ReportToExternalAuthorities:
          type: boolean
        LegislationType:
          type: string
        WeightUnitOfMeasurement:
          type: string
        ReportingUnitOfMeasurement:
          type: string
        VolumeUnitOfMeasurement:
          type: string
        GateWeighbridgeDocket:
          type: string
        MaterialSaleWeighbridgeDocket:
          type: string
        RouteWeighbridgeDocket:
          type: string
        TransferOutWeighbridgeDocket:
          type: string
        TransferInWeighbridgeDocket:
          type: string
        ScaleReceiptWeighbridgeDocket:
          type: string
        BillOfLadingWeighbridgeDocket:
          type: string
        VZCReport:
          type: string
        CMRReport:
          type: string
        CurrencyCode:
          type: string
        GUID:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntity_ApiCompanyOutletResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiCompanyOutletResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiCompanyOutletAddressResource:
      type: object
      properties:
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiOutletSupplierSiteAddressResource:
      type: object
      properties:
        Location:
          type: string
        HouseNumber:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        Address3:
          type: string
        Address4:
          type: string
        Address5:
          type: string
        Postcode:
          type: string
    ApiResourceStatus_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        isSuccess:
          type: boolean
      additionalProperties: false
    ApiResourceErrors_2:
      type: object
      properties:
        errors:
          type:
          - string
          - 'null'
      additionalProperties: false
    AMCS.IoT.Contamination.Api.Integrator.Outlet.ApiOutlet:
      type: object
      properties:
        outletId:
          type:
          - string
          - 'null'
          format: uuid
        outletName:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        tenantId:
          type: integer
          format: int32
      additionalProperties: false
    ApiResourceId:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/ApiResourceErrors_2'
        status:
          $ref: '#/components/schemas/ApiResourceStatus_2'
        resource:
          type: guid
      additionalProperties: false
  responses:
    BadGateway:
      description: Bad Gateway - The upstream server returned an invalid response.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Temporary issue with the server. Please try again later.
            additionalProperties: false
    ServiceUnavailable:
      description: Service Unavailable - The server is currently unavailable.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Service is currently unavailable. Please try again later.
            additionalProperties: false
    BadRequest:
      description: Bad Request - Invalid input parameters.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Invalid request. Please check your input parameters.
            additionalProperties: false
    InternalServerError:
      description: Supplied properties are not valid, please try again with proper request.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Supplied properties are not valid, please try again with proper request.
            additionalProperties: false
    GatewayTimeout:
      description: Gateway Timeout - The server took too long to respond.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: The request timed out. Please try again later.
            additionalProperties: false
    NotImplemented:
      description: This feature is not implemented.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: This feature is not implemented.
            additionalProperties: false
    Forbidden:
      description: Forbidden - Access denied.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: You do not have permission to access this resource.
            additionalProperties: false
    NotFound:
      description: Not Found - The requested resource was not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: The requested resource was not found.
            additionalProperties: false
x-refined-from:
- amcs-group-erp-openapi-original.json
- amcs-group-scale-openapi-original.json
- amcs-group-visionai-openapi-original.json
