openapi: 3.2.0
info:
  title: AMCS Platform REST Route Assignment API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteAssignment
paths:
  /transport/routeAssignments/{guid}:
    get:
      tags:
      - RouteAssignment
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the routeAssignment.|

        | RelatedOrderGuid| The GUID of the RelatedOrder associated to the routeAssignment.|

        | ActionListItem| The GUID and description of the Action associated to the routeAssignment.|

        | ContainerTypeListItem| The GUID and description of the ContainerType associated to the routeAssignment.|

        | PickupIntervalListItem| The GUID and description of the PickupInterval associated to the routeAssignment.|

        | DayOfWeekListItem| The GUID and description of the DayOfWeek associated to the routeAssignment.|

        | DayOfOccurrenceInMonthListItem| The GUID and description of the Day of Occurrence in month associated to the routeAssignment.|

        | RelatedRouteTemplateGuid| The GUID of the RelatedRouteTemplate associated to the routeAssignment.|

        | Position| The position associated to the routeAssignment.|

        | StartDate| The start date associated to the routeAssignment. |

        | EndDate| The end date associated to the routeAssignment.|

        | RequestedBy| Who is the routeAssignment requested by?|

        | Notes| The notes associated to the routeAssignment.|

        | MaxLiftQuantity| The max lift quantity associated to the routeAssignment.|

        | MinLiftQuantity| The min lift quantity associated to the routeAssignment.|

        | RequiresQuantity| Does the routeAssignment require quantity?|

        | IsGpsAutoMatchingDisabled| Is the GPS auto matching disabled for the routeAssignment?|

        | IsNoPlannedDate| Is there no planned date for the routeAssignment?|

        | IsNoBinOnSiteExcluded| Is the bin on site excluded for the routeAssignment? |

        | RelatedContainerGuid| The RelatedContainerGuid associated to the routeAssignment.|

        | AccessTimes[0]| A list of objects containing route assignment access time.|

        | AccessTimes[0].Guid | The GUID associated to the route assignment access time.|

        | AccessTimes[0].AccessContact | The access contact name to associated route assignment.|

        | AccessTimes[0].AccessNotes | The access notes to associated route assignment.|

        | AccessTimes[0].FromExclusion | The exclusion of access to associated route assignment.|

        | AccessTimes[0].AccessStartTime | The access start time to associated route assignment.|

        | AccessTimes[0].AccessEndTime | The access end time to associated route assignment.|

        | AccessTimes[0].DayOfWeekListItem | The GUID and description of the day of week to access.|

        | Details[0] | A list of objects containing route assignment details.|

        | Details[0].Guid | The GUID associated to the route assignment details.|

        | Details[0].PlannedQuantity | The planned quantity associated to the routeAssignment.|

        | Details[0].ContainerTypeListItem | The GUID and description of the ContainerType associated to the routeAssignment detail.|'
      operationId: RouteAssignment_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteAssignmentResource'
    put:
      tags:
      - RouteAssignment
      summary: Partial update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the routeAssignment.| No |

        | RelatedOrderGuid| The GUID of the RelatedOrder associated to the routeAssignment.| Yes |

        | ActionListItem| The GUID and description of the Action associated to the routeAssignment.| Yes |

        | ContainerTypeListItem| The GUID and description of the ContainerType associated to the routeAssignment.| Yes |

        | PickupIntervalListItem| The GUID and description of the PickupInterval associated to the routeAssignment.| Yes |

        | DayOfWeekListItem| The GUID and description of the DayOfWeek associated to the routeAssignment.| No |

        | DayOfOccurrenceInMonthListItem| The GUID and description of the Day of Occurrence in month associated to the routeAssignment.| No |

        | RelatedRouteTemplateGuid| The GUID of the RelatedRouteTemplate associated to the routeAssignment.| No |

        | Position| The position associated to the routeAssignment.| No |

        | StartDate| The start date associated to the routeAssignment.'
      operationId: RouteAssignment_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteAssignmentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /transport/routeAssignments:
    get:
      tags:
      - RouteAssignment
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the routeAssignment.|

        | RelatedOrderGuid| The GUID of the RelatedOrder associated to the routeAssignment.|

        | ActionListItem| The GUID and description of the Action associated to the routeAssignment.|

        | ContainerTypeListItem| The GUID and description of the ContainerType associated to the routeAssignment.|

        | PickupIntervalListItem| The GUID and description of the PickupInterval associated to the routeAssignment.|

        | DayOfWeekListItem| The GUID and description of the DayOfWeek associated to the routeAssignment.|

        | DayOfOccurrenceInMonthListItem| The GUID and description of the Day of Occurrence in month associated to the routeAssignment.|

        | RelatedRouteTemplateGuid| The GUID of the RelatedRouteTemplate associated to the routeAssignment.|

        | Position| The position associated to the routeAssignment.|

        | StartDate| The start date associated to the routeAssignment. |

        | EndDate| The end date associated to the routeAssignment.|

        | RequestedBy| Who is the routeAssignment requested by?|

        | Notes| The notes associated to the routeAssignment.|

        | MaxLiftQuantity| The max lift quantity associated to the routeAssignment.|

        | MinLiftQuantity| The min lift quantity associated to the routeAssignment.|

        | RequiresQuantity| Does the routeAssignment require quantity?|

        | IsGpsAutoMatchingDisabled| Is the GPS auto matching disabled for the routeAssignment?|

        | IsNoPlannedDate| Is there no planned date for the routeAssignment?|

        | IsNoBinOnSiteExcluded| Is the bin on site excluded for the routeAssignment? |

        | RelatedContainerGuid| The RelatedContainerGuid associated to the routeAssignment.|

        | AccessTimes[0]| A list of objects containing route assignment access time.|

        | AccessTimes[0].Guid | The GUID associated to the route assignment access time.|

        | AccessTimes[0].AccessContact | The access contact name to associated route assignment.|

        | AccessTimes[0].AccessNotes | The access notes to associated route assignment.|

        | AccessTimes[0].FromExclusion | The exclusion of access to associated route assignment.|

        | AccessTimes[0].AccessStartTime | The access start time to associated route assignment.|

        | AccessTimes[0].AccessEndTime | The access end time to associated route assignment.|

        | AccessTimes[0].DayOfWeekListItem | The GUID and description of the day of week to access.|

        | Details[0] | A list of objects containing route assignment details.|

        | Details[0].Guid | The GUID associated to the route assignment details.|

        | Details[0].PlannedQuantity | The planned quantity associated to the routeAssignment.|

        | Details[0].ContainerTypeListItem | The GUID and description of the ContainerType associated to the routeAssignment detail.|'
      operationId: RouteAssignment_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteAssignmentResource'
    post:
      tags:
      - RouteAssignment
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the routeAssignment.| No |

        | RelatedOrderGuid| The GUID of the RelatedOrder associated to the routeAssignment.| Yes |

        | ActionListItem| The GUID and description of the Action associated to the routeAssignment.| Yes |

        | ContainerTypeListItem| The GUID and description of the ContainerType associated to the routeAssignment.| Yes |

        | PickupIntervalListItem| The GUID and description of the PickupInterval associated to the routeAssignment.| Yes |

        | DayOfWeekListItem| The GUID and description of the DayOfWeek associated to the routeAssignment.| No |

        | DayOfOccurrenceInMonthListItem| The GUID and description of the Day of Occurrence in month associated to the routeAssignment.| No |

        | RelatedRouteTemplateGuid| The GUID of the RelatedRouteTemplate associated to the routeAssignment.| No |

        | Position| The position associated to the routeAssignment.| No |

        | StartDate| The start date associated to the routeAssignment.'
      operationId: RouteAssignment_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteAssignmentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorRouteAssignmentDetailResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PlannedQuantity:
          type: number
          format: double
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultEntity_ApiIntegratorRouteAssignmentResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteAssignmentResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorRouteAssignmentResource:
      type: object
      properties:
        RelatedOrderGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ActionListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        ContainerTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PickupIntervalListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DayOfOccurrenceInMonthListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedRouteTemplateGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Position:
          type: integer
          format: int32
        StartDate:
          type: string
          format: localDate
          example: '2000-01-01'
        EndDate:
          type: string
          format: localDate
          example: '2000-01-01'
        RequestedBy:
          type: string
        Notes:
          type: string
        MaxLiftQuantity:
          type: integer
          format: int32
        MinLiftQuantity:
          type: integer
          format: int32
        RequiresQuantity:
          type: boolean
        IsGpsAutoMatchingDisabled:
          type: boolean
        IsNoPlannedDate:
          type: boolean
        IsNoBinOnSiteExcluded:
          type: boolean
        RelatedContainerGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccessTimes:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteAssignmentAccessTimeResource'
        Details:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteAssignmentDetailResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultCollection_ApiIntegratorRouteAssignmentResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteAssignmentResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorRouteAssignmentAccessTimeResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccessContact:
          type: string
        AccessNotes:
          type: string
        FromExclusion:
          type: boolean
        AccessStartTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        AccessEndTime:
          type: string
          format: zonedDateTime
          example:
            DateTime: '2000-01-01'
            TimeZone: Europe/London
        DayOfWeekListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
