openapi: 3.2.0
info:
  title: AMCS Platform REST Lodgement API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: Lodgement
paths:
  /accounting/lodgements/changes:
    get:
      tags:
      - Lodgement
      summary: Retrieve changes
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the lodgement.|

        | IsDeleted| Whether the lodgement is deleted.|

        | DateLodged| The date lodged associated to the lodgement.|

        | Reference| The Reference associated to the lodgement.|

        | LodgementTypeListItem| The GUID and Description of the lodgement type associated to the lodgement. |'
      operationId: Lodgement_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorLodgementResource'
  /accounting/lodgements/{guid}:
    get:
      tags:
      - Lodgement
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the lodgement.|

        | IsDeleted| Whether the lodgement is deleted.|

        | DateLodged| The date lodged associated to the lodgement.|

        | Reference| The Reference associated to the lodgement.|

        | LodgementTypeListItem| The GUID and Description of the lodgement type associated to the lodgement. |'
      operationId: Lodgement_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorLodgementResource'
  /accounting/lodgements:
    get:
      tags:
      - Lodgement
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------- | ------------------------------------------------------------------------ |

        | GUID| The GUID associated to the lodgement.|

        | IsDeleted| Whether the lodgement is deleted.|

        | DateLodged| The date lodged associated to the lodgement.|

        | Reference| The Reference associated to the lodgement.|

        | LodgementTypeListItem| The GUID and Description of the lodgement type associated to the lodgement. |'
      operationId: Lodgement_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorLodgementResource'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceResultCollection_ApiIntegratorLodgementResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLodgementResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorLodgementResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorLodgementResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiIntegratorLodgementResource:
      type: object
      properties:
        IsDeleted:
          type: boolean
        DateLodged:
          type: string
          format: localDate
          example: '2000-01-01'
        Reference:
          type: string
        LodgementTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorLodgementResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorLodgementResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
