openapi: 3.2.0
info:
  title: AMCS Platform REST Supplier Payment API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: SupplierPayment
paths:
  /accounting/supplierPayments/changes:
    get:
      tags:
      - SupplierPayment
      summary: Retrieve changes
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the supplier payment.|

        | Amount| Amount of the supplier payment.|

        | DateInput| The input date associated to the supplier payment.|

        | DateReceived| The received date associated to the supplier payment.|

        | IsBad| Whether the supplier payment is bad.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the supplier payment.|

        | RelatedSupplierGuid| The GUID associated to the supplier of the supplier payment. Filterable.|

        | AccountingPeriodListItem| The GUID and description of the accounting period associated to the supplier payment.|

        | APPaymentStatusListItem| The GUID and description of the AP payment status associated to the supplier payment.|

        | DateBad| The bad date associated to the supplier payment.|

        | DateBadExported| The exported bad date associated to the supplier payment.|

        | DateCleared| The cleared date associated to the supplier payment.|

        | DateExported| The exported date associated to the supplier payment.|

        | DateProcessed| The processed date associated to the supplier payment.|

        | Notes| The notes associated to the supplier payment.|

        | PayableCycleListItem| The GUID and description of the payable cycle associated to the supplier payment.|

        | PaymentPointListItem| The GUID and description of the payment point associated to the supplier payment.|

        | Reference| The referenceassociated to the supplier payment.|

        | Allocations[0]| List of supplier payment allocation made for the supplier payment.|

        | Allocations[0].Amount| Amount of the supplier payment allocation.|

        | Allocations[0].DateInput| The input date associated to the supplier payment allocation.|

        | Allocations[0].RelatedSupplierBillGuid | The GUID associated to the supplier bill of the supplier payment.|

        | RelatedSupplierBillGuidFilter| The filter used to filter the related supplier bill guid associated to the Allocation. Filterable.|

        | IsDeleted| Supplier Payment is being deleted?|'
      operationId: SupplierPayment_GetChanges
      parameters:
      - name: since
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceChanges_ApiIntegratorSupplierPaymentResource'
  /accounting/supplierPayments/{guid}:
    get:
      tags:
      - SupplierPayment
      summary: Find with GUID
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the supplier payment.|

        | Amount| Amount of the supplier payment.|

        | DateInput| The input date associated to the supplier payment.|

        | DateReceived| The received date associated to the supplier payment.|

        | IsBad| Whether the supplier payment is bad.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the supplier payment.|

        | RelatedSupplierGuid| The GUID associated to the supplier of the supplier payment. Filterable.|

        | AccountingPeriodListItem| The GUID and description of the accounting period associated to the supplier payment.|

        | APPaymentStatusListItem| The GUID and description of the AP payment status associated to the supplier payment.|

        | DateBad| The bad date associated to the supplier payment.|

        | DateBadExported| The exported bad date associated to the supplier payment.|

        | DateCleared| The cleared date associated to the supplier payment.|

        | DateExported| The exported date associated to the supplier payment.|

        | DateProcessed| The processed date associated to the supplier payment.|

        | Notes| The notes associated to the supplier payment.|

        | PayableCycleListItem| The GUID and description of the payable cycle associated to the supplier payment.|

        | PaymentPointListItem| The GUID and description of the payment point associated to the supplier payment.|

        | Reference| The referenceassociated to the supplier payment.|

        | Allocations[0]| List of supplier payment allocation made for the supplier payment.|

        | Allocations[0].Amount| Amount of the supplier payment allocation.|

        | Allocations[0].DateInput| The input date associated to the supplier payment allocation.|

        | Allocations[0].RelatedSupplierBillGuid | The GUID associated to the supplier bill of the supplier payment.|

        | RelatedSupplierBillGuidFilter| The filter used to filter the related supplier bill guid associated to the Allocation. Filterable.|

        | IsDeleted| Supplier Payment is being deleted?|'
      operationId: SupplierPayment_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorSupplierPaymentResource'
    put:
      tags:
      - SupplierPayment
      summary: Partial update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------------| -------- |

        | GUID| The GUID associated to the supplier payment.| No |

        | Amount| Amount of the supplier payment.| Yes |

        | DateInput| The input date associated to the supplier payment.| Yes |

        | DateReceived| The received date associated to the supplier payment.| Yes |

        | IsBad| Whether the supplier payment is bad.| Yes |

        | PaymentTypeListItem| The GUID and description of the payment type associated to the supplier payment.| Yes |

        | RelatedSupplierGuid| The GUID associated to the supplier of the supplier payment.'
      operationId: SupplierPayment_Update
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierPaymentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
  /accounting/supplierPayments:
    get:
      tags:
      - SupplierPayment
      summary: Find with Filters
      description: '| Property| Description|

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------------|

        | GUID| The GUID associated to the supplier payment.|

        | Amount| Amount of the supplier payment.|

        | DateInput| The input date associated to the supplier payment.|

        | DateReceived| The received date associated to the supplier payment.|

        | IsBad| Whether the supplier payment is bad.|

        | PaymentTypeListItem| The GUID and description of the payment type associated to the supplier payment.|

        | RelatedSupplierGuid| The GUID associated to the supplier of the supplier payment. Filterable.|

        | AccountingPeriodListItem| The GUID and description of the accounting period associated to the supplier payment.|

        | APPaymentStatusListItem| The GUID and description of the AP payment status associated to the supplier payment.|

        | DateBad| The bad date associated to the supplier payment.|

        | DateBadExported| The exported bad date associated to the supplier payment.|

        | DateCleared| The cleared date associated to the supplier payment.|

        | DateExported| The exported date associated to the supplier payment.|

        | DateProcessed| The processed date associated to the supplier payment.|

        | Notes| The notes associated to the supplier payment.|

        | PayableCycleListItem| The GUID and description of the payable cycle associated to the supplier payment.|

        | PaymentPointListItem| The GUID and description of the payment point associated to the supplier payment.|

        | Reference| The referenceassociated to the supplier payment.|

        | Allocations[0]| List of supplier payment allocation made for the supplier payment.|

        | Allocations[0].Amount| Amount of the supplier payment allocation.|

        | Allocations[0].DateInput| The input date associated to the supplier payment allocation.|

        | Allocations[0].RelatedSupplierBillGuid | The GUID associated to the supplier bill of the supplier payment.|

        | RelatedSupplierBillGuidFilter| The filter used to filter the related supplier bill guid associated to the Allocation. Filterable.|

        | IsDeleted| Supplier Payment is being deleted?|'
      operationId: SupplierPayment_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorSupplierPaymentResource'
    post:
      tags:
      - SupplierPayment
      summary: Create or update
      description: '| Property| Description| Required |

        | ------------------------------------------------- | ------------------------------------------------------------------------------------------------------| -------- |

        | GUID| The GUID associated to the supplier payment.| No |

        | Amount| Amount of the supplier payment.| Yes |

        | DateInput| The input date associated to the supplier payment.| Yes |

        | DateReceived| The received date associated to the supplier payment.| Yes |

        | IsBad| Whether the supplier payment is bad.| Yes |

        | PaymentTypeListItem| The GUID and description of the payment type associated to the supplier payment.| Yes |

        | RelatedSupplierGuid| The GUID associated to the supplier of the supplier payment.'
      operationId: SupplierPayment_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorSupplierPaymentResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiIntegratorListItemResource:
      type: object
      properties:
        Description:
          type: string
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiIntegratorAllocationResource:
      type: object
      properties:
        Guid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Amount:
          type: number
          format: double
        DateInput:
          type: string
          format: localDate
          example: '2000-01-01'
        RelatedSupplierBillGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        IsDeleted:
          type: boolean
    ApiResourceResultUpdatesExtra:
      type: object
      properties:
        until:
          type: string
        cursor:
          type: string
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultCollection_ApiIntegratorSupplierPaymentResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierPaymentResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntity_ApiIntegratorSupplierPaymentResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorSupplierPaymentResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceChanges_ApiIntegratorSupplierPaymentResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorSupplierPaymentResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultUpdatesExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
    ApiIntegratorSupplierPaymentResource:
      type: object
      properties:
        Amount:
          type: number
          format: double
        DateInput:
          type: string
          format: localDate
          example: '2000-01-01'
        DateReceived:
          type: string
          format: localDate
          example: '2000-01-01'
        IsBad:
          type: boolean
        PaymentTypeListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        RelatedSupplierGuid:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        AccountingPeriodListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        APPaymentStatusListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        DateBad:
          type: string
          format: localDate
          example: '2000-01-01'
        DateBadExported:
          type: string
          format: localDate
          example: '2000-01-01'
        DateCleared:
          type: string
          format: localDate
          example: '2000-01-01'
        DateExported:
          type: string
          format: localDate
          example: '2000-01-01'
        DateProcessed:
          type: string
          format: localDate
          example: '2000-01-01'
        Notes:
          type: string
        PayableCycleListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        PaymentPointListItem:
          $ref: '#/components/schemas/ApiIntegratorListItemResource'
        Reference:
          type: string
        Allocations:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorAllocationResource'
        IsDeleted:
          type: boolean
        RelatedSupplierBillGuidFilter:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
