openapi: 3.2.0
info:
  title: AMCS Platform REST Route Visit Price API
  description: '![latest End points](/amcsrestapi/diagram/endpointslatest.svg)


    # Overview


    ## Who Should Read this Document


    This document contains a technical description of the AMCS Platform REST API.'
  version: latest
servers:
- url: https://ete-p5-tst-svc-core.amcsplatform.com/erp/api/integrator/erp
tags:
- name: RouteVisitPrice
paths:
  /transport/routeVisitPrices/{guid}:
    get:
      tags:
      - RouteVisitPrice
      summary: Find with GUID
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | Guid| The GUID associated to the route visit price.|

        | RelatedRouteVisitGuid| Used to filter on the related route visit GUID.|

        | RelatedPriceGuid| Used to filter on the related price GUID.|

        | Quantity| The quantity associated to the route visit price.|'
      operationId: RouteVisitPrice_Get
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultEntity_ApiIntegratorRouteVisitPriceResource'
  /transport/routeVisitPrices:
    get:
      tags:
      - RouteVisitPrice
      summary: Find with Filters
      description: '| Property | Description |

        | ------------------------------------- | ----------------------------------------------------------------------------- |

        | Guid| The GUID associated to the route visit price.|

        | RelatedRouteVisitGuid| Used to filter on the related route visit GUID.|

        | RelatedPriceGuid| Used to filter on the related price GUID.|

        | Quantity| The quantity associated to the route visit price.|'
      operationId: RouteVisitPrice_GetCollection
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: max
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: includeCount
        in: query
        schema:
          type: boolean
      - name: udf
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceResultCollection_ApiIntegratorRouteVisitPriceResource'
    post:
      tags:
      - RouteVisitPrice
      summary: Create or update
      description: '| Property | Description | Required |

        | ------------------------------------- | ----------------------------------------------------------------------------- | -------- |

        | GUID| The GUID associated to the route visit price.| No |

        | RelatedRouteVisitGuid| The GUID associated to the route visit.| Yes |

        | RelatedPriceGuid| The GUID associated to the price.| Yes |

        | Quantity| The Quantity associated to the route visit price.| Yes |


        **Extra validations**


        | Condition| Error message|

        | ----------------------------------------------------- | ----------------------------- |

        | If RelatedRouteVisitGUID is null on insert| The mandatory property RelatedRouteVisitGUID has a null value. The request could not be processed. Supply a value for the RelatedRouteVisitGUID property of the submitted resource.|

        | If RelatedPriceGUID is null on insert| The mandatory property RelatedPriceGUID has a null value. The request could not be processed. Supply a value for the RelatedPriceGUID property of the submitted resource.|

        | If Quantity is null on insert| The mandatory property Quantity has a null value. The request could not be processed. Supply a value for the Quantity property of the submitted resource.|'
      operationId: RouteVisitPrice_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiIntegratorRouteVisitPriceResource'
        required: true
        x-bodyName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResourceId'
components:
  schemas:
    ApiResourceResultCollection_ApiIntegratorRouteVisitPriceResource:
      type: object
      properties:
        resource:
          type: array
          items:
            $ref: '#/components/schemas/ApiIntegratorRouteVisitPriceResource'
        extra:
          $ref: '#/components/schemas/ApiResourceResultCollectionExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
        isSuccess:
          type: boolean
    ApiResourceErrors:
      type: object
      properties:
        errors:
          type: string
    ApiResourceResultEntity_ApiIntegratorRouteVisitPriceResource:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ApiIntegratorRouteVisitPriceResource'
        links:
          $ref: '#/components/schemas/ApiResourceResultEntityLinks'
        extra:
          $ref: '#/components/schemas/ApiResourceResultEntityExtra'
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultEntityExtra:
      type: object
      properties:
        expand:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        include:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
    ApiIntegratorRouteVisitPriceResource:
      type: object
      properties:
        RelatedRouteVisitGUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        RelatedPriceGUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        Quantity:
          type: integer
          format: int32
        GUID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ApiResourceId:
      type: object
      properties:
        resource:
          type: string
          format: uuid
        errors:
          $ref: '#/components/schemas/ApiResourceErrors'
        status:
          $ref: '#/components/schemas/ApiResourceStatus'
    ApiResourceResultCollectionExtra:
      type: object
      properties:
        count:
          type: integer
          format: int32
    ApiResourceResultEntityLinks:
      type: object
      properties:
        self:
          type: string
        associations:
          type: array
          items:
            type: string
        expand:
          type: array
          items:
            type: string
        operations:
          type: array
          items:
            type: string
